﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
    string manifest = Request.QueryString["manifest"] ?? "";
    if (manifest != "")
    {
        manifest = System.Text.Encoding.UTF8.GetString(System.Convert.FromBase64String(manifest));
    }

}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED031502WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED031502WGrid")
    </div>
</div>

<!-- Detail Popup -->
<div class="modal fade" id="detail-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 80%; margin-top: 3%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">3.15.0 - Manifest and Kanban Receiving</h4>
            </div>
            <div class="modal-body">
                <div class="hidden-xs">
                    <div class="container-fluid">
                        <div id="tablegriddetCED032100">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Detail Popup -->
<div class="modal fade" id="problemhistory-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 50%; margin-top: 3%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">3.15.0 - Manifest and Kanban Receiving</h4>
            </div>
            <div class="modal-body">
                <div class="hidden-xs">
                    <div class="container-fluid">
                        <div id="tablegridproblemhistory">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
    var funcID = "CED031502W";
    var count = 0;

    $(document).ready(function () {
        CED031502WdoInit();
        $("#lbl-Info").text("");
        $("#txt-ManifestNoKanbanNo").focus();


    });

    $(document).click(function () {
        if ($('#txt-ManifestNoKanbanNo').val() == '') {
            $('#txt-ManifestNoKanbanNo').focus();
        }
    });

    CED031502WdoInit = function () {
        clearMode();
        $(":text").attr("disabled", true);
        //$(":button").attr("disabled", true);
        $('#grid').hide();
        $("#btnSearch").prop("disabled", true);
        $("#btnClear").prop("disabled", true);
        $("#btnReceive").prop("disabled", true);
        $("#txt-ManifestNoKanbanNo").attr("disabled", false);
        $("#txt-ManifestNoKanbanNo").focus();
        $("#lbl-Info").text("");

        @{
            if (manifest != "")
            {
                Output.Write("" +
                    "setTimeout(function () {" +
                    "$('#txt-ManifestNoKanbanNo').val('" + manifest + "');" +
                    "CED031502WReceive();" +
                    "$('#txt-ManifestNoKanbanNo').attr('disabled', true);" +
                    "}, 500);");
            }
            //$("#txt-ManifestNoKanbanNo").val("")
        }


    }

    clearMode = function () {
        $('#searchForm')[0].reset();
        $.each($('#tblScroll tbody').find('[id="DataRow"]'), function () {
            $(this).remove();
        });
        $(".input-file").find('input').val('');
        $("#btnEdit").hide();

        $("#btnCancel").hide();
        $("#btnSave").hide();

        $('#btnReceive').removeClass("btn-primary")
        $('#btnReceive').addClass("btn-default")
    }

    function processManifest(e) {
        e = e || window.event;
        if (e.keyCode == 13) {
            CED031502WReceive();
            return false;
        }
        return true;
    }

    CED031502WReceive = function () {
        if ($("#txt-ManifestNoKanbanNo").val() == "") {
            setMessageWithLabel3015('MCEDSTD005E', "Manifest No / Kanban ID", "lbl-Info");
            $("#lbl-Info").attr("style", "background-color: red; color: white");
            $("#txt-ManifestNoKanbanNo").focus();
            setTimeout(function () {
                $("#lbl-Info").text("");
            }, 3000);
            //setMessage('MCEDSTD005E', "Manifest No / Kanban ID", function () {
            //    setTimeout(function () {
            //        $("#txt-ManifestNoKanbanNo").focus();
            //    }, 0);
            //});
            return;
        }
        if ($("#txt-ManifestNoKanbanNo").val().length != 10 && $("#txt-ManifestNoKanbanNo").val().length != 16 && $("#txt-ManifestNoKanbanNo").val().length != 18) {
            setMessageWithLabel3015('MCED031500003E', null, "lbl-Info");
            $("#lbl-Info").attr("style", "background-color: red; color: white");
            $("#txt-ManifestNoKanbanNo").val("");
            $("#txt-ManifestNoKanbanNo").focus();
            setTimeout(function () {
                $("#lbl-Info").text("");
            }, 3000);
            //setMessage('MCED031500003E', null, function () {
            //    setTimeout(function () {
            //        $("#txt-ManifestNoKanbanNo").val("");
            //        $("#txt-ManifestNoKanbanNo").focus();
            //    }, 0);
            //});
            return;
        }

        showLoading();
        var manifestno = "";
        var suppliercode = "";
        var supplier_plantCode = "";
        var partno = "";
        var orderno = "";
        var rcvPlant_DockCode = "";
        var ManifestNoKanbanNo = $("#txt-ManifestNoKanbanNo").val();
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("CED031502WReceiveData")",
            data: {
                param: $("#txt-ManifestNoKanbanNo").val()
            },
            success: function (result) {

                clearMode();

                if (result.MSG_TYPE != 'E') {
                    if (result.data.length > 0) {
                        manifestno = result.data[0].MANIFEST_NO;
                        orderno = result.data[0].ORDER_NO;
                        supplier_plantCode = result.data[0].SUPPLIER;
                        rcvPlant_DockCode = result.data[0].DOCK;

                        $("#txt-PartNo").attr("disabled", false);
                        $("#txt-Unique").attr("disabled", false);
                        $("#btnSearch").prop("disabled", false);
                        $("#btnClear").prop("disabled", false);

                        $("#txt-ManifestNoKanbanNo").val(ManifestNoKanbanNo);
                        $("#txt-ManifestNo").val(manifestno);
                        $("#txt-Supp_PlantCode").val(supplier_plantCode);
                        $("#txt-OrderNo").val(orderno);
                        $("#txt-RCVPlant_DockCode").val(rcvPlant_DockCode);

                        CED031502WdoSearchInitial();

                    }
                } else {
                    if (result.MSG_TXT == "ERROR") {
                        //setMessage('MCED031500002E', ManifestNoKanbanNo, function () { return });
                        setMessageWithLabel3015('MCED031500002E', ManifestNoKanbanNo, "lbl-Info");
                        $("#lbl-Info").attr("style", "background-color: red; color: white");
                        $("#txt-ManifestNoKanbanNo").focus();
                        setTimeout(function () {
                            $("#lbl-Info").text("");
                        }, 3000);
                    } else if (result.MSG_TXT == "NOT FOUND") {
                        //setMessage('MCEDSTD001E', null, function () { return });
                        setMessageWithLabel3015('MCEDSTD001E', null, "lbl-Info");
                        $("#lbl-Info").attr("style", "background-color: red; color: white");
                        $("#txt-ManifestNoKanbanNo").focus();
                        setTimeout(function () {
                            $("#lbl-Info").text("");
                        }, 3000);
                    } else if (result.MSG_TXT == "ALREADY SCAN") {
                        //setMessage('MCED031500001E', ManifestNoKanbanNo, function () { return });
                        setMessageWithLabel3015('MCED031500001E', ManifestNoKanbanNo, "lbl-Info");
                        $("#lbl-Info").attr("style", "background-color: red; color: white");
                        $("#txt-ManifestNoKanbanNo").focus();
                        setTimeout(function () {
                            $("#lbl-Info").text("");
                        }, 3000);
                    } else if (result.MSG_TXT == "UNCONFIRMED") {
                        //setMessage('MCED031500001E', ManifestNoKanbanNo, function () { return });
                        setMessageWithLabel3015('MCED031500005E', 'Cannot receive unconfirmed manifest', "lbl-Info");
                        $("#lbl-Info").attr("style", "background-color: red; color: white");
                        $("#txt-ManifestNoKanbanNo").focus();
                        setTimeout(function () {
                            $("#lbl-Info").text("");
                        }, 3000);
                    } else {
                        //getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        $("#lbl-Info").text(result.MSG_TXT);
                        $("#lbl-Info").attr("style", "background-color: red; color: white");
                        $("#txt-ManifestNoKanbanNo").focus();
                        setTimeout(function () {
                            $("#lbl-Info").text("");
                        }, 3000);
                    }
                }

            },
            error: function (result) {
                clearMode();
                //getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                $("#lbl-Info").text(result.MSG_TXT);
                $("#lbl-Info").attr("style", "background-color: red; color: white");
                $("#txt-ManifestNoKanbanNo").focus();
                setTimeout(function () {
                    $("#lbl-Info").text("");
                }, 3000);
            },
            complete: function (result) {
                hideLoading();
            }
        });
    }


    CED031502WdoSearchInitial = function (page) {
        $('#Hiddentableupdate').val('0'); // for edit main screen
        page = typeof page !== 'undefined' ? page : 1;
        pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
        var manifestno = $('#txt-ManifestNo').val();
        var orderno = $('#txt-OrderNo').val();
        var supplier_plantcode = $('#txt-Supp_PlantCode').val();
        var rcvplan_dockcode = $('#txt-RCVPlant_DockCode').val();
        var partno = $('#txt-PartNo').val();
        var unique = $('#txt-Unique').val();

        if ($("#txt-ManifestNoKanbanNo").val().length > manifestno.length) {
            manifestno = $("#txt-ManifestNoKanbanNo").val();
        }

        $.ajax({
            type: 'POST',
            url: "@Html.Toyota().Page.GetActionUrl("CED031502WSearchDataInitial")",
            data: {
                MANIFEST_NO: manifestno,
                ORDER_NO: orderno,
                SUPPLIER_PLANTCODE: (supplier_plantcode.split(" - ")[1].toString().trim()),
                RCV_PLANTCODE: (rcvplan_dockcode.split(" - ")[0].toString().trim()),
                DOCK_CODE: (rcvplan_dockcode.split(" - ")[1].toString().trim()),
                PART_NO: partno,
                UNIQUE: unique,
                CurrentPage: page,
                DataPerPage: pageSize
            },
            success: function (result) {
                $('#tablegrid').html(result);
                searchMode();
                if ($('#hidStatus').val() == "PARK") {
                    $('#btnReceive').removeClass("btn-default")
                    $('#btnReceive').addClass("btn-primary")
                    $('#btnReceive').prop('disabled', false);
                    $('#btnReceive').focus();
                    $("#txt-ManifestNoKanbanNo").prop('disabled', true);
                    $('.eEditCheckbox').prop('disabled', false);
                } else {
                    $('#btnReceive').addClass("btn-default")
                    $('#btnReceive').removeClass("btn-primary")
                    $('#btnReceive').prop('disabled', true);
                    $('.eEditCheckbox').prop('disabled', true);

                    @{
                        if (manifest == "")
                        {
                            Output.Write("$('#txt-ManifestNoKanbanNo').val('');$('#txt-ManifestNoKanbanNo').focus();");
                        } else {
                            Output.Write("$('#txt-ManifestNoKanbanNo').prop('disabled', true);");
                        }
                    }

                    if ($('#hidStatus2').val() == "0") {
                        setMessageWithLabel3015('MCED031500005E', 'Cannot receive unconfirmed manifest', "lbl-Info");
                        $("#lbl-Info").attr("style", "background-color: red; color: white");
                        $("#txt-ManifestNoKanbanNo").focus();
                        setTimeout(function () {
                            $("#lbl-Info").text("");
                        }, 4000);
                    }

                }
                $("#txt-ManifestNo").attr("disabled", true);
                $("#txt-Supp_PlantCode").attr("disabled", true);
                $("#txt-OrderNo").attr("disabled", true);
                $("#txt-RCVPlant_DockCode").attr("disabled", true);
                $("#txt-PartNo").attr("disabled", true);
                $("#txt-Unique").attr("disabled", true);

            },
            error: function (result) {
                //getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                $("#lbl-Info").text(result.MSG_TXT);
                $("#lbl-Info").attr("style", "background-color: red; color: white");
                $("#txt-ManifestNoKanbanNo").focus();
                setTimeout(function () {
                    $("#lbl-Info").text("");
                }, 3000);
            },
            complete: function (result) {
                hideLoading();
            }
        });
    };

    CED031502WdoSearch = function (page) {
        $('#Hiddentableupdate').val('0'); // for edit main screen
        page = typeof page !== 'undefined' ? page : 1;
        pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
        var manifestno = $('#txt-ManifestNo').val();
        var orderno = $('#txt-OrderNo').val();
        var supplier_plantcode = $('#txt-Supp_PlantCode').val();
        var rcvplan_dockcode = $('#txt-RCVPlant_DockCode').val();
        var partno = $('#txt-PartNo').val();
        var unique = $('#txt-Unique').val();

        if ($("#txt-ManifestNoKanbanNo").val().length > manifestno.length) {
            manifestno = $("#txt-ManifestNoKanbanNo").val();
        }

        $.ajax({
            type: 'POST',
            url: "@Html.Toyota().Page.GetActionUrl("CED031502WSearchData")",
            data: {
                MANIFEST_NO: manifestno,
                ORDER_NO: orderno,
                SUPPLIER_PLANTCODE: (supplier_plantcode.split(" - ")[1].toString().trim()),
                RCV_PLANTCODE: (rcvplan_dockcode.split(" - ")[0].toString().trim()),
                DOCK_CODE: (rcvplan_dockcode.split(" - ")[1].toString().trim()),
                PART_NO: partno,
                UNIQUE: unique,
                CurrentPage: page,
                DataPerPage: pageSize
            },
            success: function (result) {
                $('#tablegrid').html(result);
                searchMode();

                if ($('#hidStatus').val() == "PARK") {
                    $('#btnReceive').removeClass("btn-default")
                    $('#btnReceive').addClass("btn-primary")
                    $('#btnReceive').prop('disabled', false);
                    $('.eEditCheckbox').prop('disabled', false);
                } else {
                    $('#btnReceive').addClass("btn-default")
                    $('#btnReceive').removeClass("btn-primary")
                    $('#btnReceive').prop('disabled', true);
                    $('.eEditCheckbox').prop('disabled', true);
                }

                //if ($('#hidStatus').val() == "PARK") {
                //    $('#btnReceive').prop('disabled', false);
                //    $('.eEditCheckbox').prop('disabled', false);
                //} else {
                //    $('#btnReceive').prop('disabled', true);
                //    $('.eEditCheckbox').prop('disabled', true);
                //}
                $("#txt-ManifestNo").attr("disabled", true);
                $("#txt-Supp_PlantCode").attr("disabled", true);
                $("#txt-OrderNo").attr("disabled", true);
                $("#txt-RCVPlant_DockCode").attr("disabled", true);
                $("#txt-PartNo").attr("disabled", true);
                $("#txt-Unique").attr("disabled", true);

                if ($("#txt-ManifestNoKanbanNo") != "") {
                    $('#btnReceive').focus();
                    $("#txt-ManifestNoKanbanNo").prop('disabled', true);
                }

                saveTempParking();
            },
            error: function (result) {
                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                hideLoading();
            }
        });
    };


   CED031502WdoSearchOneData = function (page) {
            $('#Hiddentableupdate').val('0'); // for edit main screen
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
        var manifestno = $('#txt-ManifestNo').val();
        var orderno = $('#txt-OrderNo').val();
        var supplier_plantcode = $('#txt-Supp_PlantCode').val();
        var rcvplan_dockcode = $('#txt-RCVPlant_DockCode').val();
        var partno = $('#txt-PartNo').val();
        var unique = $('#txt-Unique').val();

        if ($("#txt-ManifestNoKanbanNo").val().length > manifestno.length) {
            manifestno = $("#txt-ManifestNoKanbanNo").val();
        }

        $.ajax({
            type: 'POST',
            url: "@Html.Toyota().Page.GetActionUrl("CED031502WSearchData")",
            data: {
                MANIFEST_NO: manifestno,
                ORDER_NO: orderno,
                SUPPLIER_PLANTCODE: (supplier_plantcode.split(" - ")[1].toString().trim()),
                RCV_PLANTCODE: (rcvplan_dockcode.split(" - ")[0].toString().trim()),
                DOCK_CODE: (rcvplan_dockcode.split(" - ")[1].toString().trim()),
                PART_NO: partno,
                UNIQUE: unique,
                CurrentPage: page,
                DataPerPage: pageSize
            },
            success: function (result) {
                $('#tablegrid').html(result);
                searchMode();

                if ($('#hidStatus').val() == "PARK") {
                    $('#btnReceive').removeClass("btn-default")
                    $('#btnReceive').addClass("btn-primary")
                    $('#btnReceive').prop('disabled', false);
                    $('.eEditCheckbox').prop('disabled', false);
                } else {
                    $('#btnReceive').removeClass("btn-primary")
                    $('#btnReceive').addClass("btn-default")
                    $('#btnReceive').prop('disabled', true);
                    $('.eEditCheckbox').prop('disabled', true);
                }

                //if ($('#hidStatus').val() == "PARK") {
                //    $('#btnReceive').prop('disabled', false);
                //    $('.eEditCheckbox').prop('disabled', false);
                //} else {
                //    $('#btnReceive').prop('disabled', true);
                //    $('.eEditCheckbox').prop('disabled', true);
                //}
                $("#txt-ManifestNoKanbanNo").attr("disabled", true);
                $("#txt-ManifestNo").attr("disabled", true);
                $("#txt-Supp_PlantCode").attr("disabled", true);
                $("#txt-OrderNo").attr("disabled", true);
                $("#txt-RCVPlant_DockCode").attr("disabled", true);
            },
            error: function (result) {
                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                hideLoading();
            }
        });
        };

    CED031502WdoEdit = function () {
        var count = $('#tScrollBody').find('input[name="checkDetail"]:checked').length;
        if (count != 1) {
            //Pop Up Message
            setMessage('MGMSSTD007E', null, function () { return });
        }
        else {
            editModeMultiCheckbox(funcID);
            $('#txtRECEIVE_QTY').focus();
        }
    }

    CED031502WdoSave = function () {
        // fake
        getMessage("C", "Are you sure you want to confirm all records?", function () {
            getMessage("I", "The data are successfully stored", function () {
                afterSave();
                CED031502WdoSearch();
            });
        });

        return;

        // bu aul
        setMessage('MCEDSTD001C', null, function () {
            var mode = $('#mode').val();
            var _tableupdate = $('#Hiddentableupdate').val();
            var _manifestno = $("#txt-ManifestNo").val();
            var _partno = $("#txtPART_NO").val();
            var _receiveqty = ($("#txtRECEIVE_QTY").val() == "") ? 0 : ("#txtRECEIVE_QTY").val();
            var _shortagepcs = 0;
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED031502WSaveData")",
                data: {
                    tableupdate: _tableupdate,
                    MANIFEST_NO: _manifestno,
                    PART_NO: _partno,
                    RECEIVE_QTY: _receiveqty,
                    SHORTAGE_PCS: _shortagepcs,
                },
                success: function (result) {
                    //Pop Up Message
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                        afterSave();
                        CED031502WdoSearch();
                    });
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        });
    }

    CED031502WdoCancel = function () {
        //Pop Up Message
        setMessage('MCEDSTD006C', null, function () {
            cancelMode();
            if ($('#tblScroll tbody tr').length > 0) {
                CED031502WdoSearch();
            }
            else {
                CED031502WdoInit();
            }
        });
    }

    function getDetail032100W(obj, act) {
        var partno = $(obj).attr("value").split("|")[0];
        $('#problemhistory-popup-modal').modal({
            backdrop: 'static',
            keyboard: false
        });
        DetailCED031502WdoSearchProblemHistory(partno, $(obj).closest('tr').find('td:eq(2)').text());
    }

    function DetailCED031502WdoSearchProblemHistory(_partno,_part_name) {
        if (_partno == undefined) {
            _partno = $('#lbl-PartNo').val();
        }
        var funcID = "ProblemPartCED031502W";
        var page = page != undefined ? (page != '' || page != null ? page : 1) : 1;
        var pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
        var manifestkanban = $("#txt-ManifestNoKanbanNo").val();
        var manifestno = $('#txt-ManifestNo').val();
        if (manifestkanban.length > 16) {
            kanbanId = manifestkanban;
        }
        var partno = _partno;
        showLoading();
        $.ajax({
            type: 'POST',
            url: "@Html.Toyota().Page.GetActionUrl("CED031502WSearchDataProblemPart")",
            data: {
                MANIFEST_NO: manifestno,
                PART_NO: partno,
                CurrentPage: page,
                DataPerPage: pageSize
            },
            success: function (result) {
                var title = ($("#breadcrumbs li")[1]).innerHTML;
                $('#tablegridproblemhistory').html(result);
                $("#lbl-PartNameProblem").val(_part_name);
            },
            error: function (result) {
                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                hideLoading();
            }
        });
    }


     function DetailCED031502WdoSearch(_partno, _unique, act) {
        if (_partno == undefined) {
            _partno = $('#lbl-PartNo').val();
            _unique = $('#lbl-Unique').val();
        }
        var funcID = "DetailCED031502W";
        $('#Hiddentableupdate').val('1'); // for edit popupscreen screen
        var page = page != undefined ? (page != '' || page != null ? page : 1) : 1;
        var pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
        var manifestkanban = $("#txt-ManifestNoKanbanNo").val();
        var manifestno = $('#txt-ManifestNo').val();
        var orderno = $('#txt-OrderNo').val();
        var supplier_Code = $('#HdSupplierCode').val();
        var supplier_plantcode = $('#txt-Supp_PlantCode').val();
        var rcvplan_dockcode = $('#txt-RCVPlant_DockCode').val();
        var kanbanId = $('#txt-KanbanId').val();
        if (manifestkanban.length > 16) {
            kanbanId = manifestkanban;
        }
        var partno = _partno;
        var unique = _unique;
        showLoading();
        $.ajax({
            type: 'POST',
            url: "@Html.Toyota().Page.GetActionUrl("CED031502WSearchDataDetail")",
            data: {
                MANIFEST_NO: manifestno,
                ORDER_NO: orderno,
                SUPPLIER_CODE: supplier_Code,
                SUPPLIER_PLANTCODE: (supplier_plantcode.split(" - ")[1].toString().trim()),
                RCV_PLANTCODE: (rcvplan_dockcode.split(" - ")[0].toString().trim()),
                DOCK_CODE: (rcvplan_dockcode.split(" - ")[1].toString().trim()),
                PART_NO: partno,
                UNIQUE: unique,
                PART_BARCODE: kanbanId,
                CurrentPage: page,
                DataPerPage: pageSize
            },
            success: function (result) {
                var title = ($("#breadcrumbs li")[1]).innerHTML;
                $('#tablegriddetCED032100').html(result);
                $("#lbl-ManifestNoKanbanNo").val(manifestkanban);
                $("#lbl-ManifestNo").val(manifestno);
                $("#lbl-Supp_PlantCode").val($('#txt-Supp_PlantCode').val());
                $("#lbl-OrderNo").val(orderno);
                $("#lbl-RCVPlant_DockCode").val($('#txt-RCVPlant_DockCode').val());
                $('#lbl-PartNo').val(_partno);
                $('#lbl-Unique').val(_unique);
                if ($('#hidStatus').val() != "PARK") {
                    $("#txt-KanbanId").prop('disabled', true);
                    $("#btnBackDetail").show();
                    $("#btnSearchDetail").show();
                    $("#btnCancelDetail").hide();
                    $("#btnSaveDetail").hide();
                    $(".viewMode").show();
                    $(".editMode").hide();
                    $(".enableAll").prop('disabled', true);
                    $(".problemCheckbox").prop('disabled', true);
                } else if (act == "DETAIL") {
                    $("#txt-KanbanId").prop('disabled', true);
                    $("#btnBackDetail").hide();
                    $("#btnSearchDetail").hide();
                    $("#btnCancelDetail").show();
                    $("#btnSaveDetail").show();
                    $(".viewMode").hide();
                    $(".editMode").show();
                    $(".enableAll").prop('disabled', false);
                    $(".problemCheckbox").prop('disabled', false);
                    $(".editMode").prop('disabled', true);
                }
            },
            error: function (result) {
                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                hideLoading();
            }
        });
    }

    CED031502WdoSaveDetail = function () {
        setMessage('MCEDSTD007C', null, function () {
            var listDetail = [];
            var remainingError = "";
            $('#tblScrollDetail tbody tr').each(function () {
                var fstatus = "1";
                if ($("#shortageStatus", $(this)).is(':checked')) {
                    fstatus = "1";
                } else if ($("#misspartStatus", $(this)).is(':checked')) {
                    fstatus = "2";
                } else if ($("#damageStatus", $(this)).is(':checked')) {
                    fstatus = "3";
                } else {
                    fstatus = "0";
                }
                listDetail.push({
                    MANIFEST_NO: $("#lbl-ManifestNo").val(),
                    PART_BARCODE: $("#gridKanbanId", $(this)).val(),
                    FULL_STATUS: fstatus,
                    PCS_STATUS: $("#gridPcsStatus", $(this)).val(),
                });

                if (parseInt($("#gridPcsStatus", $(this)).val()) > parseInt($("#gridPcsStatus", $(this)).attr("oldvalue"))) {
                    remainingError = "Y";
                }

            });
            if (remainingError == "Y") {
                setMessage("MCED031500004E", "", function () { return; });
                return;
            }
            var dataDetail = JSON.stringify({ 'list': listDetail });
            $.ajax({
                contentType: 'application/JSON; charset=utf-8',
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED031502WSaveData")",
                    data: dataDetail,
                    success: function (result) {
                        if (result.MSG_TYPE != "E") {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                                $('#detail-popup-modal').modal('hide');
                                CED031502WdoSearch();
                            });
                        } else {
                            setMessage('MCED031500002E', $("#txt-ManifestNoKanbanNo").val(), function () {
								CED031502WdoClear();
							});
                        }
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });
        }

        CED031502WdoCancelDetail = function () {
            //Pop Up Message
            setMessage('MCEDSTD002C', null, function () {
                //cancelMode();
                if ($('#tblScrollDetail tbody tr').length > 0) {
                    $.ajax({
                        contentType: 'application/JSON; charset=utf-8',
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("CED031502WSaveDataFlag")",
                        data: JSON.stringify({ 'ManifestNo': $("#lbl-ManifestNo").val(), 'PartNo': $("#lbl-PartNo").val(), 'CheckType': 'Cancel' }),
                        success: function (result) {
                            CED031502WdoSearch();
                            $("#btnBackDetail").click();
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                }
                else {
                    $('#detail-popup-modal').modal('hide');
                }
            });
        }


        function editModeDetail(functionID) {
            $('#mode').val(2);
            setEnableDisable('.hidden-xs', 'eEdit');
            removeMandatoryInput();
            disabledPaging(functionID);

            $.each($('#tScrollBodyDetail').find('input:checked'),
                function () {
                    var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                    var rowIndex = $('#tScrollBodyDetail tbody tr').index(currRow);
                    var rowTemplate = $('#tbTemplateDataRowDetail').html();
                    $(currRow).hide().after(rowTemplate.replace('templateDataRowDetail', 'DataRow' + rowIndex));
                    var newRow = $('#DataRow' + rowIndex);
                    itemArray = [];
                    objItem = $('#tScrollBodyDetail tbody tr:eq(' + rowIndex + ')').find('td');
                    lenObj = objItem.length;
                    for (i = 1; i < lenObj; i++) {
                        itemArray[i] = objItem[i].innerText;
                    };
                    for (j = 1; j < lenObj; j++) {
                        col_row = newRow.find('td')[j].childNodes;
                        if (col_row.length == 0) {
                            tag_type = "LABEL";
                            id_nm = newRow.find('td')[j].getAttribute('id')
                        } else {
                            tag_type = col_row[1].nodeName;
                            id_nm = col_row[1].getAttribute('id');
                        }

                        if (tag_type == "DIV" && id_nm == null) {
                            col_row_detail = col_row[1].childNodes;
                            tag_type = col_row_detail[3].nodeName;
                            id_nm = col_row_detail[3].getAttribute('id');
                            if (id_nm == null) {
                                tag_type = col_row_detail[1].nodeName;
                                id_nm = col_row_detail[1].getAttribute('id');
                            }
                        }

                        if (tag_type == "LABEL") {
                            $('#' + id_nm).text(itemArray[j]);
                        }
                        else if (tag_type == "SELECT") {
                            $('#' + id_nm).find("option:contains('" + itemArray[j] + "')").each(function () {
                                if ($(this).text() == itemArray[j]) {
                                    $(this).attr("selected", "selected");
                                }
                            });
                        }
                        else {
                            $('#' + id_nm).val(itemArray[j]);
                        }
                    }
                    itemArray = null;
                    $(newRow).show();
                }
            );
        }

        function validateReceiveStatus(obj) {
            var splitdata   = $(obj).attr("value");
            var manifestNo  = $("#txt-ManifestNo").val();
            var partNo      = splitdata.split("|")[0];
            var kanbanNo    = splitdata.split("|")[1];

            $(obj).parent().parent('tr').find('.colorReceive').removeClass("colorRed");
            $(obj).parent().parent('tr').find('.colorReceive').removeClass("colorYellow");

            showLoading()
            $.ajax({
                contentType: 'application/JSON; charset=utf-8',
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED031502WSaveDataFlag")",
                data: JSON.stringify({ 'ManifestNo': manifestNo, 'PartNo': partNo, 'CheckType': 'P' }),
                success: function (result) {
                    hideLoading();
                    $(obj).parent().parent('tr').find('.cReceiveQty').html($(obj).parent().parent('tr').find('.cReceiveQty').attr("oldvalue"));
                    if ($('#hidStatus').val() == "PARK") $(obj).parent().parent('tr').find('.colorReceive').addClass("colorYellow");

                    var act = "DETAIL";

                    $('#detail-popup-modal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });

                    DetailCED031502WdoSearch(partNo, kanbanNo, act);

                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        function validateDetailStatus(obj, problemType) {
            $(obj).parent().parent('tr').find('input[type="checkbox"]').not(obj).prop('checked', false);
            //console.log("problemType", problemType)
            var splitdata = $(obj).attr("value");
            var pcsKanbanQty = splitdata.split("|")[0];

            if ($(obj).is(':checked')) {
                if ($(obj).parent().parent('tr').find('#hidKanbanType').text() == "1") {
                    $(obj).parent().parent('tr').find('#gridPcsStatus').prop('disabled', true);
                } else {
                    $(obj).parent().parent('tr').find('#gridPcsStatus').prop('disabled', false);
                }

                if ($(obj).parent().parent('tr').find('#gridPcsStatus').val() == "0") {
                    $(obj).parent().parent('tr').find('#gridPcsStatus').val("");
                }

                $(obj).parent().parent('tr').find('#gridPcsStatus').val("0");
                $(obj).parent().parent('tr').find('#gridPcsStatus').focus();
            } else {
                if ($(obj).parent().parent('tr').find('#hidKanbanType').text() == "1") {
                    //console.log('2')
                    $(obj).parent().parent('tr').find('#gridPcsStatus').prop('disabled', true);
                } else {
                    $(obj).parent().parent('tr').find('#gridPcsStatus').prop('disabled', true);
                }

                $(obj).parent().parent('tr').find('#gridPcsStatus').val("" + pcsKanbanQty);

                if ($(obj).parent().parent('tr').find('#gridPcsStatus').val() == "0") {
                    $(obj).parent().parent('tr').find('#gridPcsStatus').val("");
                }

            }
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }


        function saveTempParking() {
            var listData = [];
            $('#tblScroll tbody tr').each(function () {
                var recStatus = "";
                if ($(".cReceiveQty", $(this)).text() == '0') {
                    recStatus = "0";
                }
                listData.push({
                    MANIFEST_NO: $("#txt-ManifestNoKanbanNo").val(),
                    PART_NO: $(".cpartNo", $(this)).text(),
                    REC_STATUS: recStatus
                });
            });
            var dataDetail = JSON.stringify({ 'list': listData });
            $.ajax({
                contentType: 'application/JSON; charset=utf-8',
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED031502WSaveDataTempHeader")",
                data: dataDetail,
                success: function (result) {
                    //funct...
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED031502WdoClear = function () {
            CED031502WdoInit();
        }

        function saveDataReceiving() {
            //setMessage('MCEDSTD007C', null, function () {
                var listData = [];
                $('#tblScroll tbody tr').each(function () {
                    var recStatus = "";
                    if ($(".cReceiveQty", $(this)).text() == '0') {
                        recStatus = "0";
                    }
                    listData.push({
                        MANIFEST_NO: $("#txt-ManifestNoKanbanNo").val(),
                        PART_NO: $(".cpartNo", $(this)).text(),
                        REC_STATUS: recStatus
                    });
                });
                var dataDetail = JSON.stringify({ 'list': listData });
                $.ajax({
                    contentType: 'application/JSON; charset=utf-8',
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("CED031502WSaveDataTempHeader")",
                    data: dataDetail,
                    beforeSend: function () {
                        $('#btnReceive').prop('disabled', true);
                        $('#btnReceive-spinner').show();
                    },
                    success: function (result) {
                        $.ajax({
                            contentType: 'application/JSON; charset=utf-8',
                            type: 'POST',
                            url: "@Html.Toyota().Page.GetActionUrl("CED031502WSaveDataReceive")",
                            data: JSON.stringify({ 'ManifestNo': $("#txt-ManifestNoKanbanNo").val() }),
                            success: function (result) {
                                if (result.MSG_TYPE != "E") {
                                    //getMessage(result.MSG_TYPE, result.MSG_TXT.split("_")[0], function () {
                                    //    CED031502WdoInit();
                                    //});
                                    $("#lbl-Info").text(result.MSG_TXT.split("_")[0]);
                                    $("#lbl-Info").attr("style", "background-color: green; color: white");
                                    setTimeout(function () {
                                        CED031502WdoInit();
                                    }, 3000);
                                } else {
                                    //setMessage('MCED031500002E', $("#txt-ManifestNoKanbanNo").val(), function () {
								    //    CED031502WdoClear();
                                    //});
                                    //console.log(result.MSG_TXT)
                                    if (result.MSG_TXT.toLowerCase().includes('[sync]')) {
                                        let msg = result.MSG_TXT
                                        let msgSync = msg.split("|")
                                        msgSync[0] += " Manifest Receiving process will be rolled back.";
                                        msg = msgSync.join("|")

                                        setMessageWithLabel3015('MCED031500005E', msg, "lbl-Info");
                                        $("#lbl-Info").attr("style", "background-color: red; color: white");
                                        setTimeout(function () {
                                            $("#lbl-Info").text(""); // only reset dont refresh
                                        }, 5000);
                                    } else {
                                        setMessageWithLabel3015('MCED031500002E', $("#txt-ManifestNoKanbanNo").val(), "lbl-Info");
                                        $("#lbl-Info").attr("style", "background-color: red; color: white");
                                        setTimeout(function () {
                                            CED031502WdoClear();
                                        }, 3000);
                                    }
                                }
                            },
                            error: function (result) {
                                //getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                                $("#lbl-Info").text(result.MSG_TXT);
                                $("#lbl-Info").attr("style", "background-color: red; color: white");
                                setTimeout(function () {
                                    CED031502WdoClear();
                                }, 3000);
                            },
                            complete: function (result) {
                                hideLoading();
                                $('#btnReceive').prop('disabled', false);
                                $('#btnReceive-spinner').hide();
                            }
                        });
                    },
                    error: function (result) {
                        //getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        $("#lbl-Info").text(result.MSG_TXT);
                        $("#lbl-Info").attr("style", "background-color: red; color: white");
                        setTimeout(function () {
                            CED031502WdoClear();
                        }, 3000);
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            //});
        }

        //FID.Ridwan : 2019-09-12
        function setMessageWithLabel3015(msgID, param, element) {
            if (msgID != '') {
                $.ajax({
                    type: 'POST',
                    url: 'Common/GetMessageText',
                    data: {
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                        msgID: msgID,
                        param: param
                    },
                    success: function (result) {
                        $("#" + element).text(result.MSG_TYPE + " : " + result.MSG_TXT);
                    }
                });
            }
        }
    </script>
}