﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED031502W
@using IPOS.Models.Common
@model GenericModel<CED031502W>

<style>
    .colorRed {
        background-color: red !important;
    }
    .colorYellow {
        background-color: yellow !important;
    }
</style>

<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1135px; max-width: 1335px !important;">
                    <colgroup>
                        <col width="35px" />
                        <col width="100px" />
                        <col width="300px" />
                        <col width="100px" />
                        <col width="75px" />
                        <col width="75px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                    </colgroup>
                    <thead>
                        <tr style="height: 35px">
                            @*<th rowspan="2">
                            <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )" />
                        </th>*@
                            <th rowspan="2">No</th>
                            <th rowspan="2">Part No</th>
                            <th rowspan="2">Part Name</th>
                            <th rowspan="2">Unique No</th>
                            <th rowspan="2">Order Qty</th>
                            <th rowspan="2">Receive Qty</th>
                            <th rowspan="2">(A) Shortage Qty</th>
                            <th rowspan="2">(B) Misspart Qty</th>
                            <th rowspan="2">(D) Damage Qty</th>
                        </tr>
                        <tr>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--if Row Search Criteria More Than 2, Then set Height = 270px Else Height = 300px -->
            @{
                var valCheck = "";
                var valCheck2 = "";
                if (Model.DataList != null && Model.DataList.Any())
                {
                    CED031502W item = Model.DataList[0];
                    valCheck = item.CHECK_MANIFEST;
                    valCheck2 = item.SUP_COMPLETENESS_STATUS ?? "";
                }
            }
            <input type="hidden" id="hidStatus" value="@valCheck" />
            <input type="hidden" id="hidStatus2" value="@valCheck2" />
            
            <div id="tScrollBody" style="overflow: scroll; height: 270px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1135px; max-width: 1335px !important;">
                    <colgroup>
                        <col width="35px" />
                        <col width="100px" />
                        <col width="300px" />
                        <col width="100px" />
                        <col width="75px" />
                        <col width="75px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED031502W item in Model.DataList)
                                    {
                                        var checknr = "";
                                        var checkp = "";
                                        var rowcolor = "";
                                        var receiveQty = item.RECEIVE_QTY;
                                        if (item.CHECK_STATUS.Split('|')[0] != "-")
                                        {
                                            if (item.CHECK_STATUS.Split('|')[0] == "1")
                                            {
                                                checkp = "checked";
                                                rowcolor = "colorYellow";
                                            }
                                            else if (item.CHECK_STATUS.Split('|')[0] == "0")
                                            {
                                                checknr = "checked";
                                                rowcolor = "colorRed";
                                                receiveQty = "0";
                                            }
                                        }
                                        <tr id="DataRow" class="tr-grid-detail @rowcolor">
                                            <td class="text-center colorReceive">@item.ROW_NO</td>
                                            <td class="text-center colorReceive cpartNo"><a href="#" value="@item.PART_NO|@item.KANBAN_NO" onclick="getDetail032100W(this, 'VIEW')" style="text-decoration:underline">@item.PART_NO</a></td>
                                            <td class="text-left colorReceive">@item.PART_NAME</td>
                                            <td class="text-center colorReceive cKanbanNo">@item.KANBAN_NO</td>
                                            <td class="text-right colorReceive cOrderQty">@item.ORDER_QTY</td>
                                            <td class="text-right colorReceive cReceiveQty" oldvalue="@item.ORDER_QTY">@receiveQty</td>
                                            <td class="text-right colorReceive cShortageQty" oldvalue="@item.ORDER_QTY"><a href="#" value="@item.PART_NO|@item.KANBAN_NO|P|@item.KANBAN_TYPE|@item.ORDER_QTY" onclick="validateReceiveStatus(this)" style="text-decoration:underline">@item.SHORTAGE_QTY</a></td>
                                            <td class="text-right colorReceive cMisspartQty" oldvalue="@item.ORDER_QTY"><a href="#" value="@item.PART_NO|@item.KANBAN_NO|P|@item.KANBAN_TYPE|@item.ORDER_QTY" onclick="validateReceiveStatus(this)" style="text-decoration:underline">@item.MISSPART_QTY</a></td>
                                            <td class="text-right colorReceive cDamageQty" oldvalue="@item.ORDER_QTY"><a href="#" value="@item.PART_NO|@item.KANBAN_NO|P|@item.KANBAN_TYPE|@item.ORDER_QTY" onclick="validateReceiveStatus(this)" style="text-decoration:underline">@item.DAMAGE_QTY</a></td>

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="8" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                        <button id="btnCancel" type="button" class="btn btn-danger btn-xs eAdd eEdit btn-size1" onclick="CED031502WdoCancel()">Cancel</button>
                        <button id="btnSave" type="button" class="btn btn-primary btn-xs  eAdd eEdit btn-size1" onclick="CED031502WdoSave()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table style="display: none">
    <tbody id="tbTemplateDataRow">
        <tr id="templateDataRow" class="tr-grid-detail colorReceive">
            <td class="text-center grid-checkbox-col">
                @Html.Hidden("mode")
                <input type="checkbox" id="checkDetail" class="grid-checkbox" checked="checked" disabled="disabled" />
            </td>
            <td class="center">
                <input id="txtROW_NO" class="input-sm form-control eView" type="text" value="" maxlength="4" style="text-align: center" />
            </td>
            <td class="center">
                <input id="txtPART_NO" class="input-sm form-control eView" type="text" value="" maxlength="30" style="text-align: center" />
            </td>
            <td class="center">
                <input id="txtPART_NAME" class="input-sm form-control eView" type="text" value="0" maxlength="255" />
            </td>
            <td class="center">
                <input id="txtUNIQUE" class="input-sm form-control eView" type="text" value="0" maxlength="10" style="text-align: center" />
            </td>
            <td class="right">
                <input id="txtORDER_QTY" class=" input-sm form-control eview" type="text" value="0" maxlength="10" style="text-align: right" />
            </td>
            <td class="right">
                <input id="txtRECEIVE_QTY" class="input-sm form-control mandatory eEdit" type="number" value="0" style="text-align: right" />
            </td>
            <td class="center">
                <input id="checkNR" class="input-sm form-control eEdit" type="checkbox" onclick="validateReceiveStatus('NR')" />
            </td>
            <td class="center">
                <input id="checkP" class="input-sm form-control eEdit" type="checkbox" onclick="validateReceiveStatus('P')" />
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });

    @{
if (Model.DataList != null && Model.DataList.Any())
{
    Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                    "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                    "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +
                    "if(btnEdit.length>0)" +
                    "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                    "if(btnDelete.length>0)" +
                    "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                    "if(btnDownload.length>0)" +
                    "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                );
}
else
{
    Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                    "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                    "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +
                    "if(btnEdit.length>0)" +
                    "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                    "if(btnDelete.length>0)" +
                    "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                    "if(btnDownload.length>0)" +
                    "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                );
}
}
</script>
