﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED031502W
@using IPOS.Models.Common
@model GenericModel<CED031502WProblemPart>
@using IPOS.Controllers;

    <form role="form" class="form-horizontal _criteria">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-3 text-muted text-left">Part Name</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="lbl-PartNameProblem" class="form-control" placeholder="" maxlength="15" tabindex="1" value="" disabled />
                    </div>
                </div>
            </div>



            <div class="form-group form-group-xs _criteria">
                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:right;">
                    @*<button id="btnBackDetail" type="reset" class="btn btn-primary btn-xs eView btn-size1" onclick="$('#detail-popup-modal').modal('hide');" style="display: none">Back</button>
                    <button id="btnSearchDetail" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: DetailCED031502WdoSearch()" style="display: none">Search</button>*@
                </div>
            </div>

        </div>
    </form>

    <div class="text-center" style="margin-bottom: 3px;">
        <hr id="hrsrc" style="margin: 0; padding: 0;" />
    </div>

    <div id="grid" class="row">
        <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
            <div style="border: 1pt solid #ccc;">
                <div id="tScrollHeadDetail" style="width: 98.5%; overflow: hidden;">
                    <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 600px; max-width: 600px !important; ">
                        <colgroup>
                            <col width="35px" />
                            <col width="160px" />
                            <col width="80px" />
                            <col width="80px" />
                            <col width="75px" />
                            <col width="90px" />
                            <col width="80px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2">Kanban ID</th>
                                <th rowspan="2">Problem Type</th>
                                <th rowspan="2">Qty</th>
                                <th rowspan="2">Received Qty</th>
                                <th rowspan="2">Problem Date</th>
                                <th rowspan="2">Created By</th>
                            </tr>
                            <tr>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="tScrollBodyDetail" style="overflow: scroll; height: 230px;">
                    <table id="tblScrollDetail" class="table table-striped table-bordered table-condensed table-fixed" style="width: 600px; max-width: 600px !important; ">
                        <colgroup>
                            <col width="35px" />
                            <col width="160px" />
                            <col width="80px" />
                            <col width="80px" />
                            <col width="75px" />
                            <col width="90px" />
                            <col width="80px" />
                        </colgroup>
                        <tbody>
                            @{
                                if (Model.DataList != null)
                                {
                                    if (Model.DataList.Any())
                                    {
                                        var totalkanban = 0;
                                        foreach (CED031502WProblemPart item in Model.DataList)
                                        {
                                            <tr id="DataDetail" class="tr-grid-detail">
                                                <td class="text-center"><span class="">@item.NO</span></td>
                                                <td class="text-center"><span class="">@item.PART_BARCODE</span></td>
                                                <td class="text-left"><span class="">@item.PROBLEM</span></td>
                                                <td class="text-right"><span class="">@item.QTY</span></td>
                                                <td class="text-right"><span class="">@item.RECEIVED_QTY</span></td>
                                                <td class="text-center"><span class="">@item.PROBLEM_DT</span></td>
                                                <td class="text-left"><span class="">@item.CREATED_BY</span></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr id="noDataRow">
                                            <td colspan="7" class="text-center">@Model.MsgNotFound</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                     <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                        <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                            <button id="btnBackProblemHistory" type="reset" class="btn btn-primary btn-xs eView btn-size1" onclick="$('#problemhistory-popup-modal').modal('hide');" style="">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#tScrollBodyDetail").scroll(function () {
            $("#tScrollHeadDetail").scrollLeft($("#tScrollBodyDetail").scrollLeft());
        });
    </script>

