﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-6 text-muted text-left">Manifest No / Kanban ID</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txt-ManifestNoKanbanNo" class="form-control eView mandatory" tabindex="1" onkeypress="return processManifest(event)" maxlength="18" />
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <div class="col-xs-8 col-sm-9 col-md-8" style="text-align:right;">
                </div>
                <div class="col-xs-4 col-sm-3 col-md-4" style="text-align:right;">
                    <button id="btnReceive" type="button" class="btn btn-default btn-xs eView btn-size1" onclick="saveDataReceiving()" disabled><i class="fa fa-spinner fa-spin" id="btnReceive-spinner" style="display:none;"></i>&nbsp; Receive</button>
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <div class="col-xs-10 col-sm-11 col-md-10">
                    <input id="HdSupplierCode" style="display:none;" />
                    <input id="Hiddentableupdate" style="display:none;" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Manifest No</label>
                <div class="col-xs-8 col-sm-9 col-md-5">
                    <input type="text" id="txt-ManifestNo" class="form-control eView" tabindex="3" />
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Supplier - Plant Code</label>
                <div class="col-xs-8 col-sm-9 col-md-5">
                    <input type="text" id="txt-Supp_PlantCode" class="form-control eView" tabindex="4" />
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Part No</label>
                <div class="col-xs-8 col-sm-9 col-md-5">
                    <input type="text" id="txt-PartNo" class="form-control eView" tabindex="4" maxlength="12" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Order No</label>
                <div class="col-xs-8 col-sm-9 col-md-5">
                    <input type="text" id="txt-OrderNo" class="form-control eView" />
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Rcv Plant - Dock Code</label>
                <div class="col-xs-8 col-sm-9 col-md-5">
                    <input type="text" id="txt-RCVPlant_DockCode" class="form-control eView" />
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Unique No</label>
                <div class="col-xs-8 col-sm-9 col-md-5">
                    <input type="text" id="txt-Unique" class="form-control eView" maxlength="4" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 30px">
        <div class="col-xs-7 text-left">
            <span id="lbl-Info"></span>
        </div>
        <div class="col-xs-5 text-right">
            <div class="form-group-xs _criteria">
                @*<button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED031502WdoSearch()">Search</button>*@
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>
@*<div class="row" style="height: 45px">
        <div class="col-xs-12 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnEdit" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED031502WdoEdit()">Edit</button>
            </div>
        </div>
    </div>*@

