﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Production Date</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <div class="input-group date" data-provide="datepicker">
                        <input class="eView form-control date-picker" id="txts-ProdDate" type="text" data-date-format="yyyy-mm-dd" maxlength="10" style="width: 100%" readonly />
                        <span class="input-group-addon" style="cursor: pointer;">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Line</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    @Html.DropDownList("cmbs-LineId", CommonController.ComboBoxSelectList("1", "PROD_LINE", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">POS Type</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    @Html.DropDownList("cmbs-PosType", CommonController.ComboBoxSelectList("1", "POS_TYPE", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Shift</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    @Html.DropDownList("cmbs-ShiftType", CommonController.ComboBoxSelectList("2", "SHIFT_CD", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 30px">
        <div class="col-xs-6" style="margin-top: 5px;">
        </div>
        <div class="col-xs-6 text-right">
            <div class="form-group-xs _criteria">
                @*<button id="btnReport" type="button" class="btn btn-primary btn-xs eView btn-size2" onclick="javascript:CED020200WdoReport()" >Outhouse Report</button>*@
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED020200W", "btnSync"))
                {
                    <button id="btnGenerateROEM" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:generateROEMPopup()" style="width: 100px">Release POS</button>
                }
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED020200WdoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED020200WdoClear()">Clear</button>
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div class="row" style="height: 45px">
    <div class="col-xs-12 col-sm-6 text-left">
    </div>
    <div class="col-xs-12 col-sm-6 text-right" style="height: 45px;">
        <div class="form-group form-group-xs" style="margin-bottom: 3px;">
           
                <button id="btnReportPopup" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED020200AllReport()">Report</button>
                <button id="btnUploadPopup" type="button" class="btn btn-warning btn-xs eView btn-size1" onclick="javascript:CED020200WdoPopupUpload()">Upload</button>
           
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED020200W", "btnDownload"))
            {
                <button id="btnDownload" type="button" class="btn btn-success btn-xs btn-size1" onclick="javascript:CED020200WdoDownload()" style="display: none">Download</button>
            }
        </div>
    </div>
</div>
