﻿@using IPOS.Controllers.Constants
@using IPOS.Controllers;
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED020200WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED020200WGrid")
    </div>
</div>

<!-- Release POS Popup -->
<div class="modal fade" id="roem-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 40%; margin-top: 3%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Release POS</h4>
            </div>
            <div class="modal-body">
                <div id="tablegridformcriteria">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group form-group-xs _criteria">
                                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Plant Code</label>
                                <div class="col-xs-8 col-sm-9 col-md-6">
                                    @Html.DropDownList("cb-PlantCode", IPOS.Controllers.CommonController.ComboBoxSelectList("2", "PLANT_CODE", null), new { @class = "eView mandatory", style = "width:100%" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group form-group-xs _criteria">
                                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">POS Date</label>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="input-group date" data-provide="datepicker">
                                        <input class="eView form-control date-picker mandatory" id="txt-POSDateFrom" type="text" data-date-format="yyyy-mm-dd" maxlength="10" style="width: 100%" readonly />
                                        <span class="input-group-addon" style="cursor: pointer;">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                                @*<div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="input-group date" data-provide="datepicker">
                                            <input class="eView form-control date-picker mandatory" id="txt-PlanPackDateTo" type="text" data-date-format="yyyy-mm-dd" maxlength="10" style="width: 100%" />
                                            <span class="input-group-addon" style="cursor: pointer;">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>*@
                            </div>
                            <br />
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" style="height: 30px">
                    <div class="col-xs-6" style="margin-top: 5px;">
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="form-group-xs _criteria">
                            <button id="btnGenerate" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:generateROEM()" style="width: 100px">Submit</button>
                            <button id="btnBack" type="reset" class="btn btn-danger btn-xs eView btn-size1" onclick="javascript:ClearPopUp()" data-dismiss="modal">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Detail Popup -->
<div class="modal fade" id="detail-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 90%; margin-top: 3%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Packing Order Sheet (POS) Detail Screen</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal _criteria" id="searchForm">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group form-group-xs _criteria">
                                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Production Date</label>
                                <div class="col-xs-8 col-sm-9 col-md-6">
                                    <input type="text" id="lbl-ProdDate" class="form-control eView" maxlength="20" tabindex="1" disabled />
                                </div>
                            </div>

                            <div class="form-group form-group-xs _criteria">
                                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Production Day</label>
                                <div class="col-xs-8 col-sm-9 col-md-6">
                                    <input type="text" id="lbl-ProdDay" class="form-control eView" maxlength="20" tabindex="2" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group form-group-xs _criteria">
                                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Production Line</label>
                                <div class="col-xs-8 col-sm-9 col-md-6">
                                    <input type="text" id="lbl-ProdLine" class="form-control eView" maxlength="20" tabindex="3" disabled />
                                    @*value="@ViewBag.LineName"*@
                                    <input type="hidden" id="hidLineCode" />
                                    @*value="@ViewBag.LineCode"*@
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group form-group-xs _criteria">
                                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">POS Type</label>
                                <div class="col-xs-8 col-sm-9 col-md-6">
                                    <input type="text" id="lbl-POSType" class="form-control eView" maxlength="20" tabindex="4" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED020200W", "btnDownload"))
                            {
                                <button id="btnGenerate" type="button" class="btn btn-success btn-xs btn-size1" onclick="javascript:CED020200WdoGenerateDetail()">Download</button>
                            }
                            <button id="btnForce" type="button" class="btn btn-primary btn-xs btn-size1" onclick="javascript:CED020200WdoForce()" style="display: none">Force Open</button>

                            <button id="btnDeletePOSDetail" type="button" class="btn btn-danger btn-xs btn-size1" onclick="javascript:CED020200WdoDeleteDetail()">Delete</button>

                            <button id="btnBack" type="reset" class="btn btn-danger btn-xs eView btn-size1" data-dismiss="modal">Back</button>
                        </div>
                    </div>
                </form>
                <div id="tablegriddet010202">
                </div>
            </div>
            @*<div class="modal-footer">
                    <div class="row" style="height: 30px">
                        <div class="col-xs-6" style="margin-top: 5px;">
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="form-group-xs _criteria">
                                <button id="btnBack" type="reset" class="btn btn-danger btn-xs eView btn-size1" data-dismiss="modal">Back</button>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>

<!-- Upload Popup -->
<div class="modal fade" id="upload-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 40%; margin-top: 3%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload POS (Packing Order Sheet)</h4>
            </div>
            <div class="modal-body">
                <input type="radio" name="POSType" value="POS Final" />
                POS Final<br />
                <input type="radio" name="POSType" value="POS Prepare" />
                POS Prepare Module<br />
                <input type="radio" name="POSType" value="POS Jundate" />
                POS Jundate
                <br />
                <br />
                <form id="formUploadFile" method="POST" action="#" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-group input-file" name="upload">
                            <span class="input-group-btn">
                                <button id="btnBrowse" class="btn btn-default btn-xs eView btn-size1" type="button" onclick="javascript:browseFile()">Browse</button>
                            </span>
                            <input type="text" id="txtUploadFile" class="form-control" placeholder='Choose a file...' style="width: 40%" />
                            <span class="input-group-btn" style="float: left">
                                <button id="btnUpload" class="btn btn-warning btn-xs eView btn-size1" type="button" onclick="javascript:CED020200WdoUploadFile()">Upload</button>
                            </span>
                            <span style="float: left; padding-left: 90px; padding-top: 5px;">
                                <a href="#" onclick="javascript:CED020200WdoDownloadTemplate()">Download Template</a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row" style="height: 30px">
                    <div class="col-xs-6" style="margin-top: 5px;">
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="form-group-xs _criteria">
                            <button id="btnBack" type="reset" class="btn btn-danger btn-xs eView btn-size1" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade" id="Report-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="width: 30%; margin-top: 10%;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="hidden-xs">
                    <div class="container-fluid">
                        <form role="form" class="form-horizontal _criteria">
                            <div>
                                <div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left text-muted" style="margin-right:12px">*Production Date</label>
                                    <div class="input-group">
                                        <input class="eView form-control date-picker date" id="txts-ProdDate2" type="text" data-date-format="yyyy-mm-dd" maxlength="10" style="width: 100%" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>-->
                                @*<div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left text-muted" style="margin-right:12px">*Supplier Name</label>
                                    @Html.DropDownList("inputSC", CommonController.ComboBoxSelectList("2", "SUPPLIER", null), new { tabindex = "4", style = "color: lightgray; width:54%", @class = "eView" })
                                </div>*@
                            <!--</div>
                            <div class="row" style="text-align: center;">
                                <button id="btnAddZone" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED020200WdoOuthouseReport()">Ok</button>
                                <button id="btnBackZone" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: $('#Report-popup-modal').modal('hide');">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="modal fade" id="report-all-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="width: 30%; margin-top: 10%;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="hidden-xs">
                    <div class="container-fluid">
                        <form role="form" class="form-horizontal _criteria">
                            <div>
                                <div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left text-muted" style="margin-right:12px">*Option Report</label>
                                    <div class="input-group">
                                        <input class="form-check-input eView" type="radio" name="reportOption" id="inputFinal" value="POS InHouse">
                                        <label class="form-check-label" for="inputFinal">POS InHouse</label>
                                        <br />
                                        <input class="form-check-input eView" type="radio" name="reportOption" id="inputPrepare" value="POS Prepare Module">
                                        <label class="form-check-label" for="inputPrepare">POS Prepare Module</label>
                                        <br />
                                        <input class="form-check-input eView" type="radio" name="reportOption" id="inputJundate" value="POS Jundate">
                                        <label class="form-check-label" for="inputJundate">POS Jundate</label>
                                        <br />
                                        <input class="form-check-input eView" type="radio" name="reportOption" id="inputOuthouse" value="POS OutHouse">
                                        <label class="form-check-label" for="inputOuthouse">POS OutHouse</label>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left text-muted" style="margin-right:12px">*Production Date</label>
                                    <div class="input-group">
                                        <input class="eView form-control date-picker date" id="txts-ProdDateReport" type="text" data-date-format="yyyy-mm-dd" maxlength="10" style="width: 100%" readonly />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria" id="div-shift">
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left text-muted" style="margin-right:12px" id="ShiftLabel">Shift</label>
                                    @Html.DropDownList("inputShift", CommonController.ComboBoxSelectList("2", "SHIFT_CD", null), new { tabindex = "4", style = "color: lightgray; width:54%", @class = "eView" })
                                </div>
                                <div class="form-group form-group-xs _criteria hidden" id="div-prodLine">
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left text-muted" style="margin-right:12px">Prod Line</label>
                                    @Html.DropDownList("inputLine", CommonController.ComboBoxSelectList("2", "PROD_LINE", null), new { @class = "eView", style = "color: lightgray; width:54%" })
                                </div>
                                <div class="form-group form-group-xs _criteria" id="div-packingLine">
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left text-muted" style="margin-right:12px">*Packing Line</label>
                                    @Html.DropDownList("inputPackingLine", CommonController.ComboBoxSelectList("2", "PACKING_LINE_CD", null), new { @class = "eView", style = "color: lightgray; width:54%", @multiple = "multiple" })
                                </div>

                                <div class="row" style="text-align: center;">
                                    <button id="btnDownloadReportAll" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED020200InquiryPOSAllReport()">Download</button>
                                    <button id="btnBackReportAll" type="button" class="btn btn-default btn-xs eView btn-size1" onclick="javascript: CancelPopUpReport();">Cancel</button>
                                </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED020200W";

        $(document).ready(function () {
            CED020200WdoInit();

            $('.date').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true
            });
        });

        CED020200WdoInit = function () {
            initialMode();
            //$("#txts-ProdDate").focus();
        }

        CED020200WdoClear = function () {
            clearMode();
            CED020200WdoSearchClear();
        }

        CED020200WdoSearchClear = function () {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED020200WSearchNoData")",
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED020200WdoInit();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED020200WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED020200WSearchData")",
                data: {
                    ProdDate: $("#txts-ProdDate").val(),
                    PosType: $("#cmbs-PosType").val(),
                    ProdLine: $("#cmbs-LineId").val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();

                    if ($("#cmbs-PosType").val() != "1") {
                        $("#btnDownload").hide();
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        //CED020200WdoReport = function () {
        //    $("#txts-ProdDate2").val("");

        //    $('#Report-popup-modal').modal({
        //        backdrop: 'static',
        //        keyboard: false
        //    });
        //}

        CED020200ProdLineDisplayInit = function () {
            
            var packingLineOptions = $('#inputPackingLine > option');

            packingLineOptions[0].text = '-All-';
            packingLineOptions[0].value = 'All';

            var reportOptions = $('[name="reportOption"]');
            reportOptions.change(function () {
                var checkedReportOption = $('[name="reportOption"]:checked');
                var prodLine = $("#div-prodLine");
                var packingLine = $("#div-packingLine");

                if (checkedReportOption.val() === "POS InHouse") {
                    prodLine.addClass('hidden');
                    packingLine.removeClass('hidden');
                }
                else {
                    prodLine.removeClass('hidden');
                    packingLine.addClass('hidden');
                }
            });
        }

        CED020200ProdLineDisplayInit();

        CED020200AllReport = function () {
            var prodDateMainVal = $("#txts-ProdDate").val();
            var shiftMainVal = $("#cmbs-ShiftType").val();
            var prodLineMainVal = $("#cmbs-LineId").val();

            $("#txts-ProdDateReport").val(prodDateMainVal);
            $("#inputShift").val(shiftMainVal);
            $("#inputLine").val(prodLineMainVal);

            $("input[name='reportOption']:first").prop("checked", true);

            //document.getElementById("div-shift").style.display = "block";
            //document.getElementById("div-prodLine").style.display = "none";

            $('#report-all-popup-modal').modal({
                backdrop: 'static',
                keyboard: false
            });


        }

        @*CED020200WdoOuthouseReport = function () {
            // common javascript
            if ($("#txts-ProdDate2").val() == 'undefined' || $("#txts-ProdDate2").val() == "") {
                getMessage("E", "Data should not be empty", function () { return });
                return;
            }
            else {
                //Pop Up Message
                setMessage('MCEDSTD001C', null, function () {
                    var mode = $('#mode').val();
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchOuthouseReport")",
                        data: {
                            ProdDate: $('#txts-ProdDate2').val()
                        },
                        //beforeSubmit: showLoading(),
                        success: function (result) {
                            //Pop Up Message
                            if (result.result.split("-")[0] == "DONE") {
                                setMessage("MCEDSTD002I", "Outhouse Report;" + result.result.split("-")[1], function () {
                                    afterSave();
                                    CED020200WdoSearch();
                                    $('#Report-popup-modal').modal('hide')
                                });
                            } else {
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                            }
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });
            }
        }*@

        CED020200WdoDownload = function () {
            if ($("#txts-ProdDate").val() == "") {
                setMessage('MCEDSTD005E', "Production Date", function () { return; });
                return;
            }

            //var par = $('#tScrollBody').find('input:checked');
            //if (par.length != 1) {
            //    setMessage('MCEDSTD004E', null, function () { return; });
            //    return;
            //}

            //var posType = "";
            //if (par.attr("data-POS_TYPE") == "Final") {
            //    posType = "1";
            //} else if (par.attr("data-POS_TYPE") == "Jundate") {
            //    posType = "2";
            //} else if (par.attr("data-POS_TYPE") == "Prepare Module") {
            //    posType = "3";
            //}

            setMessage('MCEDSTD004C', null, function () {
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchDownload")",
                    data: {
                        //ProdDate: par.attr("data-PROD_DATE"),
                        //PosType: posType,
                        //ProdLine: par.attr("data-PROD_LINE"),
                        //SHIFT: par.attr("data-SHIFT")
                        ProdDate: $("#txts-ProdDate").val(),
                        PosType: $("#cmbs-PosType").val(),
                        ProdLine: $("#cmbs-LineId").val(),
                        SHIFT: $("#cmbs-ShiftType").val()
                    },
                    success: function (result) {
                        if (result.result.split("-")[0] == "DONE") {
                            setMessage("MCEDSTD002I", "POS Inquiry Download;" + result.result.split("-")[1], function () { return });
                        } else {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        }
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            }
            )
        };

        CED020200WdoGenerateDetail = function () {
            setMessage('MCEDSTD004C', null, function () {
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchDownload")",
                    data: {
                        ProdDate: $("#txts-ProdDate").val(),
                        PosType: $("#cmbs-PosType").val(),
                        ProdLine: $("#cmbs-LineId").val()
                    },
                    success: function (result) {
                        if (result.result.split("-")[0] == "DONE") {
                            setMessage("MCEDSTD002I", "POS Detail Download;" + result.result.split("-")[1], function () { return });
                        } else {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        }
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            })
        };

        CED020200InquiryPOSAllReport = function () {
            var prodDateVal = $("#txts-ProdDateReport").val();
            var reportOptionVal = $('input[name="reportOption"]:checked').val();
            var shiftVal = $("#inputShift").val();
            var lineVal = $("#inputLine").val();

            var packingLineVal = '';
            $("#inputPackingLine option:selected").each(function (i, sel) { packingLineVal += packingLineVal === '' ? sel.value : ',' + sel.value });

            if (reportOptionVal == undefined) {
                getMessage("I", "Choose Option Report", function () { return });
                return;
            }
            else if (prodDateVal == 'undefined' || prodDateVal == "") {
                getMessage("I", "Production Date should not be empty", function () { return });
                return;
            }

            if (reportOptionVal == 'POS InHouse' && packingLineVal == '')
            {
                getMessage("I", "Packing Line should not be empty", function () { return });
                return;
            }
            //else if ((reportOptionVal == "POS Jundate") && (shiftVal == 'undefined' || shiftVal == "")) {
            //    getMessage("I", "Choose Shift", function () { return });
            //    return;
            //}
            //else if ((reportOptionVal == "POS Jundate" ) && (lineVal == 'undefined' || lineVal == "")) {
            //    getMessage("I", "Choose Prod Line", function () { return });
            //    return;
            //}
            else {
                ClearPopUpReport();
                //Pop Up Message
                setMessage('MCEDSTD001C', null, function () {
                    var mode = $('#mode').val();
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchAllReport")",
                        data: {
                            ProdDate: prodDateVal,
                            PosType: reportOptionVal,
                            SHIFT: shiftVal,
                            ProdLine: lineVal,
                            ZoneCode: packingLineVal
                        },
                        //beforeSubmit: showLoading(),
                        success: function (result) {
                            //Pop Up Message
                            if (result.result != undefined && result.result.split("-")[0] == "DONE") {
                                setMessage("MCEDSTD002I", reportOptionVal + " Report;" + result.result.split("-")[1], function () {
                                    afterSave();
                                    $('#report-all-popup-modal').modal('hide')
                                });
                            } else {
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                            }
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });
            }
        }

        CED020200WdoForce = function () {
            alert("TIDAK ADA PENJELASAN DI DR");
        };

        CED020200WdoPopupUpload = function () {
            $('#upload-popup-modal').modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#txtUploadFile").val("");
        };

        CED020200WDetail = function (obj) {
            $(".btn-Dialog-OK").click();
            $('#detail-popup-modal').modal({
                backdrop: 'static',
                keyboard: false
            });
            var valDetail = $(obj).attr("value");
            getShowDetail010202W(valDetail);

        };

        function getShowDetail010202W(valDetail) {
            var funcID = "CED020200W";
            var page = page != undefined ? (page != '' || page != null ? page : 1) : 1;
            var pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : 10;
            showLoading();
            $.ajax({
                type: 'POST',
                url: 'CED020200W/CED020200WSearchDataDetail',
                data: {
                    ProdDate: valDetail.split("|")[0],
                    PosType: valDetail.split("|")[3],
                    ZoneCode: valDetail.split("|")[2],
                    ProdLine: valDetail.split("|")[1]
                },
                success: function (result) {
                    $('#tablegriddet010202').html(result);
                    $("#lbl-ProdDate").val(valDetail.split("|")[0]);
                    $("#lbl-ProdDay").val(valDetail.split("|")[1]);
                    //$("#lbl-ProdLine").val(valDetail.split("|")[2]);
                    $("#lbl-POSType").val(valDetail.split("|")[3]);
                    var lineCode = $("#hidLineCode").val();
                    if (lineCode == "EA" || lineCode == "EC") {
                        $(".engineType").show();
                        $(".NonengineType").hide();
                    } else {
                        $(".engineType").hide();
                        $(".NonengineType").show();
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED020200WdoUploadFile = function () {
            // common javascript
            if ($('input[name="POSType"]:checked').val() == undefined) {
                getMessage("I", "Choose POS Type Upload", function () { return });
                return;
            }
            var sts = checkFile();
            if (sts == 0) {
                setMessage('MCEDSTD001C', null, function () {
                    var dataForm = new FormData($('#formUploadFile')[0]);
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: "@Html.Toyota().Page.GetActionUrl("UploadFile")",
                        data: dataForm,
                        processData: false, //Important!
                        contentType: false,
                        cache: false,
                        //beforeSubmit: showLoading(),
                        success: function (result) {
                            if (result.fileName != "" && result.fileName != undefined) {
                                CED020200WdoSendBatch(result.fileName);
                            }
                            else {
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                            }
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                })
            }
        }

        CED020200WdoDeleteDetail = function () {
            var params = new Object();
            var data = new Object();
            params.data = data;
            data.LIST_DELETE = [];
            data.POS_TYPE = $('#lbl-POSType').val();
            data.PROD_DATE = $('#lbl-ProdDate').val();

            var count = $('#tScrollBodyDetail').find('input:checked').length;

                for (i = 0; i < count; i++) {
                    var dtl = new Object();
                    var detailZoneCd = $('#tblScrolldetail input:checked').map(function () { return $(this).closest('tr').find('td:eq(2)').text(); }).get();
                    dtl.ZoneCode = detailZoneCd[i];
                    var detailRenban = $('#tblScrolldetail input:checked').map(function () { return $(this).closest('tr').find('td:eq(11)').text(); }).get();
                    dtl.CONTAINER_SNO = detailRenban[i];
                    var detailShooterNo = $('#tblScrolldetail input:checked').map(function () { return $(this).closest('tr').find('td:eq(5)').text(); }).get();
                    dtl.SHOOTER_NO = detailShooterNo[i];
                    var detailLotModNo = $('#tblScrolldetail input:checked').map(function () { return $(this).closest('tr').find('td:eq(8)').text(); }).get();
                    dtl.LOT_MODULE_NO = detailLotModNo[i];
                    var detailCaseNo = $('#tblScrolldetail input:checked').map(function () { return $(this).closest('tr').find('td:eq(9)').text(); }).get();
                    dtl.CASE_NO = detailCaseNo[i];
                    var detailActSt = $('#tblScrolldetail input:checked').map(function () { return $(this).closest('tr').find('td:eq(21)').text(); }).get();
                    dtl.ACT_START = detailActSt[i];
                    data.LIST_DELETE.push(dtl);
            }

            if (count < 1) {
                setMessage('MCEDSTD002E', null, function () { return; });
            }
            else {

                setMessage('MCEDSTD003C', null, function () {
                    $.ajax({
                        type: "POST",
                        url: "@Html.Toyota().Page.GetActionUrl("CED020200WDeleteDataDetail")",
                        contentType: "Application/json",
                        dataType: "json",
                        traditional: true,
                        data: JSON.stringify(params),
                        success: function (result) {
                            //Pop Up Message
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                                $('#detail-popup-modal').modal('hide');
                                CED020200WdoSearch();
                            });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                })
            }
        }


        CED020200WdoDownloadTemplate = function () {
            if ($('input[name="POSType"]:checked').val() == undefined) {
                getMessage("I", "Choose Type Template", function () { return });
                return;
            }
            var typeUpload = $('input[name="POSType"]:checked').val();
            var templateName = '';
            if (typeUpload == "POS Final") {
                templateName += "CED020100B";
            } else if (typeUpload == "POS Prepare") {
                templateName += "CED020900B";
            } else if (typeUpload == "POS Jundate") {
                templateName += "CED021100B";
            }
            getTemplate(templateName);
        }

        CED020200WdoSendBatch = function (fileName) {
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchUpload")",
                data: {
                    filename: fileName,
                    type: $('input[name="POSType"]:checked').val()
                },
                success: function (result) {
                    if (result.result.split("-")[0] == "DONE") {
                        setMessage("MCEDSTD002I", "POS Upload;" + result.result.split("-")[1], function () {
                            $('.input-ghost').val(null);
                            $(".input-file").find('input').val('');
                            CED020200WdoClear();
                        });
                    } else {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                }
            });
        }

        var x = 0;
        function doApplyFrozenGrid() {
            x = 0;
            $(".frozen_row").css("z-index", "10");
            $(".frozen_row").css("position", "relative");
            $(".frozen_row").css({ 'background-color': 'white' });
            $(".frozen_header").css("z-index", "10");
            $(".frozen_header").css("position", "relative");
            $(".frozen_header").css({ 'background-color': 'white' });
            $("#tScrollBody").on("scroll", function () {
                var moveX = $("#tScrollBody").scrollLeft();
                if (x != moveX) {
                    x = moveX * -1;
                    $(".dynamic_header").css({ transform: 'translateX(' + x + 'px)' });
                    $(".frozen_row").css("left", moveX);
                }
            });
        }

        function generateROEMPopup() {
            $('#roem-popup-modal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        function ClearPopUp() {
            $("#cb-PlantCode").val("");
            $("#txt-POSDateFrom").val("");
            $("#txt-PlanPackDateTo").val("");
        }

        function ClearPopUpReport() {
            $("input[name='reportOption']").prop("checked", false);
            $("#txts-ProdDateReport").datepicker('setDate', null);
            $("inputShift").val("");
            $("inputLine").val("");

            // Reset Prod Line & Packing Line dropdowns
            var prodLine = $("#div-prodLine");
            var packingLine = $("#div-packingLine");
            prodLine.addClass('hidden');
            packingLine.removeClass('hidden');
            packingLine.find('option:selected').each(function (i, sel) { $(sel).prop('selected', false); });
        }

        function CancelPopUpReport() {
            ClearPopUpReport();
            $('#report-all-popup-modal').modal('hide');
        }

        function generateROEM() {
            if ($("#cb-PlantCode").val() == "") {
                setMessage("MCEDSTD005E", "Plant Code", function () { return });
                return;
            }

            if ($("#txt-POSDateFrom").val() == "") {
                setMessage("MCEDSTD005E", "Plan Packing Date", function () { return });
                return;
            }

            //if ($("#txt-PlanPackDateTo").val() == "") {
            //    setMessage("MCEDSTD005E", "Plan Packing Date To", function () { return });
            //    return;
            //}

            dt1 = new Date(ReformatDate($("#txt-POSDateFrom").val()));
            //dt2 = new Date(ReformatDate($("#txt-PlanPackDateTo").val()));

            //if (dt1 > dt2) {
            //    setMessage('MCEDSTD000E', 'Date to must be greater than Date from', function () { return });
            //    return;
            //}

            //var param1 = 'CED020200W';
            //var param2 = 'PARAMETER';
            //var param3 = 'DATE_RANGE';
            //var query = ['TOP 1 SYS_VAL', 'TB_M_SYSTEM', 'SYS_CAT = \'' + param1 + '\' AND SYS_SUB_CAT = \'' + param2 + '\' AND SYS_CD = \'' + param3 + '\''];
            //var result = getData(query);

            //if (diff_days(dt1, dt2) > parseInt(result)) {
            //    var newDate = new Date(ReformatDate($("#txt-POSDateFrom").val()));
            //    newDate.setDate(newDate.getDate() + parseInt(result))

            //    var dd = newDate.getDate();
            //    var mm = newDate.getMonth();
            //    var yyyy = newDate.getFullYear();
            //    $("#txt-PlanPackDateTo").val(nextDate(dd + "-" + mm + "-" + yyyy));

            //    setMessage('MCEDSTD000E', "Range Date can't more than " + result + " days", function () { return });
            //    return;
            //}

            showLoading();
            $.ajax({
                type: 'POST',
                url: 'CED020200W/SendParamBatchDownloadROEM',
                data: {
                    PlantCd: $("#cb-PlantCode").val(),
                    DateFrom: $("#txt-POSDateFrom").val()
                    //DateTo: $("#txt-PlanPackDateTo").val()
                },
                success: function (result) {
                    if (result.result?.split("-")[0] == "DONE") {
                        setMessage("MCEDSTD002I", "Release POS;" + result.result.split("-")[1], function () { return });
                        hideLoading();
                    } else {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        hideLoading();
                    }
                    ClearPopUp();
                    $('#roem-popup-modal').modal("hide");
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        function diff_days(dt2, dt1) {

            var diff = (dt2.getTime() - dt1.getTime()) / 1000;
            diff /= (60 * 60 * 24);
            return Math.abs(Math.round(diff));

        }

        function nextDate(str) {
            var Month = str.split("-");

            //var DateFrom = DateConversion(e.target.value);
            //var Month = DateFrom.split('/');

            var month_names = ["Jan", "Feb", "Mar",
                      "Apr", "May", "Jun",
                      "Jul", "Aug", "Sep",
                      "Oct", "Nov", "Dec"];

            var settfr = new Date(Month[2], Month[1], Month[0]);
            settfr.setMonth(settfr.getMonth());

            var d = settfr.getDate();
            var m = settfr.getMonth();
            var y = settfr.getFullYear();

            return "" + d + "-" + month_names[m] + "-" + y;
        }

        function ReformatDate(str) {
            var arr = str.split("-");
            var m;
            switch (arr[1]) {
                case "Jan":
                    m = "January";
                    break;
                case "Feb":
                    m = "February";
                    break;
                case "Mar":
                    m = "March";
                    break;
                case "Apr":
                    m = "April";
                    break;
                case "May":
                    m = "May";
                    break;
                case "Jun":
                    m = "June";
                    break;
                case "Jul":
                    m = "July";
                    break;
                case "Aug":
                    m = "August";
                    break;
                case "Sep":
                    m = "September";
                    break;
                case "Oct":
                    m = "October";
                    break;
                case "Nov":
                    m = "November";
                    break;
                case "Dec":
                    m = "December";
            }
            return m + " " + arr[0] + ", " + arr[2] + " 00:00:00";
        }

        //$("input[name$='reportOption']").click(function () {
        //    var reportType = $(this).val();
        //    var divShift = document.getElementById("div-shift");
        //    var divProdLine = document.getElementById("div-prodLine");
        //    var labelShift = document.getElementById("ShiftLabel");

        //    if (reportType == "POS InHouse")
        //    {
        //        divShift.style.display = "block";
        //        divProdLine.style.display = "none";
        //        labelShift.textContent = "Shift";
        //    }
        //    else if (reportType == "POS Prepare Module")
        //    {
        //        divShift.style.display = "none";
        //        divProdLine.style.display = "none";
        //        labelShift.textContent = "*Shift";
        //    }
        //    else if (reportType == "POS Jundate")
        //    {
        //        divShift.style.display = "block";
        //        divProdLine.style.display = "block";
        //        labelShift.textContent = "*Shift";
        //    }
        //    else if (reportType == "POS OutHouse")
        //    {
        //        divShift.style.display = "block";
        //        divProdLine.style.display = "none";
        //        labelShift.textContent = "Shift";
        //    }
        //});
    </script>
}