﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED020200W
@using IPOS.Models.Common
@model GenericModel<CED020200W>



<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important; table-layout: fixed">
                    <colgroup>
                        <col width="25px" />
                        <col width="40px" />
                        <col width="40px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="40px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th rowspan="2" class="grid-checkbox-col frozen_header">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )" />
                            </th>
                            <th rowspan="2" class="frozen_header">Prod Date</th>
                            <th rowspan="2" class="frozen_header">Prod Day</th>
                            <th rowspan="2" class="frozen_header">POS Type</th>
                            <th rowspan="2" class="frozen_header">Prod Line</th>
                            <th rowspan="2" class="frozen_header">Shift</th>
                            <th colspan="25" class="dynamic_header">Packing Sequence</th>
                        </tr>
                        <tr>
                            <th class="dynamic_header">1</th>
                            <th class="dynamic_header">2</th>
                            <th class="dynamic_header">3</th>
                            <th class="dynamic_header">4</th>
                            <th class="dynamic_header">5</th>
                            <th class="dynamic_header">6</th>
                            <th class="dynamic_header">7</th>
                            <th class="dynamic_header">8</th>
                            <th class="dynamic_header">9</th>
                            <th class="dynamic_header">10</th>
                            <th class="dynamic_header">11</th>
                            <th class="dynamic_header">12</th>
                            <th class="dynamic_header">13</th>
                            <th class="dynamic_header">14</th>
                            <th class="dynamic_header">15</th>
                            <th class="dynamic_header">16</th>
                            <th class="dynamic_header">17</th>
                            <th class="dynamic_header">18</th>
                            <th class="dynamic_header">19</th>
                            <th class="dynamic_header">20</th>
                            <th class="dynamic_header">21</th>
                            <th class="dynamic_header">22</th>
                            <th class="dynamic_header">23</th>
                            <th class="dynamic_header">24</th>
                            <th class="dynamic_header">25</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--if Row Search Criteria More Than 2, Then set Height = 270px Else Height = 300px -->
            <div id="tScrollBody" style="overflow-y: scroll; height: 270px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important; table-layout: fixed">
                    <colgroup>
                        <col width="25px" />
                        <col width="40px" />
                        <col width="40px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="40px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                        <col width="25px" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED020200W item in Model.DataList)
                                    {
                                        <tr id="DataRow" class="tr-grid-detail">
                                            <td class="text-center grid-checkbox-col frozen_row">
                                                <input type="checkbox" id="checkDetail" class="grid-checkbox grid-checkbox-body eView" onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))"
                                                    data-POS_TYPE="@item.POS_TYPE"
                                                    data-PROD_DATE="@item.PROD_DATE"
                                                    data-PROD_LINE="@item.PROD_LINE"
                                                    data-SHIFT="@item.PROD_DAY.Split('|')[1]"
                                                />
                                            </td>
                                            <td class="text-center frozen_row">@item.PROD_DATE</td>
                                            <td class="text-center frozen_row">@item.PROD_DAY.Split('|')[0]</td>
                                            <td class="text-center frozen_row">@item.POS_TYPE</td>
                                            <td class="text-center frozen_row"><a href="#" onclick="CED020200WDetail(this)" value="@item.PROD_DATE|@item.PROD_DAY.Split('|')[1]|@item.PROD_LINE|@item.POS_TYPE">@item.PROD_LINE</a></td>
                                            @{
                                            var shift = "";
                                            if (item.PROD_DAY.Split('|')[1] == "1")
                                            {
                                                shift = "DAY";
                                            }
                                            else if (item.PROD_DAY.Split('|')[1] == "2")
                                            {
                                                shift = "NIGHT";
                                            }
                                            }
                                            <td class="text-center frozen_row">@shift</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_1BG">@item.SEQ_NO_1</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_2BG">@item.SEQ_NO_2</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_3BG">@item.SEQ_NO_3</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_4BG">@item.SEQ_NO_4</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_5BG">@item.SEQ_NO_5</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_6BG">@item.SEQ_NO_6</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_7BG">@item.SEQ_NO_7</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_8BG">@item.SEQ_NO_8</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_9BG">@item.SEQ_NO_9</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_10BG">@item.SEQ_NO_10</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_11BG">@item.SEQ_NO_11</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_12BG">@item.SEQ_NO_12</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_13BG">@item.SEQ_NO_13</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_14BG">@item.SEQ_NO_14</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_15BG">@item.SEQ_NO_15</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_16BG">@item.SEQ_NO_16</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_17BG">@item.SEQ_NO_17</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_18BG">@item.SEQ_NO_18</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_19BG">@item.SEQ_NO_19</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_20BG">@item.SEQ_NO_20</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_21BG">@item.SEQ_NO_21</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_22BG">@item.SEQ_NO_22</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_23BG">@item.SEQ_NO_23</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_24BG">@item.SEQ_NO_24</td>
                                            <td class="text-center" style="background-color: @item.SEQ_NO_25BG">@item.SEQ_NO_25</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="30" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

                <script>
                    doApplyFrozenGrid();
                </script>

            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="30">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //$("#tScrollBody").scroll(function () {
    //    $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    //});

    @{
    if (Model.DataList != null && Model.DataList.Any())
    {
        Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                        "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                        "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                        "if(btnEdit.length>0)" +
                        "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                        "if(btnDelete.length>0)" +
                        "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                        "if(btnDownload.length>0)" +
                        "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                    );
    }
    else
    {
        Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                        "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                        "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                        "if(btnEdit.length>0)" +
                        "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                        "if(btnDelete.length>0)" +
                        "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                        "if(btnDownload.length>0)" +
                        "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                    );
    }
}
</script>
