﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED020200W
@using IPOS.Models.Common
@model GenericModel<CED020200WDetail>
@using IPOS.Controllers;



<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHeadDetail" style="width: calc(100% - 16px); overflow: hidden;">
                <table id="dynamic-table-detail" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">
                    <colgroup>
                        <col width="25px" />
                        <col width="35px" />
                        <col width="50px" />
                        <col width="50px" class="engineType" />
                        <col width="50px" class="engineType" />
                        <col width="50px" class="NonengineType" />
                        <col width="50px" class="NonengineType" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th rowspan="2" class="grid-checkbox-col detail_header">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScrolldetail'),'checkDetail' )" />
                            </th>
                            <th rowspan="2">No</th>
                            <th rowspan="2">Line</th>
                            <th rowspan="2" class="engineType">Type</th>
                            <th rowspan="2" class="engineType">PcsQty</th>
                            <th rowspan="2" class="NonengineType">Shutter<br />No</th>
                            <th rowspan="2" class="NonengineType">Box<br />Qty</th>
                            <th rowspan="2">Dest</th>
                            <th rowspan="2">Lot/<br />Module No</th>
                            <th rowspan="2">Case</th>
                            <th rowspan="2">Shift</th>
                            <th rowspan="2">Renban</th>
                            <th rowspan="2">Mod Type</th>
                            <th rowspan="2">M3</th>
                            <th rowspan="2">Ratio</th>
                            <th colspan="2">Plan</th>
                            <th colspan="3">Packing Process</th>
                            <th colspan="6">Packing Result</th>
                            <th rowspan="2">Status</th>
                        </tr>
                        <tr>
                            <th>Time</th>
                            <th>CT</th>
                            <th>Proc</th>
                            <th>Act</th>
                            <th>Delay</th>
                            <th>No</th>
                            <th>Start</th>
                            <th>Finish</th>
                            <th>Actual</th>
                            <th>Blc</th>
                            <th>Cumm</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBodyDetail" style="overflow: scroll; height: 270px;">
                <table id="tblScrolldetail" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">
                    <colgroup>
                        <col width="25px" />
                        <col width="35px" />
                        <col width="50px" />
                        <col width="50px" class="engineType" />
                        <col width="50px" class="engineType" />
                        <col width="50px" class="NonengineType" />
                        <col width="50px" class="NonengineType" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="50px" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    var totalkanban = 0;
                                    foreach (CED020200WDetail item in Model.DataList)
                                    {
                                        var bgcolor = "";
                                        if (item.Status == "Finish")
                                        {
                                            bgcolor = "background-color: blue";
                                        }
                                        else if (item.Status == "On Progress")
                                        {
                                            bgcolor = "background-color: orange";
                                        }
                                        else if (item.Status == "Ready")
                                        {
                                            bgcolor = "background-color: green";
                                        }
                                        else if (item.Status == "Not Ready")
                                        {
                                            bgcolor = "background-color: red";
                                        }
                                        <tr id="DataRow" class="tr-grid-detail">
                                            <td class="text-center grid-checkbox-col detail_row">
                                                <input type="checkbox" id="checkDetail" class="grid-checkbox grid-checkbox-body eView" onchange="javascript:checkboxDetail($('#tblScrolldetail'),'checkDetail',$('#tScrollHeadDetail #dynamic-table-detail').find('#checkall'))" />
                                            <td class="text-center">@item.No</td>
                                            <td class="text-center">@item.ShutterNo.Split('|')[1]</td>
                                            <td class="text-center engineType">@item.Type</td>
                                            <td class="text-center engineType">@item.PcsQty</td>
                                            <td class="text-center NonengineType">@item.ShutterNo.Split('|')[0]</td>
                                            <td class="text-center NonengineType">@item.QtyBox</td>
                                            <td class="text-center">@item.Dest</td>
                                            <td class="text-center">@item.Lot</td>
                                            <td class="text-center">@item.Case</td>
                                            <td class="text-center">@item.shift</td>
                                            <td class="text-center">@item.Renban</td>
                                            <td class="text-center">@item.ModType</td>
                                            <td class="text-center">@item.M3</td>
                                            <td class="text-center">@item.Ratio</td>
                                            <td class="text-center">@item.PlanTime</td>
                                            <td class="text-center">@item.PlanCT</td>
                                            <td class="text-center">@item.PackProcessProc</td>
                                            <td class="text-center">@item.PackProcessAct</td>
                                            <td class="text-center">@item.PackProcessDelay</td>
                                            <td class="text-center">@item.PackResultNo</td>
                                            <td class="text-center">@item.PackResultStart</td>
                                            <td class="text-center">@item.PackResultFinish</td>
                                            <td class="text-center">@item.PackResultActual</td>
                                            <td class="text-center">@item.PackResultBlc</td>
                                            <td class="text-center">@item.PackResultCumm</td>
                                            <td class="text-center" style="@bgcolor">@item.Status</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="26" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            @*<div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="23">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>*@
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#tScrollBodyDetail").scroll(function () {
        $("#tScrollHeadDetail").scrollLeft($("#tScrollBodyDetail").scrollLeft());
    });

    $(document).ready(function () {
        $("#lbl-ProdLine").val("@ViewBag.LineName");
        $("#hidLineCode").val("@ViewBag.LineCode");

        //document.getElementById('ButtonHeader').appendChild(
        //        document.getElementById('ButtonChild')
        //      );

        //$('#ButtonChild').css('display', 'block');
    });
</script>