﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayoutNoMenuTheme;
}

@section HeadScript{
}

<div class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="twelve columns">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table width="100%">
                    <tr>
                        <td>
                            <h4>PT. TMMIN</h4>
                        </td>
                        <td style="text-align: center">
                            <h3>
                                MODULE SCAN ACTUAL CONTROL
                                <br />ENGINE & COMPONENT EXPORT
                            </h3>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th width="33%" style="font-size: 1.2em;height: 40px;">ENGINE ASSY</th>
                            <th width="33%" style="font-size: 1.2em;height: 40px;">EC. CYLINDER BLOCK</th>
                            <th width="33%" style="font-size: 1.2em;height: 40px;">EC. CYLINDER HEAD</th>
                        </tr>
                    </thead>
                    <tr style="height: 150px; font-weight: bold">
                        <td style="text-align: center; vertical-align: middle; font-size: 7em"><span id="EngineAssy"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: 7em"><span id="CylinderBlock"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: 7em"><span id="CylinderHead"></span></td>
                    </tr>
                    <thead>
                        <tr>
                            <th width="33%" style="font-size: 1.2em;height: 40px;">EC. CRANKSHAFT</th>
                            <th width="33%" style="font-size: 1.2em;height: 40px;">EC. CAMSHAFT</th>
                            <th width="33%" style="font-size: 1.2em;height: 40px;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tr style="height: 150px; font-weight: bold">
                        <td style="text-align: center; vertical-align: middle; font-size: 7em"><span id="Crankshaft"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: 7em"><span id="Camsharf"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: 7em">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
        $(function () {
            LoadData();

            var interval = "@ViewBag.Interval";
            setInterval(function () {
                LoadData();
            }, parseInt(interval) * 60000);
        });

        function LoadData() {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadData", "CED010204W")",
                success: function (result) {
                    if (result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            if (result[i][0].Value == "Engine Assy") {
                                $("#EngineAssy").text(result[i][1].Value);
                            }
                            else if (result[i][0].Value == "Cylinder Head") {
                                $("#CylinderHead").text(result[i][1].Value);
                            }
                            else if (result[i][0].Value == "Crankshaft") {
                                $("#Crankshaft").text(result[i][1].Value);
                            }
                            else if (result[i][0].Value == "Cylinder Block") {
                                $("#CylinderBlock").text(result[i][1].Value);
                            }
                            else if (result[i][0].Value == "Camsharf") {
                                $("#Camsharf").text(result[i][1].Value);
                            }
                        }
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }
    </script>
}