﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED010003W
@using IPOS.Models.Common
@model GenericModel<CED010003W>
<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 1720px !important;">
                    <colgroup>
                        <col width="2%" />
                        <col width="8%" />
                        <col width="20%" />
                        <col width="30%" />
                        <col width="10%" />
                        <col width="10%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Process ID</th>
                            <th>Function Name</th>
                            <th>Filename</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--if Row Search Criteria More Than 2, Then set Height = 270px Else Height = 300px -->
            <div id="tScrollBody" style="overflow-y: scroll; height: 270px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 1720px !important;">
                    <colgroup>
                        <col width="2%" />
                        <col width="8%" />
                        <col width="20%" />
                        <col width="30%" />
                        <col width="10%" />
                        <col width="10%" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED010003W item in Model.DataList)
                                    {
                                        <tr id="DataRow" class="tr-grid-detail">
                                            <td class="text-center">@item.NUMBER</td>
                                            <td class="text-center">@item.ProcessId</td>
                                            <td class="text-left">@item.FunctionId</td>
                                            <td class="text-left"><a href="#" onclick="downloadFile('@item.Filename');">@item.Filename</a></td>
                                            <td class="text-left">@item.CreatedBy</td>
                                            <td class="text-center">@item.CreatedDate</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="6" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#tScrollBody").scroll(function () {
$("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
});
</script>
