﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED010100WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED010100WGrid")
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED010100W";

        $(document).ready(function () {
            CED010100WdoInit();
        });

        CED010100WdoInit = function () {
            initialMode();
        }

        CED010100WdoClear = function () {
            clearMode();
            CED010100WdoSearchClear();
        }

        CED010100WdoSearchClear = function () {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED010100WSearchNoData")",
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED010100WdoInit();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010100WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010100WSearchData")",
                data: {
                    ProdDate: $("#txts-ProdDate").val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010100WdoGenerate = function () {
            setMessage('MCEDSTD004C', null, function () {
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchDownload")",
                    data: null,
                    success: function (result) {
                        if (result.result.split("-")[0] == "DONE") {
                            setMessage("MCEDSTD002I", "Cycle Time Process;" + result.result.split("-")[1], function () { return });
                        } else {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        }
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            }
            )
        };
    </script>
}