﻿<style>
    table thead tr th {
        padding: 1px;
        font-size: 12px;
    }

    table tbody tr td {
        padding: 1px;
        font-size: 12px;
    }
    
    div.panel2 {
        padding: 5px;
        font-size: 14px;
        margin-top:5px;
    }
</style>

<div class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="twelve columns">&nbsp;</div>
        </div>

        <div class="row">
            <div class="four columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%" style="margin-bottom: 5px;">
                    <thead>
                        <tr>
                            <th><span >KANBAN ID</span></th> @*style="font-size:1vw;"*@
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <input type="text" id="txt-KanbanID" class="form-control eView" placeholder="KANBAN ID" onkeypress="return searchKeyPress(event)" style="text-align: center" autofocus />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="two columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <tr>
                        <td>
                            <button id="btnSubmit" type="button" class="button primary expand" onclick="processData()">SUBMIT</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="four columns">
                &nbsp;
            </div>
            <div class="two columns text-right">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <tr>
                        <td>
                            <button id="btnFinish" type="button" class="button primary expand" onclick="processFinish()">FINISH</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="row">
            <div class="twelve columns">
                <div class="panel2" style="text-align: left;margin-top: 0px;">
                    INFO : <span id="lbl-Info" style="color: white; background-color: red"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%" style="margin-bottom:0;">
                    <thead>
                        <tr>
                            <th><span>PROBLEM ID</span></th>
                            <th><span>UNIQUE</span></th>
                            <th colspan="3"><span>PART NO</span></th>
                            <th><span>SUPP</span></th>
                            <th><span>KBN PROBLEM</span></th>
                            <th><span>KBN RELEASE</span></th>
                        </tr>
                    </thead>
                    <tr>
                        <td height="38px" width="240px" style="text-align: center; vertical-align: middle"><span id="lbl-ProblemId" style="font-size: 2.5em; font-weight: bold; font-size:2vw;"></span></td>
                        <td width="120px" style="text-align: center; vertical-align: middle"><span id="lbl-Unique" style="font-size: 2.5em; font-weight: bold; font-size:2vw;"></span></td>
                        <td colspan="3" width="300px" style="text-align: center; vertical-align: middle"><span id="lbl-PartNo" style="font-size: 2.5em; font-weight: bold; font-size:2vw;"></span></td>
                        <td width="120px" style="text-align: center; vertical-align: middle"><span id="lbl-Supp" style="font-size: 2.5em; font-weight: bold; font-size:2vw;"></span></td>
                        <td rowspan="2" width="150px" style="text-align: center; vertical-align: middle"><span id="lbl-KbnProblem" style="font-size: 3.5em; font-weight: bold; font-size:3vw;"></span></td>
                        <td rowspan="2" width="150px" style="text-align: center; vertical-align: middle"><span id="lbl-KbnRelease" style="font-size: 3.5em; font-weight: bold; font-size:3vw;"></span></td>
                    </tr>
                    <tr>
                        <td style="height: 20px" class="text-left"><span id="lbl-ProblemName"></span></td>
                        <td colspan="4" align="left"><span id="lbl-PartName" style="font-size: 1em"></span></td>
                        <td class="text-center"><span id="lbl-SuppCode"></span></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="five columns">
                <div class="panel2">PROBLEM IMAGE 1</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%" style="margin-bottom: 0px;">
                    <tr>
                        <td style="height: 290px"><img id="lbl-ImgProblem1" style="width: 100%; height: 100%" /></td>

                        @*<td style="height: 200px"><span id="lbl-ImgProblem1">
                            <img src="@Url.Content("~/Content/Images/Login/vios.jpg")" width="100%" height="100%" /></span></td>*@
                    </tr>
                </table>

                <div class="panel2">PROBLEM IMAGE 2</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <tr>
                        <td style="height: 290px"><img id="lbl-ImgProblem2" style="width: 100%; height: 100%" /></td>

                        @*<td style="height: 200px"><span id="lbl-ImgProblem2">
                            <img src="@Url.Content("~/Content/Images/Login/vios.jpg")" width="100%" height="100%" /></span></td>*@
                    </tr>
                </table>
            </div>

            <div class="seven columns">
                <div class="panel2">DETAIL RELEASE KANBAN</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%" id="tblGrid">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>KANBAN ID</th>
                            <th>QTY</th>
                            <th>LAST POSITION</th>
                            <th>LINE</th>
                            <th>CANCEL</th>
                        </tr>
                    </thead>
                    <tbody id="gridData">
                        @*<tr>
                            <td style="height: 32px"><span id="txt-No"></span></td>
                            <td><span id="txt-Kanban"></span></td>
                            <td align="right"><span id="txt-Qty"></span></td>
                            <td><span id="txt-Position"></span></td>
                            <td><span id="txt-Line"></span></td>
                            <td>
                                </td>
                        </tr>*@
                        @*@{
                            for (var i = 0; i < 5; i++)
                            {
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }
                        }*@
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
