﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayoutNoMenuTheme1024;
}

@section HeadScript{
}


<div id="tablegrid">
    @Html.Partial("CED071300WGrid")
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED071300W";
        var Uploadcheck;
        var DibpNo = 0, intQtyKbn = 0, tickCount = 0, cT = 0, intCount = 0, mLblCt = 0, Ctime = 0;
        var IsPrt = false;
        var CountTd = 1;

        $(document).ready(function () {
            if ($.cookie("nameClosing") == undefined) {
                location.href = "Boxing_Login";
            }

            CED071300WdoInit();
            $("#txt-KanbanID").focus();
            $("#lbl-Info").text("");
        });

        CED071300WdoInit = function () {
            initialMode();
            CED071300WdoSearch();
        }

        $(document).click(function () {
            $("#txt-KanbanID").focus();
        });

        CED071300WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            $.ajax({
                type: 'POST',
                @*url: "@Html.Toyota().Page.GetActionUrl("CED071300WSearchData")",*@
                url: "@Url.Action("CED071300WSearchData", "CED071300W")",
                data: null,
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    $("#txt-KanbanID").focus();
                    $("#lbl-Info").text("");
                },
                error: function (result) {
                    //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                },
                complete: function (result) {
                    //hideLoading();
                }

            });
        }

        CED071300WSearch = function (page) {
            //showLoading();
            $.ajax({
                type: 'POST',
                @*url: "@Html.Toyota().Page.GetActionUrl("CED071300WSearchDetail")",*@
                url: "@Url.Action("CED071300WSearchDetail", "CED071300W")",
                data: null,
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    $("#lbl-Info").text("");
                },
                error: function (result) {
                    //getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                },
                complete: function (result) {
                    //hideLoading();
                }
            });
        }

        function processData() {
            var flag = 0;
            var parKanbanId = "";

            if ($("#lbl-ProblemId").text() == '') {
                getMessageNoMenu("E", "MCEDSTD001E:No data found", function () { return });
                //$("#lbl-Info").text("MCEDSTD001E:No data found");
                setTimeout(function () {
                    $(".btnEPopup").click();
                    $("#txt-KanbanID").focus();
                }, 1000);

                return;
            }

            getMessage("C", "MCEDSTD001C:Are you sure you want to closed all records?", function () {
                $("#tblGrid tbody tr").each(function () {
                    //if (flag == 0) {
                    //    var paramQuery = ['TB_R_PROBLEM_D', 'PART_BARCODE = \'' + $(this).find("td:nth-child(2)").html() + '\' AND PROBLEM_ID = \'' + $('#lbl-ProblemId').text() + '\' AND CLOSING_DT IS NULL '];
                    //    var exist = checkExistCED071300W(paramQuery);
                    //    if (!exist) {
                    //        //getMessageNoMenu("E", "MCED071300002I:Kanban ID " + $(this).find("td:nth-child(2)").html() + " already closed by other user", function () { return });
                    //        $("#lbl-Info").text("MCED071300002I:Kanban ID " + $(this).find("td:nth-child(2)").html() + " already closed by other user");
                    //        flag = 1;

                    //        if (flag == 1) {
                    //            $("#txt-KanbanID").val("");
                    //            $("#txt-KanbanID").focus();
                    //        }

                    //    }

                        parKanbanId = parKanbanId + $(this).find("td:nth-child(2)").html() + "#";
                    //}
                });

                if (flag == 0) {
                    //showLoading();
                    $.ajax({
                        type: 'POST',
                        @*url: "@Html.Toyota().Page.GetActionUrl("CED071300WSaveData")",*@
                        url: "@Url.Action("CED071300WSaveData", "CED071300W")",
                        data: {
                            ProblemID: $('#lbl-ProblemId').text(),
                            PartBarcode: parKanbanId
                        },
                        success: function (result) {
                            //Pop Up Message
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                                afterSave();
                                clearRecord();
                            });
                        },
                        error: function (result) {
                            //getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                            $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                        },
                        complete: function (result) {
                            //hideLoading();
                        }
                    });
                }
                $("#txt-KanbanID").focus();
            });
        }

        function searchKeyPress(e) {
            e = e || window.event;
            if (e.keyCode == 13) {
                CheckValidateData();
                return false;
            }
            return true;
        }

        function CheckValidateData() {
            var KanbanID = $("#txt-KanbanID").val().replace(/-/g, "");
            //if (KanbanID.length > 12) {
            //    KanbanID = KanbanID.substring(0, 12);
            //}
            $("#lbl-Info").text("");
            nextDataProcess(KanbanID);
        }

        function nextDataProcess(KanbanID) {
            var flag = 0;
            //Check existing kanban from problem detail
            var paramQuery = ['TB_R_PROBLEM_D', 'PART_BARCODE = \'' + KanbanID + '\''];
            var exist = checkExistCED071300W(paramQuery);
            if (!exist) {
                //getMessageNoMenu("E", "MCEDSTD054E:Kanban id = " + KanbanID + " Not Found in TB_R_PROBLEM_D", function () { return });
                $("#lbl-Info").text("MCEDSTD039E:Data Not Found in Problem Detail Master, for value Kanban id = " + KanbanID + ".");
                $("#txt-KanbanID").val("");
                $("#txt-KanbanID").focus();
                flag = 1;
            }

            //Check existing kanban from table detail release kanban
            if (flag == 0) {
                $("#tblGrid tbody tr").each(function () {
                    if (KanbanID == $(this).find("td:nth-child(2)").html()) {
                        //getMessageNoMenu("E", "Kanban id = " + KanbanID + " already exist in Detail Release Kanban", function () { return });
                        $("#lbl-Info").text("MCEDSTD067E:Kanban id = " + KanbanID + " already exist in Detail Release Kanban");
                        flag = 1;

                        if (flag == 1) {
                            $("#txt-KanbanID").val("");
                            $("#txt-KanbanID").focus();
                        }
                    }
                });
            }

            //Check problem id from kanban
            if (flag == 0) {
                if ($('#lbl-ProblemId').text() != "") {
                    paramQuery = ['TB_R_PROBLEM_D', 'PART_BARCODE = \'' + KanbanID + '\' AND PROBLEM_ID = \'' + $('#lbl-ProblemId').text() + '\''];
                    exist = checkExistCED071300W(paramQuery);

                    if (!exist) {
                        var param1 = ['TOP 1 PROBLEM_ID', 'TB_R_PROBLEM_D', 'PART_BARCODE = \'' + KanbanID + '\''];
                        var ProblemExist = getData(param1);

                        //getMessageNoMenu("E", "MCED071300001E:Problem ID " + ProblemExist + " of Kanban " + KanbanID + " is not same with displayed Problem ID " + $('#lbl-ProblemId').text() + "", function () { return });
                        $("#lbl-Info").text("MCED071300001E:Problem ID " + ProblemExist + " of Kanban " + KanbanID + " is not same with displayed Problem ID " + $('#lbl-ProblemId').text() + "");
                        flag = 1;

                        if (flag == 1) {
                            $("#txt-KanbanID").val("");
                            $("#txt-KanbanID").focus();
                        }
                    }
                }
            }

            //Check reject status from kanban
            if (flag == 0) {
                var paramQuery = ['TB_R_PROBLEM_H A JOIN TB_R_PROBLEM_D B ON A.PROBLEM_ID = B.PROBLEM_ID AND A.PROBLEM_DT = (SELECT MAX(PROBLEM_DT) FROM TB_R_PROBLEM_H WHERE INITIAL_PART_BARCODE = A.INITIAL_PART_BARCODE)', 'PART_BARCODE = \'' + KanbanID + '\' AND PROBLEM_STS IN (5)'];
                var exist = checkExistCED071300W(paramQuery);
                if (exist) {
                    //getMessageNoMenu("E", "MCED071300002I:Kanban ID " + $(this).find("td:nth-child(2)").html() + " already closed by other user", function () { return });
                    $("#lbl-Info").text("MCED071300002I:Kanban ID " + KanbanID + " already reject by other user");
                    flag = 1;

                    if (flag == 1) {
                        $("#txt-KanbanID").val("");
                        $("#txt-KanbanID").focus();
                    }

                }
            }

            //Check problem id from kanban
            if (flag == 0) {
                var paramQuery = ['TB_R_PROBLEM_H A JOIN TB_R_PROBLEM_D B ON A.PROBLEM_ID = B.PROBLEM_ID AND A.PROBLEM_DT = (SELECT MAX(PROBLEM_DT) FROM TB_R_PROBLEM_H WHERE INITIAL_PART_BARCODE = A.INITIAL_PART_BARCODE)', 'PART_BARCODE = \'' + KanbanID + '\' AND PROBLEM_STS IN (3,4) AND CLOSING_DT IS NOT NULL '];
                var exist = checkExistCED071300W(paramQuery);
                if (exist) {
                    //getMessageNoMenu("E", "MCED071300002I:Kanban ID " + $(this).find("td:nth-child(2)").html() + " already closed by other user", function () { return });
                    $("#lbl-Info").text("MCED071300002I:Kanban ID " + KanbanID + " already closed by other user");
                    flag = 1;

                    if (flag == 1) {
                        $("#txt-KanbanID").val("");
                        $("#txt-KanbanID").focus();
                    }

                }
            }

            if (flag == 0) {
                //showLoading();
                $.ajax({
                    type: 'POST',
                    url: 'CED071300W/getKanbanID',
                    data: { KanbanID: KanbanID },
                    success: function (result) {
                        if (result.length > 0) {
                            showRecord(result);
                            $("#txt-KanbanID").val("");
                        } else {
                            clearRecord();
                            //getMessageNoMenu("E", "Data Not Found", function () { return });
                            $("#lbl-Info").text("MCEDSTD001E:No data found");
                        }
                    },
                    error: function (result) {
                        //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                    },
                    complete: function (result) {
                        //hideLoading();
                    }
                });
            }
        }

        function showRecord(data) {
            var pathImg = "@ViewBag.PathIMG";

            $("#lbl-ProblemId").text(data[0].ProblemID);
            $("#lbl-Unique").text(data[0].Unique);
            $("#lbl-PartNo").text(data[0].PartNo);
            $("#lbl-Supp").text(data[0].SupplierCd);
            $("#lbl-KbnProblem").text(data[0].KanbanProblem);
            $("#lbl-KbnRelease").text(data[0].KanbanRelease);
            $("#lbl-ProblemName").text(data[0].ProblemName);
            $("#lbl-PartName").text(data[0].PartName);
            $("#lbl-SuppCode").text(data[0].SupplierAvvreviation);
            $("#lbl-ImgProblem1").attr("src", data[0].ProblemImg1); //pathImg + 
            $("#lbl-ImgProblem2").attr("src", data[0].ProblemImg2); //pathImg + 
            
            $.ajax({
                type: 'POST',
                url: 'CED071300W/getDataGrid',
                data: {
                    PartBarcode: data[0].PartBarcode,
                    ProblemID: data[0].ProblemID
                },
                success: function (result) {
                    $("#tblGrid > tbody:last").append("<tr><td class='text-right'>" + CountTd + "</td><td class='text-left'>" + result[0].Kanban_Id + "</td><td class='text-right'>" + result[0].Qty + "</td><td>" + result[0].Last_Position + "</td><td class='text-center'>" + result[0].Line + "</td><td class='text-center'> <button type='button' class='eView submit-btn' style='padding: 0; background: #2ba6cb; color: red; width:50px; cursor:pointer' onclick='removeRow(this)'>X</button> </td></tr>");

                    CountTd = CountTd + 1;
                },
                error: function (result) {
                    //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                },
                complete: function (result) {
                    //hideLoading();
                }
            });
        }

        function clearRecord() {
            //$("#txt-KanbanID").val("");
            //$("#lbl-ProblemId").text("");
            //$("#lbl-Unique").text("");
            //$("#lbl-PartNo").text("");
            //$("#lbl-Supp").text("");
            //$("#lbl-SuppCode").text("");
            //$("#lbl-KbnProblem").text("");
            //$("#lbl-KbnRelease").text("");
            //$("#lbl-ProblemName").text("");
            //$("#lbl-PartName").text("");
            //$("#lbl-ImgProblem1").text("");
            //$("#lbl-ImgProblem2").text("");
            //$("#txt-No").text("");
            //$("#txt-Kanban").text("");
            //$("#txt-Qty").text("");
            //$("#txt-Position").text("");
            //$("#txt-Line").text("");
            CountTd = 1;
            CED071300WdoSearch();
            //$("#tblGrid tbody").empty();
            //$("#txt-KanbanID").focus();
            //$("#lbl-Info").text("");
        }

        function removeRow(o) {
            var cell = o.parentNode;
            var tbody = $("#tblGrid tbody");
            getMessage("C", "MCED071300001C:Are you sure you want to cancel Kanban ID " + cell.parentNode.cells[cell.cellIndex - 4].textContent + "?", function () {
                var p = o.parentNode.parentNode;
                p.parentNode.removeChild(p);

                if (tbody.children().length == 0) {
                    CED071300WdoSearch();
                }
            });
        }

        function processFinish() {
            if ($("#lbl-ProblemId").text() != '') {
                getMessageNoMenu("E", "MCED071300002E:Problem data still display, screen can not be closed", function () { return });
                setTimeout(function () {
                    $(".btnEPopup").click();
                    $("#txt-KanbanID").focus();
                }, 1000);
                //$("#lbl-Info").text("MCED071300002E:Problem data still display, screen can not be closed");

                return;
            }

            $.ajax({
                type: 'POST',
                url: 'CED071300W/FinishProcess',
                data: {  },
                success: function (result) {
                    //for (var it in $.cookie()) $.removeCookie(it);
                    delete_cookie("posClosing");
                    delete_cookie("nameClosing");
                    delete_cookie("noregClosing");
                    window.location = "@Html.Toyota().Page.HomeUrl".replace("Home", "Boxing_Login");
                },
                error: function (result) {
                    //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                },
                complete: function (result) {
                    //hideLoading();
                }
            });
        }

        function checkExistCED071300W(param) {
            var value = false;
            var url = 'CED071300W/CheckExist';
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                traditional: true,
                url: url,
                async: false,
                data: JSON.stringify({
                    param: param
                }),
                success: function (result) {
                    if (result > 0) {
                        value = true;
                    }
                }
            });
            return value;
        }

        function delete_cookie(name) {
            document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
    </script>
}