﻿@using IPOS.Controllers;


<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-3 col-sm-2 col-md-3 control-label text-muted">POS Date<font color="red">*</font></label>
                <div class="col-xs-9 col-sm-10 col-md-4">
                    <div class="input-group date" data-provide="datepicker">
                        <input class="eView form-control mandatory date2 normal-input" id="txt-PostDate" type="text" data-date-format="yyyy-mm-dd" placeholder="POS Date" maxlength="11" style="width: 100%" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                        <span class="input-group-addon" style="cursor: pointer; padding-top: 1px; padding-bottom: 1px; padding-right: 6px; padding-left: 6px;">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-3 col-sm-2 col-md-3 control-label text-muted">Module No</label>
                <div class="col-xs-9 col-sm-10 col-md-6">
                    <input type="text" id="txt-ModuleNo" class="form-control eView" placeholder="Module No" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-3 col-sm-2 col-md-3 control-label text-muted">Pack. Line<font color="red">*</font></label>
                <div class="col-xs-9 col-sm-10 col-md-6">
                    @Html.DropDownList("txt-PackLine", CommonController.ComboBoxSelectList("2", "PROD_LINE", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-3 col-sm-2 col-md-3 control-label text-muted">Renban No</label>
                <div class="col-xs-9 col-sm-10 col-md-6">
                    <input type="text" id="txt-RenbanNo" class="form-control eView" placeholder="Renban No" />
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="height: 30px">
        <div class="col-xs-6 text-left">
            <button id="btnGenerate" type="button" class="btn btn-primary btn-xs btn-size2" onclick="javascript: GenerateBarcode()" style="display: none">Generate Barcode</button>
        </div>
        <div class="col-xs-6 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED010206WdoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript: CED010206WdoClear()">Clear</button>
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>