﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED010206WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED010206WGrid")
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED010206W";
        var isvalid = false;
        var count = 0;
        var cnData = 0;

        $(document).ready(function () {
            CED010206WdoInit();
        });

        CED010206WdoInit = function () {
            initialMode();
        }

        CED010206WdoClear = function () {
            clearMode();
            CED010206WdoSearchClear();
        }


        CED010206WdoSearchClear = function () {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED010206WSearchNoData")",
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED010206WdoInit();
                    $("#btnGenerate").hide();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010206WdoSearch = function (page) {
            if ($("#txt-PostDate").val() == "") {
                setMessage('MCEDSTD005E', "POS Date", function () { return; });
                return;
            }
            if ($("#txt-PackLine").val() == "") {
                setMessage('MCEDSTD005E', "Pack. Line", function () { return; });
                return;
            }

            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010206WSearchData")",
                data: {
                    PROD_DT: $("#txt-PostDate").val(),
                    MODULE_DEST_CD: $("#txt-ModuleNo").val(),
                    PACKING_LINE_CD: $("#txt-PackLine").val(),
                    PART_ORD_RENBAN: $("#txt-RenbanNo").val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();

                    if (cnData != 0) {
                        $("#btnGenerate").show();
                    } else {
                        $("#btnGenerate").hide();
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        GenerateBarcode = function () {
            var count = $('#tScrollBody').find('input:checked').length;
            if (count != 1) {
                setMessage('MCEDSTD004E', null, function () { return });
            }
            else {
                var control_module_no = $('#tScrollBody').find('input:checked').attr("data-value");
                setMessage('MCEDSTD004C', null, function () {
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("SendParamBatch")",
                        data: {
                            CONTROL_MODULE_NO: control_module_no
                        },
                        success: function (result) {
                            if (result.result.split("-")[0] == "DONE") {
                                setMessage("MCEDSTD002I", "Packing Indication;" + result.result.split("-")[1], function () { return });
                            } else {
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                            }
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                })
            }
        }
    </script>
}