﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED010206W
@using IPOS.Models.Common
@model GenericModel<CED010206W>

<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 100% !important;">
                    <colgroup>
                        <col width="3%" />
                        <col width="3%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="grid-checkbox-col">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px; cursor: default;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )" />
                            </th>
                            <th>No</th>
                            <th>POS Date</th>
                            <th>Packing Date</th>
                            <th>Packing Line</th>
                            <th>Destination Code</th>
                            <th>Module No</th>
                            <th>Case Suffix</th>
                            <th>Container Destination</th>
                            <th>Renban No</th>
                            <th>Sequence</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBody" style="overflow-y: scroll; height: 210px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 100% !important;">
                    <colgroup>
                        <col width="3%" />
                        <col width="3%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED010206W item in Model.DataList)
                                    {
                                        <tr id="DataRow" class="tr-grid-detail">
                                            <td class="text-center grid-checkbox-col">
                                                <input type="checkbox" id="checkDetail" data-value="@item.CONTROL_MODULE_NO" class="grid-checkbox grid-checkbox-body eView" onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))" />
                                            </td>
                                            <td class="text-center">@item.ROW_NO</td>
                                            <td class="text-center">@item.PROD_DT</td>
                                            <td class="text-center">@item.PACKING_PLAN_DT</td>
                                            <td class="text-center">@item.PACKING_LINE_CD</td>
                                            <td class="text-center">@item.MODULE_DEST_CD</td>
                                            <td class="text-center">@item.LOT_MODULE_NO</td>
                                            <td class="text-center">@item.CASE_NO</td>
                                            <td class="text-center">@item.CONTAINER_DEST_CD</td>
                                            <td class="text-center">@item.CONTAINER_SNO</td>
                                            <td class="text-center">@item.SEQ_NO</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="10" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <div class="col-xs-12" style="height: 30px;">
                                    @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        cnData = "@((@Model.DataList != null) ? Model.DataList.Count : 0)";
    });

    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });
</script>
