@using IPOS.Controllers.Constants
@using IPOS.Models.CED031600W
@using IPOS.Models.Common
@model GenericModel<CED031600W>

    @*<style>
        .colorRed {
            background-color: red !important;
        }

        .colorYellow {
            background-color: yellow !important;
        }
    </style>*@

    @if (Model.type == "1")
    {
    <div id="grid" class="row">
        <div class="table-responsive col-xs-12 col-sm-12 col-md-12" style="overflow: hidden;">
            <div style="border: 1pt solid #ccc;">
                <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                    <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed">
                        <colgroup>
                            @*<col width="25px" />*@
                            <col width="100px" />
                            <col width="100px" />
                            <col width="100px" />
                            <col width="50px" />
                            <col width="50px" />
                            <col width="75px" />
                            <col width="75px" />
                            <col width="75px" />
                            <col width="75px" />
                        </colgroup>
                        <thead>
                            <tr>
                              @*  <th>No</th>*@
                                <th>Packing Plant Code</th>
                                <th>Packing Month</th>
                                <th>Group Packing Line</th>
                                <th>Total POS</th>
                                <th>MP</th>
                                <th>Daily Overtime</th>
                                <th>Total Module</th>
                                <th>Daily Module</th>
                                <th>Total MP</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="tScrollBody" style="overflow: scroll; height: 270px;">
                    <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed">
                        <colgroup>
                            @*<col width="25px" />*@
                            <col width="100px" />
                            <col width="100px" />
                            <col width="100px" />
                            <col width="50px" />
                            <col width="50px" />
                            <col width="75px" />
                            <col width="75px" />
                            <col width="75px" />
                            <col width="75px" />
                        </colgroup>
                        <tbody>
                            @{
                                if (Model.DataList != null)
                                {
                                    if (Model.DataList.Any())
                                    {
                                        //var seqNo = 0;
                                        foreach (CED031600W item in Model.DataList)
                                        {
                                            //seqNo++;
                                            <tr id="DataRow" class="tr-grid-detail">
                                                @*<td class="text-center grid-checkbox-col">
                                                    <input type="checkbox" id="checkDetail" name="grid-checkbox-body" class="grid-checkbox grid-checkbox-body eView" value="@seqNo" onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))" />
                                                </td>*@
                                                <td>@item.PACKING_PLANT_CD</td>
                                                <td class="text-right">@item.PKG_MTH</td>
                                                <td>@item.GROUP_PKG_LINE</td>
                                                <td class="text-right">@item.TOTAL_POS</td>
                                                <td class="text-right">@item.MP</td>

                                                @if (item.DLY_OVERTIME < 0)
                                                {
                                                    <td class="text-right" style="background-color:yellow"><b>@item.DLY_OVERTIME</b></td>
                                                }
                                                else if (item.DLY_OVERTIME == 0)
                                                {
                                                    <td class="text-right">@item.DLY_OVERTIME</td>
                                                }
                                                else if (item.DLY_OVERTIME < 2.5)
                                                {
                                                    <td class="text-right" style="background-color:green"><b>@item.DLY_OVERTIME</b></td>
                                                }
                                                else if (item.DLY_OVERTIME > 2.5)
                                                {
                                                    <td class="text-right" style="background-color:red"><b>@item.DLY_OVERTIME</b></td>
                                                }
                                                else
                                                {
                                                    <td class="text-right">@item.DLY_OVERTIME</td>
                                                }
                                                
                                                <td>@item.TOTAL_MODULE</td>
                                                <td>@item.DLY_MODULE</td>
                                                <td>@item.TOTAL_MP</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr id="noDataRow">
                                            <td colspan="100%" class="text-center">@Model.MsgNotFound</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div class="col-xs-12" style="height: 30px;">
                                        @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    }
    else if (Model.type == "2")
    {
    <div id="grid" class="row">
        <div class="table-responsive col-xs-12 col-sm-12 col-md-12" style="overflow: hidden;">
            <div style="border: 1pt solid #ccc;">
                <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                    <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed">
                        <colgroup>
                            @*<col width="25px" />*@
                            <col width="100px" />
                            <col width="100px" />
                            <col width="100px" />
                            <col width="50px" />
                            <col width="50px" />
                            <col width="75px" />
                            <col width="75px" />
                        </colgroup>
                        <thead>
                            <tr>
                                @*  <th>No</th>*@
                                <th>Packing Plant Code</th>
                                <th>Packing Month</th>
                                <th>Group Packing Line</th>
                                <th>Total POS</th>
                                <th>MP</th>
                                <th>Daily Work Hour</th>
                                <th>Total Work Hour</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="tScrollBody" style="overflow: scroll; height: 270px;">
                    <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed">
                        <colgroup>
                            @*<col width="25px" />*@
                            <col width="100px" />
                            <col width="100px" />
                            <col width="100px" />
                            <col width="50px" />
                            <col width="50px" />
                            <col width="75px" />
                            <col width="75px" />
                        </colgroup>
                        <tbody>
                            @{
                                if (Model.DataList != null)
                                {
                                    if (Model.DataList.Any())
                                    {
                                        //var seqNo = 0;
                                        foreach (CED031600W item in Model.DataList)
                                        {
                                            //seqNo++;
                                            <tr id="DataRow" class="tr-grid-detail">
                                                @*<td class="text-center grid-checkbox-col">
                                    <input type="checkbox" id="checkDetail" name="grid-checkbox-body" class="grid-checkbox grid-checkbox-body eView" value="@seqNo" onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))" />
                                </td>*@
                                                <td>@item.PACKING_PLANT_CD</td>
                                                <td class="text-right">@item.PKG_MTH</td>
                                                <td>@item.GROUP_PKG_LINE</td>
                                                <td class="text-right">@item.TOTAL_POS</td>
                                                <td class="text-right">@item.MP</td>
                                                <td>@item.DLY_WORK_HOUR</td>
                                                <td>@item.TOTAL_WORK_HOUR</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr id="noDataRow">
                                            <td colspan="100%" class="text-center">@Model.MsgNotFound</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div class="col-xs-12" style="height: 30px;">
                                        @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    }

<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });
</script>