@using IPOS.Controllers.Constants
@using IPOS.Controllers;

@{
    Layout = CommonPage.MainLayout;
}

<div class="hidden-xs">
    @Html.Partial("CED031600WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED031600WGrid")
    </div>
</div>

<!-- Detail Popup -->
<div class="modal fade" id="addCapacity-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="width: 30%; margin-top: 10%;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="hidden-xs">
                    <div class="container-fluid">
                        <form role="form" class="form-horizontal _criteria">
                            <div>
                                <div class="form-group form-group-xs _criteria">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left" style="margin-right:12px"><a class="text-danger">*</a>Packing Month</label>
                                    <div class="input-group col-xs-12 col-sm-12 col-md-7" style="width:51%">
                                        <input class="form-control date-picker normal-input eView date2" id="inputDate" type="text" data-date-format="yyyyMM" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left" style="margin-right:12px"><a class="text-danger">*</a>Packing Plant Code</label>
                                    @*<div class="col-xs-12 col-sm-12 col-md-7">
                                            <input type="text" id="inputPPC" class="form-control eView" maxlength="1" />
                                        </div>*@
                                    @Html.DropDownList("inputPPC", CommonController.ComboBoxSelectList("2", "PACKING_PLANT_CODE", null), new { tabindex = "4", style = "color: lightgray; width:52%", disabled = "true", @class = "col-xs-12 col-sm-12 col-md-7 eView" })
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left" style="margin-right:12px"><a class="text-danger">*</a>Group Packing Line</label>
                                    @*<div class="col-xs-12 col-sm-12 col-md-7">
                                            <input type="text" id="inputGPL" class="form-control eView" maxlength="3" />
                                        </div>*@
                                    @Html.DropDownList("inputGPL", CommonController.ComboBoxSelectList("2", "GROUP_PACKING_LINE", null), new { tabindex = "4", style = "color: lightgray; width:52%", disabled = "true", @class = "col-xs-12 col-sm-12 col-md-7 eView" })
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left" style="margin-right:12px"><a class="text-danger">*</a>MP</label>
                                    @*<div class="col-xs-12 col-sm-12 col-md-7">
                                            <input type="number" id="inputMP" class="form-control eView" />
                                        </div>*@
                                    @Html.DropDownList("inputMP", CommonController.ComboBoxSelectList("2", "MP", null), new { tabindex = "4", style = "color: lightgray; width:52%", disabled = "true", @class = "col-xs-12 col-sm-12 col-md-7 eView" })
                                </div>
                            </div>

                            <!-- button -->
                            <div class="row" style="text-align: center;">
                                <button id="btnAddZone" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED031600WdoSaveCapacity()">Ok</button>
                                <button id="btnBackZone" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: $('#addCapacity-popup-modal').modal('hide');">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addMPSL-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="width: 30%; margin-top: 10%;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="hidden-xs">
                    <div class="container-fluid">
                        <form role="form" class="form-horizontal _criteria">
                            <div>
                                <div class="form-group form-group-xs _criteria">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left" style="margin-right:12px"><a class="text-danger">*</a>Packing Month</label>
                                    <div class="input-group col-xs-12 col-sm-12 col-md-7" style="width:51%">
                                        <input class="form-control date-picker normal-input eView date2" id="inputDate2" type="text" data-date-format="yyyyMM" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left" style="margin-right:12px"><a class="text-danger">*</a>Packing Plant Code</label>
                                    @*<div class="col-xs-12 col-sm-12 col-md-7">
                                            <input type="text" id="inputPPC2" class="form-control eView" maxlength="1" />
                                        </div>*@
                                    @Html.DropDownList("inputPPC2", CommonController.ComboBoxSelectList("2", "PACKING_PLANT_CODE", null), new { tabindex = "4", style = "color: lightgray; width:52%", disabled = "true", @class = "col-xs-12 col-sm-12 col-md-7 eView" })
                                </div>
                            </div>

                            <!-- button -->
                            <div class="row" style="text-align: center;">
                                <button id="btnAddZone2" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED031600WdoSaveMPSL()">Ok</button>
                                <button id="btnBackZone2" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: $('#addMPSL-popup-modal').modal('hide');">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addMonthly-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="width: 30%; margin-top: 10%;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="hidden-xs">
                    <div class="container-fluid">
                        <form role="form" class="form-horizontal _criteria">
                            <div>
                                <div class="form-group form-group-xs _criteria">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left" style="margin-right:12px"><a class="text-danger">*</a>Packing Month</label>
                                    <div class="input-group col-xs-12 col-sm-12 col-md-7" style="width:51%">
                                        <input class="form-control date-picker normal-input eView date2" id="inputDate3" type="text" data-date-format="yyyyMM" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left" style="margin-right:12px"><a class="text-danger">*</a>Packing Plant Code</label>
                                    @*<div class="col-xs-12 col-sm-12 col-md-7">
                                            <input type="text" id="inputPPC3" class="form-control eView" maxlength="1" />
                                        </div>*@
                                    @Html.DropDownList("inputPPC3", CommonController.ComboBoxSelectList("2", "PACKING_PLANT_CODE", null), new { tabindex = "4", style = "color: lightgray; width:52%", disabled = "true", @class = "col-xs-12 col-sm-12 col-md-7 eView" })
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left" style="margin-right:12px"><a class="text-danger">*</a>Group Packing Line</label>
                                    @*<div class="col-xs-12 col-sm-12 col-md-7">
                                            <input type="text" id="inputGPL2" class="form-control eView" maxlength="3" />
                                        </div>*@
                                    @Html.DropDownList("inputGPL2", CommonController.ComboBoxSelectList("2", "GROUP_PACKING_LINE", null), new { tabindex = "4", style = "color: lightgray; width:52%", disabled = "true", @class = "col-xs-12 col-sm-12 col-md-7 eView" })
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="col-xs-12 col-sm-12 col-md-5 text-left" style="margin-right:12px"><a class="text-danger">*</a>MP</label>
                                    @*<div class="col-xs-12 col-sm-12 col-md-7">
                                            <input type="number" id="inputMP" class="form-control eView" />
                                        </div>*@
                                    @Html.DropDownList("inputMP2", CommonController.ComboBoxSelectList("2", "MP", null), new { tabindex = "4", style = "color: lightgray; width:52%", disabled = "true", @class = "col-xs-12 col-sm-12 col-md-7 eView" })
                                </div>
                            </div>

                            <!-- button -->
                            <div class="row" style="text-align: center;">
                                <button id="btnAddZone3" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED031600WdoSaveMonthly()">Ok</button>
                                <button id="btnBackZone3" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: $('#addMonthly-popup-modal').modal('hide');">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Upload Popup -->
<div class="modal fade" id="upload-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="width: 30%; margin-top: 10%" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="hidden-xs">
                    <div class="container-fluid">
                        <form id="formUploadFile" method="POST" action="#" enctype="multipart/form-data">
                            <div class="form-group">
                                <span>
                                    <a href="#" onclick="javascript:CED031600WdoDownloadTemplate()">Download Template</a>
                                </span>
                                <div class="input-group input-file" name="upload">
                                    <input type="text" id="txtUploadFile" class="form-control" placeholder='Choose a file...' style="width: 80%" />
                                    <span class="input-group-btn">
                                        <button id="btnBrowse" class="btn btn-default btn-xs eView btn-size1" type="button" onclick="javascript:browseFile()">Browse</button>
                                    </span>
                                    @*<span class="input-group-btn" style="float: left">
                                            <button id="btnUpload" class="btn btn-warning btn-xs eView btn-size1" type="button" onclick="javascript:CED031600WdoUploadFile()">Upload</button>
                                        </span>*@
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row" style="text-align: center;">
                        <button id="btnAddZone4" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED031600WdoUploadFile()">Ok</button>
                        <button id="btnBackZone4" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: $('#upload-popup-modal').modal('hide');">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var funcID = "CED031600W";

    $(document).ready(function () {
        CED031600WdoInit();

        $('.date2').datepicker({
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        format: 'yyyymm',
        autoclose: true,
        startView: "months",
        minViewMode: "months"
        });
    });

    CED031600WdoInit = function () {
        initialMode();
    }

    CED031600WdoClear = function () {
        clearMode();
        CED031600WdoSearchClear();
    }

    CED031600WdoSearchClear = function () {
        showLoading();
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("CED031600WSearchNoData")",
            success: function (result) {
                $('#tablegrid').html(result);
                CED031600WdoInit();
            },
            error: function (result) {
                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                hideLoading();
            }
        });
    }

    CED031600WdoSearch = function (page) {
        // common javascript
        if ($("#selectOption").val() == "0") {
            getMessage("E", "Please Select Option", function () { return });
            return;
        }
        else {

            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED031600WSearchData")",
                data: {
                    PackingMonth: $("#txt-date").val(),
                    PackingPlant: $('#txt-plant').val(),
                    type: $('#selectOption').val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    //Pop Up Message for success or error validation
                    $('#tablegrid').html(result);
                    searchMode();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }
    }

    CED031600WdoCreateCapacity = function () {
        $('#addCapacity-popup-modal').modal({
            backdrop: 'static',
            keyboard: false
        });
    }

    CED031600WdoSaveCapacity = function () {
        // common javascript
        if ($("#inputDate").val() == "") {
            getMessage("E", "Packing Month should not be empty", function () { return });
            return;
        }
        else if ($("#inputPPC").val() == "")
        {
            getMessage("E", "Packing Plant Code should not be empty", function () { return });
            return;
        }
        else if ($("#inputGPL").val() == "")
        {
            getMessage("E", "Group Packing Line should not be empty", function () { return });
            return;
        }
        else if ($("#inputMP").val() == "")
        {
            getMessage("E", "MP should not be empty", function () { return });
            return;
        }
        else {
            //Pop Up Message
            setMessage('MCEDSTD001C', null, function () {
                var mode = $('#mode').val();
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchCapacityFirm")",
                    data: {
                        PKG_MTH: $('#inputDate').val(),
                        PLANT_CD: $('#inputPPC').val(),
                        GROUP_PACKING: $('#inputGPL').val(),
                        MP: $('#inputMP').val()
                    },
                    //beforeSubmit: showLoading(),
                    success: function (result) {
                        //Pop Up Message
                        if (result.result.split("-")[0] == "DONE") {
                            setMessage("MCEDSTD002I", "Create Capacity Firm;" + result.result.split("-")[1], function () {
                                afterSave();
                                CED031600WdoClear();
                                $('#addCapacity-popup-modal').modal('hide')
                            });
                        } else {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        }
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });
        }

    }

    CED031600WdoCreateMPSL = function () {
        $('#addMPSL-popup-modal').modal({
            backdrop: 'static',
            keyboard: false
        });
    }

    CED031600WdoSaveMPSL = function () {
        // common javascript
        if ($("#inputDate2").val() == "") {
            getMessage("E", "Packing Month should not be empty", function () { return });
            return;
        }
        else if ($("#inputPPC2").val() == "")
        {
            getMessage("E", "Packing Plant Code should not be empty", function () { return });
            return;
        }
        else {
            //Pop Up Message
            setMessage('MCEDSTD001C', null, function () {
                var mode = $('#mode').val();
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchMPSL")",
                    data: {
                        PKG_MTH: $('#inputDate2').val(),
                        PLANT_CD: $('#inputPPC2').val()
                    },
                    //beforeSubmit: showLoading(),
                    success: function (result) {
                        //Pop Up Message
                        if (result.result.split("-")[0] == "DONE") {
                            setMessage("MCEDSTD002I", "Monthly Packing Seq List Data;" + result.result.split("-")[1], function () {
                                afterSave();
                                CED031600WdoClear();
                                $('#addMPSL-popup-modal').modal('hide')
                            });
                        } else {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        }
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });
        }
    }

    CED031600WdoAddMonthlyProd = function () {
        $('#addMonthly-popup-modal').modal({
            backdrop: 'static',
            keyboard: false
        });
    }

    CED031600WdoSaveMonthly = function () {
        // common javascript
        if ($("#inputDate3").val() == "") {
            getMessage("E", "Packing Month should not be empty", function () { return });
            return;
        }
        else if ($("#inputPPC3").val() == "")
        {
            getMessage("E", "Packing Plant Code should not be empty", function () { return });
            return;
        }
        else if ($("#inputGPL2").val() == "")
        {
            getMessage("E", "Group Packing Line should not be empty", function () { return });
            return;
        }
        else if ($("#inputMP2").val() == "")
        {
            getMessage("E", "MP should not be empty", function () { return });
            return;
        }
        else {
            //Pop Up Message
            setMessage('MCEDSTD001C', null, function () {
                var mode = $('#mode').val();
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchForeCast")",
                    data: {
                        PKG_MTH: $('#inputDate3').val(),
                        PACKING_PLANT_CD: $('#inputPPC3').val(),
                        GROUP_PKG_LINE: $('#inputGPL2').val(),
                        MP: $('#inputMP2').val()
                    },
                    //beforeSubmit: showLoading(),
                    success: function (result) {
                        //Pop Up Message
                        if (result.result.split("-")[0] == "DONE") {
                            setMessage("MCEDSTD002I", "Create Capacity Forecast;" + result.result.split("-")[1], function () {
                                afterSave();
                                CED031600WdoClear();
                                $('#addMonthly-popup-modal').modal('hide')
                            });
                        } else {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        }
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });
        }
    }

    CED031600WdoUpload = function () {
        $('#upload-popup-modal').modal({
            backdrop: 'static',
            keyboard: false
        });
        $("#txtUploadFile").val("");
    };

    CED031600WdoDownloadTemplate = function () {
        getTemplate('CED031600W_ForecastMVPR');
    }

    function browseFile() {
        $(".input-file").before(
            function () {
                if ($(".input-file").prev().hasClass('input-ghost')) {
                    $(".input-file").prev().remove();
                }
                var element = $("<input type='file' accept='.xls,.xlsx' class='input-ghost' style='visibility:hidden; height:0'>");
                element.attr("name", $(this).attr("name"));
                element.change(function () {
                    element.next(element).find('input').val((element.val()).split('\\').pop());
                });
                element.click();
                return element;
            }
        );
    }

    CED031600WdoUploadFile = function () {
        var sts = checkExistenceFile();
        if (sts == 0) {
            setMessage('MCEDSTD007C', null, function () {
                var dataForm = new FormData($('#formUploadFile')[0]);
                showLoading();
                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: "@Html.Toyota().Page.GetActionUrl("UploadFile")",
                    data: dataForm,
                    processData: false, //Important!
                    contentType: false,
                    cache: false,
                    //beforeSubmit: showLoading(),
                    success: function (result) {
                        if (result.fileName != "" && result.fileName != undefined) {
                            CED031600WdoSendBatch(result.fileName);
                        }
                        else {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        }
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            })
        }
    }

    CED031600WdoSendBatch = function (fileName) {
        $.ajax({
            type: 'POST',
            url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchUpload")",
            data: {
                filename: fileName
            },
            success: function (result) {
                if (result.result.split("-")[0] == "DONE") {
                    setMessage("MCEDSTD002I", "MVPR Forecast Upload;" + result.result.split("-")[1], function () {
                        $('.input-ghost').val(null);
                        $(".input-file").find('input').val('');
                        CED031600WdoClear();
                    });
                } else {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                }
            },
            error: function (result) {
                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
            }
        });
    }

    function checkExistenceFile() {
        var isValid = 1;
        var allowedExtension = ['xls', 'xlsx'];
        var fileName = $('#txtUploadFile').val();
        var fileExtension = fileName.split('.').pop().toLowerCase();

        if (fileName == '') {
            setMessage('MCEDSTD061E', null, null);
            return isValid;
        }

        for (var index in allowedExtension) {
            if (fileExtension === allowedExtension[index]) {
                isValid = 0;
            }
        }
        if (isValid == 1) {
            setMessage('MCEDSTD062E', 'Upload;.xls or .xlsx', null);
            return isValid;
        }

        return isValid;
    }

</script>