﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-5 col-sm-5 col-md-5 control-label">Packing Month</label>
                <div class="col-xs-7 col-sm-7 col-md-7">
                    <div class="input-group">
                        <input class="eView form-control date-picker date2" id="txt-date" type="text" data-date-format="yyyyMM" maxlength="6" style="width: 100%" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    @*<input type="text" id="txt-date" class="form-control eView" maxlength="6" />*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-5 col-sm-5 col-md-5 control-label" style="margin-right:12px">Packing Plant</label>
                @*<div class="col-xs-7 col-sm-7 col-md-7">
                    <input type="text" id="txt-plant" class="form-control eView" maxlength="1" />
                </div>*@
                @Html.DropDownList("txt-plant", CommonController.ComboBoxSelectList("2", "PACKING_PLANT_CODE", null), new { tabindex = "4", style = "color: lightgray; width:52%", disabled = "true", @class = "col-xs-12 col-sm-12 col-md-7 eView" })
            </div>
        </div>
    </div>
    <div class="row" style="padding-right:10px">        
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-5 col-sm-5 col-md-5 control-label"><a class="text-danger">*</a>Option</label>
                <select id="selectOption" class="col-xs-7 col-sm-7 col-md-7 eView" style="width:55%">
                    <option selected value="0">-- Select Option --</option>
                    <option value="1">Capacity Firm</option>
                    <option value="2">Capacity Forecast</option>
                </select>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 text-right">
            <div class="form-group form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED031600WdoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED031600WdoClear()">Clear</button>
                <button id="btnUpload" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED031600WdoUpload()">Upload MVPR</button>
                <button id="btnCreateCapacity" type="button" class="btn btn-primary btn-xs eView btn-size2" onclick="javascript:CED031600WdoCreateCapacity()">Create Capacity Firm</button>
                <button id="btnCreateMPSL" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED031600WdoCreateMPSL()">Create MPSL</button>
                <button id="btnAddMonthly" type="button" class="btn btn-primary btn-xs eView btn-size2" onclick="javascript:CED031600WdoAddMonthlyProd()">Create Capacity Forecast</button>
            </div>
        </div>
    </div>
</form>