﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
    List<string> listPrinter = (List<string>)ViewData["ListPrinter"];
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED010407WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED010407WGrid")
    </div>
</div>

<!-- Detail Popup -->
<div class="modal fade" id="detail-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 50%; margin-top: 1%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">1.4.09 Print Rack Address</h4>
            </div>
            <div class="modal-body">
                <div id="tablegriddet010409W" style="text-align: center">

                </div>
            </div>
            <div class="modal-footer">
                <div class="row" style="height: 30px">
                    <div class="col-xs-4" style="margin-top: 5px;">
                    </div>
                    <div class="col-xs-8 text-right">
                        <div class="form-group-xs _criteria">
                            <select id="cb-PrinterName">
                                @foreach (string item in listPrinter)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                            <input type="hidden" id="hidInputDetail" />
                            <button id="btnPrint" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="printModul()">Print</button>
                            <button id="btnBack" type="reset" class="btn btn-primary btn-xs eView btn-size1" data-dismiss="modal">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
    var funcID = "CED010407W";
    var Uploadcheck;
    $(document).ready(function () {
        CED010407WdoInit();
    });

    CED010407WdoInit = function () {
        initialMode();
        $("#txt-PartNo").focus();
    }

    CED010407WdoClear = function () {
        clearMode();
        CED010407WdoSearchClear();
    }

    CED010407WdoSearchClear = function () {
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("CED010407WSearchNoData")",
            beforeSubmit: showLoading(),
            success: function (result) {
                $('#tablegrid').html(result);
                CED010407WdoInit();
            },
            error: function (result) {
                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                hideLoading();
                $("#txt-Date").focus();
            }
        });
    }

    CED010407WdoSearch = function (page) {
        page = typeof page !== 'undefined' ? page : 1;
        pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
        $.ajax({
            type: 'POST',
            url: "@Html.Toyota().Page.GetActionUrl("CED010407WSearchData")",
                data: {
                    PartNo: $("#txt-PartNo").val(),
                    Address: $("#txt-Address").val(),
                    UniqueNo: $("#txt-UniqueNo").val(),
                    ProdLine: $("#txt-ProdLine").val(),
                    Pattern: $("#txt-Pattern").val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    $("#txt-PartNo").focus();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                    $("#txt-PartNo").focus();
                }

            });
        }

        function getDetail010409W(obj) {
            $(".btn-Dialog-OK").click();
            $('#detail-popup-modal').modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#hidInputDetail").val("");
            getShowDetail010409W(obj);
        }

        function getShowDetail010409W(obj) {
            var funcID = "CED010407W";
            var partno = $(obj).attr("value").split("|")[0];
            var address = $(obj).attr("value").split("|")[1];
            showLoading();
            $.ajax({
                type: 'POST',
                url: 'CED010407W/CED010407WSearchDataDetail',
                data: {
                    PartNo: partno,
                    Address: address
                },
                success: function (result) {
                    $('#tablegriddet010409W').html(result);
                    $("#hidInputDetail").val(partno);
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        function printModul() {
            $.ajax({
                type: 'POST',
                url: 'CED010407W/PrintDocModul',
                data: {
                    PartNo: $("#hidInputDetail").val(),
                    PrinterName: $("#cb-PrinterName").val()
                },
                success: function (result) {
                    alert(result);
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }
    </script>
}