﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayoutNoMenuTheme;
}

@section HeadScript{
}

<div id="tablegrid">
    @Html.Partial("CED010303WGrid")
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED010303W";
        
        $(document).ready(function () {
            $("#pagecontentAll").css({'background-color': 'white'});
            CED010303WdoInit();
        });

        CED010303WdoInit = function () {
            initialMode();
            CED010303WdoSearch();
        }

        CED010303WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010303WSearchData")",
                data: null,
                beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    $(".valactivesection").hide();
                    $(".valactive").hide();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }

            });
        }
    </script>
}