﻿<style>
    .well {
        padding: 5px;
        background-color: white;
        border: 1px solid black;
    }

    #screensaver { position: absolute; width: 100%; height:97%; left:0px; top: 0px; display: none; z-index:9999; background-color: white }
</style>

<script>
    /** start show clock **/
    var tday = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");
    var tmonth = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");

    function GetClock() {
        var d = new Date();
        var nday = d.getDay(), nmonth = d.getMonth(), ndate = d.getDate(), nyear = d.getFullYear(), nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds();
        if (nhour < 10)
            nhour = "0" + nhour;
        if (nmin < 10)
            nmin = "0" + nmin;
        if (nsec < 10)
            nsec = "0" + nsec;
        var nclock = ndate + "-" + tmonth[nmonth] + "-" + nyear + " " + nhour + ":" + nmin + ":" + nsec;
        $("#lbl-TimeNow").text(nclock);
        $("#lbl-TimeNowScreenSaver").text(nclock);
    }

    GetClock();
    setInterval(GetClock, 1000);
    /** end show clock **/

    var mousetimeout;
    var screensaver_active = false;
    var idletime = 10;

    function show_screensaver() {
        $('#divInsideTable').fadeOut();
        $('#screensaver').fadeIn();
        screensaver_active = true;
        screensaver_animation();
    }

    function stop_screensaver() {
        $('#screensaver').fadeOut();
        screensaver_active = false;
    }

    $(document).mousemove(function () {
        clearTimeout(mousetimeout);

        if (screensaver_active) {
            stop_screensaver();
        }

        mousetimeout = setTimeout(function () {
            show_screensaver();
        }, 1000 * idletime); // 5 secs

        $("#btnReceive").click(function () {
            $('#detail-popup-modal-skid').modal({
                backdrop: 'static',
                keyboard: false
            });
        });
    });

    function screensaver_animation() {
        if (screensaver_active) {
            $('#screensaver').animate(screensaver_animation);
        }
    }

    function submitSkid() {
        getMessage("C", "Are you sure you want to confirm all records?", function () {
            $("#btnBack").click();
        });
    }

    function setRemarkTable(title, type) {
        $('#divInsideTable').fadeIn();
        if (title == "ARRIVAL (YARD)") {
            $("#bgcolor").css({ 'background-color': 'white' });
            if (type == "OK") {
                $("#lbl-scanTitle").text(title);
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/checklist.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 100px; color: green; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '442px', 'height': '495px', 'left': '8.5px', 'top': '227px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").show();
                $(".lbl2").hide();
                $(".lbl3").hide();
                $("#lblscan").show();
                $("#lblok").show();
            } else {
                $("#lbl-scanTitle").text("Invalid Arrival Yard time. Please scan Arrival Yard later than 09:30.");
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/ng.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 100px; color: red; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '442px', 'height': '495px', 'left': '8.5px', 'top': '227px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").hide();
                $(".lbl2").hide();
                $(".lbl3").hide();
                $("#lblscan").hide();
                $("#lblok").hide();
            }
            $("#lblRemaining").text("--");
            $("#lblRemaining").attr("style", "color: red");
        } else if (title == "ARRIVAL (T/S)") {
            $("#bgcolor").css({ 'background-color': 'white' });
            if (type == "OK") {
                $("#lbl-scanTitle").text(title);
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/checklist.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 100px; color: green; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '442px', 'height': '495px', 'left': '455px', 'top': '227px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").show();
                $(".lbl2").show();
                $(".lbl3").hide();
                $("#lblscan").show();
                $("#lblok").show();
            } else {
                $("#lbl-scanTitle").text("Arrival Yard for 1N and R201809283067 already scanned.");
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/ng.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 100px; color: red; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '442px', 'height': '495px', 'left': '455px', 'top': '227px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").hide();
                $(".lbl2").hide();
                $(".lbl3").hide();
                $("#lblscan").hide();
                $("#lblok").hide();
                $(".arryard").show();
            }
            $("#lblRemaining").text("00:30");
            $("#lblRemaining").attr("style", "color: black");
        } else if (title == "DEPARTURE (T/S)") {
            $("#bgcolor").css({ 'background-color': 'red' });
            if (type == "OK") {
                $("#lbl-scanTitle").text(title);
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/checklist.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 100px; color: green; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '442px', 'height': '495px', 'left': '898px', 'top': '227px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").show();
                $(".lbl2").show();
                $(".lbl3").show();
                $("#lblscan").show();
                $("#lblok").show();
            } else {
                $("#lbl-scanTitle").text("Departure Yard for 1N and R201809283067 already scanned.");
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/ng.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 100px; color: red; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '442px', 'height': '495px', 'left': '898px', 'top': '227px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").show();
                $(".lbl2").hide();
                $(".lbl3").hide();
                $("#lblscan").hide();
                $("#lblok").hide();
                $(".arryard").show();
                $(".arrts").show();
            }
            $("#lblRemaining").text("00:30");
            $("#lblRemaining").attr("style", "color: black");
        }
    }

    function searchKeyPress1(e) {
        e = e || window.event;
        if (e.keyCode == 13) {
            $(".valactivesection").show();
            $("#lblRemaining").text("--");
            $("#lblRemaining").attr("style", "color: red");
            return false;
        }
        return true;
    }
    function searchKeyPress2(e) {
        e = e || window.event;
        if (e.keyCode == 13) {
            $(".valactivesection").show();
            $("#lblRemaining").text("00:30");
            $("#lblRemaining").attr("style", "color: black");
            return false;
        }
        return true;
    }
</script>

<div class="table-responsive">
    <table width="100%">
        <tr>
            <td>
                <table width="100%" style="text-align: center">
                    <tr class="well" style="font-size: x-large; font-weight: bold; background-color: #dce6f1">
                        <td align="left">&nbsp;3.3.0 DCL Receiving</td>
                        <td align="right"><span id="lbl-TimeNow"></span>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 5px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" style="text-align: center">
                    <tr>
                        <td width="33%" class="well" style="background-color: #dce6f1">
                            <form role="form" class="form-horizontal _criteria" id="searchForm">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="form-group form-group-xs _criteria">
                                            <div class="col-xs-1 col-sm-1 col-md-1">

                                            </div>
                                            <label class="col-xs-3 col-sm-2 col-md-5 control-label text-muted" style="text-align: left">Dock No</label>
                                            <div class="col-xs-8 col-sm-9 col-md-6">
                                                <input type="text" id="txt-DockNo" class="form-control eView" placeholder="Dock No" maxlength="15" tabindex="1" onkeypress="return searchKeyPress1(event);" />
                                            </div>
                                        </div>

                                        <div class="form-group form-group-xs _criteria">
                                            <div class="col-xs-1 col-sm-1 col-md-1">

                                            </div>
                                            <label class="col-xs-3 col-sm-2 col-md-5 control-label text-muted" style="text-align: left">Delivery No</label>
                                            <div class="col-xs-8 col-sm-9 col-md-6">
                                                <input type="text" id="txt-DeliveryNo" class="form-control eView" placeholder="Delivery No" maxlength="15" tabindex="2" onkeypress="return searchKeyPress2(event);" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-10 col-sm-10 col-md-10 text-right">
                                        <button id="btnReceive" type="button" class="btn btn-primary btn-xl eView btn-size1">Receive</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="well">
                            <table width="100%" style="text-align: center; font-weight: bold">
                                <tr>
                                    <td colspan="2" class="well">TRUCK ARRIVAL INFORMATION</td>
                                    <td rowspan="2" class="well">REMAINING TIME</td>
                                    <td rowspan="2" class="well">ROUTE</td>
                                    <td rowspan="2" class="well">CYCLE</td>
                                </tr>
                                <tr>
                                    <td class="well">T/S</td>
                                    <td class="well">DOCK</td>
                                </tr>
                                <tr style="font-size: xx-large; height: 100px">
                                    <td class="well"><span class="valactivesection">1</span></td>
                                    <td class="well"><span class="valactivesection">1N</span></td>
                                    <td class="well"><span class="valactivesection" id="lblRemaining">00:30</span></td>
                                    <td class="well"><span class="valactivesection">RS20</span></td>
                                    <td class="well"><span class="valactivesection">1</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 5px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" style="text-align: center">
                    <tr style="font-size: large; font-weight: bold">
                        <td class="well" width="33%" style="background-color: #d9d9d9" onclick="setRemarkTable('ARRIVAL (YARD)', 'OK')">ARRIVAL (YARD)</td>
                        <td class="well" width="33%" style="background-color: #d9d9d9" onclick="setRemarkTable('ARRIVAL (T/S)', 'OK')">ARRIVAL (T/S)</td>
                        <td class="well" width="33%" style="background-color: #d9d9d9" onclick="setRemarkTable('DEPARTURE (T/S)', 'OK')">DEPARTURE (T/S)</td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td class="well" style="background-image: linear-gradient(#83A2F7, #FFFFFF)" onclick="setRemarkTable('ARRIVAL (YARD)', 'NG')">&nbsp;</td>
                        <td class="well" style="background-image: linear-gradient(#83A2F7, #FFFFFF)" onclick="setRemarkTable('ARRIVAL (T/S)', 'NG')">PLANNING</td>
                        <td class="well" style="background-image: linear-gradient(#83A2F7, #FFFFFF)" onclick="setRemarkTable('DEPARTURE (T/S)', 'NG')">PLANNING</td>
                    </tr>
                    <tr style="height: 125px; font-size: 5em; font-weight: bold">
                        <td class="well">&nbsp;</td>
                        <td class="well"><span class="lbl2 valactive arrts">11:05</span></td>
                        <td class="well"><span class="lbl3 valactive deptts">11:36</span></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td class="well" style="background-image: linear-gradient(#83A2F7, #FFFFFF)">ACTUAL</td>
                        <td class="well" style="background-image: linear-gradient(#83A2F7, #FFFFFF)">ACTUAL</td>
                        <td class="well" style="background-image: linear-gradient(#83A2F7, #FFFFFF)">ACTUAL</td>
                    </tr>
                    <tr style="height: 125px; font-size: 5em; font-weight: bold">
                        <td class="well"><span class="lbl1 valactive arryard">10:20</span></td>
                        <td class="well"><span class="lbl2 valactive arrts">11:07</span></td>
                        <td class="well"><span class="lbl3 valactive depts">11:50</span></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td class="well" style="background-image: linear-gradient(#83A2F7, #FFFFFF)">&nbsp;</td>
                        <td class="well" style="background-image: linear-gradient(#83A2F7, #FFFFFF)">GAP</td>
                        <td class="well" style="background-image: linear-gradient(#83A2F7, #FFFFFF)">GAP</td>
                    </tr>
                    <tr style="height: 125px; font-size: 5em; font-weight: bold">
                        <td class="well">&nbsp;</td>
                        <td class="well"><span class="lbl2 valactive arrts">00:00</span></td>
                        <td class="well" id="bgcolor"><span class="lbl3 valactive deptts">00:43</span></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div id="screensaver" class="well">
    <table width="100%" style="text-align: center">
        <tr class="well" style="font-size: x-large; font-weight: bold; background-color: #dce6f1">
            <td align="left">&nbsp;3.3.0 DCL Receiving</td>
            <td align="right"><span id="lbl-TimeNowScreenSaver"></span>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <div class="well" style="height: 90%; background-color: #dce6f1">
        <p style="font-weight: bold; font-size: 6em; text-align: center; margin-top: 200px">
            WELCOME TO RECEIVING<br />
            PLEASE SCAN YOUR DCL
        </p>
    </div>
</div>

<div id="divInsideTable" style="display: none; text-align: center">
    <p id="lblpopup">
        <span id="lblscan">SCAN</span><br />
        <span id="lbl-scanTitle"></span><br />
        <span id="lblok">OK</span>
    </p>
    <img id="imgpopup" width="100" height="100" />
</div>

<div class="modal fade" id="detail-popup-modal-skid" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 50%; margin-top: 20%" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div style="text-align: center">
                    <b><u>Total Skid : </u></b>
                    <input type="number" id="txt-Skid" class="form-control eView" style="text-align: right; height: 100px; font-size: 8em" />
                    <br />
                    <button id="btnSubmit" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="submitSkid()">Submit</button>
                </div>
            </div>
            <div class="modal-footer" style="display: none">
                <button id="btnBack" type="reset" class="btn btn-primary btn-xs eView btn-size1" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>