﻿@using IPOS.Models.CED030900W
@{ 
    List<CED030900W> retrieveData1 = (List<CED030900W>)ViewData["RetriveData1"];
    List<CED030900W> retrieveData2 = (List<CED030900W>)ViewData["RetriveData2"];
    List<CED030900W> retrieveData3 = (List<CED030900W>)ViewData["RetriveData3"];
    List<CED030900W> retrieveData4 = (List<CED030900W>)ViewData["RetriveData4"];
}

<style>
    .newFontHeader {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .newFont {
        padding: 6px 10px 6px;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
        text-align: center;
    }

    .fontHeader {
        font-size: 20px;
    }

    .fontContent {
        font-size: 14px;
    }
</style>

<div class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="seven columns">
                <div class="panel2" style="font-size:20px">RECEIVING PROGRESS</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th colspan="2" class="newFontHeader" style="font-size:16px">MANIFEST</th>
                            <th colspan="2" class="newFontHeader" style="font-size:16px">KANBAN</th>
                        </tr>
                    </thead>
                    @if (retrieveData1 != null)
                    {
                        var manifestPlanPercent = Convert.ToDouble(0);
                        var manifestActPercent = Convert.ToDouble(0);
                        var manifestDelayPercent = Convert.ToDouble(0);
                        if (retrieveData1[0].ManifestPlan2 != null && retrieveData1[0].ManifestPlan2 != "0")
                        {
                            manifestPlanPercent = (Convert.ToDouble(retrieveData1[0].ManifestPlan1) / Convert.ToDouble(retrieveData1[0].ManifestPlan2)) * 100;
                            manifestActPercent = (Convert.ToDouble(retrieveData1[0].ManifestAct) / Convert.ToDouble(retrieveData1[0].ManifestPlan2)) * 100;
                            manifestDelayPercent = (Convert.ToDouble(retrieveData1[0].ManifestDelay) / Convert.ToDouble(retrieveData1[0].ManifestPlan2)) * 100;
                        }

                        var kanbanPlanPercent = Convert.ToDouble(0);
                        var kanbanActPercent = Convert.ToDouble(0);
                        var kanbanDelayPercent = Convert.ToDouble(0);
                        if (retrieveData1[0].KanbanPlan2 != null && retrieveData1[0].KanbanPlan2 != "0")
                        {
                            kanbanPlanPercent = (Convert.ToDouble(retrieveData1[0].KanbanPlan1) / Convert.ToDouble(retrieveData1[0].KanbanPlan2)) * 100;
                            kanbanActPercent = (Convert.ToDouble(retrieveData1[0].KanbanAct) / Convert.ToDouble(retrieveData1[0].KanbanPlan2)) * 100;
                            kanbanDelayPercent = (Convert.ToDouble(retrieveData1[0].KanbanDelay) / Convert.ToDouble(retrieveData1[0].KanbanPlan2)) * 100;   
                        }
                        <tr>
                            <td class="newFontHeader">Plan</td>
                            <td class="newFontHeader" style="text-align: right;">@retrieveData1[0].ManifestPlan1 of @retrieveData1[0].ManifestPlan2</td>
                            <td class="newFontHeader" style="text-align: right;">@Math.Round(manifestPlanPercent, 2)%</td>
                            <td class="newFontHeader" style="text-align: right;">@retrieveData1[0].KanbanPlan1 of @retrieveData1[0].KanbanPlan2</td>
                            <td class="newFontHeader" style="text-align: right;">@Math.Round(kanbanPlanPercent, 2)%</td>
                        </tr>
                        <tr>
                            <td class="newFontHeader">Act</td>
                            <td class="newFontHeader" style="text-align: right;">@retrieveData1[0].ManifestAct</td>
                            <td class="newFontHeader" style="text-align: right;">@Math.Round(manifestActPercent, 2)%</td>
                            <td class="newFontHeader" style="text-align: right;">@retrieveData1[0].KanbanAct</td>
                            <td class="newFontHeader" style="text-align: right;">@Math.Round(kanbanActPercent, 2)%</td>
                        </tr>

                        <tfoot>
                            <tr>
                                <td class="newFont">Delay</td>
                                <td class="newFont">@retrieveData1[0].ManifestDelay</td>
                                <td class="newFont">@Math.Round(manifestDelayPercent, 2)%</td>
                                <td class="newFont">@retrieveData1[0].KanbanDelay</td>
                                <td class="newFont">@Math.Round(kanbanDelayPercent, 2)%</td>
                            </tr>
                        </tfoot>
                    }
                </table>

                <div class="panel2">DELAY INFORMATION</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th rowspan="2">NO</th>
                            <th rowspan="2">ROUTE</th>
                            <th colspan="2">SUPPLIER</th>
                            <th rowspan="2" style="padding-left:1px;padding-right:1px;">DOCK</th>
                            <th rowspan="2">ORDER NO</th>
                            <th rowspan="2" style="padding-left:1px;padding-right:1px;">MANIFEST NO</th>
                            <th rowspan="2" style="padding-left: 16px;padding-right: 16px;">PART #</th>
                            <th rowspan="2" style="padding-left:1px;padding-right:1px;">TOT KBN</th>
                            <th rowspan="2">PLAN CATCH UP</th>
                            <th rowspan="2">PROBLEM</th>
                        </tr>
                        <tr>
                            <th>NAME</th>
                            <th style="padding-left: 16px;padding-right: 16px;">CODE</th>
                        </tr>
                    </thead>
                    @{if (retrieveData2 != null)
                    {
                        var no = 0;
                        foreach (CED030900W item in retrieveData2)
                        {
                            no++;
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">@no</td>
                                <td style="text-align: center; vertical-align: middle;">@item.Route</td>
                                <td style="text-align: center; vertical-align: middle;">@item.SuppName</td>
                                <td style="text-align: center; vertical-align: middle;">@item.SuppCode</td>
                                <td style="text-align: center; vertical-align: middle;">@item.Dock</td>
                                <td style="text-align: center; vertical-align: middle;">@item.OrderNo</td>
                                <td style="text-align: center; vertical-align: middle;">@item.ManifestNo</td>
                                <td style="text-align: center; vertical-align: middle;">@item.PartNo</td>
                                <td style="text-align: right; vertical-align: middle;">@item.TotKbn</td>
                                <td style="text-align: center; vertical-align: middle;">@item.PlanCatchUp</td>
                                <td style="text-align: left; vertical-align: middle;">@item.Problem</td>
                            </tr>
                        }
                    }
                    }
                    @{if (retrieveData2 != null)
                    {
                        for (var i = retrieveData2.Count; i < 15; i++)
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        }
                    }
                    }
                </table>
                <p>&nbsp;</p>

            </div>

            <div class="five columns">
                <div class="panel2">PLAN ARRIVAL </div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th rowspan="2">T/S</th>
                            <th rowspan="2">ROUTE</th>
                            <th rowspan="2">ARRIVAL PLAN</th>
                            <th rowspan="2">TOTAL SUPP</th>
                            <th colspan="2">QTY KANBAN</th>
                            <th rowspan="2">BAL</th>
                            <th rowspan="2">STATUS</th>
                        </tr>
                        <tr>
                            <th>PLAN</th>
                            <th>ACT</th>
                        </tr>
                    </thead>
                    @{if (retrieveData3 != null)
                    {
                        foreach (CED030900W item in retrieveData3)
                        {
                        var bal = int.Parse(item.QtyKanbanAct) - int.Parse(item.QtyKanbanPlan);
                        var status3 = "";
                        var bgcolor3 = "";
                        if (bal < 0 && item.Route.Split('|')[1] == "Y")
                        {
                            status3 = "Shortage";
                            bgcolor3 = "shortage";
                        }
                        else if (bal == 0)
                        {
                            status3 = "Complete";
                            bgcolor3 = "complete";
                        }
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">@item.Station</td>
                            <td style="text-align: center; vertical-align: middle;">@item.Route.Split('|')[0]</td>
                            <td style="text-align: center; vertical-align: middle;">@item.ArrivalPlan</td>
                            <td style="text-align: center; vertical-align: middle;">@item.TotalSupp</td>
                            <td style="text-align: right; vertical-align: middle;">@item.QtyKanbanPlan</td>
                            <td style="text-align: right; vertical-align: middle;">@item.QtyKanbanAct</td>
                            <td style="text-align: right; vertical-align: middle;">@bal</td>
                            <td style="text-align: center; vertical-align: middle;" class="@bgcolor3">@status3</td>
                        </tr>
                        }
                    }
                    }@{if (retrieveData3 != null)
                    {
                        for (var i = retrieveData3.Count; i < 13; i++)
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        }
                    }
                    }
                </table>

                <div class="panel2">EMERGENCY ORDER</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th colspan="2">SUPPLIER</th>
                            <th rowspan="2" style="padding-left:1px;padding-right:1px;">DOCK</th>
                            <th rowspan="2">ORDER NO</th>
                            <th rowspan="2">MANIFEST NO</th>
                            <th rowspan="2" rowspan="2" style="padding-left:1px;padding-right:1px;">PLANNING ARRIVAL</th>
                            <th rowspan="2">STATUS</th>
                        </tr>
                        <tr>
                            <th>NAME</th>
                            <th>CODE</th>
                        </tr>
                    </thead>
                    @{if (retrieveData4 != null)
                    {
                        foreach (CED030900W item in retrieveData4)
                        {
                        var status4 = "";
                        var bgcolor4 = "";
                        if (item.Status == "1")
                        {
                            status4 = "Complete";
                            bgcolor4 = "complete";
                        }
                        else if (item.Status == "2")
                        {
                            status4 = "Shortage";
                            bgcolor4 = "shortage";
                        }
                        else if (item.Status == "3")
                        {
                            status4 = "Complete Shortage";
                            bgcolor4 = "";
                        }
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">@item.SuppName</td>
                            <td style="text-align: center; vertical-align: middle;">@item.SuppCode</td>
                            <td style="text-align: center; vertical-align: middle;">@item.Dock</td>
                            <td style="text-align: center; vertical-align: middle;">@item.OrderNo</td>
                            <td style="text-align: center; vertical-align: middle;">@item.ManifestNo</td>
                            <td style="text-align: center; vertical-align: middle;">@item.ArrivalPlan</td>
                            <td style="text-align: center; vertical-align: middle;" class="@bgcolor4">@status4</td>
                        </tr>
                        }
                    }
                    }@{if (retrieveData4 != null)
                    {
                        for (var i = retrieveData4.Count; i < 5; i++)
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        }
                     }
                    }
                </table>
                <!-- don't mind these, I just added them for fun! --><br />
            </div>
        </div>
    </div>
</div>