﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED030900W;
@{
    Layout = CommonPage.MainLayoutNoMenuTheme;

    List<CED030900WBindStation> TS = (List<CED030900WBindStation>)ViewData["BindTS"];
}

@section HeadScript{
}

<script src="@Url.Content("~/Content/blueTheme/multiselect/libs/jquery.multiple.select.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/blueTheme/multiselect/libs/multiple-select.css")" />

<div class="row">
    <div class="twelve columns" id="divHeaderStation" style="margin-top:5px;height:50px;">
        <table border="0" cellpadding="5" cellspacing="1" width="100%">
            <thead>
                <tr>
                    <th width="150px">Display Truck Station</th>
                    <th width="250px">
                        <select id="cbStation" name="cbStation[]" multiple="multiple" style="width: 500px">
                            @foreach (CED030900WBindStation item in TS)
                            {
                                <option value="@item.STATION">@item.STATION</option>
                            }
                        </select>
                    </th>
                    <th style="text-align: left">
                        <button id="btnSearch" type="button" class="button primary" onclick="processDataRetrieve()">SEARCH</button>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="twelve columns">
        <input type="checkbox" id="checkHide" onchange="setActCheckbox(this)" /> <span id="lblCheckHide">Hide</span>
    </div>
</div>

<hr style="padding: 0; margin: 0" />

<div id="tablegrid">
    @Html.Partial("CED030900WGrid")
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED030900W";
        var refreshData = "@ViewBag.Refresh";

        $(document).ready(function () {
            CED030900WdoInit();
        });

        CED030900WdoInit = function () {
            initialMode();
            $('#cbStation').multipleSelect();
            //CED030900WdoSearch();
        }

        function setActCheckbox(obj) {
            if ($(obj).is(':checked')) {
                $("#divHeaderStation").hide();
                $("#lblCheckHide").text("Unhide");
            } else {
                $("#divHeaderStation").show();
                $("#lblCheckHide").text("Hide");
            }
        }

        function processDataRetrieve() {
            var TS = $("#cbStation").val();
            if (TS == "" || TS == null) {
                getMessageNoMenu("I", "Truck Station should not be empty.", function () { return });
            } else {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("CED030900WSearchData", "CED030900W")",
                    data: { "TS": $("#cbStation").val().toString() },
                    //beforeSubmit: showLoading(),
                    success: function (result) {
                        $('#tablegrid').html(result);
                        searchMode();

                        setInterval(function () {
                            //CED030900WdoSearch();
                            processDataRetrieve();
                        }, (parseInt(refreshData) * 60) * 1000);
                    },
                    error: function (result) {
                        getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        //hideLoading();
                    }
                });
            }
        }

        CED030900WdoSearch = function () {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("CED030900WSearchData", "CED030900W")",
                data: null,
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    //hideLoading();
                }

            });
        }

</script>
