﻿<div id="menu2" class="tab-pane fade">
    <div class="col-xs-6" style="margin-top: 5px;"></div>
    <div class="col-xs-6 text-right">
        <div class="form-group-xs _criteria">
            <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010600WdoSearch()">Search</button>
            <button id="btnClear" type="button" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED010600WdoClear()">Clear</button>
        </div>
    </div>
    <div class="col-xs-12" style="margin-top: 5px;">
        <div class="row" style="height: 45px" id="formUpload">
            <div class="col-xs-12 col-sm-6 text-left">
                <form id="formUploadFilePreparationTime" method="POST" action="#" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-group input-file-PreparationTime" name="upload">
                            <span class="input-group-btn">
                                <button id="btnBrowse" class="btn btn-default btn-xs eView eEdit btn-size1" type="button" onclick="javascript:browseFileNew('PreparationTime')">Browse</button>
                            </span>
                            <input type="text" id="txtUploadFilePreparationTime" class="form-control" placeholder='Choose a file...' style="width: 40%" />
                            <span class="input-group-btn" style="float: left">
                                <button id="btnUpload" class="btn btn-warning btn-xs eView eEdit btn-size1" type="button" onclick="javascript: CED010600WdoUploadFile('PreparationTime')">Upload</button>
                            </span>
                            <span style="float: left; padding-left: 90px; padding-top: 5px;">
                                <a href="#" onclick="javascript:CED010600WdoDownloadTemplate('PreparationTime')">Download Template</a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div id="div-btnEditAdd" class="col-xs-12 col-sm-6 text-right" style="height: 45px;">
                <div class="form-group-xs" style="margin-bottom: 3px;">
                    <button id="btnAdd" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010600WdoAdd()">Add</button>
                    <button id="btnEdit" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010600WdoEdit()">Edit</button>
                    <button id="btnDelete" type="button" class="btn btn-danger btn-xs eView btn-size1" onclick="javascript:CED010600WdoDelete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>