@using IPOS.Controllers;

<div id="divCycleTime" class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Module Code</label>
            <div class="col-xs-8 col-sm-9 col-md-6">
                <input type="text" id="txt-ModuleId" class="form-control eView" placeholder="Module Code" maxlength="10" />
            </div>
        </div>
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">KIT Flag</label>
            <div class="col-xs-8 col-sm-9 col-md-6">
                @Html.DropDownList("cmb-KitFlag", CommonController.ComboBoxSelectList("1", "KIT_FLAG", null), new { @class = "eView", style = "width:100%" })
            </div>
        </div>
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Dedicated Line</label>
            <div class="col-xs-8 col-sm-9 col-md-6">
                <input type="text" id="txt-DedicatedLine" class="form-control eView" placeholder="Dedicated Line" maxlength="12" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Semifinish Flag</label>
            <div class="col-xs-8 col-sm-9 col-md-6">
                @Html.DropDownList("cmb-SemifinishFlag", CommonController.ComboBoxSelectList("1", "SEMIFINISH_FLAG", null), new { @class = "eView", style = "width:100%" })
            </div>
        </div>
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">MP</label>
            <div class="col-xs-8 col-sm-9 col-md-6">
                @Html.DropDownList("cmb-MP", CommonController.ComboBoxSelectList("1", "MP", null), new { @class = "eView", style = "width:100%" })
            </div>
        </div>
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Module Type</label>
            <div class="col-xs-8 col-sm-9 col-md-6">
                <input type="text" id="txt-ModuleTypeCT" class="form-control eView" placeholder="Module Type" maxlength="5" />
            </div>
        </div>
    </div>
</div>