﻿<form role="form" class="form-horizontal _criteria" id="searchForm">
    @Html.Partial("CED010600WFormCycleTime")
    @Html.Partial("CED010600WFormPreparationTime")
</form>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active" onclick="tabs(1)"><a data-toggle="tab" href="#menu1">Cycle Time</a></li>
            <li onclick="tabs(2)"><a data-toggle="tab" href="#menu2">Preparation Time</a></li>
        </ul>
        <div class="tab-content" style="border: 0px !important; padding-bottom: 6px; padding-top: 6px;">
            @Html.Partial("CED010600WMenuCycleTime")
            @Html.Partial("CED010600WMenuPreparationTime")
        </div>
    </div>
</div>