﻿@using IPOS.Controllers
@using IPOS.Controllers.Constants
@using IPOS.Models.CED010600W
@using IPOS.Models.Common
@model GenericModel<CED010600W>

<style>
    /*#grid tr td th {
        white-space: nowrap;
    }*/

    .file {
        width: 150px;
    }
</style>

<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.75%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 1295px; width: 100%;">
                    <colgroup>
                        <col width="3%" />

                        <col width="7%" class="ct" />
                        <col width="4%" class="ct" />
                        <col width="5%" class="ct" />
                        <col width="5%" class="ct" />
                        <col width="7%" class="ct" />
                        <col width="7%" class="ct" />
                        <col width="7%" class="ct" />
                        <col width="7%" class="ct" />
                        <col width="7%" class="ct" />

                        <col width="13%" class="pt" />
                        <col width="12%" class="pt" />
                        <col width="12%" class="pt" />
                        <col width="12%" class="pt" />

                        <col width="12%" />
                        <col width="12%" />
                        <col width="12%" />
                        <col width="12%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th rowspan="2" class="grid-checkbox-col">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )" />
                            </th>

                            <th rowspan="2" class="ct">Module Code</th>
                            <th rowspan="2" class="ct">MP</th>
                            <th rowspan="2" class="ct">Cycle Time</th>
                            <th rowspan="2" class="ct">KIT Flag</th>
                            <th rowspan="2" class="ct">Dedicated Line</th>
                            <th rowspan="2" class="ct">Semifinish Flag</th>
                            <th colspan="2" class="ct">Packing Plant</th>
                            <th rowspan="2" class="ct">Module Type</th>

                            <th rowspan="2" class="pt">Module Type</th>
                            <th rowspan="2" class="pt">Preparation Time</th>
                            <th rowspan="2" class="pt">M3</th>
                            <th rowspan="2" class="pt">Ratio</th>

                            <th colspan="2">Created</th>
                            <th colspan="2">Changed</th>
                        </tr>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>By</th>
                            <th>Date</th>
                            <th>By</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--if Row Search Criteria More Than 2, Then set Height = 270px Else Height = 300px -->
            <div id="tScrollBody" style="overflow-y: scroll; height: 180px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 1295px; width: 100%;">
                    <colgroup>
                        <col width="3%" />

                        <col width="7%" class="ct" />
                        <col width="4%" class="ct" />
                        <col width="5%" class="ct" />
                        <col width="5%" class="ct" />
                        <col width="7%" class="ct" />
                        <col width="7%" class="ct" />
                        <col width="7%" class="ct" />
                        <col width="7%" class="ct" />
                        <col width="7%" class="ct" />

                        <col width="13%" class="pt" />
                        <col width="12%" class="pt" />
                        <col width="12%" class="pt" />
                        <col width="12%" class="pt" />

                        <col width="12%" />
                        <col width="12%" />
                        <col width="12%" />
                        <col width="12%" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    var seqNo = 0;
                                    foreach (CED010600W item in Model.DataList)
                                    {
                                        seqNo++;
                                        <tr id="DataRow" class="tr-grid-detail">
                                            <td class="text-center grid-checkbox-col">
                                                <input type="checkbox" id="checkDetail" name="grid-checkbox-body" class="grid-checkbox grid-checkbox-body eView" value="@seqNo" onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))" />
                                            </td>

                                            @*CYCLE TIME*@
                                            <td class="text-left ct">@item.MOD_ID</td>
                                            <td class="text-center ct">@item.MP</td>
                                            <td class="text-right ct">@item.CYCLE_TIME</td>
                                            <td class="text-center ct">@item.KIT_FLAG</td>
                                            <td class="text-center ct">@item.DEDICATED_LINE</td>
                                            <td class="text-center ct">@item.SEMIFINISH_FLAG</td>
                                            <td class="text-center ct">@item.PACKING_PLANT_FROM</td>
                                            <td class="text-center ct">@item.PACKING_PLANT_TO</td>
                                            <td class="text-center ct">@item.MOD_TYPE</td>

                                            @*PREPARATION TIME*@
                                            <td class="text-left pt">@item.MOD_TYPE</td>
                                            <td class="text-right pt">@item.PREPARATION_TIME</td>
                                            <td class="text-right pt">@item.MEASUREMENT</td>
                                            <td class="text-right pt">@item.RATIO</td>

                                            @*BOTH*@
                                            <td class="text-left">@item.CREATED_BY</td>
                                            <td class="text-center">@item.CREATED_DT</td>
                                            <td class="text-left">@item.CHANGED_BY</td>
                                            <td class="text-center" id="ChangedDt">@item.CHANGED_DT</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="100%" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="100%">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                        <button type="button" id="btncancel" class="btn btn-danger btn-xs eAdd eEdit btn-size1" onclick="javascript:CED010600WdoCancel()">Cancel</button>
                        <button type="button" id="btnsave" class="btn btn-primary btn-xs  eAdd eEdit btn-size1" onclick="javascript:CED010600WdoSave()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table style="display: none">
    <tbody id="tbTemplateDataRow">
        <tr id="templateDataRow" class="tr-grid-detail">
            <td class="text-center grid-checkbox-col">
                @Html.Hidden("mode")
                <input type="checkbox" id="checkDetail" class="grid-checkbox" checked="checked" disabled="disabled" />
            </td>

            @*CYCLE TIME*@
            <td class="center ct">
                <input id="txtModuleId" class="input-sm form-control center mandatory eAdd" type="text" value="" maxlength="10" />
            </td>
            <td class="center ct">
                @Html.DropDownList("cmbMP", CommonController.ComboBoxSelectList("2", "MP", null), new { @class = "mandatory eAdd", style = "width:100%" })
            </td>
            <td class="center ct">
                <input id="txtCycleTime" class="input-sm form-control center mandatory eAdd eEdit" type="text" value="" maxlength="16" onkeypress="return isNumberKey(event)"/>
            </td>
            <td class="center ct">
                @Html.DropDownList("cmbKitFlag", CommonController.ComboBoxSelectList("2", "KIT_FLAG", null), new { @class = "mandatory eAdd eEdit", style = "width:100%" })
            </td>
            <td class="center ct">
                <input id="txtDedicatedLine" class="input-sm form-control center eAdd eEdit" type="text" value="" maxlength="12" />
            </td>
            <td class="center ct">
                @Html.DropDownList("cmbSemifinishFlag", CommonController.ComboBoxSelectList("0", "SEMIFINISH_FLAG", null), new { @class = "eAdd eEdit", style = "width:100%" })
            </td>
            @*<td class="center ct">
                @Html.DropDownList("cmbPackingPlant", CommonController.ComboBoxSelectList("0", "PACKING_PLANT", null), new { @class = "eAdd eEdit", style = "width:100%" })
            </td>*@
            <td class="center ct">
                @Html.DropDownList("cmbPackingPlantFrom", CommonController.ComboBoxSelectList("0", "PACKING_PLANT", null), new { @class = "eAdd eEdit", style = "width:100%" })
            </td>
            <td class="center ct">
                @Html.DropDownList("cmbPackingPlantTo", CommonController.ComboBoxSelectList("0", "PACKING_PLANT", null), new { @class = "eAdd eEdit", style = "width:100%" })
            </td>
            <td class="center ct">
                <input id="txtModuleTypeCT" class="input-sm form-control center mandatory eAdd" type="text" value="" maxlength="5" />
            </td>

            @*PREPARATION TIME*@
            <td class="center pt">
                <input id="txtModuleTypePT" class="input-sm form-control center mandatory eAdd" type="text" value="" maxlength="5" />
            </td>
            <td class="center pt">
                <input id="txtPreparationTime" class="input-sm form-control center mandatory eAdd eEdit" type="text" value="" maxlength="17" onkeypress="return isNumberKey(event)"/>
            </td>
            <td class="center pt">
                <input id="txtMeasurement" class="input-sm form-control center mandatory eAdd eEdit" type="text" value="" maxlength="17" onkeypress="return isNumberKey(event)"/>
            </td>
            <td class="center pt">
                <input id="txtRatio" class="input-sm form-control center mandatory eAdd eEdit" type="text" value="" maxlength="17" onkeypress="return isNumberKey(event)"/>
            </td>

            <td id="td-createdBy" class="left" style="vertical-align: middle"></td>
            <td id="td-createdDt" class="center" style="vertical-align: middle"></td>
            <td id="td-changedBy" class="left" style="vertical-align: middle"></td>
            <td id="td-changedDt" class="center" style="vertical-align: middle"></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
$("#tScrollBody").scroll(function () {
    $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
});

@{
if (Model.DataList != null && Model.DataList.Any())
{
    Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                    "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                    "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                    "if(btnEdit.length>0)" +
                    "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                    "if(btnDelete.length>0)" +
                    "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                    "if(btnDownload.length>0)" +
                    "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
    );
}
else
{
    Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                    "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                    "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                    "if(btnEdit.length>0)" +
                    "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                    "if(btnDelete.length>0)" +
                    "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                    "if(btnDownload.length>0)" +
                    "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
    );
}
}
</script>
