﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED010600WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED010600WGrid")
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED010600W";
        var itbl = 1;

        $(document).ready(function () {
            CED010600WdoInit();
            tabs(1);
        });

        CED010600WdoInit = function () {
            initialMode();
        }

        CED010600WdoClear = function () {
            clearMode();
            CED010600WdoSearchClear();

            $("#txtUploadFileCycleTime").val("");
            $("#txtUploadFilePreparationTime").val("");
        }

        CED010600WdoSearchClear = function () {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED010600WSearchNoData")",
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED010600WdoInit();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010600WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            modType = itbl == 1 ? $("#txt-ModuleTypeCT").val() : $("#txt-ModuleTypePT").val()
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010600WSearchData")",
                data: {
                    TABLE: itbl,
                    MOD_ID: $("#txt-ModuleId").val(),
                    MP: $("#cmb-MP").val(),
                    KIT_FLAG: $("#cmb-KitFlag").val(),
                    DEDICATED_LINE: $("#txt-DedicatedLine").val(),
                    SEMIFINISH_FLAG: $("#cmb-SemifinishFlag").val(),
                    MOD_TYPE: modType,
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                    hide_show();
                }
            });
        }

        CED010600WdoAdd = function () {
            hide_show()
            addMode(funcID);
        }

        CED010600WdoEdit = function () {
            var count = $('#tScrollBody').find('input:checked').length;
            if (count != 1) {
                //Pop Up Message
                setMessage('MCEDSTD002E', null, function () { return });
            }
            else {
                editMode(funcID);

                // Cycle Time
                $('#cmbMP').prop('disabled', false);
                $('#txtCycleTime').prop('disabled', false);
                $('#cmbKitFlag').prop('disabled', false);
                $('#txtDedicatedLine').prop('disabled', false);
                $('#cmbSemifinishFlag').prop('disabled', false);
                //$('#cmbPackingPlant').prop('disabled', false);
                $('#cmbPackingPlantFrom').prop('disabled', false);
                $('#cmbPackingPlantTo').prop('disabled', false);

                // Preparation Time
                $('#txtPreparationTime').prop('disabled', false);
                $('#txtMeasurement').prop('disabled', false);
                $('#txtRatio').prop('disabled', false);
            }
        }

        CED010600WdoSave = function () {
            //Pop Up Message
            setMessage('MCEDSTD001C', null, function () {
                modType = itbl == 1 ? $("#txtModuleTypeCT").val() : $("#txtModuleTypePT").val()
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("CED010600WSaveData")",
                    data: {
                        MODE: $('#mode').val(),
                        TABLE: itbl,

                        // CYCLE TIME
                        MOD_ID: $('#txtModuleId').val(),
                        MP: $('#cmbMP').val(),
                        CYCLE_TIME: $('#txtCycleTime').val(),
                        KIT_FLAG: $('#cmbKitFlag').val(),
                        DEDICATED_LINE: $('#txtDedicatedLine').val(),
                        SEMIFINISH_FLAG: $('#cmbSemifinishFlag').val(),
                        //PREV_PKG_PLANT: $('#cmbPackingPlant').val(),
                        PACKING_PLANT_FROM: $('#cmbPackingPlantFrom').val(),
                        PACKING_PLANT_TO: $('#cmbPackingPlantTo').val(),

                        // PREPARATION TIME
                        PREPARATION_TIME: $('#txtPreparationTime').val(),
                        MEASUREMENT: $('#txtMeasurement').val(),
                        RATIO: $('#txtRatio').val(),

                        //BOTH
                        MOD_TYPE: modType,
                        CHANGED_DT: $('#td-changedDt').html()
                    },
                    success: function (result) {
                        //Pop Up Message
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                            if (result.MSG_TYPE != 'E') {
                                afterSave();
                                CED010600WdoSearch();
                            }
                        });
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });
        }

        CED010600WdoCancel = function () {
            //Pop Up Message
            setMessage('MCEDSTD002C', null, function () {
                cancelMode();
                if ($('#tblScroll tbody tr').length > 0) {
                    CED010600WdoSearch();
                }
                else {
                    CED010600WdoInit();
                }
            });
        }

        CED010600WdoDelete = function () {
            var count = $('#tScrollBody').find('input:checked').length;

            if (count == 0) {
                setMessage('MCEDSTD003E', null, function () { return });
            }
            else {
                var modId = $('#tblScroll input:checked').map(function () { return $(this).closest('tr').find('td:eq(1)').text(); }).get();
                var mp = $('#tblScroll input:checked').map(function () { return $(this).closest('tr').find('td:eq(2)').text(); }).get();
                var modType = $('#tblScroll input:checked').map(function () { return $(this).closest('tr').find('td:eq(9)').text(); }).get();
                var changedDt = $('#tblScroll input:checked').map(function () { return $(this).closest('tr').find('td:eq(17)').text(); }).get();

                var listModId = "";
                for (var i = 0; i < modId.length; i++)
                    listModId = listModId + modId[i] + ";";

                var listMP = "";
                for (var i = 0; i < mp.length; i++)
                    listMP = listMP + mp[i] + ";";

                var listModType = "";
                for (var i = 0; i < modType.length; i++)
                    listModType = listModType + modType[i] + ";";

                var listChangedDt = "";
                for (var i = 0; i < changedDt.length; i++)
                    listChangedDt = listChangedDt + changedDt[i] + ";";

                //Pop Up Message
                setMessage('MCEDSTD003C', null, function () {
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("CED010600WDeleteData")",
                        data: {
                            TABLE: itbl,
                            MOD_ID: listModId,
                            MP: listMP,
                            MOD_TYPE: listModType,
                            CHANGED_DT: listChangedDt
                        },
                        success: function (result) {
                            //Pop Up Message
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                                if (result.MSG_TYPE != "E") {
                                    afterSave();
                                    CED010600WdoSearch();
                                }
                            });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });

            }
        }

        CED010600WdoDownloadTemplate = function (templateName) {
            getTemplate('CED010600W_' + templateName);
        }

        CED010600WdoUploadFile = function (templateName) {
            if (checkValidFile()) {
                setMessage('MCEDSTD007C', null, function () {
                    var dataForm = new FormData($('#formUploadFile' + templateName)[0]);
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: "@Html.Toyota().Page.GetActionUrl("UploadFile")",
                        data: dataForm,
                        processData: false, //Important!
                        contentType: false,
                        cache: false,
                        //beforeSubmit: showLoading(),
                        success: function (result) {
                            if (result.fileName != "" && result.fileName != undefined)
                                CED010600WdoSendBatch(result.fileName);
                            else
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                            $("#txtUploadFileCycleTime").val("");
                            $("#txtUploadFilePreparationTime").val("");
                        }
                    });
                })
            }
        }

        CED010600WdoSendBatch = function (fileName) {
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchUpload")",
                data: {
                    filename: fileName,
                    table: itbl,
                },
                success: function (result) {
                    if (result.result.split("-")[0] == "DONE") {
                        setMessage("MCEDSTD002I", "Line Cycle Time Upload;" + result.result.split("-")[1], function () {
                            $('.input-ghost').val(null);
                            $(".input-file").find('input').val('');
                            CED010600WdoClear();
                        });
                    } else {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                }
            });
        }

        function hide_show() {
            if (itbl == 1) {
                $(".ct").show();
                $(".pt").hide();
            } else if (itbl == 2) {
                $(".ct").hide();
                $(".pt").show();
            }
        }

        function tabs(e) {
            itbl = e;
            if (itbl == 1) {
                $("#divCycleTime").show();
                $("#divPreparationTime").hide();
            } else if (itbl == 2) {
                $("#divCycleTime").hide();
                $("#divPreparationTime").show();
            }
            CED010600WdoClear();
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode != 46 && (charCode < 48 || charCode > 57)))
                return false;
            return true;
        }

        function browseFileNew(templateName) {
            $(".input-file-" + templateName).before(
                function () {
                    if ($(".input-file-" + templateName).prev().hasClass('input-ghost')) {
                        $(".input-file-" + templateName).prev().remove();
                    }
                    var element = $("<input type='file' accept='.xls,.xlsx' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    element.click();
                    return element;
                }
            );
        }

        function checkValidFile() {
            var isValid = false;
            var allowedExtension = ['xls', 'xlsx'];
            var fileName = (itbl == 1) ? $('#txtUploadFileCycleTime').val() : $('#txtUploadFilePreparationTime').val();
            var fileExtension = fileName.split('.').pop().toLowerCase();

            // No uploaded file
            if (fileName == '') {
                setMessage('MCEDSTD061E', null, null);
                return isValid;
            }

            // Check file extension
            for (var index in allowedExtension)
                if (fileExtension === allowedExtension[index])
                    isValid = true;

            // File extension not allowed
            if (!isValid)
                setMessage('MCEDSTD062E', 'Upload;.xls or .xlsx', null);

            return isValid;
        }

    </script>
}