@using IPOS.Controllers;

<div id="divPreparationTime" class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Module Type</label>
            <div class="col-xs-8 col-sm-9 col-md-6">
                <input type="text" id="txt-ModuleTypePT" class="form-control eView" placeholder="Module Type" maxlength="5" />
            </div>
        </div>
    </div>
</div>