﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayoutNoMenuTheme;
}

@section HeadScript{
}

<div id="tablegrid">
    @Html.Partial("CED030300WGrid")
</div>

@section BodyScript{
    <script type="text/javascript">
        var mousetimeout;
        var screensaver_active = false;
        var idletime = "@ViewBag.TimeIdle";
        var MsgHide = "@ViewBag.MsgHide";
        var ClearScreen = "@ViewBag.ClearScreen";
        var funcID = "CED030300W";

        $(document).ready(function () {
            $("#bodyContent").attr("style", "height: 1000px; overflow-x: hidden; overflow-y: hidden");
            $("#body-content").attr("style", "overflow-x: hidden; overflow-y: hidden");
            $("#footerDCL").append("<h2 style='margin-bottom: 5px; margin-top: 5px; color:red;text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;'>P&nbsp;A&nbsp;S&nbsp;T&nbsp;I&nbsp;K&nbsp;A&nbsp;N &nbsp;S&nbsp;C&nbsp;A&nbsp;N&nbsp; D&nbsp;C&nbsp;L&nbsp; 3&nbsp; K&nbsp;A&nbsp;L&nbsp;I&nbsp;</h2>");
            CED030300WdoInit();
            //set_focus("txt-DockNo");
        });

        $(document).click(function () {
            if ($('#txt-DockNo').val() == '') {
                $('#txt-DockNo').focus();
            } else {
                $('#txt-DeliveryNo').focus();
            }
        });

        function show_screensaver() {
            $('#divInsideTable').fadeOut();
            $('#screensaver').fadeIn();
            screensaver_active = true;
            screensaver_animation();
        }

        function stop_screensaver() {
            $('#screensaver').fadeOut();
            screensaver_active = false;
        }

        $(document).mousemove(function () {
            clearTimeout(mousetimeout);

            if (screensaver_active) {
                stop_screensaver();
            }

            mousetimeout = setTimeout(function () {
                show_screensaver();
            }, 1000 * idletime);
        });

        function screensaver_animation() {
            if (screensaver_active) {
                $('#screensaver').animate(screensaver_animation);
            }
        }

        function set_focus(param) {
            $('#' + param).on('mousedown mouseup', function (e) {
                if (event.which > 1) {
                    e.preventDefault();
                } else {
                    //Do some work
                }
            });

            //var alwaysFocusedInput = document.getElementById(param);

            //alwaysFocusedInput.addEventListener("blur", function () {
            //    setTimeout(function () {
            //        alwaysFocusedInput.focus();
            //    }, 0);
            //});
        }


        CED030300WdoInit = function () {
            initialMode();
            CED030300WdoSearch();
        }

        CED030300WdoSearch = function () {
            $.ajax({
                type: 'POST',
            @*url: "@Html.Toyota().Page.GetActionUrl("CED030300WSearchData")",*@
                url: "@Url.Action("CED030300WSearchData", "CED030300W")",
                data: null,
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    clearTimeout(t);
                    seconds = 0; minutes = 0; hours = 0;
                    $("#txt-DockNo").focus();
                },
                error: function (result) {
                    getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    //hideLoading();
                    $("#txt-DockNo").focus();
                }

            });
        }

        function retrieveData(dockNo, deliveryNo, resultMsg) {
            $.ajax({
                type: 'POST',
            @*url: "@Html.Toyota().Page.GetActionUrl("RetrieveDataDCL")",*@
            url: "@Url.Action("RetrieveDataDCL", "CED030300W")",
            data: { dockNo: dockNo, deliveryNo: deliveryNo },
            success: function (result) {
                if (result.length > 0) {
                    $("#lblTS").text(result[0].TS);
                    $("#lblDock").text(result[0].Dock)
                    $("#lblRemaining").text(result[0].Remaining);
                    $("#lblRoute").text(result[0].Route);
                    $("#lblCycle").text(result[0].Cycle);
                    $("#TSArrivalPlan").text(result[0].TSArrivalPlan);
                    $("#TSDeparturePlan").text(result[0].TSDeparturePlan);
                    $("#YardArrival").text(result[0].YardArrival);
                    $("#TSArrivalActual").text(result[0].TSArrivalActual);
                    $("#TSDepartureActual").text(result[0].TSDepartureActual);
                    $("#TSArrivalGAP").text(result[0].TSArrivalGAP);
                    $("#TSDepartureGAP").text(result[0].TSDepartureGAP);
                    $("#hidArrPlan").val(result[0].ArrPlan);
                    var splitData = resultMsg.split("|");
                    var msgError = splitData[0];
                    var rst = splitData[1];
                    var typeMsg = splitData[2];
                    var title = "";
                    if (typeMsg == "1") {
                        msgError += "|" + splitData[3];
                        title = "ARRIVAL (YARD)";
                        $("#lblRemaining").text("--");
                        StandByMode("StandBy");
                    } else if (typeMsg == "2") {
                        title = "ARRIVAL (T/S)";
                        StandByMode("StandBy");
                        if ($("#lblRemaining").text() == "00:00") {
                            $("#lblRemaining").attr("style", "color: red");
                        }
                    } else if (typeMsg == "3") {
                        title = "DEPARTURE (T/S)";
                        $("#lblRemaining").text("00:00");
                        if (typeMsg == "3" && rst == "OK") {
                            StandByMode("Popup");
                        } else {
                            StandByMode("StandBy");
                        }
                    }
                    $('#divInsideTable').fadeIn();
                    setRemarkTable(title, rst, msgError);

                    if ($("#lblRemaining").text() != "" && $("#lblRemaining").text() != "00:00" && $("#lblRemaining").text() != "--") {
                        if ($("#lblRemaining").text() != "0") {
                            var totaltimesec = (parseFloat($("#lblRemaining").text().replace("- ", "").split(":")[0]) * 3600) + (parseFloat($("#lblRemaining").text().replace("- ", "").split(":")[1]) * 60) + parseFloat($("#lblRemaining").text().replace("- ", "").split(":")[2]);
                            startCountdown(totaltimesec);
                        } else {
                            startCountdown(0);
                        }
                    }
                }
            },
            error: function (result) {
                getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
            }
        });

        setTimeout(function () {
            $('#divInsideTable').fadeOut();
        }, parseInt(MsgHide) * 1000);
    }

    //FID.Ridwan : 2019-11-07
    $(document).click(function () {
        if ($('#detail-popup-modal-skid').is(':visible')) {
            $("#txt-Skid").focus();
        }
    });

    function ReceiveProcess() {
        if ($("#txt-DockNo").val() == "") {
            playSoundError();
            setMessageNoMenu('MCEDSTD005E', 'Dock No', function () { return });
            setTimeout(function () {
                $(".btnEPopup").click();
                $("#txt-DockNo").focus();
            }, 1000);
            return;
        }
        if ($("#txt-DeliveryNo").val() == "") {
            playSoundError();
            setMessageNoMenu('MCEDSTD005E', 'Delivery No', function () { return });
            setTimeout(function () {
                $(".btnEPopup").click();
                $("#txt-DeliveryNo").focus();
            }, 1000);
            return;
        }
        if ($("#txt-DockNo").val().length > 3) {
            playSoundError();
            setMessageNoMenu('MCEDSTD060E', 'Dock No;3', function () { return });
            $("#txt-DockNo").val("");
            setTimeout(function () {
                $(".btnEPopup").click();
                $("#txt-DockNo").focus();
            }, 1000);
        } else {
            $.ajax({
                type: 'POST',
                @*url: "@Html.Toyota().Page.GetActionUrl("CheckDockNo")",*@
                url: "@Url.Action("CheckDockNo", "CED030300W")",
                data: { dockNo: $("#txt-DockNo").val() },
                success: function (result) {
                    if (result != "") {
                        if (result == "Exists") {
                            if ($("#txt-DeliveryNo").val().length != 13) {
                                playSoundError();
                                setMessageNoMenu('MCEDSTD060E', 'Delivery No;13', function () { return });
                                $("#txt-DeliveryNo").val("");
                                setTimeout(function () {
                                    $(".btnEPopup").click();
                                    $("#txt-DeliveryNo").focus();
                                }, 1000);
                            } else {
                                $.ajax({
                                    type: 'POST',
                                    @*url: "@Html.Toyota().Page.GetActionUrl("CheckDeliveryNo")",*@
                                    url: "@Url.Action("CheckDeliveryNo", "CED030300W")",
                                    data: { dockNo: $("#txt-DockNo").val(), deliveryNo: $("#txt-DeliveryNo").val() },
                                    success: function (result) {
                                        if (result != "") {
                                            if (result == "Exists") {
                                                $.ajax({
                                                    type: 'POST',
                                                    @*url: "@Html.Toyota().Page.GetActionUrl("ValidateScan")",*@
                                                    url: "@Url.Action("ValidateScan", "CED030300W")",
                                                    data: { dockNo: $("#txt-DockNo").val(), deliveryNo: $("#txt-DeliveryNo").val() },
                                                    success: function (result) {
                                                        retrieveData($("#txt-DockNo").val(), $("#txt-DeliveryNo").val(), result);
                                                    },
                                                    error: function (result) {
                                                        getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                                                    }
                                                });
                                            } else if (result == "Station Used") {
                                                playSoundError();
                                                setMessageNoMenu('MCED030300002E', null, function () { return });
                                                setTimeout(function () {
                                                    $(".btnEPopup").click();
                                                    $("#txt-DockNo").focus();
                                                }, 1000);
                                                $("#txt-DockNo").val('');
                                                $("#txt-DeliveryNo").val('');
                                            } else {
                                                playSoundError();
                                                setMessageNoMenu('MCEDSTD010E', 'DCL Data;Delivery Transaction', function () { return });
                                                $("#txt-DeliveryNo").val("");
                                                setTimeout(function () {
                                                    $(".btnEPopup").click();
                                                    $("#txt-DockNo").focus();
                                                }, 1000);
                                                $("#txt-DockNo").val('');
                                                $("#txt-DeliveryNo").val('');
                                            }
                                        }
                                    },
                                    error: function (result) {
                                        getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                                    }
                                });
                            }
                        } else {
                            playSoundError();
                            setMessageNoMenu('MCEDSTD010E', 'Dock No;Dock Master', function () { return });
                            $("#txt-DockNo").val("");
                            setTimeout(function () {
                                $(".btnEPopup").click();
                                $("#txt-DockNo").focus();
                            }, 1000);
                        }
                    }
                },
                error: function (result) {
                    getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                }
            });
        }
    }

    function StandByMode(act) {
        var idletimeStandBy = "@ViewBag.ProcessIdle";
        if (act == "StandBy") {
            setTimeout(function () {
                CED030300WdoInit();
            }, 1000 * idletimeStandBy);
            $('#txt-DockNo').prop('disabled', true);
            $('#txt-DeliveryNo').prop('disabled', true);
            $('#btnReceive').prop('disabled', true);
        } else if (act == "Popup") {
            setTimeout(function () {
                $('#divInsideTable').fadeOut();
                $('#detail-popup-modal-skid').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                //$("#txt-Skid").focus();
            }, 1000 * idletimeStandBy);
            $('#txt-DockNo').prop('disabled', true);
            $('#txt-DeliveryNo').prop('disabled', true);
            $('#btnReceive').prop('disabled', true);
        }
    }

    function submitSkid() {
        if ($("#txt-Skid").val() == "") {
            playSoundError();
            setMessageNoMenu('MCEDSTD005E', 'Total Skid', function () { });
            setTimeout(function () {
                $(".btnEPopup").click();
                $("#txt-Skid").focus();
            }, 1000);
            return;
        } else {
            if (parseInt($("#txt-Skid").val()) < 0) {
                playSoundError();
                setMessageNoMenu('MCEDSTD012E', 'Total Skid', function () { });
                setTimeout(function () {
                    $(".btnEPopup").click();
                    $("#txt-Skid").focus();
                }, 1000);
                return;
            } else {
                setMessageNoMenu('MCEDSTD047C', null, function () {
                    $.ajax({
                        type: 'POST',
                        @*url: "@Html.Toyota().Page.GetActionUrl("SubmitSkid")",*@
                        url: "@Url.Action("SubmitSkid", "CED030300W")",
                        data: { dockNo: $("#txt-DockNo").val(), deliveryNo: $("#txt-DeliveryNo").val(), totalSkid: $("#txt-Skid").val() },
                        success: function (result) {
                            $("#btnBackSkid").click();
                            CED030300WdoInit();
                        },
                        error: function (result) {
                            getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        }
                    });
                });
                setTimeout(function () {
                    $(".btnYPopup").focus();
                }, 1000);
            }
        }
    }

    function setRemarkTable(title, type, msgError) {
        $('#divInsideTable').fadeIn();
        if (title == "ARRIVAL (YARD)") {
            if (type == "OK") {
                $("#lbl-scanTitle").text(title);
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/checklist.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 20; color: green; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '33%', 'height': '570px', 'left': '10px', 'top': '340px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").show();
                $(".lbl2").hide();
                $(".lbl3").hide();
                $("#lblscan").show();
                $("#lblok").show();
            } else {
                var dateToday = "@DateTime.Now.ToString("yyyy-MM-dd")";
                $("#lbl-scanTitle").text("Invalid Arrival Yard time. Please scan Arrival Yard later than " + msgError.split("|")[1] + " " + $("#hidArrPlan").val() + ".");
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/ng.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: -50px; color: red; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '33%', 'height': '570px', 'left': '10px', 'top': '340px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").hide();
                $(".lbl2").hide();
                $(".lbl3").hide();
                $("#lblscan").hide();
                $("#lblok").hide();
            }
        } else if (title == "ARRIVAL (T/S)") {
            if (type == "OK") {
                $("#lbl-scanTitle").text(title);
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/checklist.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 20; color: green; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '33%', 'height': '570px', 'left': '33.3%', 'top': '340px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").show();
                $(".lbl2").show();
                $(".lbl3").hide();
                $("#lblscan").show();
                $("#lblok").show();
            } else {
                $("#lbl-scanTitle").text("Arrival Yard for " + $("#txt-DockNo").val() + " and " + $("#txt-DeliveryNo").val() + " already scanned.");
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/ng.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 100px; color: red; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '33%', 'height': '570px', 'left': '33.3%', 'top': '340px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").hide();
                $(".lbl2").hide();
                $(".lbl3").hide();
                $("#lblscan").hide();
                $("#lblok").hide();
                $(".arryard").show();
            }

            if ($("#TSArrivalGAP").text() != "00:00") {
                $("#bgcolorARR").css({ 'background-color': 'red' });
            }
        } else if (title == "DEPARTURE (T/S)") {
            if (type == "OK") {
                $("#lbl-scanTitle").text(title);
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/checklist.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 20; color: green; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '33%', 'height': '570px', 'left': '66.3%', 'top': '340px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").show();
                $(".lbl2").show();
                $(".lbl3").show();
                $("#lblscan").show();
                $("#lblok").show();
            } else {
                $("#lbl-scanTitle").text("Departure Yard for " + $("#txt-DockNo").val() + " and " + $("#txt-DeliveryNo").val() + " already scanned.");
                $("#imgpopup").attr("src", "@Url.Content("~/Content/Images/ng.png")");
                $("#lblpopup").attr("style", "font-size: 3em; margin-top: 10px; color: red; font-weight: bold");
                $('#divInsideTable').css({ 'position': 'absolute', 'width': '33%', 'height': '570px', 'left': '66.3%', 'top': '340px', 'display': 'none', 'z-index': '9999', 'background': 'rgba(220, 230, 241, .9)' });
                $(".lbl1").show();
                $(".lbl2").hide();
                $(".lbl3").hide();
                $("#lblscan").hide();
                $("#lblok").hide();
                $(".arryard").show();
                $(".arrts").show();
            }

            if ($("#TSDepartureGAP").text() != "00:00") {
                $("#bgcolor").css({ 'background-color': 'red' });
            }
            if ($("#TSArrivalGAP").text() != "00:00") {
                $("#bgcolorARR").css({ 'background-color': 'red' });
            }
        }
}

function searchKeyUp1() {
    if ($("#txt-DockNo").val().length > 2) {
        alert("OK");
    }
    //onkeyup = "searchKeyUp1()"
}

function searchKeyPress1(e) {
    e = e || window.event;
    if (e.keyCode == 13) {
        if ($("#txt-DockNo").val() == "") {
            playSoundError();
            setMessageNoMenu('MCEDSTD005E', 'Dock No', function () { return });
            setTimeout(function () {
                $(".btnEPopup").click();
                $("#txt-DockNo").focus();
            }, 1000);
            return;
        }
        //FID.Ridwan : 2019-10-07
        if ($("#txt-DockNo").val() == ClearScreen) {
            CED030300WdoInit();
        }else if ($("#txt-DockNo").val().length > 3) {
            playSoundError();
            setMessageNoMenu('MCEDSTD060E', 'Dock No;3', function () { return });
            $("#txt-DockNo").val("");
            setTimeout(function () {
                $(".btnEPopup").click();
                $("#txt-DockNo").focus();
            }, 1000);
        } else {
            $.ajax({
                type: 'POST',
                    @*url: "@Html.Toyota().Page.GetActionUrl("CheckDockNo")",*@
                url: "@Url.Action("CheckDockNo", "CED030300W")",
                data: { dockNo: $("#txt-DockNo").val() },
                success: function (result) {
                    if (result != "") {
                        if (result == "Exists") {
                            $("#txt-DeliveryNo").focus();
                        } else {
                            playSoundError();
                            setMessageNoMenu('MCEDSTD010E', 'Dock No;Dock Master', function () { return });
                            $("#txt-DockNo").val("");
                            setTimeout(function () {
                                $(".btnEPopup").click();
                                $("#txt-DockNo").focus();
                            }, 1000);
                        }
                    }
                },
                error: function (result) {
                    getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                }
            });
        }
        return false;
    }
    return true;
}

function searchKeyPress2(e) {
    e = e || window.event;
    if (e.keyCode == 13) {
        if ($("#txt-DeliveryNo").val() == "") {
            playSoundError();
            setMessageNoMenu('MCEDSTD005E', 'Delivery No', function () { return });
            setTimeout(function () {
                $(".btnEPopup").click();
                $("#txt-DeliveryNo").focus();
            }, 1000);
            return;
        }
        //FID.Ridwan : 2019-10-07
        if ($("#txt-DeliveryNo").val() == ClearScreen) {
            CED030300WdoInit();
        } else if ($("#txt-DeliveryNo").val().length != 13) {
            playSoundError();
            setMessageNoMenu('MCEDSTD060E', 'Delivery No;13', function () { return });
            $("#txt-DeliveryNo").val("");
            setTimeout(function () {
                $(".btnEPopup").click();
                $("#txt-DeliveryNo").focus();
            }, 1000);
        } else {
            $.ajax({
                type: 'POST',
                    @*url: "@Html.Toyota().Page.GetActionUrl("CheckDeliveryNo")",*@
                    url: "@Url.Action("CheckDeliveryNo", "CED030300W")",
                    data: { dockNo: $("#txt-DockNo").val(), deliveryNo: $("#txt-DeliveryNo").val() },
                    success: function (result) {
                        if (result != "") {
                            if (result == "Exists") {
                                $.ajax({
                                    type: 'POST',
                                    @*url: "@Html.Toyota().Page.GetActionUrl("ValidateScan")",*@
                                    url: "@Url.Action("ValidateScan", "CED030300W")",
                                    data: { dockNo: $("#txt-DockNo").val(), deliveryNo: $("#txt-DeliveryNo").val() },
                                    success: function (result) {
                                        retrieveData($("#txt-DockNo").val(), $("#txt-DeliveryNo").val(), result);
                                    },
                                    error: function (result) {
                                        getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                                    }
                                });
                            } else if (result == "Station Used") {
                                playSoundError();
                                setMessageNoMenu('MCED030300002E', null, function () { return });
                                setTimeout(function () {
                                    $(".btnEPopup").click();
                                    $("#txt-DockNo").focus();
                                }, 1000);
                                $("#txt-DockNo").val('');
                                $("#txt-DeliveryNo").val('');
                            } else {
                                playSoundError();
                                setMessageNoMenu('MCEDSTD010E', 'DCL Data;Delivery Transaction', function () { return });
                                $("#txt-DeliveryNo").val("");
                                setTimeout(function () {
                                    $(".btnEPopup").click();
                                    $("#txt-DockNo").focus();
                                }, 1000);
                                $("#txt-DockNo").val('');
                                $("#txt-DeliveryNo").val('');
                            }
                        }
                    },
                    error: function (result) {
                        getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    }
                });
            }
            return false;
        }
        return true;
    }

    var seconds = 0, minutes = 0, hours = 0, t;
    function timeDown() {
        seconds--;
        if (seconds < 0) {
            seconds = 60;
            minutes--;
            if (minutes < 0) {
                minutes = 60;
                hours--;
            }
        }

        $("#lblRemaining").text((hours ? (hours > 23 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds));
        var totaltimesec = (parseFloat($("#lblRemaining").text().replace("- ", "").split(":")[0]) * 3600) + (parseFloat($("#lblRemaining").text().replace("- ", "").split(":")[1]) * 60) + parseFloat($("#lblRemaining").text().replace("- ", "").split(":")[2]);
        if (totaltimesec == 0) {
            timerAdd();
            return;
        }

        timerDown();
    }
    function timeAdd() {
        seconds++;
        if (seconds >= 60) {
            seconds = 0;
            minutes++;
            if (minutes >= 60) {
                minutes = 0;
                hours++;
            }
        }

        $("#lblRemaining").text((hours ? (hours > 23 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds));

        timerAdd();
    }
    function timerAdd() {
        t = setTimeout(timeAdd, 1000);
    }
    function timerDown() {
        t = setTimeout(timeDown, 1000);
    }

    function startCountdown(tickCount) {
        hours = Math.floor(tickCount / 3600);
        tickCount %= 3600;
        minutes = Math.floor(tickCount / 60);
        seconds = tickCount % 60;
        if (tickCount == 0) {
            timerAdd();
        } else {
            timerDown();
        }
    }

    function playSoundError() {
        var urlSound = "/Content/blueTheme/Error.wav";
        var audio = new Audio(urlSound);
        audio.play();
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    </script>
}