﻿<style>
    #screensaver { position: absolute; width: 100%; height:100%; left:0px; top: 0px; display: none; z-index:9999; background-color: #1e4271 }
    #screensaver-content {
        position:absolute;
        bottom:0;
        left:0;
        height:50px; 
        width:100%;
    }

    .styleHeader {
        height: 56px;
    }
</style>

<div class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="twelve columns">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <tr>
                        <td class="styleHeader" style="font-weight: bold; font-size: 1.8em; vertical-align: middle">Dock No</td>
                        <td class="styleHeader">
                            <input type="text" id="txt-DockNo" class="form-control eView" tabindex="1" onkeypress="return searchKeyPress1(event);" style="height: 48px; font-size: 2em;"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="styleHeader" style="font-weight: bold; font-size: 1.8em; vertical-align: middle">Delivery No</td>
                        <td class="styleHeader">
                            <input type="text" id="txt-DeliveryNo" class="form-control eView" tabindex="2" onkeypress="return searchKeyPress2(event);" style="height: 48px; font-size: 2em;"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="styleHeader" colspan="2" style="text-align: right">
                            <button id="btnReceive" type="button" class="button primary" onclick="ReceiveProcess()" style="height: 48px; font-size: 1.6em;">Receive</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="six columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th colspan="2" style="font-size: 1.2em;height: 40px;">TRUCK ARRIVAL INFORMATION</th>
                            <th rowspan="2" style="font-size: 1.2em;height: 80px;">REMAINING TIME</th>
                            <th rowspan="2" style="font-size: 1.2em;height: 80px;">ROUTE</th>
                            <th rowspan="2" style="font-size: 1.2em;height: 80px;">CYCLE</th>
                        </tr>
                        <tr>
                            <th style="font-size: 1.2em;height: 40px;">T/S</th>
                            <th style="font-size: 1.2em;height: 40px;">DOCK</th>
                        </tr>
                    </thead>
                    <tr style="height: 88px">
                        <td style="text-align: center; vertical-align: middle; font-size: xx-large; font-weight: bold"><span class="valactivesection" style="font-size: 1.6em;" id="lblTS"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: xx-large; font-weight: bold"><span class="valactivesection" style="font-size: 1.6em;" id="lblDock"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: xx-large; font-weight: bold"><span class="valactivesection" style="font-size: 1.6em;" id="lblRemaining"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: xx-large; font-weight: bold"><span class="valactivesection" style="font-size: 1.6em;" id="lblRoute"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: xx-large; font-weight: bold"><span class="valactivesection" style="font-size: 1.6em;" id="lblCycle"></span></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th width="33%" style="font-size: 1.2em;height: 40px;">ARRIVAL (YARD)</th>
                            <th width="33%" style="font-size: 1.2em;height: 40px;">ARRIVAL (T/S)</th>
                            <th width="33%" style="font-size: 1.2em;height: 40px;">DEPARTURE (T/S)</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="font-size: 1.2em;height: 40px;font-weight: bold;vertical-align:middle;">&nbsp;</td>
                        <td style="font-size: 1.2em;height: 40px;font-weight: bold;vertical-align:middle;">PLANNING</td>
                        <td style="font-size: 1.2em;height: 40px;font-weight: bold;vertical-align:middle;">PLANNING</td>
                    </tr>
                    <tr style="height: 150px; font-weight: bold">
                        <td style="text-align: center; vertical-align: middle; font-size: 7em">&nbsp;<input type="hidden" id="hidArrPlan" /></td>
                        <td style="text-align: center; vertical-align: middle; font-size: 7em"><span class="lbl2 valactive arrts" id="TSArrivalPlan"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: 7em"><span class="lbl3 valactive deptts" id="TSDeparturePlan"></span></td>
                    </tr>
                    <tr>
                        <td style="font-size: 1.2em;height: 40px;font-weight: bold;vertical-align:middle;">ACTUAL</td>
                        <td style="font-size: 1.2em;height: 40px;font-weight: bold;vertical-align:middle;">ACTUAL</td>
                        <td style="font-size: 1.2em;height: 40px;font-weight: bold;vertical-align:middle;">ACTUAL</td>
                    </tr>
                    <tr style="height: 150px; font-weight: bold">
                        <td style="text-align: center; vertical-align: middle; font-size: 7em"><span class="lbl1 valactive arryard" id="YardArrival"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: 7em"><span class="lbl2 valactive arrts" id="TSArrivalActual"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: 7em"><span class="lbl3 valactive depts" id="TSDepartureActual"></span></td>
                    </tr>
                    <tr>
                        <td style="font-size: 1.2em;height: 40px;font-weight: bold;vertical-align:middle;">&nbsp;</td>
                        <td style="font-size: 1.2em;height: 40px;font-weight: bold;vertical-align:middle;">GAP</td>
                        <td style="font-size: 1.2em;height: 40px;font-weight: bold;vertical-align:middle;">GAP</td>
                    </tr>
                    <tr style="height: 150px; font-weight: bold">
                        <td style="text-align: center; vertical-align: middle; font-size: 7em">&nbsp;</td>
                        <td style="text-align: center; vertical-align: middle; font-size: 7em" id="bgcolorARR"><span class="lbl2 valactive arrts" id="TSArrivalGAP"></span></td>
                        <td style="text-align: center; vertical-align: middle; font-size: 7em" id="bgcolor"><span class="lbl3 valactive deptts" id="TSDepartureGAP"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="screensaver">
    <div class="top-bar" style="padding: 0">
        <div class="row" style="background-color: #393939; max-height: 42px; color: white">
            <div class="seven columns">
                <img src="/Content/Bootstrap/img/app-logo.png" style="margin: 0; max-width: 40px !important; vertical-align: middle">
                <span style="font-size: 23px; font-weight: bold; vertical-align: middle" class="lblTitleSaver"></span>
            </div>
            <div class="five columns">
                <div class="row">
                    <div class="six columns text-right" style="margin-top: 10px">
                        <p style="margin-bottom: 0px"><span class="lbl-DateTimeNowSaver" style="font-weight: bold"></span></p>
                    </div>
                    <div class="three columns text-right" style="margin-top: 10px">
                        <p style="margin-bottom: 0px; font-weight: bold">SHIFT : <span class="lbl-ShiftNowSaver"></span></p>
                    </div>
                    <div class="three columns" style="min-height: 42px; border-left: 1px solid white; background-color: #62a8d1">
                        <img src="/Content/Bootstrap/avatars/anonymous.jpg" style="margin: 4px 0 0 0; border-radius: 100%; border: 2px solid #FFF; max-width: 35px !important; vertical-align: middle">
                        <span style="white-space: normal; color: white; vertical-align: middle" class="lblUserSaver"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="padding: 0; margin: 0" />

    <div class="row">
        <div class="twelve columns">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <h1 style="text-align: center">
                WELCOME TO RECEIVING<br />
                PLEASE SCAN YOUR DCL
            </h1>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    
    <div id="screensaver-content">    
            <hr style="padding: 0; margin: 0" />
            <hr style="padding: 0; margin: 0; border-color: orange" />

          <div class="row">
            <div class="twelve columns">
                <p align="left" style="color: white">Copyright &copy; PT. TOYOTA MOTOR MANUFACTURING INDONESIA</p>
            </div>
        </div>
    </div>



@*    <hr style="padding: 0; margin: 0" />
    <hr style="padding: 0; margin: 0; border-color: orange" />

    <div class="row">
        <div class="twelve columns">
            <p align="left" style="color: white">Copyright &copy; PT. TOYOTA MOTOR MANUFACTURING INDONESIA</p>
        </div>
    </div>*@
</div>

<div id="divInsideTable" style="display: none; text-align: center">
    <p id="lblpopup">
        <br /><br />
        <span id="lblscan">SCAN</span><br />
        <span id="lbl-scanTitle"></span><br />
        <span id="lblok">OK</span>
    </p>
    <img id="imgpopup" width="100" height="100" />
</div>

<div class="modal fade" id="detail-popup-modal-skid" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 50%; margin-top: 20%" role="document">
        <div class="modal-content" style="background-color: #1e4271">
            <div class="modal-body">
                <div class="row" style="min-width: 10%; max-width: 100%">
                    <div class="twelve columns">
                        <div class="panel2">Total Skid</div>
                        <table border="0" cellpadding="5" cellspacing="1" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="text" id="txt-Skid" class="form-control eView" style="text-align: right; height: 100px; font-size: 8em" value="" onkeypress="return isNumberKey(event)"/>
                                    </th>
                                    <th>
                                        <button id="btnSubmit" type="button" class="button primary" onclick="submitSkid()">Submit</button>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display: none">
                <button id="btnBackSkid" type="reset" class="btn btn-primary btn-xs eView btn-size1" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#detail-popup-modal-skid").on('show.bs.modal', function () {
        setTimeout(function () {
            $('#txt-Skid').focus();
        }, 1100);
    });
</script>
