﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED031500W
@using IPOS.Models.Common
@model GenericModel<CED031500WDetail>
@using IPOS.Controllers;

    <form role="form" class="form-horizontal _criteria">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-6 text-muted text-left">Manifest No / Kanban ID</label>
                    <div class="col-xs-8 col-sm-9 col-md-6">
                        <input type="text" id="lbl-ManifestNoKanbanNo" class="form-control" placeholder="" maxlength="15" tabindex="1" value="" disabled />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Manifest No</label>
                    <div class="col-xs-8 col-sm-9 col-md-5">
                        <input type="text" id="lbl-ManifestNo" class="form-control" placeholder="" maxlength="15" tabindex="2" value="" disabled />
                    </div>
                </div>

                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Supplier - Plant Code</label>
                    <div class="col-xs-8 col-sm-9 col-md-5">
                        <input type="text" id="lbl-Supp_PlantCode" class="form-control" placeholder="" tabindex="3" value="" disabled />
                    </div>
                </div>

                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Part No</label>
                    <div class="col-xs-8 col-sm-9 col-md-5">
                        <input type="text" id="lbl-PartNo" class="form-control" placeholder="" tabindex="4" value="" disabled />
                    </div>
                </div>

                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Kanban Id</label>
                    <div class="col-xs-8 col-sm-9 col-md-6">
                        <input type="text" id="txt-KanbanId" class="form-control" placeholder="" value="" maxlength="18" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Order No</label>
                    <div class="col-xs-8 col-sm-9 col-md-5">
                        <input type="text" id="lbl-OrderNo" class="form-control" placeholder="" tabindex="5" value="" disabled />
                    </div>
                </div>

                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Rcv Plant - Dock Code</label>
                    <div class="col-xs-8 col-sm-9 col-md-5">
                        <input type="text" id="lbl-RCVPlant_DockCode" class="form-control" placeholder="" tabindex="6" value="" disabled />
                    </div>
                </div>

                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-5 text-muted text-left">Unique No</label>
                    <div class="col-xs-8 col-sm-9 col-md-5">
                        <input type="text" id="lbl-Unique" class="form-control" placeholder="" tabindex="7" value="" disabled />
                    </div>
                </div>

                <div class="form-group form-group-xs _criteria">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:right;">
                        <button id="btnBackDetail" type="reset" class="btn btn-primary btn-xs eView btn-size1" onclick="$('#detail-popup-modal').modal('hide');" style="display: none">Back</button>
                        <button id="btnSearchDetail" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: DetailCED031500WdoSearch()" style="display: none">Search</button>
                    </div>
                </div>
            </div>



        </div>
    </form>

    <div class="text-center" style="margin-bottom: 3px;">
        <hr id="hrsrc" style="margin: 0; padding: 0;" />
    </div>

    <div id="grid" class="row">
        <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
            <div style="border: 1pt solid #ccc;">
                <div id="tScrollHeadDetail" style="width: 98.5%; overflow: hidden;">
                    <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1000px; max-width: 1200px !important;">
                        <colgroup>
                            <col width="35px" />
                            <col width="150px" />
                            <col width="300px" />
                            <col width="100px" />
                            <col width="175px" />
                            <col width="50px" />
                            <col width="100px" />
                            <col width="100px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2">Part No</th>
                                <th rowspan="2">Part Name</th>
                                <th rowspan="2">Unique</th>
                                <th rowspan="2">Kanban ID</th>
                                <th colspan="2">Qty Status</th>
                                <th rowspan="2">Remaining</th>
                            </tr>
                            <tr>
                                <th>Full</th>
                                <th>Pcs</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="tScrollBodyDetail" style="overflow: scroll; height: 230px;">
                    <table id="tblScrollDetail" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1000px; max-width: 1200px !important;">
                        <colgroup>
                            <col width="35px" />
                            <col width="150px" />
                            <col width="300px" />
                            <col width="100px" />
                            <col width="175px" />
                            <col width="50px" />
                            <col width="100px" />
                            <col width="100px" />
                        </colgroup>
                        <tbody>
                            @{
                                if (Model.DataList != null)
                                {
                                    if (Model.DataList.Any())
                                    {
                                        var totalkanban = 0;
                                        foreach (CED031500WDetail item in Model.DataList)
                                        {
                                            var cekStatus = "checked";
                                            <tr id="DataDetail" class="tr-grid-detail">
                                                <td class="text-center">
                                                    <span class="viewMode">@item.No</span>
                                                    <input class="input-sm form-control editMode" type="text" value="@item.No" disabled style="text-align: center" />
                                                </td>
                                                <td class="text-center">
                                                    <span class="viewMode">@item.Part_No</span>
                                                    <input class="input-sm form-control editMode" id="gridPartNo" type="text" value="@item.Part_No" disabled style="text-align: center" />
                                                </td>
                                                <td class="text-left">
                                                    <span class="viewMode">@item.Part_Name</span>
                                                    <input class="input-sm form-control editMode" type="text" value="@item.Part_Name" disabled style="text-align: left" />
                                                </td>
                                                <td class="text-center">
                                                    <span class="viewMode">@item.Unique</span>
                                                    <input class="input-sm form-control editMode" type="text" value="@item.Unique" disabled style="text-align: center" />
                                                </td>
                                                <td class="text-center">
                                                    <span class="viewMode">@item.KanbanID</span>
                                                    <input class="input-sm form-control editMode" id="gridKanbanId" type="text" value="@item.KanbanID" disabled style="text-align: center" />
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" class="enableAll" id="gridFullStatus" disabled @cekStatus style="margin-top: 10px" onclick="validateDetailStatus(this)" value="@item.Shortage_Pcs|@item.Order_Qty"/>
                                                    <span id="hidKanbanType" style="display: none">@item.KanbanType</span>
                                                </td>
                                                <td class="text-right">
                                                    <span class="viewMode">@item.Shortage_Pcs</span>
                                                    <input class="input-sm form-control editMode enableAll" id="gridPcsStatus" type="number" value="@item.Shortage_Pcs" oldvalue="@item.Order_Qty"   min="0" maxlength="10" style="text-align: right" onkeypress="return isNumberKey(event)" />
                                                </td>
                                                <td class="text-right">
                                                    <span class="viewMode">@item.Shortage_Pcs</span>
                                                    <input class="input-sm form-control editMode" id="gridPcsStatusRemaining" type="number" value="@item.Shortage_Pcs" min="0" maxlength="10" style="text-align: right" />
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr id="noDataRow">
                                            <td colspan="7" class="text-center">@Model.MsgNotFound</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    @*<table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                                </td>
                            </tr>
                        </tfoot>
                    </table>*@
                    <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                        <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                            <button id="btnCancelDetail" type="button" class="btn btn-danger btn-xs eAdd eEdit btn-size1" onclick="javascript: CED031500WdoCancelDetail()" style="display: none">Cancel</button>
                            <button id="btnSaveDetail" type="button" class="btn btn-primary btn-xs eAdd eEdit btn-size1" onclick="javascript: CED031500WdoSaveDetail()" style="display: none">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#tScrollBodyDetail").scroll(function () {
            $("#tScrollHeadDetail").scrollLeft($("#tScrollBodyDetail").scrollLeft());
        });

        function validasiedit() {
            var $chkbox_checked = $('#tblScrollDetail :input[type="checkbox"]:checked').length;
            var $chkbox_value = $('#tblScrollDetail :input[type="checkbox"]:checked').val();

            if ($chkbox_checked != 1) {
                alert('Invalid row data Selection!');
            } else {
                //alert($chkbox_checked);
                alert($chkbox_value);
            }
        }
    </script>

