﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Part No</label>
                <div class="col-xs-8 col-sm-9 col-md-5">
                    <input type="text" id="txts-PartNo" class="form-control eView Upper" placeholder="Part No" maxlength="12" autofocus />
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @Html.DropDownList("cmbs-Supplier", CommonController.ComboBoxSelectList("1", "SUPPLIERPLANT", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                    @*@Html.DropDownList("cmbs-Supplier", CommonController.ComboBoxSelectList("1", "SUPPLIER", null), new { onChange = "doRefreshChildComboBox('cmbs-Supplier','cmbs-SupplierPlant','1','SUPPLIER_PLANT_INIT');", tabindex = "1", @class = "eView", style = "width:100%" })*@
                </div>
            </div>
            @*<div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier Plant</label>
                <div class="col-xs-8 col-sm-9 col-md-4">
                    @Html.DropDownList("cmbs-SupplierPlant", CommonController.ComboBoxSelectList("1", "SUPPLIER_PLANT_INIT", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                </div>
            </div>*@
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="form-group form-group-xs _criteria">
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <span class="col-sm-6">
                        <label class="pull-right inline">
                            @*<label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Show Latest</label>*@
                            <small class="text-muted" style="font-size: 12px;">Show Latest</small>
                            <input id="v_sts" class="ace ace-switch ace-switch-6 eView" type="checkbox" checked />
                            @*<input id="v_sts" checked="" type="checkbox" class="ace ace-switch ace-switch-5 eView" />*@
                            <span class="lbl middle"></span>
                        </label>
                    </span>
                    @*<label class="pull-left">
                        <input type="checkbox" id="v_sts" class="ace eView">
                        <span class="lbl">Show Latest</span>
                    </label>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 30px">
        <div class="col-xs-6" style="margin-top: 5px;">
        </div>
        <div class="col-xs-6 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010300WdoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED010300WdoClear()">Clear</button>
            </div>
        </div>
    </div>

</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div class="row" style="height: 45px">
    <div class="col-xs-12 col-sm-6 text-left"></div>
    <div class="col-xs-12 col-sm-6 text-right">
        <div class="form-group form-group-xs" style="margin-bottom: 3px;">
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010300W", "btnAdd"))
            {
                <button id="btnAdd" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010300WdoAdd()">Add</button>
            }
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010300W", "btnEdit"))
            {
                <button id="btnEdit" type="button" class="btn btn-primary btn-xs btn-size1" onclick="javascript:CED010300WdoEdit()">Edit</button>
            }
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010300W", "btnDelete"))
            {
                <button id="btnDelete" type="button" class="btn btn-danger btn-xs btn-size1" onclick="javascript:CED010300WdoDelete()">Delete</button>
            }
        </div>
    </div>
</div>
