﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED010300W
@using IPOS.Models.Common
@using IPOS.Controllers;
@model GenericModel<CED010300W>
<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">
                    <colgroup>
                        <col width="35px" />
                        <col width="80px" />
                        <col width="80px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="200px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="grid-checkbox-col">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )" />
                            </th>
                            <th>Supplier</th>
                            <th>Supplier Plant Cd</th>
                            <th>Part No</th>
                            <th>Unique No</th>
                            <th>Qkp Image</th>
                            <th>Rev Item</th>
                            <th>Rev No</th>
                            <th>Valid Date From</th>
                            <th>Valid Date To</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                            <th>Updated By</th>
                            <th>Updated Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--if Row Search Criteria More Than 2, Then set Height = 270px Else Height = 300px -->
            <div id="tScrollBody" style="overflow: scroll; height: 270px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">
                    <colgroup>
                        <col width="35px" />
                        <col width="80px" />
                        <col width="80px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="200px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    int iIndex = 0;
                                    
                                    foreach (CED010300W item in Model.DataList)
                                    {
                            <tr id="DataRow" class="tr-grid-detail">
                                <td class="text-center grid-checkbox-col">
                                    <input type="checkbox" id="checkDetail" class="grid-checkbox grid-checkbox-body eView" onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))" />
                                    @*<input type="hidden" id="itemImg @iIndex.ToString()" value="@item.QkpImage" />*@
                                </td>
                                <td class="text-center">@item.SupplierCode</td>
                                <td class="text-center">@item.SupplierPlantCode</td>
                                <td class="text-center">@item.PartNo</td>
                                <td class="text-center">@item.UniqueNo</td>
                                @*<td class="text-left"><a href="#" onclick="javascript:CED010300WdoDownloadTemplate(@iIndex)">@item.QkpImage</a></td>*@
                                <td class="text-left"><p hidden>@item.QkpImage<p><a href="@ViewBag.QKP_IMAGE_GET@item.QkpImage" target="_blank">@item.QkpImage</a></td> @*Report/Images/CED010400/BKP_IMAGE/*@
                                <td class="text-left">@item.RevItem</td>
                                <td class="text-right">@item.RevNo</td>
                                <td class="text-center">@Convert.ToDateTime(item.DateFrom).ToString("dd-MMM-yyyy")</td>
                                <td class="text-center">@Convert.ToDateTime(item.DateTo).ToString("dd-MMM-yyyy")</td>
                                <td class="text-left">@item.CREATED_BY</td>
                                <td class="text-center">@Convert.ToDateTime(item.CREATED_DT).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                <td class="text-left">@item.CHANGED_BY</td>
                                <td class="text-center">@Convert.ToDateTime(item.CHANGED_DT).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                <td class="hidden"><input type="text" id="@iIndex" value="@item.QkpImage" /></td>
                            </tr>
                                        iIndex++;
                                    }
                                }
                                else
                                {
                            <tr id="noDataRow">
                                <td colspan="12" class="text-center">@Model.MsgNotFound</td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                        <button id="btnCancel" type="button" class="btn btn-danger btn-xs eAdd eEdit btn-size1" onclick="CED010300WdoCancel()">Cancel</button>
                        <button id="btnSave" type="button" class="btn btn-primary btn-xs  eAdd eEdit btn-size1" onclick="CED010300WdoSave()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table style="display: none">
    <tbody id="tbTemplateDataRow">
        <tr id="templateDataRow" class="tr-grid-detail">
            <td class="text-center grid-checkbox-col">
                @Html.Hidden("mode")
                <input type="checkbox" id="checkDetail" class="grid-checkbox" checked="checked" disabled="disabled" />
            </td>
            <td class="center">
                @*<input id="txtSupplier" class="input-sm form-control mandatory eAdd eEdit" type="text" value="" maxlength="20" placeholder="Supplier" />
                    <span class="input-group-addon" onclick="lookupSupplier()" style="cursor: pointer">...</span>*@
                <input id="txtSupplier2" class="input-sm form-control eAdd text-center" type="text" value="" maxlength="20" placeholder="Supplier" />
                @Html.DropDownList("txtSupplier", CommonController.ComboBoxSelectList("2", "SUPPLIERPLANT", null), new { onChange = "doChangeSupPlant();",tabindex = "1", style = "width: 100%;", @class = "mandatory eAdd text-center" })
                @*@Html.DropDownList("txtSupplier", CommonController.ComboBoxSelectList("2", "SUPPLIER", null), new { onChange = "doRefreshChildComboBox('txtSupplier','txtSupplierPlant','2','SUPPLIER_PLANT_INIT');", tabindex = "1", @class = "mandatory eAdd text-center", style = "width:100%" })*@

            </td>
            <td class="center">
                <input id="txtSupplierPlant2" class="input-sm form-control eAdd text-center" type="text" value="" maxlength="20" placeholder="Supplier" />
                <input id="txtSupplierPlant" class="input-sm form-control text-center" type="text" value="" maxlength="20" placeholder="Supplier Plant" disabled/>
                @*@Html.DropDownList("txtSupplierPlant", CommonController.ComboBoxSelectList("2", "SUPPLIER_PLANT_INIT", null), new { tabindex = "1", style = "width: 100%;", @class = "mandatory eAdd text-center" })*@
            </td>
            <td class="center">
                @*<input id="txtPartNo" class="input-sm form-control mandatory eAdd" type="text" value="" maxlength="25" placeholder="Part No" />
                    <span class="input-group-addon" onclick="lookupPart()" style="cursor: pointer">...</span>*@
                <input id="txtPartNo2" class="input-sm form-control eAdd text-center" type="text" value="" maxlength="20" placeholder="Supplier" />
                @Html.DropDownList("txtPartNo", CommonController.ComboBoxSelectList("2", "PART_NO", null), new { tabindex = "1", style = "width: 100%;", @class = "mandatory eAdd text-center" })
            </td>
            <td class="center">
                <input id="txtUniqueNo" class="input-sm form-control eAdd eEdit mandatory text-center Upper" type="text" value="" maxlength="4" placeholder="Unique No" />
            </td>
            <td class="center">
                <input id="file-QkpImage" class="eEdit file" type="file" style="height: 28px; width: 130px;"/>
                <a href="#" id="txt-QkpImage" class="" download></a>
                @*<input id="txtQkpImage" class="input-sm form-control eAdd eEdit normal-input" type="text" value="" maxlength="500" placeholder="QKP Image" />
                <form role="form" class="form-horizontal uploadFile" id="popup" style="height: 28px; width: 130px;">
                    <button id="btnUpload" class="btn btn-warning btn-xs eAdd" type="button" onclick="javascript:CED010300WdoUploadImage()" style="height:26px;width:28px;">
                        <i class=" ace-icon fa fa-upload"></i>
                    </button>
                    <label for="file_id" style="cursor: pointer">choose image</label>
                    <input name="file" id="file_id" type="file" class="eAdd eEdit" style="visibility: hidden;" accept="image/*"/>
                </form>*@
            </td>
            <td class="center">
                <input id="txtRevItem" class="input-sm form-control eAdd eEdit normal-input" type="text" value="" maxlength="250" placeholder="Rev Item" />
            </td>
            <td class="center">
                <input id="txtRevNo" class="input-sm form-control eAdd normal-input text-right" type="number" value="" maxlength="5" placeholder="Rev No" />
            </td>
            <td class="center">
                <input id="txtDateFrom" class="input-sm form-control mandatory eAdd eEdit date normal-input text-center" type="text" value="" maxlength="11" placeholder="Date From" style="border-color:red;"/>
            </td>
            <td class="center">
                <input id="txtDateTo" class="input-sm form-control  date normal-input text-center" type="text" value="" maxlength="11" placeholder="Date To"/>
            </td>
            <td id="td-createBy" class="left" style="vertical-align: middle"></td>
            <td id="td-createDt" class="center" style="vertical-align: middle"></td>
            <td id="td-updateBy" class="left" style="vertical-align: middle"></td>
            <td id="td-updateDt" class="center" style="vertical-align: middle"></td>
            <td class="hidden"></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });

    @{
        if (Model.DataList != null && Model.DataList.Any())
        {
            Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                            "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                            "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                            "if(btnEdit.length>0)" +
                            "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                            "if(btnDelete.length>0)" +
                            "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                            "if(btnDownload.length>0)" +
                            "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                        );
        }
        else
        {
            Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                            "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                            "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                            "if(btnEdit.length>0)" +
                            "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                            "if(btnDelete.length>0)" +
                            "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                            "if(btnDownload.length>0)" +
                            "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                        );
        }
}
</script>
