﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{

}

<div class="hidden-xs">
    @Html.Partial("CED010300WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED010300WGrid")
    </div>
</div>

<!-- Detail Popup Supplier -->
<div class="modal fade" id="detail-popup-modal-supplier" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 90%; margin-top: 3%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Data Supplier</h4>
            </div>
            <div class="modal-body">
                <div id="tablegridlockupsupplier">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Detail Popup Part -->
<div class="modal fade" id="detail-popup-modal-part" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 90%; margin-top: 3%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Data Part</h4>
            </div>
            <div class="modal-body">
                <div id="tablegridlockuppart">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED010300W";

        $(document).ready(function () {
            CED010300WdoInit();
            $("#txts-PartNo").focus();
        });

        CED010300WdoInit = function () {
            initialMode();
            $("#txts-PartNo").focus();
            var valParent = $("#cmbs-Supplier").val();
            if (valParent != "") {
                $('#cmbs-SupplierPlant').prop("disabled", false);
                $('#cmbs-SupplierPlant').css("color", "#858585");
                $('#cmbs-SupplierPlant').css("background-color", "#ffffff");
            }
            else {
                $('#cmbs-SupplierPlant').prop('disabled', true);
                $('#cmbs-SupplierPlant').css("color", "lightgray");
                $('#cmbs-SupplierPlant').css("background-color", "#eeeeee");
            }

            $("#txts-PartNo").focus();
        }

        CED010300WdoClear = function () {
            clearMode();
            CED010300WdoSearchClear();
            $("#txts-PartNo").focus();
        }
        CED010300WdoSearchClear = function () {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED010300WSearchNoData")",
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED010300WdoInit();
                    $('#grid').hide();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010300WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            var latest_value = "";
            if ($('#v_sts').is(':checked')) {
                latest_value = "true"
            }
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010300WSearchData")",
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                    PartNo: $("#txts-PartNo").val(),
                    SupplierCode: $("#cmbs-Supplier").val(),
                    //SupplierPlantCode: $("#cmbs-SupplierPlant").val(),
                    LATEST_VALUE: latest_value,
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    //Pop Up Message for success or error validation
                    $('#tablegrid').html(result);
                    searchMode();
                    $("#txts-PartNo").focus();
                    if ($('#cmbs-Supplier').val() == '') {
                        $('#cmbs-SupplierPlant').prop('disabled', true);
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                    $("#txts-PartNo").focus();
                    var valParent = $("#cmbs-Supplier").val();
                    if (valParent != "") {
                        $('#cmbs-SupplierPlant').prop("disabled", false);
                        $('#cmbs-SupplierPlant').css("color", "#858585");
                        $('#cmbs-SupplierPlant').css("background-color", "#ffffff");
                    }
                    else {
                        $('#cmbs-SupplierPlant').prop('disabled', true);
                        $('#cmbs-SupplierPlant').css("color", "lightgray");
                        $('#cmbs-SupplierPlant').css("background-color", "#eeeeee");
                    }
                }
            });

        };

        function lookupSupplier() {
            $(".btn-Dialog-OK").click();
            $('#detail-popup-modal-supplier').modal({
                backdrop: 'static',
                keyboard: false
            });
            CED010300WlookupSupplierdoSearch();
        }
        function lookupPart() {
            if ($('#mode').val() != "2") {
                $(".btn-Dialog-OK").click();
                $('#detail-popup-modal-part').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                CED010300WlookupPartdoSearch();
            }
        }

        CED010300WlookupSupplierdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010300WSearchDataSupplier")",
                data: {
                    SupplierCode: $("#txt-Lockup-SupplierCode").val(),
                    SupplierName: $("#txt-Lockup-SupplierName").val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    //Pop Up Message for success or error validation
                    $('#tablegridlockupsupplier').html(result);
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        };
        CED010300WlookupPartdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010300WSearchDataPart")",
                data: {
                    PartNo: $("#txt-Lockup-PartNo").val(),
                    PartName: $("#txt-Lockup-PartName").val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    //Pop Up Message for success or error validation
                    $('#tablegridlockuppart').html(result);
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        };

        function setValueSupplier(obj) {
            $("#txtSupplier").val($(obj).attr("value"));
            $("#btnBackSupplier").click();
        }
        function setValuePart(obj) {
            $("#txtPartNo").val($(obj).attr("value"));
            $("#btnBackPart").click();
        }

        CED010300WdoAdd = function () {
            addMode(funcID);
            $('.date').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });

            var settfr = GetDate();

            $('#txtDateFrom').val(settfr);
            //$('#txtDateFrom').attr('disabled', true);
            $('#txtDateFrom').removeClass('mandatory');
            $('#txtDateTo').val('31-Dec-9999');
            //$('#txtDateTo').attr('disabled', true);
            $('#txtRevNo').val('0');
            $('#txtRevNo').attr('disabled', true);
            $("#txtSupplier").focus();

            $('#txtSupplier').removeClass('hidden');
            $('#txtSupplier2').addClass('hidden');
            $('#txtSupplierPlant').removeClass('hidden');
            $('#txtSupplierPlant2').addClass('hidden');
            $('#txtPartNo').removeClass('hidden');
            $('#txtPartNo2').addClass('hidden');
            $('.uploadFile').removeClass('hidden');
            $('#txtQkpImage').addClass('hidden');
            $("#txtUniqueNo").focus();

            var valGrid = $("#txtSupplier").val();
            if (valGrid != "") {
                $('#txtSupplierPlant').prop("disabled", false);
                $('#txtSupplierPlant').css("color", "#858585");
                $('#txtSupplierPlant').css("background-color", "#ffffff");
            }
            else {
                $('#txtSupplierPlant').prop('disabled', true);
                $('#txtSupplierPlant').css("color", "lightgray");
                $('#txtSupplierPlant').css("background-color", "#eeeeee");
            }

        }

        CED010300WdoEdit = function () {
            var count = $('#tScrollBody').find('input:checked').length;
            if (count != 1) {
                //Pop Up Message
                setMessage('MCEDSTD002E', null, function () { return });
            }
            else {
                editModeCustom(funcID);
                $('.date').datepicker({
                    format: 'dd-M-yyyy',
                    autoclose: true,
                    todayHighlight: true
                });
                //$("#txtSupplier").focus();

                $('#txtSupplier').addClass('hidden');
                $('#txtSupplier2').removeClass('hidden');
                $('#txtSupplierPlant').addClass('hidden');
                $('#txtSupplierPlant2').removeClass('hidden');
                $('#txtPartNo').addClass('hidden');
                $('#txtPartNo2').removeClass('hidden');
                $('.uploadFile').removeClass('hidden');
                $('#txtQkpImage').addClass('hidden');
                //var btnUpload = document.getElementById("btnUpload");
                //btnUpload.style.display = btnUpload.style.display === 'none' ? '' : 'none';
                $("#txtUniqueNo").focus();
            }
        }

        CED010300WdoSave = function () {
            //Pop Up Message
            setMessage('MCEDSTD001C', null, function () {
                var count_img = -1;
                var mode = $('#mode').val();
                showLoading();

                var form_data = new FormData();
                form_data.append('MODE', mode);
                form_data.append('SupplierCode', $("#txtSupplier").val() != "" ? $("#txtSupplier").val().split('-')[0] : $("#txtSupplier2").val());
                form_data.append('SupplierPlantCode', $("#txtSupplierPlant").val() != "" ? $("#txtSupplierPlant").val() : $("#txtSupplierPlant2").val());
                form_data.append('PartNo', $("#txtPartNo").val() != "" ? $("#txtPartNo").val() : $("#txtPartNo2").val());
                form_data.append('UniqueNo', $("#txtUniqueNo").val());

                if (typeof $("#file-QkpImage")[0].files[0] != "undefined") {
                    count_img = count_img + 1;
                    form_data.append('QkpImage', count_img);
                    form_data.append('file', $("#file-QkpImage")[0].files[0]);
                }

                form_data.append('RevItem', $("#txtRevItem").val());
                form_data.append('RevNo', $("#txtRevNo").val());
                form_data.append('DateFrom', FormatDate(DateConversion($("#txtDateFrom").val())));
                form_data.append('DateTo', FormatDate(DateConversion($("#txtDateTo").val())));
                form_data.append('CHANGED_BY', GetValue(12)); //$('.grid-checkbox-body:checked').closest('tr').find('td#paramchangedby').text());//$("#td-updateBy").val());
                form_data.append('CHANGED_DT', GetValue(13)); //$('.grid-checkbox-body:checked').closest('tr').find('td#paramchangeddt').text());//$("#td-updateDt").val());

                $.ajax({
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    url: "@Html.Toyota().Page.GetActionUrl("CED010300WSaveData")",
                    data: form_data,
                        //{
                        //MODE: mode,
                        //SupplierCode: $("#txtSupplier").val() != "" ? $("#txtSupplier").val().split('-')[0] : $("#txtSupplier2").val(),
                        //SupplierPlantCode: $("#txtSupplierPlant").val() != "" ? $("#txtSupplierPlant").val() : $("#txtSupplierPlant2").val(),
                        //PartNo: $("#txtPartNo").val() != "" ? $("#txtPartNo").val() : $("#txtPartNo2").val(),
                        //UniqueNo: $("#txtUniqueNo").val(),
                        //QkpImage: $("#txtQkpImage").val(),
                        //RevItem: $("#txtRevItem").val(),
                        //RevNo: $("#txtRevNo").val(),
                        //DateFrom: FormatDate(DateConversion($("#txtDateFrom").val())),
                        //DateTo: FormatDate(DateConversion($("#txtDateTo").val())),
                        //CHANGED_BY: $("#td-updateBy").text(),
                        //CHANGED_DT: $("#td-updateDt").text(),
                    //},
                    //beforeSubmit: showLoading(),
                    success: function (result) {
                        //Pop Up Message
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                            if (result.MSG_TYPE != 'E') {
                                afterSave();
                                CED010300WdoSearch();
                            } else {
                                CED010300WdoSearch();
                            }
                        });
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });
        }

        CED010300WdoCancel = function () {
            //Pop Up Message
            setMessage('MCEDSTD006C', null, function () {
                cancelMode();
                if ($('#tblScroll tbody tr').length > 0) {
                    CED010300WdoSearch();
                }
                else {
                    CED010300WdoInit();
                }
                $("#txts-PartNo").focus();
            });
        }

        CED010300WdoDelete = function () {
            var count = $('#tScrollBody').find('input:checked').length;
            if (count == 0) {
                setMessage('MCEDSTD003E', null, function () { return });
            } else if (count > 1) {
                setMessage('MCEDSTD003E', null, function () { return });
            }
            else {
                setMessage('MCEDSTD003C', null, function () {
                    var listKey = null
                    var SupplierCode = null
                    var SupplierPlantCode = null
                    var PartNos = null
                    var DateTo = null
                    $.each($('#tScrollBody').find('input:checked'),
                        function () {
                            var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                            if (listKey == null) {
                                //listKey = currRow.children()[3].innerText + currRow.children()[7].innerText + currRow.children()[8].innerText + currRow.children()[12].innerText + currRow.children()[13].innerText
                                listKey = currRow.children()[1].innerText + currRow.children()[2].innerText + currRow.children()[3].innerText + FormatDate(DateConversion(currRow.children()[8].innerText)) + FormatDate(DateConversion(currRow.children()[9].innerText))
                                SupplierCode = currRow.children()[1].innerText.split('-')[1]
                                SupplierPlantCode = currRow.children()[2].innerText
                                PartNos = currRow.children()[3].innerText
                                DateTo = FormatDate(DateConversion(currRow.children()[9].innerText))
                            } else {
                                //listKey = listKey + ";" + currRow.children()[3].innerText + currRow.children()[7].innerText + currRow.children()[8].innerText + currRow.children()[12].innerText + currRow.children()[13].innerText
                                listKey = listKey + ";" + currRow.children()[1].innerText + currRow.children()[2].innerText + currRow.children()[3].innerText + FormatDate(DateConversion(currRow.children()[8].innerText)) + FormatDate(DateConversion(currRow.children()[9].innerText))
                            }
                        }
                    );

                    showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("CED010300WDeleteData")",
                        data: {
                            PartNo: listKey,
                            SupplierCode: GetValue(1), //SupplierCode,
                            SupplierPlantCode: GetValue(2), //SupplierPlantCode,
                            PartNos: GetValue(3), //PartNos,
                            DateTo: DateTo
                        },
                        success: function (result) {
                            //Pop Up Message
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                                CED010300WdoSearch();
                            });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });
            }
        };

    CED010300WdoUploadImage = function () {
        if (document.getElementById("file_id").value == "") {
            setMessage('MCEDSTD061E', null, function () { return });
            return;
        }
        var status = false;
        var isValid = false;
        var allowedExtension = ['jpg', 'jpeg', 'png'];
        var fileExtension = document.getElementById('file_id').value.split('.').pop().toLowerCase();
        for (var index in allowedExtension) {
            if (fileExtension === allowedExtension[index]) {
                isValid = true;
            }
        }

        status = isValid;
        if (status == true) {
            var status = 0;
            var formData = new FormData();
            var file = $("#file_id").get(0).files;
            var l_file = file.length;
            var base_url = '@Url.Content("~/CED010300W/UploadFile")';
            for (var i = 0; i < l_file; i++) {
                var file = document.getElementById("file_id").files[i];

                formData.append("FileUpload", file);
            }
            $.ajax({
                type: "POST",
                url: base_url,
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    var dataResp = response.split('|');
                    if (dataResp[0] == 'true') {
                        $('.uploadFile').addClass('hidden');
                        $('#txtQkpImage').removeClass('hidden');
                        $('#txtQkpImage').val(dataResp[1]);
                    } else {
                        alert(dataResp[1]);
                    }
                }
            })
        }
        else {
            setMessage('MCEDSTD000E', 'Invalid file type. It should be jpg, jpeg, png', function () { return });
            document.getElementById("file_id").value = "";
        }
    };

    function GetValue(param) {
        var count = $('#tScrollBody').find('input:checked').length;
        if (count != 0) {
            var value = null
            $.each($('#tScrollBody').find('input:checked'),
                function () {
                    var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                    value = currRow.children()[param].innerText
                }
            );
        }
        return value;
    };

    function CED010300WdoDownloadTemplate(index) {
        var fileName = $('#' + index).val();
        $.ajax({
            type: 'POST',
            url: 'CED010300W/CED010300WMoveImage',
            data: {
                fileName: fileName
            },
            //beforeSubmit: showLoading(),
            success: function (result) {
                var item = result.split('|');
                if (item[0] == "true") {
                    //use window.location.href for redirect to download action for download the file
                    window.location.href = "CED010300W/Download/?file=" + fileName;
                }
                else {
                    setMessage(item[1], item[2], function () { return });
                }
            },
            error: function (result) {
                //getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                //hideLoading();
            }
        });
    };

    function FormatDate(value) {
        var splitVal = value.split("/");
        return splitVal[1] + "/" + splitVal[0] + "/" + splitVal[2];
    }

    function doRefreshChildComboBoxCode(idParent, idChild, typeCombo, idCombo) {
        var valParent = $("#" + idParent).val().split(':')[0];
        $.ajax({
            type: 'POST',
            url: "@Html.Toyota().Page.GetActionUrl("ComboBoxSelectListChildCode")",
                data: {
                    typeComboBox: typeCombo,
                    comboBoxID: idCombo,
                    comboBoxParent: valParent
                },
                success: function (result) {
                    $("#" + idChild).empty();
                    $.each(result, function (i, result) {
                        $("#" + idChild).append('<option value="' + result.Value + '">' + result.Text + '</option>');
                    });

                    if (valParent != "" && result.length > 1) {
                        $("#" + idChild).prop("disabled", false);
                        $("#" + idChild).css("color", "#858585");
                        $("#" + idChild).css("background-color", "#ffffff");
                    }
                    else {
                        $("#" + idChild).prop("disabled", true);
                        $("#" + idChild).css("color", "lightgray");
                        $("#" + idChild).css("background-color", "#eeeeee");
                    }

                    $("#" + idChild).change();
                },
                error: function (result) {
                    alert("data error");
                }
            });
        }

        function GetDate() {
            var month_names = ["Jan", "Feb", "Mar",
                      "Apr", "May", "Jun",
                      "Jul", "Aug", "Sep",
                      "Oct", "Nov", "Dec"];

            var settfr = new Date();
            var d = settfr.getDate();
            var m = settfr.getMonth();
            var y = settfr.getFullYear();

            return "" + d + "-" + month_names[m] + "-" + y;
        }

        function DateConversion(str) {
            var arr = str.split("-");
            var m;
            switch (arr[1]) {
                case "Jan":
                    m = "01";
                    break;
                case "Feb":
                    m = "02";
                    break;
                case "Mar":
                    m = "03";
                    break;
                case "Apr":
                    m = "04";
                    break;
                case "May":
                    m = "05";
                    break;
                case "Jun":
                    m = "06";
                    break;
                case "Jul":
                    m = "07";
                    break;
                case "Aug":
                    m = "08";
                    break;
                case "Sep":
                    m = "09";
                    break;
                case "Oct":
                    m = "10";
                    break;
                case "Nov":
                    m = "11";
                    break;
                case "Dec":
                    m = "12";
            }
            return arr[0] + "/" + m + "/" + arr[2];
        }

        function doChangeSupPlant() {
            $('#txtSupplierPlant').val($("#txtSupplier").val().split('-')[1]);
        }

        function editModeCustom(functionID) {
            $('#mode').val(2);
            setEnableDisable('.hidden-xs', 'eEdit');
            //$("#formUpload").hide();
            removeMandatoryInput();
            disabledPaging(functionID);

            $.each($('#tScrollBody').find('input#checkDetail:checked'),
                function () {
                    var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                    var rowIndex = $('#tScrollBody tbody tr').index(currRow);
                    var rowTemplate = $('#tbTemplateDataRow').html();
                    $(currRow).hide().after(rowTemplate.replace('templateDataRow', 'DataRow' + rowIndex));
                    var newRow = $('#DataRow' + rowIndex);
                    itemArray = [];
                    objItem = $('#tScrollBody tbody tr:eq(' + rowIndex + ')').find('td');
                    lenObj = objItem.length;
                    for (i = 1; i < lenObj; i++) {
                        itemArray[i] = objItem[i].innerText;
                    };
                    for (j = 1; j < lenObj; j++) {
                        if (typeof newRow.find('td')[j] !== 'undefined') {
                            col_row = newRow.find('td')[j].childNodes;

                            if (col_row.length == 0) {
                                tag_type = "LABEL";
                                id_nm = newRow.find('td')[j].getAttribute('id')
                            } else {
                                tag_type = col_row[1].nodeName;
                                id_nm = col_row[1].getAttribute('id');
                            }

                            if (tag_type == "DIV" && id_nm == null) {
                                col_row_detail = col_row[1].childNodes;
                                tag_type = col_row_detail[3].nodeName;
                                id_nm = col_row_detail[3].getAttribute('id');
                                if (id_nm == null) {
                                    tag_type = col_row_detail[1].nodeName;
                                    id_nm = col_row_detail[1].getAttribute('id');
                                }
                            }

                            if (tag_type == "LABEL") {
                                $('#' + id_nm).text(itemArray[j]);
                            }
                            else if (tag_type == "SELECT") {
                                $('#' + id_nm).find("option:contains('" + itemArray[j] + "')").each(function () {
                                    if ($(this).text() == itemArray[j]) {
                                        $(this).attr("selected", "selected");
                                    }
                                });
                            }
                            else {
                                if (col_row.length > 3) {
                                    if (col_row[3].localName == "a") {
                                        var str = itemArray[j];
                                        $("#" + col_row[3].id).text(str.substring(str.lastIndexOf('/') + 1));
                                        document.getElementById(col_row[3].id).href = str.substring(str.lastIndexOf('Report'));
                                    }
                                }
                                if (col_row[1].type == "checkbox") {
                                    if (itemArray[j] == 1) {
                                        document.getElementById(id_nm).checked = true;
                                    } else {
                                        document.getElementById(id_nm).checked = false;
                                    }
                                } else if (col_row[1].type == "file") {
                                } else {
                                    $('#' + id_nm).val(itemArray[j]);
                                }
                            }
                        }

                    }
                    itemArray = null;
                    $(newRow).show();
                }
            );
            //Initial datepicker
            $('.input-group.date').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
        }
    </script>
}