﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED010300W
@using IPOS.Models.Common
@model GenericModel<LockupSupplier>
@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier Code</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txt-Lockup-SupplierCode" class="form-control eView" placeholder="Supplier Code" maxlength="20" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier Name</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txt-Lockup-SupplierName" class="form-control eView" placeholder="Supplier Name" maxlength="100" />
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 30px">
        <div class="col-xs-6" style="margin-top: 5px;">
        </div>
        <div class="col-xs-6 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnSearchSupplier" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="getShowLockupSupplier()">Search</button>
                <button id="btnBackSupplier" type="reset" class="btn btn-primary btn-xs eView btn-size1" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHeadDetail" style="width: calc(100% - 16px); overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1150px; max-width: 1350px !important;">
                    <colgroup>
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Supplier Code</th>
                            <th>Supplier Plant</th>
                            <th>Supplier Abbreviation</th>
                            <th>Supplier Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBodyDetail" style="overflow: scroll; height: 270px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1150px; max-width: 1350px !important;">
                    <colgroup>
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (LockupSupplier item in Model.DataList)
                                    {
                                        <tr id="DataRow" class="tr-grid-detail">
                                            <td class="text-center"><a href="#" value="@item.SUPPLIER_CD" onclick="setValueSupplier(this)">@item.SUPPLIER_CD</a></td>
                                            <td class="text-center">@item.SUPPLIER_PLANT_CD</td>
                                            <td class="text-center">@item.SUPPLIER_ABBREVIATION</td>
                                            <td class="text-center">@item.SUPPLIER_NAME</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="4" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#tScrollBodyDetail").scroll(function () {
        $("#tScrollHeadDetail").scrollLeft($("#tScrollBodyDetail").scrollLeft());
    });
</script>