﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED030600W
@using IPOS.Models.Common
@model GenericModel<CED030600W>
@using IPOS.Controllers;


    <style>
        .statusIntime {
        background-color: lightgreen;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    .statusLate {
        background-color: red;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    </style>

<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">
                    <colgroup>
                        <col width="35px" />
                        <col width="120px" />
                        <col width="75px" />
                        <col width="80px" />
                        <col width="150px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="75px" />
                        <col width="50px" />
                        <col width="75px" />
                        <col width="50px" />
                        <col width="75px" />
                        <col width="50px" />
                        <col width="75px" />
                        <col width="50px" />
                        <col width="75px" />
                        <col width="50px" />
                        <col width="60px" />
                        <col width="60px" />
                        <col width="60px" />
                        <col width="100px" />
                        <col width="100px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th rowspan="2" class="grid-checkbox-col">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )" />
                            </th>
                            <th rowspan="2">Delivery No</th>
                            <th rowspan="2">Pick-up Date</th>
                            <th rowspan="2">Route - Rate</th>
                            <th rowspan="2">L/P</th>
                            <th rowspan="2">Dock</th>
                            <th rowspan="2">Truck Station</th>
                            <th colspan="2">YardIn</th>
                            <th colspan="2">Plan Arrival</th>
                            <th colspan="2">Actual Arrival</th>
                            <th colspan="2">Plan Departure</th>
                            <th colspan="2">Actual Departure</th>
                            <th rowspan="2">Total Kanban</th>
                            <th rowspan="2">Total Manifest</th>
                            <th rowspan="2">Total Skid</th>
                            <th rowspan="2">Problem</th>
                            <th rowspan="2">Catch Up Plan</th>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBody" style="overflow: scroll; height: 200px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">
                    <colgroup>
                        <col width="35px" />
                        <col width="120px" />
                        <col width="75px" />
                        <col width="80px" />
                        <col width="150px" />
                        <col width="50px" />
                        <col width="50px" />
                        <col width="75px" />
                        <col width="50px" />
                        <col width="75px" />
                        <col width="50px" />
                        <col width="75px" />
                        <col width="50px" />
                        <col width="75px" />
                        <col width="50px" />
                        <col width="75px" />
                        <col width="50px" />
                        <col width="60px" />
                        <col width="60px" />
                        <col width="60px" />
                        <col width="100px" />
                        <col width="100px" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED030600W item in Model.DataList)
                                    {
                                        String fontColorA = String.Empty;
                                        String BGColorA = String.Empty;
                                        String fontColorD = String.Empty;
                                        String BGColorD = String.Empty;

                                        if (item.ARRIVAL_GAP == "GREEN")
                                        {
                                            BGColorA = "green";
                                            fontColorA = "white";
                                        }
                                        else if (item.ARRIVAL_GAP == "RED")
                                        {
                                            BGColorA = "red";
                                            fontColorA = "white";
                                        }
                                        else
                                        {
                                            BGColorA = "";
                                            fontColorA = "";
                                        }

                                        if (item.DEPARTURE_GAP == "GREEN")
                                        {
                                            BGColorD = "green";
                                            fontColorD = "white";
                                        }
                                        else if (item.DEPARTURE_GAP == "RED")
                                        {
                                            BGColorD = "red";
                                            fontColorD = "white";
                                        }
                                        else
                                        {
                                            BGColorD = "";
                                            fontColorD = "";
                                        }
                                        
                                        <tr id="DataRow" class="tr-grid-detail">
                                            <td class="text-center grid-checkbox-col">
                                                <input type="checkbox" id="checkDetail" class="grid-checkbox grid-checkbox-body eView" value=@item.Delivery_No onchange="javascript: checkboxDetail($('#tblScroll'), 'checkDetail', $('#tScrollHead #dynamic-table').find('#checkall'));" />
                                            </td>
                                            <td class="text-center">@item.Delivery_No</td>@*<a href="#" onclick="getDetail010306W('@item.Delivery_No')" style="text-decoration:underline">@item.Delivery_No</a>*@
                                            <td class="text-center">@item.Pickup_Date</td>
                                            <td class="text-center">@item.Route_Rate</td>
                                            <td class="text-left">@item.L_P</td>
                                            <td class="text-center">@item.Dock</td>
                                            <td class="text-center">@item.Truck_Station</td>
                                            <td class="text-center">@item.YardIn_Date</td>
                                            <td class="text-center">@item.YardIn_Time</td>
                                            <td class="text-center">@item.PlanArrival_Date</td>
                                            <td class="text-center">@item.PlanArrival_Time</td>
                                            <td class="text-center" bgcolor="@BGColorA"><font color="@fontColorA">@item.ActualArrival_Date</font></td> @*@item.ActualArrival_Status*@
                                            <td class="text-center" bgcolor="@BGColorA"><font color="@fontColorA">@item.ActualArrival_Time</font></td>
                                            <td class="text-center">@item.PlanDeparture_Date</td>
                                            <td class="text-center">@item.PlanDeparture_Time</td>
                                            <td class="text-center" bgcolor="@BGColorD"><font color="@fontColorD">@item.ActualDeparture_Date</font></td> @*@item.ActualDeparture_Status*@
                                            <td class="text-center" bgcolor="@BGColorD"><font color="@fontColorD">@item.ActualDeparture_Time</font></td>
                                            <td class="text-right">@item.Total_Kanban</td>
                                            <td class="text-right">@item.Total_Manifest</td>
                                            <td class="text-right">@item.Total_Skid</td>
                                            <td class="text-left">@item.Problem</td>
                                            <td class="text-center">@item.CatchUpPlan</td>
                                            <td class="hidden">@item.CHANGED_DATE</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="22" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="22">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs _criteria" style="margin-top: 25px; margin-bottom: 5px; margin-right: 5px;">
                        <button id="btncancel" type="button" class="btn btn-danger btn-xs eAdd eEdit btn-size1" onclick="CED030600WdoCancel()">Cancel</button>
                        <button id="btnsave" type="button" class="btn btn-primary btn-xs  eAdd eEdit btn-size1" onclick="CED030600WdoSave()">Save</button>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

<table style="display: none">
    <tbody id="tbTemplateDataRow">
        <tr id="templateDataRow" class="tr-grid-detail">
            <td class="text-center grid-checkbox-col">
                @Html.Hidden("mode")
                <input type="checkbox" id="checkDetail" class="grid-checkbox" checked="checked" disabled="disabled" />
            </td>
            <td class="center">
                <input id="txtDelivery_No" class="input-sm form-control mandatory eAdd" type="text" value="" maxlength="16" />
            </td>
            <td class="center">
                <input id="txtPickupDate" class="input-sm form-control mandatory eAdd" type="text" value="" maxlength="16" />
            </td>
            <td class="center">
                <input id="txtRoute_Rate" class="input-sm form-control mandatory eAdd" type="text" value="" maxlength="255" />
            </td>
            <td class="center">
                <input id="txtL_P" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtDock" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtTruck_Station" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtYardIn_Date" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtYardIn_Time" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtPlanArrival_Date" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtPlanArrival_Time" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtActualArrival_Date" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtActualArrival_Time" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtPlanDeparture_Date" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtPlanDeparture_Time" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtActualDeparture_Date" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtActualDeparture_Time" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtTotal_Kanban" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" placeholder="Total Kanban" />
            </td>
            <td class="center">
                <input id="txtTotal_Manifest" class="input-sm form-control mandatory eAdd" type="text" value="0" maxlength="10" />
            </td>
            <td class="center">
                <input id="txtTotal_Skid" class="input-sm form-control mandatory eView text-right" type="text" value="0" maxlength="3" onkeydown="return Key(event);" placeholder="Total Skid" />
            </td>
            <td class="center">
                <input id="txtProblem" class="input-sm form-control eView" type="text" value="0" maxlength="255" placeholder="Problem" />
            </td>
            @*<td class="center">
                <input id="txtCatchUpPlan" class="input-sm form-control eEdit datetime2 normal-input text-center" type="text" value="" maxlength="20" placeholder="Catch Up Plan" />
            </td>*@
            <td class="center">
                <div class="input-group datetime2">
                    <input class="eAdd eEdit form-control datetime2 normal-input text-center" id="txtCatchUpPlan" type="text" /> 
                    <span class="input-group-addon" style="cursor: pointer;">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </td>
            <td class="hidden"></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
        $("#tScrollBody").scroll(function () {
            $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
        });

        @{
            if (Model.DataList != null && Model.DataList.Any())
            {
                Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                                "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                                "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                                "if(btnEdit.length>0)" +
                                "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                                "if(btnDelete.length>0)" +
                                "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                                "if(btnDownload.length>0)" +
                                "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                            );
            }
            else
            {
                Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                                "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                                "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                                "if(btnEdit.length>0)" +
                                "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                                "if(btnDelete.length>0)" +
                                "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                                "if(btnDownload.length>0)" +
                                "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                            );
            }
        }

        ////function validatesave() {
        ////    var isvalid = true;
        ////    var count = $('#tScrollBody').find('input:checked').length;
        ////    if (count != 1) {
        ////        isvalid = false            
        ////    }
        ////    return isvalid;
        ////}

        ////function validasiedit() {
        ////    var table = document.getElementById('tblScroll');
        ////    var deliveryno = "";
        ////    if (validatesave()) {
        ////        for (var i = 0; i < table.rows.length; i++) {
        ////            var cheked = table.rows[i].cells[0].childNodes[1].checked;
        ////            if (cheked == true) {
        ////                deliveryno = table.rows[i].children[1].childNodes[0].innerText;
        ////                var starttotalskid = table.rows[i].children[18].childNodes[0].value;// kl ada kolom pickup date jadi cildren[19]
        ////                var startremark = table.rows[i].children[19].childNodes[0].value;
        ////                $('#HiddenrowDeliveryno').val(deliveryno);
        ////                $('#HiddenrowTotalSkid').val(starttotalskid);
        ////                $('#HiddenrowRemark').val(startremark);
        ////                table.rows[i].children[18].childNodes[0].disabled = false;
        ////                table.rows[i].children[19].childNodes[0].disabled = false;
        ////                table.rows[i].children[20].childNodes[0].disabled = false;
        ////                table.rows[i].children[18].childNodes[0].style.border = "1px solid yellow";
        ////                table.rows[i].children[19].childNodes[0].style.border = "1px solid yellow";
        ////                table.rows[i].children[20].childNodes[0].style.border = "1px solid yellow";
        ////                hideHeaderbutton();
        ////            }
        ////        }
        ////    } else {
        ////        alert('Only one row is allowable to edit!');
        ////    }
        ////}
</script>



