﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED030600WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED030600WGrid")
    </div>
</div>


<!-- Detail Popup -->
<div class="modal fade" id="detail-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 90%; margin-top: 3%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">03.06.00 Arrival-Departure Detail   </h4>
            </div>
            <div class="modal-body">
                <div id="tablegriddet010306">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" style="height: 30px">
                    <div class="col-xs-6" style="margin-top: 5px;">
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="form-group-xs _criteria">
                            <button id="btnBack" type="reset" class="btn btn-primary btn-xs eView btn-size1" data-dismiss="modal">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED030600W";
        $(document).ready(function () {
            CED030600WdoInit();
            //$("#btnEdit").hide();
            //$("#btnDownload").hide();
            $('.date2').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
        });

        CED030600WdoInit = function () {
            initialMode();
            //$("#txt-Date").focus();
            $('#HiddendeliveryNo').val('');

            $('#txt-Date').val(GetDate());
        }

        CED030600WdoClear = function () {
            clearMode();
            CED030600WdoSearchClear();
        }

        CED030600WdoSearchClear = function () {
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED030600WSearchNoData")",
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    //$("#btnEdit").hide();
                    //$("#btnDownload").hide();
                    //$('#btnEdit').attr('style', 'display:none');
                    //$('#btnDownload').attr('style', 'display:none');
                    CED030600WdoInit();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                    //$("#txt-Date").focus();
                }
            });
        }

        CED030600WDownload = function () {
            var tablename = $('#HiddenSearcData').val() == "" ? $('#HiddengetEoData').val() : $('#HiddenSearcData').val();
            var pickupdate = DateConversion($('#txt-Date').val());
            var deliveryno = $('#txt-DeliveryNo').val();
            var lp = $('#cmb-LP').val();
            var truckstation = $('#cmb-station').val();
            var route = $('#txt-Route').val();
            var rate = $('#txt-Rate').val();
            var status = $('#cmb-Status').val();
            var shift = $('#cmb-Shift').val();

            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED030600WDownload")",
                data: {
                    tablename: tablename,
                    PickUpDate: pickupdate,
                    Delivery_No: deliveryno,
                    Status: status,
                    TruckStation: truckstation,
                    Route: route,
                    Rate: rate,
                    L_P: lp,
                    Shift: shift,
                },
                success: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                        if (result.MSG_TYPE != 'E') {
                            if (tablename == '1') {
                                CED030600WdoSearch;
                            } else {
                                CED030600WEDdoSearch;
                            }
                        }
                    });
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED030600WdoEdit = function () {
			$(".datetime2").datetimepicker({
                    format: 'DD-MMM-YYYY HH:mm',
                    autoclose: true,
                    todayHighlight: true
			}).focus();
            var count = $('#tScrollBody').find('input:checked').length;
            if (count != 1) {
                //Pop Up Message
                setMessage('MCEDSTD002E', null, function () { return });
            }
            else {
				_changed_date = $('#tblScroll input:checked').map(function () { return $(this).closest('tr').find('td:eq(22)').text(); }).get();
				
                editMode(funcID);
                $(".datetime2").datetimepicker({
                    format: 'DD-MMM-YYYY HH:mm',
                    autoclose: true,
                    todayHighlight: true
                }).focus();
                $('#txtDelivery_No').prop('disabled', true);
                $('#txtRoute_Rate').prop('disabled', true);
                $('#txtL_P').prop('disabled', true);
                $('#txtDock').prop('disabled', true);
                $('#txtTruck_Station').prop('disabled', true);
                $('#txtYardIn_Date').prop('disabled', true);
                $('#txtYardIn_Time').prop('disabled', true);
                $('#txtPlanArrival_Date').prop('disabled', true);
                $('#txtPlanArrival_Time').prop('disabled', true);
                $('#txtActualArrival_Date').prop('disabled', true);
                $('#txtActualArrival_Time').prop('disabled', true);
                $('#txtPlanDeparture_Date').prop('disabled', true);
                $('#txtPlanDeparture_Time').prop('disabled', true);
                $('#txtActualDeparture_Date').prop('disabled', true);
                $('#txtActualDeparture_Time').prop('disabled', true);
                $('#txtTotal_Kanban').prop('disabled', true);
                $('#txtTotal_Skid').prop('disabled', false);
                //$('#txtProblem').prop('disabled', false);
                //$('#txtCatchUpPlan').prop('disabled', false);
                $('#txtTotal_Skid').focus();
                
                //FID.Ridwan : 2019-08-27 catchup plan can update when arrival gate date is null
                var _paramArrival = $("#txtYardIn_Date").val();
                var _paramCheck = $('#tblScroll input:checked').map(function () { return $(this).closest('tr').find('td:eq(21)').text().replace(' ', '').replace(',', ''); }).get();
                if (_paramCheck[0] == '') {
                    $('#txtCatchUpPlan').val('');
                }

                if (_paramArrival == '' || _paramArrival == null) {
                    $('#txtCatchUpPlan').prop('disabled', false);
                    $('#txtProblem').prop('disabled', false);
                } else {
                    $('#txtCatchUpPlan').prop('disabled', true);
                    $('#txtProblem').prop('disabled', true);
                }
            }
        }
		
		var _changed_date = "";
        CED030600WdoSave = function () {
            setMessage('MCEDSTD001C', null, function () {
                var mode = $('#mode').val();
                var _tablename = $('#HiddenSearcData').val() == "" ? $('#HiddengetEoData').val() : $('#HiddenSearcData').val();
                var _deliveryno = $("#txtDelivery_No").val();
                var _dockcd = $("#txtDock").val();
                var _totalskid = $("#txtTotal_Skid").val();
                var _problem = $("#txtProblem").val();
                var _catchupplan = $("#txtCatchUpPlan").val(); //DateConversion($("#txtCatchUpPlan").val());
                //var _changed_date = $("#changed_date").val();
				showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("CED030600WSaveRowEditData")",
                    data: {
                        tablename: _tablename,
                        deliveryno: _deliveryno,
                        dockcd: _dockcd,
                        totalskid: _totalskid,
                        problem: _problem,
                        catchupplan: _catchupplan, //FormatDate(_catchupplan),
                        changed_date: _changed_date.toString()
                    },
                    success: function (result) {
                        //Pop Up Message
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                            if (result.MSG_TYPE != 'E') {
                                afterSave();
                                if (_tablename == '1') {
                                    CED030600WdoSearch();
                                } else {
                                    CED030600WEDdoSearch();
                                }
                            }
                        });
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });
        }

        CED030600WdoCancel = function () {
            //Pop Up Message
            setMessage('MCEDSTD002C', null, function () {
                cancelMode();
                if ($('#tblScroll tbody tr').length > 0) {
                    var tablename = $('#HiddenSearcData').val() == "" ? $('#HiddengetEoData').val() : $('#HiddenSearcData').val();
                    if (tablename == '1') {
                        CED030600WdoSearch();
                    } else {
                        CED030600WEDdoSearch();
                    }
                }
                else {
                    CED030600WdoInit();
                }
            });
        }

        CED030600WdoSendBatch = function (fileName) {
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("SendParamBatch")",
                data: {
                    
                },
                success: function (result) {
                    if (result.result.split("-")[0] == "DONE") {
                        setMessage("MCEDSTD002I", "Get Order;" + result.result.split("-")[1], function () {
                            $('.input-ghost').val(null);
                            $(".input-file").find('input').val('');
                            CED030600WdoClear();
                        });
                    } else {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                }
            });
        }

        CED030600WdoSearch = function (page) {
            if ($('#txt-Date').val() == '') {
                //getMessage('MCEDSTD005E', 'Pick-Up Date', function () { return });
                setMessage('MCEDSTD005E', 'Pick-Up Date', function () { return });
                return;
            }
            
            $('#HiddengetEoData').val('');
            $('#HiddenSearcData').val('1');
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            var pickupdate = DateConversion($('#txt-Date').val());//'09-11-2018
            var deliveryNo = $('#txt-DeliveryNo').val();
            var lp = $('#cmb-LP').val();
            var truckstation = $('#cmb-station').val();
            var route = $('#txt-Route').val();
            var rate = $('#txt-Rate').val();
            var status = $('#cmb-Status').val();
            var shift = $('#cmb-Shift').val();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED030600WSearchData")",
                data: {
                    PickUpDate: pickupdate,
                    L_P: lp,
                    Delivery_No: deliveryNo,
                    TruckStation: truckstation,
                    Route: route,
                    Rate: rate,
                    Status: status,
                    Shift: shift,
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    //$("#txt-Date").focus();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }

            });
        }

        CED030600WEDdoSearch = function (page) {
            funcID = "CED030600WED";
            $('#HiddengetEoData').val('0');
            $('#HiddenSearcData').val('');
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED030600WEDSearch")",
                data: {
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    //$("#txt-Date").focus();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                    //$("#txt-Date").focus();
                }

            });
        }

        function getDetail010306W(deliveryno) {
            $('#detail-popup-modal').modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#HiddendeliveryNo").val(deliveryno);
            DetailCED030600WdoSearch();
        }

        function FormatDate(value) {
            value = value == '' ? 'dd-mm-yyyy' : value;
            var splitVal = value.split("-");
            return splitVal[2] + "-" + splitVal[1] + "-" + splitVal[0];
        }

        function DetailCED030600WdoSearch(page) {
            var funcID = "DetailCED030600W";
            var tablename = $('#HiddenSearcData').val() == "" ? $('#HiddengetEoData').val() : $('#HiddenSearcData').val();
            if (tablename == "0")
                funcID = "DetailCED030600W";
            var page = page != undefined ? (page != '' || page != null ? page : 1) : 1;
            var pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            var pickupdate = $('#txt-Date').val();//'09-11-2018
            var lpValue = $("#cmb-LP").val();
            var lp = $("#cmb-LP option:selected").text()
            var truckstation = $("#cmb-station option:selected").text();
            var route = $('#txt-Route').val();
            var rate = $('#txt-Rate').val();
            var routerate = $('#txt-Route').val() + " - " + $('#txt-Rate').val();
            var statusValue = $("#cmb-Status").val();
            var status = $("#cmb-Status option:selected").text();
            var shiftValue = $("#cmb-Shift").val();
            var shift = $("#cmb-Shift option:selected").text();
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED030600WSearchDataDetail")",
                data: {
                    Delivery_No: $("#HiddendeliveryNo").val(),
                    tablename: tablename,
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    $('#tablegriddet010306').html(result);
                    $("#lbl-DeliveryNo").val($("#HiddendeliveryNo").val());
                    $("#lbl-LP").val(lp);
                    $("#lbl-RouteRate").val(routerate);
                    $("#lbl-Dock").val("");
                    $("#lbl-TruckStation").val(truckstation);
                    $("#lbl-PickupDate").val(pickupdate);
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        function GetDate() {
            var month_names = ["Jan", "Feb", "Mar",
                      "Apr", "May", "Jun",
                      "Jul", "Aug", "Sep",
                      "Oct", "Nov", "Dec"];

            var settfr = new Date();
            var d = settfr.getDate();
            var m = settfr.getMonth();
            var y = settfr.getFullYear();

            return "" + d + "-" + month_names[m] + "-" + y;
        }

        function DateConversion(str) {
            var arr = str.split("-");
            var m;
            switch (arr[1]) {
                case "Jan":
                    m = "01";
                    break;
                case "Feb":
                    m = "02";
                    break;
                case "Mar":
                    m = "03";
                    break;
                case "Apr":
                    m = "04";
                    break;
                case "May":
                    m = "05";
                    break;
                case "Jun":
                    m = "06";
                    break;
                case "Jul":
                    m = "07";
                    break;
                case "Aug":
                    m = "08";
                    break;
                case "Sep":
                    m = "09";
                    break;
                case "Oct":
                    m = "10";
                    break;
                case "Nov":
                    m = "11";
                    break;
                case "Dec":
                    m = "12";
            }
            return arr[0] + "-" + m + "-" + arr[2];
        }
    </script>
}
