﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED030600W
@using IPOS.Models.Common
@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Arrival Plan Date</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <div class="input-group date" id="dtpickupdate">
                        <input type="text" class="form-control eView mandatory normal-input date2" id="txt-Date" placeholder="Arrival Plan Date" style="width: 100%">
                        <div class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </div>
                        <input id="HiddenSearcData" style="display: none;" />
                        <input id="HiddengetEoData" style="display: none;" />
                        <input id="HiddendeliveryNo" style="display: none;" />
                    </div>
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">L/P</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @Html.DropDownList("cmb-LP", CommonController.ComboBoxSelectList("1", "LOGISTIC_PARTNER_MASTER", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Delivery No</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <input type="text" id="txt-DeliveryNo" class="form-control eView" placeholder="Delivery No" maxlength="13" tabindex="1" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Truck Station</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @Html.DropDownList("cmb-station", CommonController.ComboBoxSelectList("1", "TRUCK_STATION", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Route</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <input type="text" id="txt-Route" class="form-control eView" placeholder="Route" maxlength="4" tabindex="3" />
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Rate</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <input type="text" id="txt-Rate" class="form-control eView" placeholder="Rate" maxlength="2" tabindex="4" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Status</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @Html.DropDownList("cmb-Status", CommonController.ComboBoxSelectList("1", "ARR_DPT_INQ_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Shift</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @Html.DropDownList("cmb-Shift", CommonController.ComboBoxSelectList("1", "ARR_DPT_INQ_SHIFT", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 30px" id="divbtn1">
        <div class="col-xs-12 text-right">
            <div class="form-group-xs _criteria">
                @*<button id="btnGetEDData" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED030600WEDdoSearch()" tabindex="6">Get EO Data</button>*@
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED030600W", "btnSync"))
                {
                    <button id="btnGetEDData" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED030600WdoSendBatch()" tabindex="6">Get EO</button>
                }
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED030600WdoSearch()" tabindex="7">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED030600WdoClear()" tabindex="8">Clear</button>
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div class="row" style="height: 45px" id="divbtn2">
    <div class="col-xs-12 col-sm-6 text-left">
    </div>
    <div class="col-xs-12 col-sm-6 text-right" style="height: 45px;">
        <div class="form-group form-group-xs" style="margin-bottom: 3px;">
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED030600W", "btnEdit"))
            {
                <button id="btnEdit" type="button" class="btn btn-primary btn-xs btn-size1" onclick="javascript: CED030600WdoEdit()" tabindex="9">Edit</button>
            }
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED030600W", "btnDownload"))
            {
                <button id="btnDownload" type="button" class="btn btn-success btn-xs btn-size1" onclick="javascript: CED030600WDownload()" tabindex="10">Download</button>
            }
        </div>
    </div>
</div>





