﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED010306W
@using IPOS.Models.Common
@model GenericModel<CED010306WDetail>
@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Delivery No</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="lbl-DeliveryNo" class="form-control eView" placeholder="Delivery No" maxlength="15" tabindex="1" disabled />
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">L/P</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <select class="eView" style="width:100%" tabindex="2" id="lbl-LP" disabled>
                        <option value="">-ALL-</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Route</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="lbl-Route" class="form-control eView" placeholder="Route" maxlength="15" tabindex="3" disabled />
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Dock</label>
                <div class="col-xs-8 col-sm-9 col-md-4">
                    <input type="text" id="lbl-Dock" class="form-control eView" placeholder="Dock" maxlength="15" tabindex="4" disabled />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Truck Station</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <input type="text" id="lbl-TruckStation" class="form-control eView" placeholder="Truck Station" maxlength="15" tabindex="5" disabled />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHeadDetail" style="width: calc(100% - 16px); overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">
                    <colgroup>
                        <col width="35px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Manifest No</th>
                            <th>Order No</th>
                            <th>Supplier</th>
                            <th>Supplier Plant</th>
                            <th>Order Release Date</th>
                            <th>Total Kanban</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBodyDetail" style="overflow: scroll; height: 270px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">
                    <colgroup>
                        <col width="35px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                        <col width="100px" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    var totalkanban = 0;
                                    foreach (CED010306WDetail item in Model.DataList)
                                    {
                                        totalkanban = totalkanban + Convert.ToInt32(item.Total_Kanban);
                                        <tr id="DataRow" class="tr-grid-detail">
                                            <td class="text-center">@item.No</td>
                                            <td class="text-center">@item.Manifest_No</td>
                                            <td class="text-center">@item.Order_No</td>
                                            <td class="text-left">@item.Supplier</td>
                                            <td class="text-center">@item.Supplier_Plant</td>
                                            <td class="text-center">@item.Order_Release_Date</td>
                                            <td class="text-right">@item.Total_Kanban</td>
                                        </tr>
                                    }
                                    <tr id="DataRow" class="tr-grid-detail">
                                        <td class="text-center" colspan="6">TOTAL</td>
                                        <td class="text-right">@totalkanban</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="7" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div style="display: none">
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#tScrollBodyDetail").scroll(function () {
        $("#tScrollHeadDetail").scrollLeft($("#tScrollBodyDetail").scrollLeft());
    });
</script>