﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayoutNoMenuTheme;
}

@section HeadScript{
}

<input type="hidden" id="txtDelay" class="hidden" value="@ViewData["DelayData"]" />
<input type="hidden" id="txtAll" class="hidden" value="@ViewData["AllData"]" />
<input type="hidden" id="txtPlan" class="hidden" value="@ViewData["PlanData"]" />
<div id="tablegrid">
    @Html.Partial("CED031000WGrid")
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED031000W";
        var txtDelay = $('#txtDelay').val();
        var txtAll = $('#txtAll').val();
        var txtPlan = $('#txtPlan').val();

        $(document).ready(function () {
            CED031000WdoInit();
        });

        CED031000WdoInit = function () {
            initialMode();
            CED031000WdoSearch();
        }

        CED031000WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            $.ajax({
                type: 'POST',
                @*url: "@Html.Toyota().Page.GetActionUrl("CED031000WSearchData")",*@
                url: "@Url.Action("CED031000WSearchData", "CED031000W")",
                data: null,
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    CheckCountdown();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    //hideLoading();
                }

            });
        }

        function CED031000WdoSearchDelay() {
            $.ajax({
                type: 'POST',
                @*url: "@Html.Toyota().Page.GetActionUrl("CED031000WSearchDataDelay")",*@
                url: "@Url.Action("CED031000WSearchDataDelay", "CED031000W")",
                data: null,
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tableDelay').html(result);
                    CheckCountdown();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    //hideLoading();
                }

            });
        }

        function CED031000WdoSearchPlan() {
            $.ajax({
                type: 'POST',
                @*url: "@Html.Toyota().Page.GetActionUrl("CED031000WSearchDataPlan")",*@
                url: "@Url.Action("CED031000WSearchDataPlan", "CED031000W")",
                data: null,
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablePlan').html(result);
                    CheckCountdown();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    //hideLoading();
                }

            });
        }

        setInterval(function () {
            CED031000WdoSearchDelay();
        }, txtDelay * 1000);

        setInterval(function () {
            CED031000WdoSearchPlan();
        }, txtPlan * 1000);

        setInterval(function () {
            window.location.reload(1);
        }, txtAll * 1000);

        function CheckCountdown() {
            $("#tdelay tbody tr").each(function () {
                var valTimeCountdown = $(this).find("td").eq(10).html();
                if (valTimeCountdown != "&nbsp;" && valTimeCountdown != "0") {
                    countdown(this, valTimeCountdown);
                }
            });
        }

        function countdown(element, seconds) {
            var interval = setInterval(function () {
                if (seconds < 0) {
                    $(element).find("td").eq(7).html("Delay -" + seconds2time(seconds));
                    $(element).find("td").eq(7).attr("style", "background-color:red; color:#FFFFFF");
                }
                seconds--;
            }, 1000);
        }

        function seconds2time(seconds) {
            if (seconds < 0) {
                seconds = parseInt(seconds) - (parseInt(seconds) * 2);
            }
            var hours = Math.floor(seconds / 3600);
            var minutes = Math.floor((seconds - (hours * 3600)) / 60);
            var seconds = seconds - (hours * 3600) - (minutes * 60);
            var time = "";

            if (hours != 0) {
                time = hours + ":";
            }
            if (minutes != 0 || time !== "") {
                minutes = (minutes < 10 && time !== "") ? "0" + minutes : String(minutes);
                time += minutes + ":";
            }
            if (time === "") {
                time = seconds + "s";
            }
            else {
                time += (seconds < 10) ? "0" + seconds : String(seconds);
            }
            return time;
        }
    </script>
}