﻿@using IPOS.Models.CED031000W
@{
    List<CED031000W> retrieveData3 = (List<CED031000W>)ViewData["RetriveData3"];
}

<div id="tablePlan">
    <div class="panel2">PLAN ARRIVAL </div>
    <table border="0" cellpadding="5" cellspacing="1" width="100%">
        <thead>
            <tr>
                <th colspan="2" style="padding-left:1px;padding-right:1px;">SUPPLIER</th>
                <th colspan="2" style="padding-left:1px;padding-right:1px;">QTY CASE</th>
                <th rowspan="2" style="padding-left:1px;padding-right:1px;">PROGRESS</th>
                <th rowspan="2" style="padding-left:1px;padding-right:1px;">STATUS</th>
                <th rowspan="2" style="padding-left:1px;padding-right:1px;">PROBLEM</th>
            </tr>
            <tr>
                <th>CODE</th>
                <th>NAME</th>
                <th>PLAN</th>
                <th>ACT</th>
            </tr>
        </thead>
        @foreach (CED031000W item in retrieveData3)
        {
            <tr>
                <td class="text-center">@item.SuppCode</td>
                <td class="text-center">@item.SuppName</td>
                <td class="text-center">@item.QtyCasePlan</td>
                <td class="text-center">@item.QtyCaseAct</td>
                <td class="text-center">@item.Progress%</td>
                @if (item.Status == "Complete")
                {
                    <td class="text-center complete">@item.Status</td>
                }
                else if (item.Status == "Shortage")
                {
                    <td class="text-center shortage">@item.Status</td>
                }
                else if (item.Status == "Normal")
                {
                    <td class="text-center normal">@item.Status</td>
                }
                else if (item.Status == "No Order")
                {
                    <td class="text-center" style="background-color: grey">@item.Status</td>
                }
                else
                {
                    <td>@item.Status</td>
                }
                <td class="text-left">@item.Problem</td>
            </tr>
        }
        @{
            for (var i = retrieveData3.Count; i < 14; i++)
            {
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            }
        }
    </table>
</div>

