﻿@using IPOS.Models.CED031000W
@{
    List<CED031000W> retrieveData1 = (List<CED031000W>)ViewData["RetriveData1"];
    List<CED031000W> retrieveData2 = (List<CED031000W>)ViewData["RetriveData2"];
    List<CED031000W> retrieveData3 = (List<CED031000W>)ViewData["RetriveData3"];
    List<CED031000W> retrieveData4 = (List<CED031000W>)ViewData["RetriveData4"];

    
    float planPercent = 0;
    float actPercent = 0;
    float delayPercent = 0;
    string planPercentPar;
    string actPercentPar;
    string delayPercentPar;
}

<style>
     .newFontHeader {
        font-size: 16px;
        font-size: 1.6rem;
    }

     .newFont {
        padding: 6px 10px 6px;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
        text-align: center;
    }

</style>

<div class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="seven columns"  style="padding-right:0px">
                <div class="panel2" style="font-size:20px">RECEIVING PROGRESS</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    @{
                        if (retrieveData1.Count > 0)
                        {
                            planPercent = (float.Parse(retrieveData1[0].PlanQtyCurrent) / float.Parse(retrieveData1[0].PlanQty)) * 100;
                            actPercent = (float.Parse(retrieveData1[0].ActQty) / float.Parse(retrieveData1[0].PlanQty)) * 100;
                            delayPercent = (float.Parse(retrieveData1[0].DelayQty) / float.Parse(retrieveData1[0].PlanQty)) * 100;
                        }
                        //var planPercent = retrieveData1[0].PlanQtyCurrent != null ? (float.Parse(retrieveData1[0].PlanQtyCurrent) / float.Parse(retrieveData1[0].PlanQty)) * 100 : 0;
                        //var actPercent = retrieveData1[0].ActQty != null ? (float.Parse(retrieveData1[0].ActQty) / float.Parse(retrieveData1[0].PlanQty)) * 100 : 0;
                        //var delayPercent = retrieveData1[0].DelayQty != null ? (float.Parse(retrieveData1[0].DelayQty) / float.Parse(retrieveData1[0].PlanQty)) * 100 : 0;
                    }
                    <tr>
                        <th style="background-color: #535459; color: #FED325;font-size:16px">PLAN</th>
                        @if (retrieveData1.Count > 0)
                        {
                            <td class="newFontHeader text-center">@retrieveData1[0].PlanQtyCurrent of @retrieveData1[0].PlanQty</td>
                            <td class="newFontHeader text-center">@if (planPercent == 0.0)
	                                                {
                                                        planPercentPar = "0";
	                                                } else
                                                    {
                                                        planPercentPar = String.Format("{0:0.00}", planPercent); //planPercent.ToString("#.##");
                                                    }
                               @planPercentPar %</td>
                        }
                        else
                        {
                            <td class="newFontHeader text-center">0 of 0</td>
                            <td class="newFontHeader text-center">0.0%</td>
                        }
                    </tr>
                    <tr>
                        <th style="background-color: #535459; color: #FED325;font-size:16px">ACT</th>
                        @if (retrieveData1.Count > 0)
                        {
                            <td class="newFontHeader text-center">@retrieveData1[0].ActQty</td>
                            <td class="newFontHeader text-center">@if (actPercent == 0.0)
	                                                {
                                                        actPercentPar = "0";
	                                                } else
                                                    {
                                                        actPercentPar = String.Format("{0:0.00}", actPercent); //actPercent.ToString("#.##");
                                                    }
                               @actPercentPar %</td>
                        }
                        else
                        {
                            <td class="newFontHeader text-center">0</td>
                            <td class="newFontHeader text-center">0.0%</td>
                        }
                    </tr>

                    <tfoot>
                        <tr>
                            <td style="background-color: #535459; color: #FED325; font-weight: bold; font-size: 14px;font-size:16px">DELAY</td>
                            @if (retrieveData1.Count > 0)
                            {
                                <td class="newFont text-center">@retrieveData1[0].DelayQty</td>
                                <td class="newFont text-center">@if (delayPercent == 0.0)
	                                                {
                                                        delayPercentPar = "0";
	                                                } else
                                                    {
                                                        delayPercentPar = String.Format("{0:0.00}", delayPercent); //delayPercent.ToString("#.##");
                                                    }
                               @delayPercentPar %</td>
                            }
                            else
                            {
                                <td class="newFont text-center">0</td>
                                <td class="newFont text-center">0.0%</td>
                            }
                        </tr>
                    </tfoot>
                </table>

                @Html.Partial("CED031000WGridDelay")

            </div>

            <div class="five columns">
                @Html.Partial("CED031000WGridPlanArrival")

                <div class="panel2">EMERGENCY ORDER</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th colspan="2">SUPPLIER</th>
                            <th rowspan="2" style="padding-left:1px;padding-right:1px;">DOCK</th>
                            <th rowspan="2">ORDER NO</th>
                            <th rowspan="2">MANIFEST NO</th>
                            <th rowspan="2" style="padding-left:1px;padding-right:1px;">PLANNING ARRIVAL</th>
                            <th rowspan="2">STATUS</th>
                        </tr>
                        <tr>
                            <th>NAME</th>
                            <th>CODE</th>
                        </tr>
                    </thead>
                    @*<tr>
                        <td>0003-1</td>
                        <td>SGT</td>
                        <td>1H</td>
                        <td>2018010110E1</td>
                        <td>E11002009</td>
                        <td>10-Sep-2018 07:20</td>
                        <td class="complete">Complete</td>
                    </tr>*@
                    @{ if (retrieveData4.Count > 0)
                       {
                           foreach (CED031000W item in retrieveData4)
                            {
                                var status4 = "";
                                var bgcolor4 = "";
                                if (item.Status == "1")
                                {
                                    status4 = "Complete";
                                    bgcolor4 = "complete";
                                }
                                else if (item.Status == "2")
                                {
                                    status4 = "Shortage";
                                    bgcolor4 = "shortage";
                                }
                                else if (item.Status == "3")
                                {
                                    status4 = "Complete Shortage";
                                    bgcolor4 = "";
                                }
                                <tr>
                                    <td class="text-center">@item.SuppName</td>
                                    <td class="text-center">@item.SuppCode</td>
                                    <td class="text-center">@item.Dock</td>
                                    <td class="text-center">@item.OrderNo</td>
                                    <td class="text-center">@item.ManifestNo</td>
                                    <td class="text-center">@item.ArrivalPlan</td>
                                    <td style="text-align: center; vertical-align: middle;" class="@bgcolor4">@status4</td>
                                    @*@if (item.Status == "Complete")
                                    {
                                        <td class="text-center complete">@item.Status</td>
                                    }
                                    else
                                    {
                                        <td>@item.Status</td>
                                    }*@
                                </tr>
                            }
                       }
                        
                    }
                    @{
                        for (var i = retrieveData4.Count; i < 5; i++)
                        {
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        }
                    }
                </table>
                <!-- don't mind these, I just added them for fun! -->
                <br />
            </div>
        </div>
    </div>
</div>