﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED020300W
@using IPOS.Models.Common
@model GenericModel<CED020300W>



<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
		<div style="border: 1pt solid #ccc; margin-bottom: 5px;">
			<div id="tScrollHead" style="overflow: hidden;">
				<table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; table-layout: fixed">
					<colgroup>
						<col width="25px" />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" class="frozen_header">No</th>
							<th rowspan="2" class="frozen_header">Vanning Date</th>
							<th rowspan="2" class="frozen_header">DEST</th>
							<th rowspan="2" class="frozen_header">RENBAN</th>
							<th rowspan="2" class="frozen_header">ORI</th>
							<th rowspan="2" class="frozen_header">CASE QTY</th>
							<th rowspan="2" class="frozen_header">SIZE</th>
							<th rowspan="2" class="frozen_header">VANNING PLANT</th>
							<th rowspan="2" class="frozen_header">STATUS L/T</th>
							<th colspan="2" class="frozen_header">Arrival CONT.</th>
							<th colspan="3" class="frozen_header">VANNING PLAN</th>
							<th rowspan="2" class="frozen_header">REMARK</th>
							<th rowspan="2" class="frozen_header">GROUP</th>
						</tr>
						<tr>
							<th class="frozen_header">TIME</th>
							<th class="frozen_header">ACTUAL</th>
							<th class="frozen_header">START TIME</th>
							<th class="frozen_header">t/t</th>
							<th class="frozen_header">CUMM</th>
						</tr>
					</thead>
				</table>
			</div>
			<div id="tScrollBody" style="min-height: 50px;">
				<table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; table-layout: fixed">
					<colgroup>
						<col width="25px" />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
					</colgroup>
					<tbody>
						@{
							if (Model.DataList != null)
							{
								if (Model.DataList.Any())
								{
									foreach (CED020300W item in Model.DataList)
									{
												<tr id="DataRow" class="tr-grid-detail">
													<td class="text-center frozen_row">@item.ROW_NO</td>
													<td class="text-center frozen_row">@item.VANNING_DATE</td>
													<td class="text-center frozen_row">@item.DEST</td>
													<td class="text-center frozen_row">@item.RENBAN</td>
													<td class="text-center frozen_row">@item.ORI</td>
													<td class="text-center frozen_row">@item.CASE_QTY</td>
													<td class="text-center frozen_row">@item.SIZE</td>
													<td class="text-center frozen_row">@item.VANNING_PLACE</td>
													<td class="text-center frozen_row">@item.STATUS</td>
													<td class="text-center frozen_row">@item.TIME</td>
													<td class="text-center frozen_row">@item.ACTUAL</td>
													<td class="text-center frozen_row">@item.START_TIME</td>
													<td class="text-center frozen_row">@item.TT</td>
													<td class="text-center frozen_row">@item.CUMM</td>
													<td class="text-center frozen_row">@item.REMARKS</td>
													<td class="text-center frozen_row"></td>
												</tr>
									}
								}
								else
								{
									<tr id="noDataRow">
										<td colspan="30" class="text-center">@Model.MsgNotFound</td>
									</tr>
								}
							}
						}
					</tbody>
				</table>

				<script>
					doApplyFrozenGrid();
				</script>

			</div>
			<div>
				<table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
					<tfoot>
						<tr>
							<td colspan="30">
								@Html.Partial(CommonPage.GridPaging, Model.GridPaging)
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="col-xs-12 text-right">

				</div>
			</div>
		</div>
    </div>
</div>

<script type="text/javascript">
    //$("#tScrollBody").scroll(function () {
    //    $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    //});

    @{
    if (Model.DataList != null && Model.DataList.Any())
    {
        Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                        "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                        "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                        "if(btnEdit.length>0)" +
                        "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                        "if(btnDelete.length>0)" +
                        "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                        "if(btnDownload.length>0)" +
                        "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                    );
    }
    else
    {
        Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                        "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                        "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                        "if(btnEdit.length>0)" +
                        "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                        "if(btnDelete.length>0)" +
                        "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                        "if(btnDownload.length>0)" +
                        "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                    );
    }
}
</script>
