﻿@using IPOS.Controllers.Constants
@using IPOS.Controllers;
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED020300WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED020300WGrid")
    </div>
</div>
@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED020300W";

        $(document).ready(function () {
            CED020300WdoInit();

            $('.date').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });

        CED020300WdoInit = function () {
            initialMode();
            //$("#txts-ProdDate").focus();
        }

        CED020300WdoClear = function () {
            clearMode();
            CED020300WdoSearchClear();
        }

        CED020300WdoSearchClear = function () {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED020300WSearchNoData")",
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED020300WdoInit();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED020300WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED020300WSearchData")",
                data: {
					VanningDate: $("#txts-vanningDate").val(),
					vanningPlant: $("#cmbs-vanningPlant").val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED020300WGenerateExcel = function () {

			var vanningDateParam = $("#txts-vanningDate").val()
			var	vanningPlantParam = $("#cmbs-vanningPlant").val()

            if (vanningDateParam == 'undefined' || vanningDateParam == null || vanningDateParam == '') {
                getMessage("I", "Vanning Date can't be empty", function () { return });
                return;
            }
			else if (vanningPlantParam == 'undefined' || vanningPlantParam == null || vanningPlantParam == '') {
				getMessage("I", "Please select Vanning Plant", function () { return });
                return;
            }
            else {
                //Pop Up Message
                setMessage('MCEDSTD001C', null, function () {
                    var mode = $('#mode').val();
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("CED020300WDownloadExcel")",
						data: {
							VanningPlant: vanningPlantParam,
							VanningDate: vanningDateParam
                        },
                        //beforeSubmit: showLoading(),
                        success: function (result) {
                            console.log('tes',result)
                            //Pop Up Message
                            if (result.result.split("-")[0] == "DONE") {
								setMessage("MCEDSTD002I", "DVP Report;" + result.result.split("-")[1], function () {
                                    afterSave();
                                });
                            } else {
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                            }
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });
            }
        }

        CED020300WReleaseDVP = function () {

			var vanningDateParam = $("#txts-vanningDate").val()
			var	vanningPlantParam = $("#cmbs-vanningPlant").val()

            if (vanningDateParam == 'undefined' || vanningDateParam == null || vanningDateParam == '') {
                getMessage("I", "Vanning Date can't be empty", function () { return });
                return;
            }
			else if (vanningPlantParam == 'undefined' || vanningPlantParam == null || vanningPlantParam == '') {
				getMessage("I", "Please select Vanning Plant", function () { return });
                return;
            }
            else {
                //Pop Up Message
                setMessage('MCEDSTD001C', null, function () {
                    var mode = $('#mode').val();
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("CED020300WReleaseDVP")",
						data: {
							VanningPlant: vanningPlantParam,
							VanningDate: vanningDateParam
                        },
                        //beforeSubmit: showLoading(),
                        success: function (result) {
                            console.log('tes',result)
                            //Pop Up Message
                            if (result.result.split("-")[0] == "DONE") {
								setMessage("MCEDSTD002I", "Release DVPR;" + result.result.split("-")[1], function () {
                                    afterSave();
                                });
                            } else {
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                            }
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });
            }
        }

        CED020300WCreateDVP = function () {

			var vanningDateParam = $("#txts-vanningDate").val()
			var	vanningPlantParam = $("#cmbs-vanningPlant").val()

            if (vanningDateParam == 'undefined' || vanningDateParam == null || vanningDateParam == '') {
                getMessage("I", "Vanning Date can't be empty", function () { return });
                return;
            }
			else if (vanningPlantParam == 'undefined' || vanningPlantParam == null || vanningPlantParam == '') {
				getMessage("I", "Please select Vanning Plant", function () { return });
                return;
            }
            else {
                //Pop Up Message
                setMessage('MCEDSTD001C', null, function () {
                    var mode = $('#mode').val();
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("CED020300WCreateDVP")",
						data: {
							VanningPlant: vanningPlantParam,
							VanningDate: vanningDateParam
                        },
                        //beforeSubmit: showLoading(),
                        success: function (result) {
                            console.log('tes',result)
                            //Pop Up Message
                            if (result.result.split("-")[0] == "DONE") {
								setMessage("MCEDSTD002I", "Create DVP;" + result.result.split("-")[1], function () {
                                    afterSave();
                                });
                            } else {
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                            }
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });
            }
        }

        var x = 0;
        function doApplyFrozenGrid() {
            x = 0;
            $(".frozen_row").css("z-index", "10");
            $(".frozen_row").css("position", "relative");
            $(".frozen_row").css({ 'background-color': 'white' });
            $(".frozen_header").css("z-index", "10");
            $(".frozen_header").css("position", "relative");
            $(".frozen_header").css({ 'background-color': 'white' });
            $("#tScrollBody").on("scroll", function () {
                var moveX = $("#tScrollBody").scrollLeft();
                if (x != moveX) {
                    x = moveX * -1;
                    $(".dynamic_header").css({ transform: 'translateX(' + x + 'px)' });
                    $(".frozen_row").css("left", moveX);
                }
            });
        }

        function ClearPopUp() {
            $("#cb-PlantCode").val("");
            $("#txt-PlanPackDateFrom").val("");
            $("#txt-PlanPackDateTo").val("");
        }

        function diff_days(dt2, dt1) {

            var diff = (dt2.getTime() - dt1.getTime()) / 1000;
            diff /= (60 * 60 * 24);
            return Math.abs(Math.round(diff));

        }

        function nextDate(str) {
            var Month = str.split("-");

            //var DateFrom = DateConversion(e.target.value);
            //var Month = DateFrom.split('/');

            var month_names = ["Jan", "Feb", "Mar",
                      "Apr", "May", "Jun",
                      "Jul", "Aug", "Sep",
                      "Oct", "Nov", "Dec"];

            var settfr = new Date(Month[2], Month[1], Month[0]);
            settfr.setMonth(settfr.getMonth());

            var d = settfr.getDate();
            var m = settfr.getMonth();
            var y = settfr.getFullYear();

            return "" + d + "-" + month_names[m] + "-" + y;
        }

        function ReformatDate(str) {
            var arr = str.split("-");
            var m;
            switch (arr[1]) {
                case "Jan":
                    m = "January";
                    break;
                case "Feb":
                    m = "February";
                    break;
                case "Mar":
                    m = "March";
                    break;
                case "Apr":
                    m = "April";
                    break;
                case "May":
                    m = "May";
                    break;
                case "Jun":
                    m = "June";
                    break;
                case "Jul":
                    m = "July";
                    break;
                case "Aug":
                    m = "August";
                    break;
                case "Sep":
                    m = "September";
                    break;
                case "Oct":
                    m = "October";
                    break;
                case "Nov":
                    m = "November";
                    break;
                case "Dec":
                    m = "December";
            }
            return m + " " + arr[0] + ", " + arr[2] + " 00:00:00";
        }
    </script>
}
