﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="form-group form-group-xs _criteria">
				<label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Vanning Plant</label>
				<div class="col-xs-8 col-sm-9 col-md-6">
					@Html.DropDownList("cmbs-vanningPlant", CommonController.ComboBoxSelectList("1", "VANNING_PLANT", null), new { @class = "eView", style = "width:100%" })
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="form-group form-group-xs _criteria">
				<label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Vanning Date</label>
				<div class="col-xs-8 col-sm-9 col-md-6">
					<div class="input-group date" data-provide="datepicker">
						<input class="eView form-control date-picker" id="txts-vanningDate" type="text" data-date-format="yyyy-mm-dd" maxlength="10" style="width: 100%" readonly />
						<span class="input-group-addon" style="cursor: pointer;">
							<i class="fa fa-calendar bigger-110"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="height: 30px">
		<div class="col-xs-6" style="margin-top: 5px;">
		</div>
		<div class="col-xs-6 text-right">
			<div class="form-group-xs _criteria">
				<button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED020300WdoSearch()">Search</button>
				<button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED020300WdoClear()">Clear</button>
			</div>
		</div>
	</div>
</form>


<div class="row" style="height: 45px; margin-top:5px">
	<div class="col-xs-12 col-sm-6 text-left">
	</div>
	<div class="col-xs-12 col-sm-6 text-right" style="height: 45px;">
        <div class="form-group form-group-xs" style="margin-bottom: 3px;">
            <button id="btnCreate" type="button" class="btn btn-primary btn-xs eView" onclick="javascript:CED020300WCreateDVP()">Create DVP</button>
            <button id="btnRelease" type="button" class="btn btn-primary btn-xs eView" onclick="javascript:CED020300WReleaseDVP()">Release DVPR</button>
            <button id="btnDownload" type="button" class="btn btn-warning btn-xs eView" onclick="javascript:CED020300WGenerateExcel()">Download DVP</button>
        </div>
	</div>
</div>
<div class="text-center" style="margin-bottom: 3px;">
	<hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>
