﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED010400WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED010400WGrid")
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED010400W";

        $(document).ready(function () {
            CED010400WdoInit();
            tabs(1);

            $btnAllCheckBox= $("#checkall");
            $gridCheckBox= $(".grid-checkbox-body");
            CED010400WSelectAllCheckBox($gridCheckBox, $btnAllCheckBox);
        });

        CED010400WdoInit = function () {
            initialMode();
            $("#txts-PartNo").focus();
        }

        CED010400WdoClear = function () {
            clearMode();
            CED010400WdoSearchClear();

            $("#txtUploadFileType").val("");
            $("#txtUploadFileCycle").val("");
            $("#txtUploadFilePass").val("");
        }

        CED010400WSelectAllCheckBox = function ($elements, $button) {
            $button.on('click', function (e) {
                if ($button.is(":checked")) {
                    return $elements.prop('checked', true);
                } else {
                    return $elements.prop('checked', false);
                }
            });

            $($elements).click(function () {
                if ($elements.length == document.querySelectorAll('input[name=grid-checkbox-body]:checked').length) {
                    return $button.prop("checked", true);
                } else {
                    return $button.prop("checked", false);
                }
            });
        }

        var itbl = 1;
        function tabs(e) {
            itbl = e;
            if (itbl == 1) {
                $(".divPartType").show();
                $(".divPartType_CT").show();
                $(".divPartPassThru").hide();
                $("#ttl-hdr").text("1.4.1 - Part Type");
                $("#formUploadFileType").show();
            } else if (itbl == 2) {
                $(".divPartType_CT").show();
                $(".divPartType").hide();
                $(".divPartPassThru").hide();
                $("#ttl-hdr").text("1.4.2 - Cycle Time");
                $("#formUploadFileCycle").show();
            } else if (itbl == 3) {
                $(".divPartType_CT").hide();
                $(".divPartType").hide();
                $(".divPartPassThru").show();
                $("#ttl-hdr").text("1.4.3 - Passthru");
                $("#formUploadFilePass").show();
            }
            CED010400WdoClear();
        }


        CED010400WdoSearchClear = function () {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED010400WSearchNoData")",
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED010400WdoInit();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010400WdoSearch = function (page) {
            if (itbl == "1") {
                $("#formUploadFileType").show();
            }
            if (itbl == "2") {
                $("#formUploadFileCycle").show();
            }
            if (itbl == "3") {
                $("#formUploadFilePass").show();
            }
            var showLatest = 0;
            if ($('#checkLatest').is(':checked')) {
                showLatest = 1;
            }
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010400WSearchData")",
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                    Table: itbl,
                    Part_No: $("#txts-PartNo").val(),
                    Line_Id: $("#cmbs-LineId").val(),
                    Pattern_Id: $("#cmbs-PatternId").val(),
                    Dock_Code: $("#cmbs-DockCode").val(),
                    Packing_Line: $("#cmbs-PackingLine").val(),
                    Passthru_Flag: $("#cmbs-PassthruFlag").val(),
                    Picking_Flag: $("#cmbs-PickingFlag").val(),
                    Boxing_Flag: $("#cmbs-BoxingFlag").val(),
                    Stacking_Flag: $("#cmbs-StackingFlag").val(),
                    FloorRack_Flag: $("#cmbs-FloorRackFlag").val(),
                    showLatest: showLatest,
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    CED010400WSelectAllCheckBox($(".grid-checkbox-body"), $("#checkall"));
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                    hide_show();
                    setTimeout(function () {
                        //do what you need here
                        $("#txts-PartNo").focus();
                    }, 500);
                }
            });
        }
        function hide_show() {
            if (itbl == 1) {
                $(".pt_cf_pf").html("Part Type");
                $(".pt").show();
                $(".pt_ct").show();
                $(".ct").hide();
                $(".pf").hide();
                $("#txts-PartNo").focus();
                //document.getElementById("PT").checked = true;
            } else if (itbl == 2) {
                $(".pt_cf_pf").html("Cycle Time");
                $(".pt").hide();
                $(".pt_ct").show();
                $(".ct").show();
                $(".pf").hide();
                $("#txts-PartNo").focus();
                //document.getElementById("CT").checked = true;
            } else if (itbl == 3) {
                $(".pt_cf_pf").html("Passthru");
                $(".pt").hide();
                $(".pt_ct").hide();
                $(".ct").hide();
                $(".pf").show();
                $("#txts-PartNo").focus();
                //document.getElementById("PF").checked = true;
            }

        }

        CED010400WdoAdd = function () {
            addMode(funcID);
            $("#txt-PartNo").focus();

        }

        CED010400WdoEdit = function () {
            var count = $('#tScrollBody').find('#checkDetail:checked').length;
            if (count != 1) {
                //Pop Up Message
                setMessage('MCEDSTD002E', null, function () { return });
                //} else if (count > 1) {
                //    //Pop Up Message
                //    setMessage('MGMSM012E', null, function() { return });
            } else {
                editModeCustom(funcID);
                $('#txt-ValidTo').prop('disabled', true);
                $('#txt-ValidTo').removeClass('mandatory');
                if (itbl == "2") {
                    $('#txt-LineId').removeClass('mandatory');
                    $('#txt-LineId').prop('disabled', true);
                    $('#txt-PatternId').removeClass('mandatory');
                    $('#txt-PatternId').prop('disabled', true);
                }
            }
        }

        CED010400WdoSave = function () {
            //Pop Up Message
            var PartNo;
            var DockCd;
            var LineCd;
            var PatternCd;
            var ValidFrom;
            var ChangedDt;
            var date;

            PartNo = $('.grid-checkbox-body:checked').closest('tr').find('td#PartNo').text();
            if (itbl != "3") {
                DockCd = $('.grid-checkbox-body:checked').closest('tr').find('td#DockCd').text();
            }
            LineCd = $('.grid-checkbox-body:checked').closest('tr').find('td#LineCd').text();
            PatternCd = $('.grid-checkbox-body:checked').closest('tr').find('td#PatternCd').text();
            ValidFrom = $('.grid-checkbox-body:checked').closest('tr').find('td#ValidFrom').text();
            ChangedDt = $('.grid-checkbox-body:checked').closest('tr').find('td#ChangedDt').text();

            setMessage('MCEDSTD001C', null, function () {
                if (itbl == "1") {
                    if ($("#txt-LineId").val() == '') {
                        setMessage('MCEDSTD005E', 'Line Code', function () { return });
                        return;
                    } else if ($("#txt-PatternId").val() == '') {
                        setMessage('MCEDSTD005E', 'Pattern Code', function () { return });
                        return;
                    } else if ($("#txt-PackingLine").val() == '') {
                        setMessage('MCEDSTD005E', 'Packing Line', function () { return });
                        return;
                    } else if (CheckValDate($("#txt-ValidFrom").val(), $("#txt-ValidTo").val(), "Valid From & Valid To") == false) {
                        return;
                    }

                    var paramQuery2 = ['TB_M_PART_TYPE', 'PART_NO = \'' + PartNo + '\' AND DOCK_CD = \'' + DockCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')'];
                    var exist2 = checkExist(paramQuery2);
                    if (!exist2) {
                        setMessage('MCEDSTD034E', '', function () { return });
                        CED010400WdoSearch(1);
                        return;
                    }

                    if (ChangedDt != '') {
                        var format = 'dd-MMM-yyyy HH:mm:ss';
                        date = 'AND FORMAT(CHANGED_DT, \'' + format + '\') = \'' + ChangedDt + '\'';
                    } else {
                        date = 'AND CHANGED_DT IS NULL';
                    }

                    var paramQuery = ['TB_M_PART_TYPE', 'PART_NO = \'' + PartNo + '\' AND DOCK_CD = \'' + DockCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')' + date + ''];
                    var exist = checkExist(paramQuery);
                    if (!exist) {
                        setMessage('MCEDSTD034E', '', function () { return });
                        CED010400WdoSearch(1);
                        return;
                    }

                }
                if (itbl == "2") {
                    if ($("#txt-CycleTime").val() == '') {
                        setMessage('MCEDSTD005E', 'CycleTime', function () { return });
                        return;
                    } else if ($("#txt-PatternId").val() == '') {
                        setMessage('MCEDSTD005E', 'Pattern Code', function () { return });
                        return;
                    } else if ($("#txt-PackingLine").val() == '') {
                        setMessage('MCEDSTD005E', 'Packing Line', function () { return });
                        return;
                    } else if (CheckValDate($("#txt-ValidFrom").val(), $("#txt-ValidTo").val(), "Valid From & Valid To") == false) {
                        return;
                    }

                    var paramQuery2 = ['TB_M_PART_CYCLE_TIME', 'PART_NO = \'' + PartNo + '\' AND DOCK_CD = \'' + DockCd + '\' AND LINE_CD = \'' + LineCd + '\' AND PATTERN_CD = \'' + PatternCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')'];
                    var exist2 = checkExist(paramQuery2);
                    if (!exist2) {
                        setMessage('MCEDSTD034E', '', function () { return });
                        CED010400WdoSearch(1);
                        return;
                    }

                    if (ChangedDt != '') {
                        var format = 'dd-MMM-yyyy HH:mm:ss';
                        date = 'AND FORMAT(CHANGED_DT, \'' + format + '\') = \'' + ChangedDt + '\'';
                    } else {
                        date = 'AND CHANGED_DT IS NULL';
                    }

                    var paramQuery = ['TB_M_PART_CYCLE_TIME', 'PART_NO = \'' + PartNo + '\' AND DOCK_CD = \'' + DockCd + '\' AND LINE_CD = \'' + LineCd + '\' AND PATTERN_CD = \'' + PatternCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')' + date + ''];
                    var exist = checkExist(paramQuery);
                    if (!exist) {
                        setMessage('MCEDSTD034E', '', function () { return });
                        CED010400WdoSearch(1);
                        return;
                    }
                }
                if (itbl == "3") {
                    if ($("#txt-LineId").val() == '') {
                        setMessage('MCEDSTD005E', 'Line Code', function () { return });
                        return;
                    } else if ($("#txt-PatternId").val() == '') {
                        setMessage('MCEDSTD005E', 'Pattern Code', function () { return });
                        return;
                    } else if (CheckValDate($("#txt-ValidFrom").val(), $("#txt-ValidTo").val(), "Valid From & Valid To") == false) {
                        return;
                    }

                    var paramQuery2 = ['TB_M_PART_LINE', 'PART_NO = \'' + PartNo + '\' AND LINE_CD = \'' + LineCd + '\' AND PATTERN_CD = \'' + PatternCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')'];
                    var exist2 = checkExist(paramQuery2);
                    if (!exist2) {
                        setMessage('MCEDSTD034E', '', function () { return });
                        CED010400WdoSearch(1);
                        return;
                    }

                    if (ChangedDt != '') {
                        var format = 'dd-MMM-yyyy HH:mm:ss';
                        date = 'AND FORMAT(CHANGED_DT, \'' + format + '\') = \'' + ChangedDt + '\'';
                    } else {
                        date = 'AND CHANGED_DT IS NULL';
                    }

                    var paramQuery = ['TB_M_PART_LINE', 'PART_NO = \'' + PartNo + '\' AND LINE_CD = \'' + LineCd + '\' AND PATTERN_CD = \'' + PatternCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')' + date + ''];
                    var exist = checkExist(paramQuery);
                    if (!exist) {
                        setMessage('MCEDSTD034E', '', function () { return });
                        CED010400WdoSearch(1);
                        return;
                    }
                }

                var count_img = -1;
                var mode = $('#mode').val();
                showLoading();
                var form_data = new FormData();
                form_data.append('MODE', mode);
                form_data.append('Table', itbl);
                form_data.append('Part_No', $("#txt-PartNo").val());
                form_data.append('Dock_Code', $("#txt-DockCode").val());
                form_data.append('Line_Id', $("#txt-LineId").val());
                form_data.append('Pattern_Id', $("#txt-PatternId").val());
                form_data.append('Packing_Line', $("#txt-PackingLine").val());

                form_data.append('Boxing_Flag', $("#cb-BoxingFlag").is(":checked"));
                form_data.append('Picking_Flag', $("#cb-PickingFlag").is(":checked"));
                form_data.append('FloorRack_Flag', $("#cb-FloorRackFlag").is(":checked"));
                form_data.append('Stacking_Flag', $("#cb-StackingFlag").is(":checked"));

                form_data.append('ValidFrom', $("#txt-ValidFrom").val());
                form_data.append('ValidTo', $("#txt-ValidTo").val());

                form_data.append('Cycle_Time', $("#txt-CycleTime").val());

                form_data.append('Passthru_Flag', $("#cb-PassthruFlag").is(":checked"));
                form_data.append('Rack_Address', $("#txt-RackAddress").val());
                form_data.append('Max_Stock_Rack', $("#txt-MaxStockRack").val());
                form_data.append('Qty_Box', $("#txt-QtyBox").val());
                form_data.append('Qty_Kanban', $("#txt-QtyKanban").val());

                if (typeof $("#file-BkpImage")[0].files[0] != "undefined") {
                    count_img = count_img + 1;
                    form_data.append('Bkp_Image', count_img);
                    form_data.append('file', $("#file-BkpImage")[0].files[0]);
                }
                else {
                    form_data.append('Bkp_Image', $('#txt-BkpImage').text());
                }
                if (typeof $("#file-PkpImage")[0].files[0] != "undefined") {
                    count_img = count_img + 1;
                    form_data.append('Pkp_Image', count_img);
                    form_data.append('file', $("#file-PkpImage")[0].files[0]);
                }
                else {
                    form_data.append('Pkp_Image', $('#txt-PkpImage').text());
                }
                if (typeof $("#file-Ps1Image")[0].files[0] != "undefined") {
                    count_img = count_img + 1;
                    form_data.append('Ps1_Image', count_img);
                    form_data.append('file', $("#file-Ps1Image")[0].files[0]);
                }
                else {
                    form_data.append('Ps1_Image', $('#txt-Ps1Image').text());
                }
                if (typeof $("#file-Ps2Image")[0].files[0] != "undefined") {
                    count_img = count_img + 1;
                    form_data.append('Ps2_Image', count_img);
                    form_data.append('file', $("#file-Ps2Image")[0].files[0]);
                }
                else {
                    form_data.append('Ps2_Image', $('#txt-Ps2Image').text());
                }
                if (typeof $("#file-DsImage")[0].files[0] != "undefined") {
                    count_img = count_img + 1;
                    form_data.append('Ds_Image', count_img);
                    form_data.append('file', $("#file-DsImage")[0].files[0]);
                }
                else {
                    form_data.append('Ds_Image', $('#txt-DsImage').text());
                }

                form_data.append('Changed_Date', $("#td-changedDt").text() + ';' + $("#td-changedBy").text());
                form_data.append('ValidFrom_Hide', $("#txt-ValidFrom_Hide").val());


                $.ajax({
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    url: "@Html.Toyota().Page.GetActionUrl("CED010400WSaveData")",
                    //url: "@Html.Toyota().Page.GetActionUrl("CED010400WSaveData")",
                    data: form_data,
                    //data: {
                    //    MODE: mode,
                    //    Table: itbl,
                    //    Part_No: $("#txt-PartNo").val(),
                    //    Dock_Code: $("#txt-DockCode").val(),
                    //    Line_Id: $("#txt-LineId").val(),
                    //    Pattern_Id: $("#txt-PatternId").val(),
                    //    Packing_Line: $("#txt-PackingLine").val(),

                    //    Boxing_Flag: $("#cb-BoxingFlag").is(":checked"),
                    //    Picking_Flag: $("#cb-PickingFlag").is(":checked"),
                    //    FloorRack_Flag: $("#cb-FloorRackFlag").is(":checked"),
                    //    Stacking_Flag: $("#cb-StackingFlag").is(":checked"),

                    //    ValidFrom: $("#txt-ValidFrom").val(),
                    //    ValidTo: $("#txt-ValidTo").val(),

                    //    Cycle_Time: $("#txt-CycleTime").val(),

                    //    Passthru_Flag: $("#cb-PassthruFlag").val(),
                    //    Passthru_Flag: $("#txt-RackAddress").val(),
                    //    Passthru_Flag: $("#txt-MaxStockRack").val(),
                    //    Passthru_Flag: $("#txt-QtyBox").val(),
                    //    Passthru_Flag: $("#txt-QtyKanban").val(),
                    //    Passthru_Flag: $("#txt-BkpImage").val(),
                    //    Passthru_Flag: $("#txt-PkpImage").val(),
                    //    Passthru_Flag: $("#txt-Ps1Image").val(),
                    //    Passthru_Flag: $("#txt-Ps2Image").val(),
                    //    Passthru_Flag: $("#txt-DsImage").val(),

                    //    ValidFrom_Hide: $("#txt-ValidFrom_Hide").val()

                    //    //Created_By: $("#td-createBy").text(),
                    //    //Created_Date: $("#td-createDt").text(),
                    //    //Changed_By: $("#td-changedBy").text(),
                    //    //Changed_Date: $("#td-changedDt").text()
                    //},
                    //beforeSubmit: showLoading(),
                    success: function (result) {
                        //Pop Up Message
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                            if (result.MSG_TYPE != 'E') {
                                afterSave();
                                CED010400WdoSearch();
                            }
                        });
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        afterSave();
                        CED010400WdoSearch();
                    },
                    complete: function (result) {
                        hideLoading();
                        CED010400WdoSearch();
                    }
                });
            });
        }

        CED010400WdoCancel = function () {
            //Pop Up Message
            setMessage('MCEDSTD002C', null, function () {
                cancelMode();
                if ($('#tblScroll tbody tr').length > 0) {
                    CED010400WdoSearch();
                }
                else {
                    CED010400WdoInit();
                }
            });
        }

        function setActCheckbox(obj) {
            if ($(obj).is(':checked')) {
                var seqNo = $(obj).attr("value");
                $("#lblHid" + seqNo).text("1");
            } else {
                $("#lblHid" + seqNo).text("");
            }
        }

        CED010400WdoDelete = function () {
            var count = $('#tScrollBody').find('input#checkDetail:checked').length;
            if (count == 0) {
                //Pop Up Message
                setMessage('MCEDSTD003E', null, function () { return });
            }
            else if (count > 1) {
                setMessage('MCEDSTD003E', null, function () { return });
            } else {
                setMessage('MCEDSTD003C', null, function () {
                    var PartNo;
                    var DockCd;
                    var LineCd;
                    var PatternCd;
                    var ValidFrom;
                    var ChangedDt;
                    var date;

                    PartNo = $('.grid-checkbox-body:checked').closest('tr').find('td#PartNo').text();
                    if (itbl != "3") {
                        DockCd = $('.grid-checkbox-body:checked').closest('tr').find('td#DockCd').text();
                    }
                    //LineCd = $('.grid-checkbox-body:checked').closest('tr').find('td#LineCd').text();
                    LineCd = $('.grid-checkbox-body:checked').closest('tr').find('td#PackingLine').text();
                    PatternCd = $('.grid-checkbox-body:checked').closest('tr').find('td#PatternCd').text();
                    ValidFrom = $('.grid-checkbox-body:checked').closest('tr').find('td#ValidFrom').text();
                    ChangedDt = $('.grid-checkbox-body:checked').closest('tr').find('td#ChangedDt').text();

                    if (itbl == "1") {
                        var paramQuery2 = ['TB_M_PART_TYPE', 'PART_NO = \'' + PartNo + '\' AND DOCK_CD = \'' + DockCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')'];
                        var exist2 = checkExist(paramQuery2);
                        if (!exist2) {
                            setMessage('MCEDSTD007E', '', function () { return });
                            CED010400WdoSearch(1);
                            return;
                        }

                        if (ChangedDt != '') {
                            var format = 'dd-MMM-yyyy HH:mm:ss';
                            date = 'AND FORMAT(CHANGED_DT, \'' + format + '\') = \'' + ChangedDt + '\'';
                        } else {
                            date = 'AND CHANGED_DT IS NULL';
                        }

                        var paramQuery = ['TB_M_PART_TYPE', 'PART_NO = \'' + PartNo + '\' AND DOCK_CD = \'' + DockCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')' + date + ''];
                        var exist = checkExist(paramQuery);
                        if (!exist) {
                            setMessage('MCEDSTD007E', '', function () { return });
                            CED010400WdoSearch(1);
                            return;
                        }

                    }
                    if (itbl == "2") {
                        var paramQuery2 = ['TB_M_PART_CYCLE_TIME', 'PART_NO = \'' + PartNo + '\' AND DOCK_CD = \'' + DockCd + '\' AND PACKING_LINE_CD = \'' + LineCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')'];
                        var exist2 = checkExist(paramQuery2);
                        if (!exist2) {
                            setMessage('MCEDSTD007E', '', function () { return });
                            CED010400WdoSearch(1);
                            return;
                        }

                        if (ChangedDt != '') {
                            var format = 'dd-MMM-yyyy HH:mm:ss';
                            date = 'AND FORMAT(CHANGED_DT, \'' + format + '\') = \'' + ChangedDt + '\'';
                        } else {
                            date = 'AND CHANGED_DT IS NULL';
                        }

                        var paramQuery = ['TB_M_PART_CYCLE_TIME', 'PART_NO = \'' + PartNo + '\' AND DOCK_CD = \'' + DockCd + '\' AND PACKING_LINE_CD = \'' + LineCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')' + date + ''];
                        var exist = checkExist(paramQuery);
                        if (!exist) {
                            setMessage('MCEDSTD007E', '', function () { return });
                            CED010400WdoSearch(1);
                            return;
                        }
                    }
                    if (itbl == "3") {
                        var paramQuery2 = ['TB_M_PART_LINE', 'PART_NO = \'' + PartNo + '\' AND PACKING_LINE_CD = \'' + LineCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')'];
                        var exist2 = checkExist(paramQuery2);
                        if (!exist2) {
                            setMessage('MCEDSTD007E', '', function () { return });
                            CED010400WdoSearch(1);
                            return;
                        }

                        if (ChangedDt != '') {
                            var format = 'dd-MMM-yyyy HH:mm:ss';
                            date = 'AND FORMAT(CHANGED_DT, \'' + format + '\') = \'' + ChangedDt + '\'';
                        } else {
                            date = 'AND CHANGED_DT IS NULL';
                        }

                        var paramQuery = ['TB_M_PART_LINE', 'PART_NO = \'' + PartNo + '\' AND PACKING_LINE_CD = \'' + LineCd + '\' AND CONVERT(DATE,VALID_FROM) = CONVERT(DATE,\'' + ValidFrom + '\')' + date + ''];
                        var exist = checkExist(paramQuery);
                        if (!exist) {
                            setMessage('MCEDSTD007E', '', function () { return });
                            CED010400WdoSearch(1);
                            return;
                        }
                    }

                    var dataLists = new Array();
                    //modif gw
                    $("#tScrollBody tbody tr").each(function () {
                        if ($(this).find("td").eq(28).text() == "1") {
                            var data = {
                                Table: itbl,
                                Part_No: $(this).find("td").eq(1).text(),
                                Dock_Code: $(this).find("td").eq(2).text(),
                                Packing_Line: $(this).find("td").eq(3).text(),
                                Line_Id: $(this).find("td").eq(4).text(),
                                Pattern_Id: $(this).find("td").eq(5).text(),
                                ValidFrom: $(this).find("td").eq(21).text()
                                //Changed_By: currRow.children()[20].innerText,
                                //Changed_Date: currRow.children()[21].innerText
                            };
                            dataLists.push(data);
                        }
                    });

                    //$.each($('#tScrollBody').find('input:checked'),
                    //    function () {
                    //        var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                    //        var data = {
                    //            Table: itbl,
                    //            Part_No: currRow.children()[1].innerText,
                    //            Dock_Code: currRow.children()[2].innerText,
                    //            Line_Id: currRow.children()[3].innerText,
                    //            ValidFrom: currRow.children()[12].innerText
                    //            //Changed_By: currRow.children()[20].innerText,
                    //            //Changed_Date: currRow.children()[21].innerText
                    //        };
                    //        dataLists.push(data);
                    //    }
                    //);

                    showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("CED010400WDeleteData")",
                        data: JSON.stringify(dataLists),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        //cache: false,
                        traditional: true,
                        success: function (result) {
                            //Pop Up Message
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                                CED010400WdoSearch();
                            });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });
            }
        }

        CED010400WdoDownload = function () {
            setMessage('MCEDSTD004C', null, function () {
                var showLatest = 0;
                if ($('#checkLatest').is(':checked')) {
                    showLatest = 1;
                }
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchDownload")",
                    data: {
                        Part_No: $("#txts-PartNo").val(),
                        Line_Id: $("#cmbs-LineId").val(),
                        Pattern_Id: $("#cmbs-PatternId").val(),
                        //Dock_Code: $("#cmbs-DockCode").val(),
                        Passthru_Flag: $("#cmbs-PassthruFlag").val(),
                        showLatest: showLatest
                    },
                    success: function (result) {
                        if (result.result.split("-")[0] == "DONE") {
                            setMessage("MCEDSTD002I", "Part Line Type Download;" + result.result.split("-")[1], function () { return });
                        } else {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        }
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            }
            )
        };

        CED010400WdoDownloadTemplate = function () {
            //if ($('input[name="typeUpload"]:checked').val() == undefined) {
            //    getMessage("I", "Choose Type Template", function () { return });
            //    return;
            //}
            //var typeUpload = $('input[name="typeUpload"]:checked').val();
            var templateName = 'CED010400W';
            if (itbl == 1) {
                templateName += "_PartType";
            } else if (itbl == 2) {
                templateName += "_CycleTime";
            } else if (itbl == 3) {
                templateName += "_Passthru";
            }
            getTemplate(templateName);
        }

        CED010400WdoUploadFile = function () {
            // common javascript
            //if (itbl != 1 || itbl != 2 || itbl != 3) {
            //    getMessage("I", "Choose Type Upload", function () { return });
            //    return;
            //}
            //if ($("#txt_ValidFrom").val() == "") {
            //    setMessage("MCEDSTD005E", "Valid From", function () { return });
            //    return;
            //}
            //if ($("#txt_ValidTo").val() == "") {
            //    setMessage("MCEDSTD005E", "Valid To", function () { return });
            //    return;
            //}
            //if (CheckValDate($("#txt_ValidFrom").val(), $("#txt_ValidTo").val(), "Upload") == false) {
            //    return;
            //}
            var sts = checkExistenceFile();
            if (sts == 0) {
                var templateName = '';
                if (itbl == 1) {
                    templateName = "formUploadFileType";
                } else if (itbl == 2) {
                    templateName = "formUploadFileCycle";
                } else if (itbl == 3) {
                    templateName = "formUploadFilePass";
                }
                setMessage('MCEDSTD007C', null, function () {
                    var dataForm = new FormData($('#' + templateName)[0]);
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: "@Html.Toyota().Page.GetActionUrl("UploadFile")",
                        data: dataForm,
                        processData: false, //Important!
                        contentType: false,
                        cache: false,
                        //beforeSubmit: showLoading(),
                        success: function (result) {
                            if (result.fileName != "" && result.fileName != undefined) {
                                CED010400WdoSendBatch(result.fileName);
                            }
                            else {
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                            }
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                            $("#txtUploadFileType").val("");
                            $("#txtUploadFileCycle").val("");
                            $("#txtUploadFilePass").val("");
                        }
                    });
                })
            }
        }

        function checkExistenceFile() {
            var templateName = '';
            if (itbl == 1) {
                templateName = "txtUploadFileType";
            } else if (itbl == 2) {
                templateName = "txtUploadFileCycle";
            } else if (itbl == 3) {
                templateName = "txtUploadFilePass";
            }
            var isValid = 1;
            var allowedExtension = ['xls', 'xlsx'];
            var fileName = $('#' + templateName).val();
            var fileExtension = fileName.split('.').pop().toLowerCase();

            if (fileName == '') {
                setMessage('MCEDSTD061E', null, null);
                return isValid;
            }

            for (var index in allowedExtension) {
                if (fileExtension === allowedExtension[index]) {
                    isValid = 0;
                }
            }
            if (isValid == 1) {
                setMessage('MCEDSTD062E', 'Upload;.xls or .xlsx', null);
                return isValid;
            }

            return isValid;
        }

        function browseFileNew() {
            var templateName = '';
            if (itbl == 1) {
                templateName = "Type";
            } else if (itbl == 2) {
                templateName = "Cycle";
            } else if (itbl == 3) {
                templateName = "Pass";
            }
            $(".input-file-" + templateName).before(
                function () {
                    if ($(".input-file-" + templateName).prev().hasClass('input-ghost')) {
                        $(".input-file-" + templateName).prev().remove();
                    }
                    var element = $("<input type='file' accept='.xls,.xlsx' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    element.click();
                    return element;
                }
            );
        }

        CED010400WdoSendBatch = function (fileName) {
            var typeName = '';
            if (itbl == 1) {
                typeName = "CED010404B";
            } else if (itbl == 2) {
                typeName = "CED040400B";
            } else if (itbl == 3) {
                typeName = "CED041000B";
            }
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchUpload")",
                data: {
                    filename: fileName,
                    type: typeName
                    //type: $('input[name="typeUpload"]:checked').val(),
                    //validFrom: $("#txt_ValidFrom").val(),
                    //validTo: $("#txt_ValidTo").val()
                },
                success: function (result) {
                    if (result.result.split("-")[0] == "DONE") {
                        setMessage("MCEDSTD002I", "Part Line Type Upload;" + result.result.split("-")[1], function () {
                            $('.input-ghost').val(null);
                            $(".input-file").find('input').val('');
                            $("#txt_ValidFrom").val('');
                            $("#txt_ValidTo").val('');
                            CED010400WdoClear();
                        });
                    } else {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                }
            });
        }

        function CheckValDate(startDt, endDt, typeVal) {
            var msg = true;
            var newStart;
            var newEnd;
            if (startDt == '') {
                setMessage('MCEDSTD005E', 'Valid From', function () { return });
                msg = false;
            } else {
                if (startDt != '' && endDt != '') {
                    newStart = new Date(startDt);
                    newEnd = new Date(endDt);
                }
                console.log(newStart);
                console.log(newEnd);
                if (newStart > newEnd && newStart != '' && newEnd != '') {
                    var param1 = ' > ('+startDt+')';
                    var param2 = 'Valid To = ' + endDt;
                    setMessage('MCEDSTD063E', param2 + ';' + param1 + ';' + typeVal, function () { return });
                    msg = false;
                }
            }
            return msg;
        }


        function editModeCustom(functionID) {
            if (itbl == "1") {
                $("#formUploadFileType").hide();
            }
            if (itbl == "2") {
                $('#txt-CycleTime').addClass('input-sm form-control eEdit mandatory text-right');
                $("#formUploadFileCycle").hide();
            }
            if (itbl == "3") {
                $("#formUploadFilePass").hide();
            }
            $('#mode').val(2);
            setEnableDisable('.hidden-xs', 'eEdit');
            //$("#formUpload").hide();
            removeMandatoryInput();
            disabledPaging(functionID);

            $.each($('#tScrollBody').find('input#checkDetail:checked'),
                function () {
                    var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                    var rowIndex = $('#tScrollBody tbody tr').index(currRow);
                    var rowTemplate = $('#tbTemplateDataRow').html();
                    $(currRow).hide().after(rowTemplate.replace('templateDataRow', 'DataRow' + rowIndex));
                    var newRow = $('#DataRow' + rowIndex);
                    itemArray = [];
                    objItem = $('#tScrollBody tbody tr:eq(' + rowIndex + ')').find('td');
                    lenObj = objItem.length;
                    for (i = 1; i < lenObj; i++) {
                        itemArray[i] = objItem[i].innerText;
                    };
                    for (j = 1; j < lenObj; j++) {
                        if (typeof newRow.find('td')[j] !== 'undefined') {
                            col_row = newRow.find('td')[j].childNodes;

                            if (col_row.length == 0) {
                                tag_type = "LABEL";
                                id_nm = newRow.find('td')[j].getAttribute('id')
                            } else {
                                tag_type = col_row[1].nodeName;
                                id_nm = col_row[1].getAttribute('id');
                            }

                            if (tag_type == "DIV" && id_nm == null) {
                                col_row_detail = col_row[1].childNodes;
                                tag_type = col_row_detail[3].nodeName;
                                id_nm = col_row_detail[3].getAttribute('id');
                                if (id_nm == null) {
                                    tag_type = col_row_detail[1].nodeName;
                                    id_nm = col_row_detail[1].getAttribute('id');
                                }
                            }

                            if (tag_type == "LABEL") {
                                $('#' + id_nm).text(itemArray[j]);
                            }
                            else if (tag_type == "SELECT") {
                                $('#' + id_nm).find("option:contains('" + itemArray[j] + "')").each(function () {
                                    if ($(this).text() == itemArray[j]) {
                                        $(this).attr("selected", "selected");
                                    }
                                });
                            }
                            else {
                                if (col_row.length > 3) {
                                    if (col_row[3].localName == "a") {
                                        var str = itemArray[j];
                                        $("#" + col_row[3].id).text(str.substring(str.lastIndexOf('/') + 1));
                                        document.getElementById(col_row[3].id).href = str.substring(str.lastIndexOf('Report'));
                                    }
                                }
                                if (col_row[1].type == "checkbox") {
                                    if (itemArray[j] == 1) {
                                        document.getElementById(id_nm).checked = true;
                                    } else {
                                        document.getElementById(id_nm).checked = false;
                                    }
                                } else if (col_row[1].type == "file") {
                                } else {
                                    $('#' + id_nm).val(itemArray[j]);
                                }
                            }
                        }

                    }
                    itemArray = null;
                    $(newRow).show();
                }
            );
            //Initial datepicker
            $('.input-group.date').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
            if (itbl == "1") {
                $("#txt-ValidFrom").focus();
            } else if (itbl == "2") {
                $("#txt-CycleTime").focus();
            } else {
                $("#cb-PassthruFlag").focus();
            }
        }


    </script>
}