﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Part No</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txts-PartNo" class="form-control eView" placeholder="Part No" maxlength="12" />
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Line Code</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    @Html.DropDownList("cmbs-LineId", CommonController.ComboBoxSelectList("1", "PROD_LINE", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Pattern Code</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    @Html.DropDownList("cmbs-PatternId", CommonController.ComboBoxSelectList("1", "PATTERN", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group form-group-xs _criteria divPartType_CT">
                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">Dock Code</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    @Html.DropDownList("cmbs-DockCode", CommonController.ComboBoxSelectList("1", "DOCK_CD", null), new { @class = "eView", style = "width:50%" })
                </div>
            </div>
            <div class="form-group form-group-xs _criteria" style="display: none">
                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">Packing Line</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <select class="eView" id="cmbs-PackingLine" style="width: 100%">
                        <option value="">-ALL-</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _criteria divPartPassThru" style="display: none">
                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">Passthru Flag</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <select class="eView" id="cmbs-PassthruFlag">
                        <option value="">-ALL-</option>
                        <option value="1">Y</option>
                        <option value="0">N</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _criteria divPartType">
                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">Boxing Flag</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <select class="eView" id="cmbs-BoxingFlag">
                        <option value="">-ALL-</option>
                        <option value="1">Y</option>
                        <option value="0">N</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 divPartType">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-6 control-label text-muted">Picking Flag</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <select class="eView" id="cmbs-PickingFlag">
                        <option value="">-ALL-</option>
                        <option value="1">Y</option>
                        <option value="0">N</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-6 control-label text-muted">Stacking Flag</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <select class="eView" id="cmbs-StackingFlag">
                        <option value="">-ALL-</option>
                        <option value="1">Y</option>
                        <option value="0">N</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group form-group-xs _criteria divPartType">
                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">Flow Rack Flag</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <select class="eView" id="cmbs-FloorRackFlag">
                        <option value="">-ALL-</option>
                        <option value="1">Y</option>
                        <option value="0">N</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-5 control-label text-muted">Show Latest</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input id="checkLatest" class="ace ace-switch ace-switch-6 eView" type="checkbox" checked />
                    <span class="lbl middle"></span>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-tabs">
            <li class="active" onclick="tabs(1)"><a data-toggle="tab" href="#menu1">Part Type</a></li>
            <li onclick="tabs(2)"><a data-toggle="tab" href="#menu2">Cycle Time</a></li>
            <li onclick="tabs(3)"><a data-toggle="tab" href="#menu3">Passthru</a></li>
        </ul>

        <div class="tab-content" style="border: 0px !important; padding-bottom: 6px; padding-top: 6px;">
            <div id="menu1" class="tab-pane fade in active">
                <div class="col-xs-6" style="margin-top: 5px;"></div>
                <div class="col-xs-6 text-right">
                    <div class="form-group-xs _criteria">
                        <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010400WdoSearch()">Search</button>
                        <button id="btnClear" type="button" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED010400WdoClear()">Clear</button>
                    </div>
                </div>


                <div class="col-xs-12" style="margin-top: 5px;">
                    <div class="row" style="height: 45px" id="formUpload">
                        @Html.Partial("CED010400WRadioType")
                        <div id="div-btnEditAdd" class="col-xs-12 col-sm-6 text-right" style="height: 45px;">
                            <div class="form-group-xs" style="margin-bottom: 3px;">
                                @*<button id="btnAdd" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010400WdoAdd()">Add</button>*@
                                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010400W", "btnEdit"))
                                {
                                    <button id="btnEdit" type="button" class="btn btn-primary btn-xs btn-size1" onclick="javascript:CED010400WdoEdit()">Edit</button>
                                }
                                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010400W", "btnDelete"))
                                {
                                    <button id="btnDelete" type="button" class="btn btn-danger btn-xs btn-size1" onclick="javascript:CED010400WdoDelete()">Delete</button>
                                }
                                @*<button id="btnDownload" type="button" class="btn btn-success btn-xs btn-size1" onclick="javascript:CED010400WdoDownload()">Download</button>*@
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="col-xs-6" style="margin-top: 5px;"></div>
                <div class="col-xs-6 text-right">
                    <div class="form-group-xs _criteria">
                        <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010400WdoSearch()">Search</button>
                        <button id="btnClear" type="button" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED010400WdoClear()">Clear</button>
                    </div>
                </div>


                <div class="col-xs-12" style="margin-top: 5px;">
                    <div class="row" style="height: 45px" id="formUpload">
                        @Html.Partial("CED010400WRadioCycle")
                        <div id="div-btnEditAdd" class="col-xs-12 col-sm-6 text-right" style="height: 45px;">
                            <div class="form-group-xs" style="margin-bottom: 3px;">
                                @*<button id="btnAdd" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010400WdoAdd()">Add</button>*@
                                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010400W", "btnEdit"))
                                {
                                    <button id="btnEdit" type="button" class="btn btn-primary btn-xs btn-size1" onclick="javascript:CED010400WdoEdit()">Edit</button>
                                }
                                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010400W", "btnDelete"))
                                {
                                    <button id="btnDelete" type="button" class="btn btn-danger btn-xs btn-size1" onclick="javascript:CED010400WdoDelete()">Delete</button>
                                }
                                @*<button id="btnDownload" type="button" class="btn btn-success btn-xs btn-size1" onclick="javascript:CED010400WdoDownload()">Download</button>*@
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <div class="col-xs-6" style="margin-top: 5px;"></div>
                <div class="col-xs-6 text-right">
                    <div class="form-group-xs _criteria">
                        <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010400WdoSearch()">Search</button>
                        <button id="btnClear" type="button" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED010400WdoClear()">Clear</button>
                    </div>
                </div>


                <div class="col-xs-12" style="margin-top: 5px;">
                    <div class="row" style="height: 45px" id="formUpload">
                        @Html.Partial("CED010400WRadioPass")
                        <div id="div-btnEditAdd" class="col-xs-12 col-sm-6 text-right" style="height: 45px;">
                            <div class="form-group-xs" style="margin-bottom: 3px;">
                                @*<button id="btnAdd" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010400WdoAdd()">Add</button>*@
                                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010400W", "btnEdit"))
                                {
                                    <button id="btnEdit" type="button" class="btn btn-primary btn-xs btn-size1" onclick="javascript:CED010400WdoEdit()">Edit</button>
                                }
                                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010400W", "btnDelete"))
                                {
                                    <button id="btnDelete" type="button" class="btn btn-danger btn-xs btn-size1" onclick="javascript:CED010400WdoDelete()">Delete</button>
                                }
                                @*<button id="btnDownload" type="button" class="btn btn-success btn-xs btn-size1" onclick="javascript:CED010400WdoDownload()">Download</button>*@
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




