﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED010400W
@using IPOS.Models.Common
@model GenericModel<CED010400W>
    <style>
        /*#grid tr td th {
            white-space: nowrap;
        }*/

        .file {
            width: 150px;
        }
    </style>
    <div id="grid" class="row">
        <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
            <div style="border: 1pt solid #ccc;">
                <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                    <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">
                        <colgroup>
                            <col width="25px" />
                            <col width="90px" />
                            <col width="50px" class="pt_ct" />
                            <col width="75px" />
                            <col width="50px" />
                            <col width="50px" />

                            <col width="50px" class="pt" />
                            <col width="50px" class="pt" />
                            <col width="55px" class="pt" />
                            <col width="55px" class="pt" />

                            <col width="75px" class="ct" />

                            <col width="75px" class="pf" />
                            <col width="75px" class="pf" />
                            <col width="75px" class="pf" />
                            <col width="75px" class="pf" />
                            <col width="75px" class="" hidden />
                            <col width="170px" class="pf" />
                            <col width="170px" class="pf" />
                            <col width="170px" class="pf" />
                            <col width="170px" class="pf" />
                            <col width="170px" class="pf" />

                            <col width="80px" class="pt_cf_pf" />
                            <col width="80px" />
                            <col width="75px" />
                            <col width="80px" />
                            <col width="75px" />
                            <col width="80px" />
                            <col width="75px" hidden />
                        </colgroup>
                        <thead>
                            <tr>
                                <th rowspan="2" class="grid-checkbox-col">
                                    <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall"  /> @*onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )"*@
                                </th>
                                <th rowspan="2">Part No</th>
                                <th rowspan="2" class="pt_ct">Dock Code</th>
                                <th rowspan="2">Packing Line</th>
                                <th rowspan="2">Line Code</th>
                                <th rowspan="2">Pattern Code</th>
                                <th rowspan="2" class="pt">Boxing Flag</th>
                                <th rowspan="2" class="pt">Picking Flag</th>
                                <th rowspan="2" class="pt">Flow Rack Flag</th>
                                <th rowspan="2" class="pt">Stacking Flag</th>

                                <th rowspan="2" class="ct">Cycle Time</th>

                                <th rowspan="2" class="pf">Passthru Flag</th>
                                <th rowspan="2" class="pf">Rack Address</th>
                                <th rowspan="2" class="pf">Max Stock Rack</th>
                                <th rowspan="2" class="pf">Qty Box</th>
                                <th rowspan="2" class="" hidden>Qty Kanban</th>
                                <th rowspan="2" class="pf">BKP Image</th>
                                <th rowspan="2" class="pf">PKP Image</th>
                                <th rowspan="2" class="pf">PS1 Image</th>
                                <th rowspan="2" class="pf">PS2 Image</th>
                                <th rowspan="2" class="pf">DS Image</th>

                                <th colspan="2" class="pt_cf_pf">Part Type</th>

                                <th colspan="2">Created</th>
                                <th colspan="2">Changed</th>
                            </tr>
                            <tr>

                                <th>Valid From</th>
                                <th>Valid To</th>
                                <th>By</th>
                                <th>Date</th>
                                <th>By</th>
                                <th>Date</th>
                                <th hidden>Hidden</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!--if Row Search Criteria More Than 2, Then set Height = 270px Else Height = 300px -->
                <div id="tScrollBody" style="overflow-y: scroll; height: 180px;">
                    <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">
                        <colgroup>
                            <col width="25px" />
                            <col width="90px" />
                            <col width="50px" class="pt_ct" />
                            <col width="75px" />
                            <col width="50px" />
                            <col width="50px" />

                            <col width="50px" class="pt" />
                            <col width="50px" class="pt" />
                            <col width="55px" class="pt" />
                            <col width="55px" class="pt" />

                            <col width="75px" class="ct" />

                            <col width="75px" class="pf" />
                            <col width="75px" class="pf" />
                            <col width="75px" class="pf" />
                            <col width="75px" class="pf" />
                            <col width="75px" class="" hidden />
                            <col width="170px" class="pf" />
                            <col width="170px" class="pf" />
                            <col width="170px" class="pf" />
                            <col width="170px" class="pf" />
                            <col width="170px" class="pf" />

                            <col width="80px" class="pt_cf_pf" />
                            <col width="80px" />
                            <col width="75px" />
                            <col width="80px" />
                            <col width="75px" />
                            <col width="80px" />
                            <col width="75px" hidden />
                        </colgroup>
                        <tbody>
                            @{
                                if (Model.DataList != null)
                                {
                                    if (Model.DataList.Any())
                                    {
                                        var seqNo = 0;
                                        var lblActHid = "";
                                        foreach (CED010400W item in Model.DataList)
                                        {
                                            seqNo++;
                                            lblActHid = "lblHid" + seqNo;
                                            <tr id="DataRow" class="tr-grid-detail">
                                                <td class="text-center grid-checkbox-col">
                                                    <input type="checkbox" id="checkDetail" name="grid-checkbox-body" class="grid-checkbox grid-checkbox-body eView" value="@seqNo" onclick="setActCheckbox(this)"  /> @*onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))"*@
                                                </td>
                                                <td class="text-center" id="PartNo">@item.Part_No</td>
                                                <td class="text-center pt_ct" id="DockCd">@item.Dock_Code</td>
                                                <td class="text-center" id="PackingLine">@item.Packing_Line</td>
                                                <td class="text-center" id="LineCd">@item.Line_Id</td>
                                                <td class="text-center" id="PatternCd">@item.Pattern_Id</td>


                                                <td class="text-center pt">
                                                    <p hidden>@item.Boxing_Flag</p>
                                                    @{ if (@item.Boxing_Flag == "1")
                                                        {<input type="checkbox" disabled checked />}
                                                        else
                                                        { <input type="checkbox" disabled /> } }
                                                </td>
                                                <td class="text-center pt">
                                                    <p hidden>@item.Picking_Flag</p>
                                                    @{ if (@item.Picking_Flag == "1")
                                                        {<input type="checkbox" disabled checked />}
                                                        else
                                                        { <input type="checkbox" disabled /> } }
                                                </td>
                                                <td class="text-center pt">
                                                    <p hidden>@item.FloorRack_Flag</p>
                                                    @{ if (@item.FloorRack_Flag == "1")
                                                        {<input type="checkbox" disabled checked />}
                                                        else
                                                        { <input type="checkbox" disabled /> } }
                                                </td>
                                                <td class="text-center pt">
                                                    <p hidden>@item.Stacking_Flag</p>
                                                    @{ if (@item.Stacking_Flag == "1")
                                                        {<input type="checkbox" disabled checked />}
                                                        else
                                                        { <input type="checkbox" disabled /> } }
                                                </td>

                                                <td class="text-right ct">@item.Cycle_Time</td>

                                                <td class="text-center pf">
                                                    <p hidden>@item.Passthru_Flag</p>
                                                    @{ if (@item.Passthru_Flag == "1")
                                                        {<input type="checkbox" disabled checked />}
                                                        else
                                                        { <input type="checkbox" disabled /> } }
                                                </td>
                                                <td class="text-center pf">@item.Rack_Address</td>
                                                <td class="text-right pf">@item.Max_Stock_Rack</td>
                                                <td class="text-right pf">@item.Qty_Box</td>
                                                <td class="text-right" hidden>@item.Qty_Kanban</td>

                                                <td class="text-center pf"><p hidden>@item.Bkp_Path<p><a href="@ViewBag.BKP_IMAGE_GET@item.Bkp_Image" target="_blank">@item.Bkp_Image</a></td> @*Report/Images/CED010400/BKP_IMAGE/*@
                                                <td class="text-center pf"><p hidden>@item.Pkp_Path<p><a href="@ViewBag.PKP_IMAGE_GET@item.Pkp_Image" target="_blank">@item.Pkp_Image</a></td> @*Report/Images/CED010400/PKP_IMAGE/*@
                                                <td class="text-center pf"><p hidden>@item.Ps1_Path<p><a href="@ViewBag.PS1_IMAGE_GET@item.Ps1_Image" target="_blank">@item.Ps1_Image</a></td> @*Report/Images/CED010400/PS1_IMAGE/*@
                                                <td class="text-center pf"><p hidden>@item.Ps2_Path<p><a href="@ViewBag.PS2_IMAGE_GET@item.Ps2_Image" target="_blank">@item.Ps2_Image</a></td> @*Report/Images/CED010400/PS2_IMAGE/*@
                                                <td class="text-center pf"><p hidden>@item.Ds_Path<p><a href="@ViewBag.DS_IMAGE_GET@item.Ds_Image" target="_blank">@item.Ds_Image</a></td> @*Report/Images/CED010400/DS_IMAGE/*@

                                                <td class="text-center" id="ValidFrom">@item.ValidFrom</td>
                                                <td class="text-center">@item.ValidTo</td>

                                                <td class="text-left">@item.Created_By</td>
                                                <td class="text-center">@item.Created_Date</td>
                                                <td class="text-left">@item.Changed_By</td>
                                                <td class="text-center" id="ChangedDt">@item.Changed_Date</td>
                                                <td class="text-center" hidden>@item.ValidFrom_Hide</td>

                                                <td id="@lblActHid" style="display: none"></td>
                                            </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr id="noDataRow">
                                                                <td colspan="22" class="text-center">@Model.MsgNotFound</td>
                                                            </tr>
                                                            }
                                                        }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                        <tfoot>
                            <tr>
                                <td colspan="22">
                                    @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="col-xs-12 text-right">
                        <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                            <button type="button" id="btncancel" class="btn btn-danger btn-xs eAdd eEdit btn-size1" onclick="javascript:CED010400WdoCancel()">Cancel</button>
                            <button type="button" id="btnsave" class="btn btn-primary btn-xs  eAdd eEdit btn-size1" onclick="javascript:CED010400WdoSave()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table style="display: none">
        <tbody id="tbTemplateDataRow">
            <tr id="templateDataRow" class="tr-grid-detail">
                <td class="text-center grid-checkbox-col">
                    @Html.Hidden("mode")
                    <input type="checkbox" id="checkDetail" class="grid-checkbox" checked="checked" disabled="disabled" />
                </td>
                <td class="center">
                    <input id="txt-PartNo" class="input-sm form-control center" type="text" value="" maxlength="12" />
                </td>
                <td class="center pt_ct">
                    <input id="txt-DockCode" class="input-sm form-control center" type="text" value="" maxlength="3" />
                </td>
                <td class="left">
                    <input id="txt-PackingLine" class="input-sm form-control center mandatory" type="text" value="" maxlength="10" />
                </td>
                <td class="center">
                    <input id="txt-LineId" class="input-sm form-control center mandatory" type="text" value="" maxlength="10" />
                </td>
                <td class="center">
                    <input id="txt-PatternId" class="input-sm form-control center mandatory" type="text" value="" maxlength="10" />
                </td>
                <td class="center pt">
                    <input type="checkbox" id="cb-BoxingFlag" class="grid-checkbox eEdit" />
                </td>
                <td class="center pt">
                    <input type="checkbox" id="cb-PickingFlag" class="grid-checkbox eEdit" />
                </td>
                <td class="center pt">
                    <input type="checkbox" id="cb-FloorRackFlag" class="grid-checkbox eEdit" />
                </td>
                <td class="center pt">
                    <input type="checkbox" id="cb-StackingFlag" class="grid-checkbox eEdit" />
                </td>
                <td class="right ct ">
                    <input id="txt-CycleTime" class="input-sm form-control numeric" type="text" value="" maxlength="4" />
                </td>
                <td class="center pf">
                    <input type="checkbox" id="cb-PassthruFlag" class="grid-checkbox eEdit" />
                </td>
                <td class="left pf ">
                    <input id="txt-RackAddress" class="input-sm form-control eEdit" type="text" value="" />
                </td>
                <td class="left pf ">
                    <input id="txt-MaxStockRack" class="input-sm form-control eEdit" type="text" value="" />
                </td>
                <td class="left pf ">
                    <input id="txt-QtyBox" class="input-sm form-control eEdit" type="text" value="" />
                </td>
                <td class="left " hidden>
                    <input id="txt-QtyKanban" class="input-sm form-control eEdit" type="text" value="" />
                </td>
                <td class="left pf ">
                    <input id="file-BkpImage" class="eEdit file" type="file" />
                    <a href="#" id="txt-BkpImage" class="" download></a>
                </td>
                <td class="left pf ">
                    <input id="file-PkpImage" class="input-sm form-control eEdit" type="file" />
                    <a href="#" id="txt-PkpImage" class="" download></a>
                </td>
                <td class="left pf ">
                    <input id="file-Ps1Image" class="input-sm form-control eEdit" type="file" />
                    <a href="#" id="txt-Ps1Image" class="" download></a>
                </td>
                <td class="left pf ">
                    <input id="file-Ps2Image" class="input-sm form-control eEdit" type="file" />
                    <a href="#" id="txt-Ps2Image" class="" download></a>
                </td>
                <td class="left pf ">
                    <input id="file-DsImage" class="input-sm form-control eEdit" type="file" />
                    <a href="#" id="txt-DsImage" class="" download></a>
                </td>
                <td class="center">
                    <div class="input-group date" data-provide="datepicker">
                        <input class="eAdd eEdit form-control mandatory normal-input center" id="txt-ValidFrom" type="text" data-date-format="dd-mmm-yyyy hh:mm:ss" maxlength="20" />
                        <span class="input-group-addon" style="cursor: pointer;">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </td>
                <td class="center">
                    <div class="input-group date" data-provide="datepicker">
                        <input class="eAdd eEdit form-control date-picker mandatory normal-input center" id="txt-ValidTo" type="text" data-date-format="dd-mmm-yyyy hh:mm:ss" maxlength="20" />
                        <span class="input-group-addon" style="cursor: pointer;">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </td>

                <td id="td-createBy" class="left" style="vertical-align: middle"></td>
                <td id="td-createDt" class="center" style="vertical-align: middle"></td>
                <td id="td-changedBy" class="left" style="vertical-align: middle"></td>
                <td id="td-changedDt" class="center" style="vertical-align: middle"></td>
                <td class="center" hidden>
                    <input id="txt-ValidFrom_Hide" class="input-sm form-control" type="text" value="" maxlength="10" />
                </td>
            </tr>
        </tbody>
    </table>

    <script type="text/javascript">
        $("#tScrollBody").scroll(function () {
            $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
        });

        @{
        if (Model.DataList != null && Model.DataList.Any())
        {
            Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                            "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                            "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                            "if(btnEdit.length>0)" +
                            "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                            "if(btnDelete.length>0)" +
                            "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                            "if(btnDownload.length>0)" +
                            "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                        );
        }
        else
        {
            Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                            "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                            "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                            "if(btnEdit.length>0)" +
                            "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                            "if(btnDelete.length>0)" +
                            "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                            "if(btnDownload.length>0)" +
                            "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                        );
        }
}
    </script>
