﻿<div class="col-xs-12 col-sm-6 text-left">
    <form id="formUploadFileType" method="POST" action="#" enctype="multipart/form-data">
        <div class="form-group">
            <div class="input-group input-file-Type" name="upload">
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010400W", "btnUpload"))
                {
                    <span class="input-group-btn">
                        <button id="btnBrowse" class="btn btn-default btn-xs eView eEdit btn-size1" type="button" onclick="javascript:browseFileNew()">Browse</button>
                    </span>
                    <input type="text" id="txtUploadFileType" class="form-control" placeholder='Choose a file...' style="width: 40%" />
                    <span class="input-group-btn" style="float: left">
                        <button id="btnUpload" class="btn btn-warning btn-xs eView eEdit btn-size1" type="button" onclick="javascript:CED010400WdoUploadFile()">Upload</button>
                    </span>
                    <span style="float: left; padding-left: 90px; padding-top: 5px;">
                        <a href="#" onclick="javascript:CED010400WdoDownloadTemplate()">Download Template</a>
                    </span>
                }
            </div>
        </div>
    </form>
</div>



