﻿@using IPOS.Controllers;
@using IPOS.Controllers.Constants;
@{
    Layout = CommonPage.MainLayout;
    //string iprint = "1";

}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED050700WSearchCriteria")
    <div id="tablegrid">
        @Html.Partial("CED050700WGrid")
    </div>
</div>

<!-- Detail Popup -->
<div class="modal fade" id="detail-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 90%; margin-top: 1%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">5.7.1 Print Kanban Picking</h4>
            </div>
            <div class="modal-body">
                <div id="tablegriddet050700">
                </div>
            </div>
            @*<div class="modal-footer">
                <div class="row" style="height: 30px">
                    <div class="col-xs-6" style="margin-top: 5px;">
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="form-group-xs _criteria">

                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>

<!-- Print Popup -->
<div class="modal fade" id="print-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 40%; margin-top: 10%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Direct Printing</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="divPrintMode" style="margin-bottom:5px;">
                    <div class="col-md-3">Print Mode</div>
                    <div class="col-md-9">
                        <input type="radio" name="rdPrintMode" value="1" class="eView" checked /> <label class="control-label text-muted">All</label> 
                        <input type="radio" name="rdPrintMode" value="2" class="eView" /> <label class="control-label text-muted">Header Only</label> 
                        <input type="radio" name="rdPrintMode" value="3" class="eView" /> <label class="control-label text-muted">Detail Only</label> 
                    </div>
                </div>
                <div class="row" id="divPrintReason" style="margin-bottom:5px;">
                    <div class="col-md-3">Reprint Reason</div>
                    <div class="col-md-9">
                        <input type="text" id="txtReprintReason" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Printer</div>
                    <div class="col-md-9">
                        @Html.DropDownList("cmbs-Printer", CommonController.ComboBoxSelectList("2", "PRINTER_NAME", null), new { @class = "eView mandatory", style = "width:100%" })
                    </div>
                </div>
                @*<div class="row">
                    <br />
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button id="btnBack" type="reset" class="btn btn-danger btn-xs eView btn-size1" data-dismiss="modal" >Cancel</button>
                        <button id="btnBack" onclick="SendParamBatchDownload()" type="button" class="btn btn-primary btn-xs eView btn-size1">Print</button>
                    </div>
                </div>*@
            </div>
            <div class="modal-footer">
                <div class="row" style="height: 30px">
                    <div class="col-xs-6" style="margin-top: 5px;">
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="form-group-xs _criteria">
                            <button id="btnBack" type="reset" class="btn btn-danger btn-xs eView btn-size1" data-dismiss="modal" >Cancel</button>
                            <button id="btnBack" onclick="SendParamBatchDownload()" type="button" class="btn btn-primary btn-xs eView btn-size1">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED050700W";
        var Uploadcheck;
        var paramPrint;
        $(document).ready(function () {
            CED050700WdoInit();
        });

        CED050700WdoInit = function () {
            //remark by FID.Ridwan : 2019-10-25
            //datepicket();
            initialMode();
            $("#txt-Date").focus();

            //var valParent = $("#cmbs-LineId").val();
            //if (valParent != "") {
                $('#cmbs-PackingLine').prop("disabled", false);
                $('#cmbs-PackingLine').css("color", "#858585");
                $('#cmbs-PackingLine').css("background-color", "#ffffff");
            //}
            //else {
            //    $('#cmbs-PackingLine').prop('disabled', true);
            //    $('#cmbs-PackingLine').css("color", "lightgray");
            //    $('#cmbs-PackingLine').css("background-color", "#eeeeee");
            //}
        }

        function datepicket() {
            var star = new Date($("#id-dateFrom").val());
            var idate = new Date();
            var end = new Date(new Date().setDate(idate.getDate())); //+1
         
            $('#div-dateFrom').datepicker({
                format: 'dd-M-yyyy',
                startDate: star,
                endDate: end,
                autoclose: true,
                todayHighlight: true
            });
            $('#div-dateTo').datepicker({
                format: 'dd-M-yyyy',
                startDate: star,
                endDate: end,
                autoclose: true,
                todayHighlight: true
            });
        }

        CED050700WdoClear = function () {
            clearMode();
            CED050700WdoSearchClear();
        }

        CED050700WdoSearchClear = function () {
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED050700WSearchNoData")",
                beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED050700WdoInit();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                    $("#txt-Date").focus();
                }
            });
        }

        CED050700WdoSearch = function (page) {
            if ($("#txt-DateFrom").val() == '' || $("#txt-DateTo").val() == '') {
                setMessage('MCEDSTD005E', "Prod Date", function () { return });
            } else {
                page = typeof page !== 'undefined' ? page : 1;
                pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("CED050700WSearchData")",
                    data: {
                        DATE_FROM: $("#txt-DateFrom").val(),
                        DATE_TO: $("#txt-DateTo").val(),
                        LOT_MOD_NO: $("#txt-LotModNo").val(),
                        CASE_NO: $("#txt-CaseNo").val(),
                        OYA: $("#cmbs-Oya").val(),
                        STATUS: $("#cmbs-Status").val(),
                        LINE_CD: $("#cmbs-LineId").val(),
                        PACKING_LINE_CD: $("#cmbs-PackingLine").val(),
                        CurrentPage: page,
                        DataPerPage: pageSize
                    },
                    //beforeSubmit: showLoading(),
                    success: function (result) {
                        $('#tablegrid').html(result);
                        searchMode();
                        $("#txt-Date").focus();
                        //if ($('#cmbs-LineId').val() == '') {
                        //    $('#cmbs-PackingLine').prop('disabled', true);
                        //}
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                        $("#txt-Date").focus();
                        if ($('#cmbs-Status').val() == "3" || $('#cmbs-Status').val() == "") {
                            $('.hideCol').prop('hidden', false);
                        } else {
                            $('.hideCol').prop('hidden', true);
                        }

                        //var valParent = $("#cmbs-LineId").val();
                        //if (valParent != "") {
                            $('#cmbs-PackingLine').prop("disabled", false);
                            $('#cmbs-PackingLine').css("color", "#858585");
                            $('#cmbs-PackingLine').css("background-color", "#ffffff");
                        //}
                        //else {
                        //    $('#cmbs-PackingLine').prop('disabled', true);
                        //    $('#cmbs-PackingLine').css("color", "lightgray");
                        //    $('#cmbs-PackingLine').css("background-color", "#eeeeee");
                        //}
                    }

                });
            }
        }

        function GetCheck() {
            var count = $('#tScrollBody').find('input:checked').length;
            if (count != 0) {
                var listKey = null

                $.each($('#tScrollBody').find('input:checked'),
                    function () {
                        var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                        if (listKey == null) {
                            listKey = currRow.children()[1].innerText
                        } else {
                            listKey = listKey + ";" + currRow.children()[1].innerText
                        }
                    }
                );
            }
            return listKey;
        };
        var iparam = "";
        function getDetail050700W() {
            iparam = GetCheck();
            var count = $('#tScrollBody').find('input:checked').length;
            if (count == 0) {
                setMessage('MCEDSTD044E', null, function () { return });
                return;
            }
            if (count > 1) {
                setMessage('MCEDSTD044E', null, function () { return });
                return;
            } else {

                $(".btn-Dialog-OK").click();
                $('#detail-popup-modal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                getShowDetail050700W();
            }
        }

        function DetailCED050700WdoSearch(page) {
            getShowDetail050700W(page);
        }

        function DisabledBtnPrint() {
            if ($("#idCountDtl").val() == 0) {
                document.getElementById("btnPrintDtl").disabled = true;
            }else{
                document.getElementById("btnPrintDtl").disabled = false;
            }
        }

        function DetailCED050700WReset() {
            $("#divPrintMode").show();
            $("input[name=rdPrintMode][value='1']").prop("checked", true);
        }

        function getShowDetail050700W(page) {
            ShowHidePrintReason();
            $("#divPrintMode").hide();
            var funcID = "DetailCED050700W";
            var page = page != undefined ? (page != '' || page != null ? page : 1) : 1;
            var pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            var tempOya;
            var tempStst;
            var tempKanban;
            $.ajax({
                type: 'POST',
                url: 'CED050700W/CED050700WSearchDataDetail',
                data: {
                    KANBAN_HEADER_CD: iparam,
                    DATE_FROM: $("#txt-DateFrom").val(),
                    DATE_TO: $("#txt-DateTo").val(),
                    ProdDateDtl: GetValue(2),
                    RanbanNoDtl: GetValue(5),
                    LotModNoDtl: GetValue(3),
                    DestCodeDtl: GetValue(6),
                    CaseNoDtl: GetValue(4),
                    KanbanIDDtl: $("#txt-KanbanIDDtl").val(),
                    OyaDtl: GetValue(13),
                    StatusDtl: $("#cmbs-StatusDtl").val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    tempOya = GetValue(13);//$("#cmbs-OyaDtl").val();
                    tempStst = $("#cmbs-StatusDtl").val();
                    tempKanban = $("#txt-KanbanIDDtl").val();
                    $('#tablegriddet050700').html(result);
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                    $("#txt-DateFromDtl").val($("#txt-DateFrom").val());
                    $("#txt-DateToDtl").val($("#txt-DateTo").val());
                    $("#txt-LotModNoDtl").val(GetValue(3));
                    $("#txt-CaseNoDtl").val(GetValue(4));
                    $("#txt-RanbanNoDtl").val(GetValue(5));
                    $("#txt-DestCodeDtl").val(GetValue(6));
                    $("#txt-KanbanIDDtl").val(tempKanban);
                    $("#cmbs-OyaDtl").val(tempOya);
                    $("#cmbs-StatusDtl").val(tempStst);
                    $("#txt-Line").val(GetValue(7));
                    $("#txt-PackingLine").val(GetValue(8));
                    DisabledBtnPrint();
                }
            });
        }

        function GetValue(param) {
            var count = $('#tScrollBody').find('input:checked').length;
            if (count != 0) {
                var value = null
                $.each($('#tScrollBody').find('input:checked'),
                    function () {
                        var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                        value = currRow.children()[param].innerText
                    }
                );
            }
            return value;
        };

        function GetValueDetail(param) {
            var count = $('#tScrollBodyDetail').find('input:checked').length;
            if (count != 0) {
                var value = null
                $.each($('#tScrollBodyDetail').find('input:checked'),
                    function () {
                        var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                        value = currRow.children()[param].innerText
                    }
                );
            }
            return value;
        };

        function GetCheck2() {
            var count = $('#tScrollBody').find('input:checked').length;
            if (count != 0) {
                var listKey = null

                $.each($('#tScrollBody').find('input:checked'),
                    function () {
                        var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                        if (listKey == null) {
                            listKey = currRow.children()[1].innerText
                        } else {
                            listKey = listKey + "|" + currRow.children()[1].innerText
                        }
                    }
                );
                var countPrint = null
                $.each($('#tScrollBody').find('input:checked'),
                   function () {
                       var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                       if (countPrint == null) {
                           countPrint = parseInt(currRow.children()[7].innerText)
                       } else {
                           countPrint = countPrint + parseInt(currRow.children()[7].innerText)
                       }
                   }
               );
                //console.log(countPrint);

            }
            return listKey;
        };

        function ShowHidePrintReason() {
            var n = $("input.grid-checkbox-body:checked").length;
            if (n == 1) {
                if (parseInt(GetValue(12)) > 0 || parseInt(GetValue(14)) > 0) {
                    $("#divPrintReason").show();
                    $('#txtReprintReason').addClass('eEdit mandatory normal-input');
                    $('#txtReprintReason').val('');
                    $('#cmbs-Printer').val('');
                } else {
                    $("#divPrintReason").hide();
                    $('#txtReprintReason').removeClass('eEdit mandatory normal-input');
                    $('#txtReprintReason').val('');
                    $('#cmbs-Printer').val('');
                }
            } else if (n > 1) {
                var CounterOk = "";
                var CounterOkDetail = "";
                var ParamCounter = $('.grid-checkbox-body:checked').map(function () {
                    return this.value;
                }).get();

                for (var i = 0; i < n; i++) {
                    CounterOk = ParamCounter[i].split('#')[1];
                    CounterOkDetail = ParamCounter[i].split('#')[2];

                    if ((CounterOk != "" && parseInt(CounterOk) > 0) || (CounterOkDetail != "" && parseInt(CounterOkDetail) > 0)) {
                        $("#divPrintReason").show();
                        $('#txtReprintReason').addClass('eEdit mandatory normal-input');
                        $('#txtReprintReason').val('');
                        $('#cmbs-Printer').val('');
                        return;
                    }

                    if ((CounterOk == "" || CounterOk == 0) && (CounterOk == "" || CounterOk == 0)) {
                        $("#divPrintReason").hide();
                        $('#txtReprintReason').removeClass('eEdit mandatory normal-input');
                        $('#txtReprintReason').val('');
                        $('#cmbs-Printer').val('');
                    }
                }

            }
        }

        function ShowHidePrintReasonDetail() {
            var n = $("input.grid-checkbox-body-detail:checked").length;
            if (n == 1) {
                if (GetValueDetail(10) == 'Printed' || GetValueDetail(10) == 'Reprinted') {
                    $("#divPrintReason").show();
                    $('#txtReprintReason').addClass('eEdit mandatory normal-input');
                    $('#txtReprintReason').val('');
                    $('#cmbs-Printer').val('');
                } else {
                    $("#divPrintReason").hide();
                    $('#txtReprintReason').removeClass('eEdit mandatory normal-input');
                    $('#txtReprintReason').val('');
                    $('#cmbs-Printer').val('');
                }
            } else if (n > 1) {
                var CounterOk = "";
                var ParamCounter = $('.grid-checkbox-body-detail:checked').map(function () {
                    return this.value;
                }).get();

                for (var i = 0; i < n; i++) {
                    CounterOk = ParamCounter[i].split('#')[1];

                    if (CounterOk == 'Printed' || CounterOk == 'Reprinted') {
                        $("#divPrintReason").show();
                        $('#txtReprintReason').addClass('eEdit mandatory normal-input');
                        $('#txtReprintReason').val('');
                        $('#cmbs-Printer').val('');
                        return;
                    }

                    if (CounterOk == "Not Printed") {
                        $("#divPrintReason").hide();
                        $('#txtReprintReason').removeClass('eEdit mandatory normal-input');
                        $('#txtReprintReason').val('');
                        $('#cmbs-Printer').val('');
                    }
                }

            }
        }

        function ShowPopUpPrint(param) {
            paramPrint = param;
            var count = $('#tScrollBody').find('input:checked').length;
            if (count == 0) {
                setMessage('MCEDSTD099E', null, function () { return });
                return;
            }
            ShowHidePrintReason();
            $('#print-popup-modal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        function ShowPopUpPrintDetail(param) {
            paramPrint = param;

            var count = $('#tScrollBodyDetail').find('input:checked').length;
            if (count == 0) {
                setMessage('MCEDSTD099E', null, function () { return });
                return;
            }
            ShowHidePrintReasonDetail();
            $('#print-popup-modal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        function SendParamBatchDownload() {
            //if (GetValue(7) > 0) {
            //    if ($("#txtReprintReason").val() == "") {
            //        setMessage("MCEDSTD005E", "Reprint Reason", function () { return });
            //        return;
            //    }
            //}
            if ($('#divPrintReason').is(':visible') == true) {
                if ($("#txtReprintReason").val() == "") {
                    setMessage("MCEDSTD005E", "Reprint Reason", function () { return });
                    return;
                }
            }
            if ($("#cmbs-Printer").val() == "") {
                setMessage("MCEDSTD005E", "Printer", function () { return });
                return;
            }
            var KanbanID = typeof $("#txt-KanbanIDDtl").val() !== 'undefined' ? $("#txt-KanbanIDDtl").val() : "";
            var KanbanPrint;
            var split;
            var KanbanHeader;
            var KanbanParam;
            var kanbanOk = "";
            var PrintMode = "1";

            if (paramPrint == 'header') {
                PrintMode = $('input[name="rdPrintMode"]:checked').val();

                //split = $("input.grid-checkbox-body:checked").val().split('#');
                //KanbanPrint = split[0] + '|header||' + $("#txtReprintReason").val();

                var n = $("input.grid-checkbox-body:checked").length;
                var CounterOk = "";
                var CounterParam = "";
                var ReprintParam = "";
                var ParamCounter = $('.grid-checkbox-body:checked').map(function () {
                    return this.value;
                }).get();

                for (var i = 0; i < n; i++) {
                    CounterParam = ParamCounter[i].split('#')[0];
                    ReprintParam = ParamCounter[i].split('#')[1];

                    if (ReprintParam != "" && parseInt(ReprintParam) > 0) {
                        CounterOk += CounterParam + '#';
                    }
                }

                //KanbanPrint = CounterOk + '|header||' + $("#txtReprintReason").val();
                KanbanPrint = $("#txtReprintReason").val();
            } else {
                PrintMode = "3";
                var CounterParamD = "";
                var ReprintParamD = "";

                split = $("input.grid-checkbox-body:checked").val().split('#');
                KanbanHeader = split[0];

                var KanbanParam = $('.grid-checkbox-body-detail:checked').map(function () {
                    return this.value;
                }).get();

                var n = $("input.grid-checkbox-body-detail:checked").length;

                for (var i = 0; i < n; i++) {
                    CounterParamD = KanbanParam[i].split('#')[0];
                    ReprintParamD = KanbanParam[i].split('#')[1];

                    if (ReprintParamD == 'Printed' || ReprintParamD == 'Reprinted' || ReprintParamD  == 'Not Printed') {
                        kanbanOk += CounterParamD + '#';
                    }

                    //kanbanOk += KanbanParam[i] + '#';
                }

                //KanbanPrint = KanbanHeader + '|detail|' + kanbanOk + '|' + $("#txtReprintReason").val();
                KanbanPrint = $("#txtReprintReason").val();

            }
            var iparam = GetCheck2();
            
            showLoading();
            $.ajax({
                type: 'POST',
                url: 'CED050700W/SendParamBatchDownload',
                //url: 'CED050700W/GenerateModul',
                data: {
                    KANBAN_HEADER_CD: iparam,
                    //LotModNoDtl: $("#txt-LotModNo").val(),
                    //CaseNoDtl: $("#txt-CaseNo").val(),
                    KanbanIDDtl: kanbanOk, //KanbanID,
                    //DATE_FROM: $("#txt-DateFrom").val(),
                    //DATE_TO: $("#txt-DateTo").val(),
                    //GenerateMode: 2,
                    Printer: $("#cmbs-Printer").val().replace(/ /g, '|'),
                    REPRINT_REASON: KanbanPrint,
                    PrintMode: PrintMode

                },
                success: function (result) {
                    //$('#tablegriddet050700').html(result);
                    if (result.result.split("-")[0] == "DONE") {
                        setMessage("MCEDSTD002I", "Print Kanban 4 Report;" + result.result.split("-")[1], function () { return });
                        hideLoading();
                    } else {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        hideLoading();
                    }
                    $("#print-popup-modal").modal("hide");
                    if (paramPrint == 'header') {
                        CED050700WdoSearch(1);
                    } else {
                        getShowDetail050700W(1);
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                    $("#txt-DateFromDtl").val($("#txt-DateFrom").val());
                    $("#txt-DateToDtl").val($("#txt-DateTo").val());
                    $("#txt-LotModNoDtl").val($("#txt-LotModNo").val());
                    $("#txt-CaseNoDtl").val($("#txt-CaseNo").val());
                    $("#txt-RanbanNoDtl").val();
                    $("#txt-DestCodeDtl").val();
                    $("#txt-KanbanIDDtl").val();
                }
            });
        }

        $('input[name="rdPrintMode"]').change(function () {
            if (this.value == "1") {
                ShowHidePrintReason();
            } else if (this.value == "2") {
                var n = $("input.grid-checkbox-body:checked").length;
                if (n == 1) {
                    if (parseInt(GetValue(12)) > 0) {
                        $("#divPrintReason").show();
                        $('#txtReprintReason').addClass('eEdit mandatory normal-input');
                        $('#txtReprintReason').val('');
                        $('#cmbs-Printer').val('');
                    } else {
                        $("#divPrintReason").hide();
                        $('#txtReprintReason').removeClass('eEdit mandatory normal-input');
                        $('#txtReprintReason').val('');
                        $('#cmbs-Printer').val('');
                    }
                } else if (n > 1) {
                    var CounterOk = "";
                    var CounterOkDetail = "";
                    var ParamCounter = $('.grid-checkbox-body:checked').map(function () {
                        return this.value;
                    }).get();

                    for (var i = 0; i < n; i++) {
                        CounterOk = ParamCounter[i].split('#')[1];

                        if (CounterOk != "" && parseInt(CounterOk) > 0) {
                            $("#divPrintReason").show();
                            $('#txtReprintReason').addClass('eEdit mandatory normal-input');
                            $('#txtReprintReason').val('');
                            $('#cmbs-Printer').val('');
                            return;
                        }

                        if (CounterOk == "" || CounterOk == 0) {
                            $("#divPrintReason").hide();
                            $('#txtReprintReason').removeClass('eEdit mandatory normal-input');
                            $('#txtReprintReason').val('');
                            $('#cmbs-Printer').val('');
                        }
                    }

                }
            } else {
                ShowHidePrintReason();
            }
        });

        function doRefreshChildComboBox050700(idParent, idChild, typeCombo, idCombo) {
            var valParent = $("#" + idParent).val().split(':')[0];
            $.ajax({
                type: 'POST',
                url: "./Common/ComboBoxSelectListChild",
                data: {
                    typeComboBox: typeCombo,
                    comboBoxID: idCombo,
                    comboBoxParent: valParent
                },
                success: function (result) {
                    $("#" + idChild).empty();
                    $.each(result, function (i, result) {
                        $("#" + idChild).append('<option value="' + result.Value + '">' + result.Text + '</option>');
                    });

                    //if (valParent != "" && result.length > 1) {
                    //    $("#" + idChild).prop("disabled", false);
                    //    $("#" + idChild).css("color", "#858585");
                    //    $("#" + idChild).css("background-color", "#ffffff");
                    //}
                    //else {
                    //    $("#" + idChild).prop("disabled", true);
                    //    $("#" + idChild).css("color", "lightgray");
                    //    $("#" + idChild).css("background-color", "#eeeeee");
                    //}

                    $("#" + idChild).change();
                },
                error: function (result) {
                    alert("data error");
                }
            });
        }

    </script>
}