﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED050700W
@using IPOS.Models.Common
@model GenericModel<CED050700W>
@using IPOS.Controllers;

<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: calc(100% - 16px); overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 100% !important;">
                    <colgroup>
                        <col width="35px" />
                        <col width="120px" />
                        <col width="80px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col class="hideCol" width="200px" />
                        <col width="100px" />
                        <col width="100px" hidden/>
                        <col width="100px" hidden/>
                        <col width="100px" hidden/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="grid-checkbox-col">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )" />
                            </th>
                            <th>Kanban Header Code</th>
                            <th>Prod Date</th>
                            <th>Lot Mod No</th>
                            <th>Case No</th>
                            <th>Renban No</th>
                            <th>Dest Code</th>
                            <th>Line</th>
                            <th>Packing Line</th>
                            <th>Status</th>
                            <th class="hideCol">Reprint Reason</th>
                            <th>Total Kanban Picking</th>
                            <th hidden>PrintCounter</th>
                            <th hidden>Oya</th>
                            <th hidden>PrintCounterDetail</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBody" style="overflow: scroll; height: 270px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 100% !important;">
                    <colgroup>
                        <col width="35px" />
                        <col width="120px" />
                        <col width="80px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col width="70px" />
                        <col class="hideCol" width="200px" />
                        <col width="100px" />
                        <col width="100px" hidden/>
                        <col width="100px" hidden/>
                        <col width="100px" hidden/>
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED050700W item in Model.DataList)
                                    {
                            <tr id="DataRow" class="tr-grid-detail">
                                <td class="text-center grid-checkbox-col">
                                    <input type="checkbox" id="checkDetail" class="grid-checkbox grid-checkbox-body eView" onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))" value="@item.KANBAN_HEADER_CD#@item.PrintCounter#@item.PrintCounterDetail#"/>
                                </td>
                                <td class="text-center">@item.KANBAN_HEADER_CD</td>
                                <td class="text-center">@item.ProdDate</td>
                                <td class="text-center">@item.LotModNo</td>
                                <td class="text-center">@item.CaseNo</td>
                                <td class="text-center">@item.RenbanNo</td>
                                <td class="text-center">@item.DestCode</td>
                                <td class="text-center">@item.LineCd</td>
                                <td class="text-center">@item.PackingLineCd</td>
                                <td class="text-center">@item.Status</td>
                                <td class="text-left hideCol">@item.ReprintReason</td>
                                <td class="text-right">@item.TotalKanbanPicking</td>
                                <td class="text-right" hidden>@item.PrintCounter</td>
                                <td class="text-right" hidden>@item.Oya</td>
                                <td class="text-right" hidden>@item.PrintCounterDetail</td>
                            </tr>
                                    }
                                }
                                else
                                {
                            <tr id="noDataRow">
                                <td colspan="7" class="text-center">@Model.MsgNotFound</td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });

    @{
        if (Model.DataList != null && Model.DataList.Any())
        {
            Output.Write("$('#divPrintDetail').show();");
        }
        else
        {
            Output.Write("$('#divPrintDetail').hide();");
        }
    }
</script>
