﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED050700W
@using IPOS.Models.Common
@model GenericModel<CED050700WDetail>
    @using IPOS.Controllers;
  

<input type="hidden" value="@ViewBag.CountData" id="idCountDtl"/>
    <form role="form" class="form-horizontal _criteria" id="searchForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-4 col-md-4 control-label text-muted">Prod Date</label>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        @*<div class="input-group date dtl" data-provide="datepicker" data-date-format="dd-mm-yyyy" >*@
                            <input type="text" class="form-control" id="txt-DateFromDtl" style="width:100%" placeholder="Date From" maxlength="15" tabindex="1" disabled>
                            @*<div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>*@
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        @*<div class="input-group date dtl" data-provide="datepicker" data-date-format="dd-mm-yyyy">*@
                            <input type="text" class="form-control" id="txt-DateToDtl" style="width:100%" placeholder="Date From" maxlength="15" tabindex="1" disabled>
                            @*<div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Renban No</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txt-RanbanNoDtl" class="form-control eView" placeholder="Lot Mod No" maxlength="15" tabindex="3" disabled/>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Lot Mod No</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txt-LotModNoDtl" class="form-control eView" placeholder="Lot Mod No" maxlength="15" tabindex="3" disabled/>
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Dest Code</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txt-DestCodeDtl" class="form-control eView" placeholder="Lot Mod No" maxlength="15" tabindex="3"disabled />
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Case No</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txt-CaseNoDtl" class="form-control eView" placeholder="Case No" maxlength="15" tabindex="5" disabled/>
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Kanban ID</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txt-KanbanIDDtl" class="form-control eView" maxlength="18" tabindex="3" />
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Oya</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        @*@Html.DropDownList("cmbs-OyaDtl", CommonController.ComboBoxSelectList("1", "OYA", null), new { @class = "eView", style = "width:100%" })*@
                        <input type="text" id="cmbs-OyaDtl" class="form-control eView" placeholder="Oya" maxlength="15" tabindex="5" disabled/>
                    </div>
                </div>

                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Line</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txt-Line" class="form-control eView" placeholder="Line" maxlength="15" tabindex="5" disabled/>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Status</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        @Html.DropDownList("cmbs-StatusDtl", CommonController.ComboBoxSelectList("1", "STATUS_CED050700W", null), new { @class = "eView", style = "width:100%" })
                        @* <input type="text" id="txt-Status" class="form-control eView" placeholder="Status" maxlength="15" tabindex="5" />*@
                    </div>
                </div>

                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Packing Line</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txt-PackingLine" class="form-control eView" placeholder="Packing Line" maxlength="15" tabindex="5" disabled/>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="height: 30px">
            <div class="col-xs-6" style="margin-top: 5px;">
            </div>
            <div class="col-xs-6 text-right">
                <div class="form-group-xs _criteria">
                    <button id="btnSearchDtl" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:DetailCED050700WdoSearch()" tabindex="7">Search</button>
                    <button id="btnPrintDtl" type="button" class="btn btn-success btn-xs eView btn-size1" onclick="javascript:ShowPopUpPrintDetail('detail')" tabindex="8">Print</button>
                    <button id="btnBack" type="reset" class="btn btn-primary btn-xs eView btn-size1" data-dismiss="modal" onclick="javascript:DetailCED050700WReset()">Back</button>
                </div>
            </div>
        </div>
    </form>

    <div class="text-center" style="margin-bottom: 3px;">
        <hr id="hrsrc" style="margin: 0; padding: 0;" />
    </div>

    <div id="grid" class="row">
        <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
            <div style="border: 1pt solid #ccc;">
                <div id="tScrollHeadDetail" style="width: calc(100% - 16px); overflow: hidden;">
                    <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1500px; max-width: 2250px !important;">
                        <colgroup>
                            <col width="35px" />
                            <col width="100px" hidden />
                            <col width="120px" />
                            <col width="60px" />
                            <col width="80px" />
                            <col width="160px" />
                            @*<col width="60px"/>*@
                            <col width="80px" />
                            @*<col width="100px" />*@
                            <col width="60px" />
                            <col width="80px" />
                            <col width="50px" />
                            <col width="80px" />
                            <col width="40px" />
                            <col width="250px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="grid-checkbox-col">
                                    <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkalldetail"  /> @*onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )"*@
                                </th>
                                <th hidden>Kanban ID</th>
                                <th>Kanban ID</th>
                                <th>Unique</th>
                                <th>Part No</th>
                                <th>Part Name</th>
                                @*<th>Dest Code</th>*@
                                <th>Supplier</th>
                                @*<th>Order No</th>*@
                                <th>Pcs / Kbn</th>
                                <th>Picking Address</th>
                                <th>Shooter</th>
                                <th>Status</th>
                                <th>Oya</th>
                                <th>Reprint Reason</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="tScrollBodyDetail" style="overflow: scroll; height: 250px;">
                    <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1500px; max-width: 2250px !important;">
                        <colgroup>
                            <col width="35px" />
                            <col width="100px" hidden />
                            <col width="120px" />
                            <col width="60px" />
                            <col width="80px" />
                            <col width="160px" />
                            @*<col width="60px"/>*@
                            <col width="80px" />
                            @*<col width="100px" />*@
                            <col width="60px" />
                            <col width="80px" />
                            <col width="50px" />
                            <col width="80px" />
                            <col width="40px" />
                            <col width="250px" />
                        </colgroup>
                        <tbody>
                            @{
                                if (Model.DataList != null)
                                {
                                    if (Model.DataList.Any())
                                    {
                                        foreach (CED050700WDetail item in Model.DataList)
                                        {
                                            <tr id="DataRow" class="tr-grid-detail">
                                                <td class="text-center grid-checkbox-col">
                                                    <input type="checkbox" id="checkDetail" name="grid-checkbox-body-detail" class="grid-checkbox grid-checkbox-body-detail eView"  value="@item.KanbanID#@item.Status#"/> @*onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHeadDetail #dynamic-table').find('#checkall'))"*@
                                                </td>
                                                <td class="text-center" hidden>@item.KanbanID</td>
                                                <td class="text-center">@item.KanbanID</td>
                                                <td class="text-center">@item.Unique</td>
                                                <td class="text-center">@item.PartNo</td>
                                                <td class="text-left">@item.PartName</td>
                                                @*<td class="text-center">@item.DockCode</td>*@
                                                <td class="text-center">@item.Supplier</td>

                                                @*<td class="text-center">@item.OrderNo</td>*@
                                                <td class="text-right">@item.PcsKbn</td>
                                                <td class="text-center">@item.PickingAddress</td>
                                                <td class="text-center">@item.Shooter</td>
                                                <td class="text-center">@item.Status</td>
                                                <td class="text-center">@item.Oya</td>
                                                <td class="text-left">@item.ReprintReason</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr id="noDataRow">
                                            <td colspan="7" class="text-center">@Model.MsgNotFound</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#tScrollBodyDetail").scroll(function () {
            $("#tScrollHeadDetail").scrollLeft($("#tScrollBodyDetail").scrollLeft());
        });
        $('.dtl').datepicker({
            autoclose: true
        });

        $(document).ready(function () {
            $btnAllCheckBox = $("#checkalldetail");
            $gridCheckBox = $(".grid-checkbox-body-detail");
            CED050700WSelectAllCheckBox($gridCheckBox, $btnAllCheckBox);
        });

        function CED050700WSelectAllCheckBox ($elements, $button) {
            $button.on('click', function (e) {
                if ($button.is(":checked")) {
                    return $elements.prop('checked', true);
                } else {
                    return $elements.prop('checked', false);
                }
            });

            $($elements).click(function () {
                if ($elements.length == document.querySelectorAll('input[name=grid-checkbox-body-detail]:checked').length) {
                    return $button.prop("checked", true);
                } else {
                    return $button.prop("checked", false);
                }
            });
        }
    </script>
