﻿@using IPOS.Controllers;

@{
    var today = DateTime.Now;
    //var iDateNow = today.AddDays(1).ToString("dd-MMM-yyyy");
    string iDateNow = DateTime.Now.ToString("dd-MMM-yyyy");
}

<input type="hidden" value="@Model.DateFrom" id="id-dateFrom" />
<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Prod Date</label>
                <div class="col-xs-8 col-sm-9 col-md-4">
                    <div class="input-group date" data-provide="datepicker" id="div-dateFrom">
                        <input type="text" class="form-control eView normal-input" id="txt-DateFrom" style="width:100px" maxlength="15" tabindex="1" value="@iDateNow" > @*Model.DateFromreadonly*@
                        <div class="input-group-addon">
                            <span class="fa fa-calendar bigger-110"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-4">
                    <div class="input-group date" data-provide="datepicker" id="div-dateTo">
                        <input type="text" class="form-control eView normal-input" id="txt-DateTo" style="width:100px" maxlength="15" tabindex="1" value="@iDateNow" > @*readonly*@
                        <div class="input-group-addon">
                            <span class="fa fa-calendar bigger-110"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Oya</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @Html.DropDownList("cmbs-Oya", CommonController.ComboBoxSelectList("1", "OYA", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Line</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @Html.DropDownList("cmbs-LineId", CommonController.ComboBoxSelectList("1", "PROD_LINE", null), new { onChange = "doRefreshChildComboBox050700('cmbs-LineId','cmbs-PackingLine','1','PACKING_LINE_CD');", tabindex = "1", @class = "eView", style = "width:100%" })
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Lot Mod No</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <input type="text" id="txt-LotModNo" class="form-control eView" maxlength="6" tabindex="3" />
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Status</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @Html.DropDownList("cmbs-Status", CommonController.ComboBoxSelectList("1", "STATUS_CED050700W", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Packing Line</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @Html.DropDownList("cmbs-PackingLine", CommonController.ComboBoxSelectList("1", "PACKING_LINE_CD", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Case No</label>
                <div class="col-xs-8 col-sm-9 col-md-4">
                    <input type="text" id="txt-CaseNo" class="form-control eView" maxlength="3" tabindex="5" />
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-4" style="margin-top: 5px;">
        </div>
        <div class="col-xs-8 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED050700WdoSearch()" tabindex="7">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED050700WdoClear()" tabindex="9">Clear</button>
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div class="row" style="height: 45px">
    <div class="col-xs-12 col-sm-6 text-left"></div>
    <div class="col-xs-12 col-sm-6 text-right">
        <div class="form-group-xs _criteria" id="divPrintDetail" style="display: none">
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED050700W", "btnDetail"))
            {
                <button id="btnDetail" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: getDetail050700W()" tabindex="9">View Detail</button>
            }
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED050700W", "btnPrint"))
            {
                <button id="btnPrint" type="button" class="btn btn-success btn-xs eView btn-size1" onclick="javascript:ShowPopUpPrint('header')" tabindex="8">Print</button>
            }
        </div>
    </div>
</div>
