﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Production Date</label>
                <div class="col-xs-8 col-sm-9 col-md-4">
                    <div class="input-group date" data-provide="datepicker">

                        <input class="eView form-control date-picker normal-input" id="txt_StartDT" type="text" data-date-format="yyyy-mm-dd" placeholder="From" maxlength="10" style="width: 100px" />
                        <span class="input-group-addon" style="cursor: pointer;">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
                @*<div class="col-xs-12 col-sm-4 col-md-6">
                </div>*@
            </div>
        </div>
        @*<div class="col-xs-12 col-sm-4 col-md-6">
        </div>*@
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Shift</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @Html.DropDownList("cmbs-Supplier", CommonController.ComboBoxSelectList("1", "SHIFT", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 30px">
        <div class="col-xs-12 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED010200WdoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript: CED010200WdoClear()">Clear</button>
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>
