﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
}
<div class="hidden-xs">
    @Html.Partial("AchievementProduksiSearchCriteria")

    <div>
        @Html.Partial("AchievementProduksiDownload")
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "AchievementProduksi";

        $(document).ready(function () {
            AchievementProduksidoInit();
        });

        AchievementProduksidoInit = function () {
            initialMode();
            $("#txt-sysVal").focus();
/*            CED010102WdoCheckParent();*/
        }

        AchievementProduksidoSearch = function (page) {
            $("#btndownload")[0].classList.remove("btn-primary");
            $("#btndownload")[0].classList.add("btn-primary");

        };
    </script>
}