﻿@using IPOS.Controllers.Constants
@*@using IPOS.Models.CED010102W*@
@using IPOS.Models.Common
@*@model GenericModel<CED010102W>*@

    @*<div id="download" class="row" style="display:block">*@
    @*<div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">*@
    <div style="margin-top: 5%" class="row">
        <div class="col-xs-12 col-sm-6 col-md-5"></div>
        <div class="col-xs-12 col-sm-6 col-md-2" style="text-align:center; font-size:medium; font-weight:bold;">
            Achievement Produksi
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3"></div>
    </div>
    <div style="margin-top: 2%" class="row">
        <div class="col-xs-12 col-sm-6 col-md-5"></div>
        <div class="col-xs-12 col-sm-6 col-md-2" style="text-align:center">
            <img id="imgpopup" src="Content/Images/Group.png" width="100" height="100" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3"></div>
    </div>
    <div style="margin-top: 3%" class="row">
        <div class="col-xs-12 col-sm-6 col-md-4"></div>
        <div class="col-xs-12 col-sm-6 col-md-4" style="text-align:center">
            Cari terlebih dahulu data yang ingin anda download
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2"></div>
    </div>
    <div style="margin-top: 3%" class="row">
        <div class="col-xs-12 col-sm-6 col-md-4"></div>
        <div class="col-xs-12 col-sm-6 col-md-4" style="text-align:center">
            <button id="btndownload" type="button" class="btn btn-xs eView btn-size1" onclick="javascript:AchievementProduksidoSearch()">Download</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2"></div>
    </div>
    @* </div> *@
    @*</div>*@

    @*<table style="display: none">
            <tbody id="tbTemplateDataRow">
                <tr id="templateDataRow" class="tr-grid-detail">
                    <td class="text-center grid-checkbox-col">
                        @Html.Hidden("mode")
                        <input type="checkbox" id="checkDetail" class="grid-checkbox" checked="checked" disabled="disabled" />
                    </td>
                    <td class="center">
                        <input id="txtSysCat" class="input-sm form-control mandatory eAdd" type="text" value="" maxlength="25" placeholder="System Category" />
                    </td>
                    <td class="center">
                        <input id="txtSysSubCat" class="input-sm form-control mandatory eAdd" type="text" value="" maxlength="25" placeholder="System Sub Category" />
                    </td>
                    <td class="center">
                        <input id="txtSysCd" class="input-sm form-control mandatory eAdd" type="text" value="" maxlength="25" placeholder="System Code" />
                    </td>
                    <td class="center">
                        <input id="txtSysVal" class="input-sm form-control mandatory eAdd eEdit normal-input" type="text" value="" maxlength="500" placeholder="System Value" />
                    </td>
                    <td class="center">
                        <input id="txtRemark" class="input-sm form-control eAdd eEdit normal-input" type="text" value="" maxlength="250" placeholder="Remark" />
                    </td>
                    <td id="td-createBy" class="left" style="vertical-align: middle"></td>
                    <td id="td-createDt" class="center" style="vertical-align: middle"></td>
                    <td id="td-updateBy" class="left" style="vertical-align: middle"></td>
                    <td id="td-updateDt" class="center" style="vertical-align: middle"></td>
                </tr>
            </tbody>
        </table>*@

    @*<script type="text/javascript">
        $("#tScrollBody").scroll(function () {
            $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
        });

        @{
            if (Model.DataList != null && Model.DataList.Any())
            {
                Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                                "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                                "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                                "if(btnEdit.length>0)" +
                                "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                                "if(btnDelete.length>0)" +
                                "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                                "if(btnDownload.length>0)" +
                                "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                            );
            }
            else
            {
                Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                                "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                                "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                                "if(btnEdit.length>0)" +
                                "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                                "if(btnDelete.length>0)" +
                                "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                                "if(btnDownload.length>0)" +
                                "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                            );
            }
        }
        </script>*@
