﻿<div id="Visualisasi-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 45%; margin-top: 3%" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="popup-title">Visualization</h4>
            </div>

            <div class="modal-body">
                <div class="row" style="margin-left: 20px">
                    <div class="col col-md-2 text-center" style="width: 19%">
                        <a href="CED030300W" title="Scan DCL">
                            <img src="../../Content/Images/Visualisasi/1.jpg" class="img-responsive" style="border-radius: 5% !important;" />
                        </a>
                    </div>
                    <div class="col col-md-2" style="width: 19%">
                        <a href="CED030500W" title="Visualization Arrival">
                            <img src="../../Content/Images/Visualisasi/2.jpg" class="img-responsive" style="border-radius: 5% !important;" />
                        </a>
                    </div>
                    <div class="col col-md-2" style="width: 19%">
                        <a href="CED030900W" title="Visualization Okamochi by Route">
                            <img src="../../Content/Images/Visualisasi/3.jpg" class="img-responsive" style="border-radius: 5% !important;" />
                        </a>
                    </div>
                    <div class="col col-md-3" style="width: 21%;">
                        <a href="CED040300W" title="Scan Kanban Boxing">
                            <img src="../../Content/Images/Visualisasi/5.jpg" class="img-responsive" style="border-radius: 5% !important;" />
                        </a>
                    </div>
                    <div class="col col-md-3" style="width: 21%;">
                        <a href="CED040600W" title="Scan Kanban Quality">
                            <img src="../../Content/Images/Visualisasi/6.jpg" class="img-responsive" style="border-radius: 5% !important;" />
                        </a>
                    </div>
                </div>
                <br />
                <div class="row" style="margin-left: 20px">
                    <div class="col col-md-2" style="width: 19%">
                        <a href="CED071300W" title="Scan Closing Problem">
                            <img src="../../Content/Images/Visualisasi/7.jpg" class="img-responsive" style="border-radius: 5% !important; height: 125px " />
                        </a>
                    </div>
                    <div class="col col-md-2" style="width: 19%; ">
                        <a href="CED010204W" title="Scan Kanban Boxing">
                            <img src="../../Content/Images/Visualisasi/9.jpeg" class="img-responsive" style="border-radius: 5% !important; height: 125px" />
                        </a>
                    </div>
                    <div class="col col-md-2" style="width: 19%">
                        <a href="CED031000W" title="Visualization Okamochi by Module">
                            <img src="../../Content/Images/Visualisasi/4.jpg" class="img-responsive" style="border-radius: 5% !important;" />
                        </a>
                    </div>
                    <div class="col col-md-3" style="width: 21%;">
                        <a href="CED040500W" title="Visualization Boxing Post">
                            <img src="../../Content/Images/Visualisasi/8.jpg" class="img-responsive" style="border-radius: 5% !important;" />
                        </a>
                    </div>
                    <div class="col col-md-2" style="width: 22%;">
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["RealtimeDashboard"].ToString()" title="Visualization Realtime Dashboard">
                            <img src="../../Content/Images/Visualisasi/10.jpg" class="img-responsive" style="border-radius: 5% !important; height: 125px" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="btnBack" type="reset" class="btn btn-danger btn-xs eView btn-size1" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
