﻿<script src='@Url.Content("~/Content/Bootstrap/js/jquery.js")'></script>
<script>
    function generateContentList() {
        window.open('@Url.Action("ShowRDLCContentList", "TestReport")', 'popup_name', 'height=' + screen.height + ',width=' + screen.width + ',resizable=yes,scrollbars=yes,toolbar=yes,menubar=yes,location=yes');
    }
    function generateCaseMark() {
        window.open('@Url.Action("ShowRDLCCaseMark", "TestReport")', 'popup_name', 'height=' + screen.height + ',width=' + screen.width + ',resizable=yes,scrollbars=yes,toolbar=yes,menubar=yes,location=yes');
    }
    function generatePrintKanban() {
        window.open('@Url.Action("ShowRDLCPrintKanban", "TestReport")', 'popup_name', 'height=' + screen.height + ',width=' + screen.width + ',resizable=yes,scrollbars=yes,toolbar=yes,menubar=yes,location=yes');
    }
    function generatePrintKanban4() {
        window.open('@Url.Action("ShowRDLCKanban4", "TestReport")', 'popup_name', 'height=' + screen.height + ',width=' + screen.width + ',resizable=yes,scrollbars=yes,toolbar=yes,menubar=yes,location=yes');
    }
</script>

<input type="button" value="Generate Report Content List" onclick="generateContentList()" />
<input type="button" value="Generate Report Case Mark" onclick="generateCaseMark()" />
<input type="button" value="Print Kanban" onclick="generatePrintKanban()" />
<input type="button" value="Print Kanban" onclick="generatePrintKanban4()" />

<hr />

<script>
    var message = new SpeechSynthesisUtterance();
    var voices = speechSynthesis.getVoices();
    var interval = setInterval(function () {
        voices = speechSynthesis.getVoices();
        if (voices.length) clearInterval(interval); else return;

        for (var i = 0; i < voices.length; i++) {
            $("select").append("<option value=\"" + i + "\">" + voices[i].name + "</option>");
        }

    }, 10);

    function clickVoice() {
        message.text = $("#text").val();
        message.rate = "1";
        message.pitch = "1";
        message.voice = voices[10];
        speechSynthesis.speak(message);
    }
</script>
<p>
    <label>
        Voices
        <select></select>
    </label>
</p>
<p>
    <label>
        Message
        <input type="text" id="text" />
    </label>
</p>
<p>
    <button type="button" onclick="clickVoice()">Speak!</button>
</p>