﻿@using Toyota.Common.Utilities
@{
    //MenuList menuList = Html.Toyota().Page.Menu;
    MenuList menuList = Html.Toyota().Page.AuthorizedMenu;

    string newDate = new DateTime().ToString("yyyyMMddhhmiss");

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@Html.Toyota().Application.Name - @Html.Toyota().Page.Title</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/font-awesome.css")" />
    <!-- Bootstrap Datepicker css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/datepicker.css")" />
    <!-- IPOS CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/IPOS/css/IPOS.css?" + @newDate)" />
    <!-- Theme -->
    <link rel="stylesheet" href="@Url.Content("~/Content/theme/css/style.min.css?1362656647")" />

    @Html.Toyota().Initialize()

    @if (IsSectionDefined("HeadScript"))
    {
        @RenderSection("HeadScript")
    }

    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='@Url.Content("~/Content/Bootstrap/js/jquery.js")'>" + "<" + "/script>");
        if ('ontouchstart' in document.documentElement) document.write("<script src='@Url.Content("~/Content/Bootstrap/js/jquery.mobile.custom.js")'>" + "<" + "/script>");
    </script>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        #clock
        {
            color: White;
            padding: 0 10px;
        }

        .navbar {
            position: relative;
            min-height: 35px;
            margin-bottom: 20px;
            border: 1px solid transparent;
        }
            
        /* change header navbar default background color */
        .no-skin .navbar
        {
            //background: #393939 none repeat scroll 0 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
            background: #606c88; /* Old browsers */
            background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
            box-shadow: 0 !important;
            margin-bottom: 0 !important;
        }
            
        /* change free space on the left header navbar */
        #navbar-container
        {
            padding-left: 0;
        }
        .navbar-brand
        {
            padding-left: 8px;
        }
            
        /* change padding for page content */
        .page-content
        {
            padding: 8px 8px 0 !important;
        }
    </style>

</head>
<body>
    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container" style="height: 100%; overflow: scroll">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="navbar main" style="height:35px!important; display: none">
                    <ul class="topnav">
                        <li class="hidden-phone" style="color:#FFF; font-weight:bold; padding-left:15px">
                            AG10 - @Html.Toyota().Application.Name
                        </li>
                    </ul>

                    <ul class="topnav pull-right">
                        <li class="account">
                            <a href=""><span class="text" id="clock"></span><i></i></a>
                        </li>
                    </ul>
                </div>

                <div class="page-content" id="pagecontentAll" style="background-color: black">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- /.main-container -->
    @Html.Partial("_About")

    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/bootbox.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/UI/jquery.cookie.js")"></script>

    <!-- Bootstrap Datepicker js -->
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/date-time/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/IPOS/js/IPOS.js?" + newDate)"></script>

    <script type="text/javascript">
        /** start show clock **/
        var tday = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");
        var tmonth = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");

        function GetClock() {
            var d = new Date();
            var nday = d.getDay(), nmonth = d.getMonth(), ndate = d.getDate(), nyear = d.getFullYear(), nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds();
            var nclock = tday[nday] + ", " + " " + ndate + " " + tmonth[nmonth] + " " + nyear + " " + nhour + ":" + nmin + ":" + nsec;
            $("#clock").text(nclock);
        }

        GetClock();
        setInterval(GetClock, 1000);
        /** end show clock **/
    </script>

    @if (IsSectionDefined("BodyScript"))
    {
        @RenderSection("BodyScript")
    }
</body>
</html>