﻿@using Toyota.Common.Utilities
@using Toyota.Common.Credential
@using Toyota.Common
@{
    //MenuList menuList = Html.Toyota().Page.Menu;
    MenuList menuList = Html.Toyota().Page.AuthorizedMenu;

    string newDate = new DateTime().ToString("yyyyMMddhhmiss");
    User user = Html.Toyota().Page.User;

    var Tittle = ViewData["SettingsTitle"];
    var UserName = ViewData["UserName"];

    Tittle = Tittle != null ? Tittle : Html.Toyota().Page.Title;
    UserName = UserName != null ? UserName : user.Name;
}

<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@Html.Toyota().Application.Name - @Tittle</title>

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="@Url.Content("~/Content/blueTheme/stylesheets/foundation.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/blueTheme/stylesheets/app.css")">

    <style>
        html, body{ height:100%; margin:0;width:100%; }
        header{ height:50px; }
        footer{ height:50px;  }

        /* Trick */
        body{ 
          display:flex; 
          flex-direction:column; 
        }

        footer{
          margin-top:auto; 
        } 
    </style>
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->

    <script src="@Url.Content("~/Content/blueTheme/javascripts/modernizr.foundation.js")"></script>
    <script src="@Url.Content("~/Content/blueTheme/javascripts/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/bootbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/date-time/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/IPOS/js/IPOS.js?" + newDate)"></script>
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    @if (IsSectionDefined("HeadScript"))
    {
        @RenderSection("HeadScript")
    }
    
    <script>
    /** start show clock **/
    var tday = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");
    var tmonth = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");

    function GetClock() {
        var d = new Date();
        var nday = d.getDay(), nmonth = d.getMonth(), ndate = d.getDate(), nyear = d.getFullYear(), nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds();
        if (nhour < 10)
            nhour = "0" + nhour;
        if (nmin < 10)
            nmin = "0" + nmin;
        if (nsec < 10)
            nsec = "0" + nsec;
        var nclock = tday[nday] + ", " + ndate + " " + tmonth[nmonth] + " " + nyear + " " + nhour + ":" + nmin + ":" + nsec;
        $("#lbl-DateTimeNow").text(nclock);
        $(".lbl-DateTimeNowSaver").text(nclock);
        //$("#lbl-DateNow").text(tday[nday] + ", " + ndate + " " + tmonth[nmonth] + " " + nyear);
        //$("#lbl-TimeNow").text(nhour + ":" + nmin + ":" + nsec);
        var shiftSystem = "@ViewBag.Shift";
        if (shiftSystem != "") {
            $("#lbl-ShiftNow").text(shiftSystem);
            $(".lbl-ShiftNowSaver").text(shiftSystem);
            $(".lblShift").text(shiftSystem + " Shift");
        } else {
            if (nhour > 12) {
                $("#lbl-ShiftNow").text("NIGHT");
                $(".lbl-ShiftNowSaver").text("NIGHT");
                $(".lblShift").text("NIGHT" + " Shift");
            } else {
                $("#lbl-ShiftNow").text("DAY");
                $(".lbl-ShiftNowSaver").text("DAY");
                $(".lblShift").text("DAY" + " Shift");
            }
        }
        $(".lblTitleSaver").text("AG10 - @Html.Toyota().Application.Name");
        $(".lblUserSaver").text("@UserName");
    }

    GetClock();
    setInterval(GetClock, 1000);
    /** end show clock **/
    </script>
</head>

<body id="body-content">
    <div class="top-bar" style="padding: 0">
        <div class="row" style="background-color: #393939; max-height: 42px; color: white">
            <div class="seven columns">
                <img src="/Content/Bootstrap/img/app-logo.png" style="margin: 0; max-width: 40px !important; vertical-align: middle">
                <span style="font-size: 23px; font-weight: bold; vertical-align: middle">AG10 - @Html.Toyota().Application.Name</span>
            </div>
            <div class="five columns">
                <div class="row">
                    <div class="six columns text-right" style="margin-top: 10px">
                        <p style="margin-bottom: 0px"><span id="lbl-DateTimeNow" style="font-weight: bold"></span></p>
                    </div>
                    <div class="three columns text-right" style="margin-top: 10px">
                        <p style="margin-bottom: 0px; font-weight: bold">SHIFT : <span id="lbl-ShiftNow"></span></p>
                    </div>
                    <div class="three columns" style="min-height: 42px; border-left: 1px solid white; background-color: #62a8d1">
                        <img src="/Content/Bootstrap/avatars/anonymous.jpg" style="margin: 4px 0 0 0; border-radius: 100%; border: 2px solid #FFF; max-width: 35px !important; vertical-align: middle">
                        <span style="white-space: normal; color: white; vertical-align: middle">@UserName</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="btnVisualisasiBoxing" class="six columns text-left">
                
            </div>
            <div class="six columns text-right">
                <h3 class="title" style="margin-bottom: 5px; margin-top: 5px">@Tittle</h3>
            </div>
        </div>
    </div>

    <hr style="padding: 0; margin: 0" />

    <div style="height: 790px; overflow-x: hidden; overflow-y: scroll" id="bodyContent">
        @RenderBody()
    </div>
    <div class="row">
        <div class="twelve columns text-center" id="footerDCL">
            
        </div>
    </div>
      <footer>    
          <hr style="padding: 0; margin: 0" />
          <hr style="padding: 0; margin: 0; border-color: orange" />
          <div class="row" style="margin-top:auto;">
              <div class="twelve columns">
                  <p align="left" style="color: white">&copy; Copyright 2019 - PT Toyota Motor Manufacturing Indonesia. All rights reserved.</p>
              </div>
        </div>
    </footer>




    @if (IsSectionDefined("BodyScript"))
    {
        @RenderSection("BodyScript")
    }
</body>
</html>