﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED010618W
@using IPOS.Models.Common
@model GenericModel<CED010618W>



    <div id="gridPartJundate" class="row">
        <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
            <div style="border: 1pt solid #ccc;">
                <div id="tScrollHeadPartJundate" style="width: 98.5%; overflow: hidden;">
                    <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 2250px !important; table-layout: fixed">
                        <colgroup>
                            <col width="5%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="12%" />
                            <col width="13%" />
                            <col width="12%" />
                            <col width="13%" />

                        </colgroup>
                        <thead>
                            <tr>
                                <th rowspan="2" class="grid-checkbox-col">
                                    <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScrollPartJundate'),'checkDetail' )" />
                                </th>
                                <th rowspan="2">Part No</th>
                                <th rowspan="2">Unique No</th>
                                <th rowspan="2">Zone Code</th>
                                <th colspan="2">Created</th>
                                <th colspan="2">Changed</th>
                            </tr>
                            <tr>
                                <th>By</th>
                                <th>Date</th>
                                <th>By</th>
                                <th>Date</th>
                            </tr>

                        </thead>
                    </table>
                </div>
                <!--if Row Search Criteria More Than 2, Then set Height = 270px Else Height = 300px -->
                <div id="tScrollBodyPartJundate" style="overflow-y: scroll; height: 270px;">
                    <table id="tblScrollPartJundate" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 2250px !important; table-layout: fixed">
                        <colgroup>
                            <col width="5%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="12%" />
                            <col width="13%" />
                            <col width="12%" />
                            <col width="13%" />
                        </colgroup>
                        <tbody>
                            @{
                                if (Model.DataList != null)
                                {
                                    if (Model.DataList.Any())
                                    {
                                        foreach (CED010618W item in Model.DataList)
                                        {
                                            <tr id="DataRowPartJundate" class="tr-grid-detail">
                                                <td class="text-center grid-checkbox-col frozen_row">
                                                    <input type="checkbox" id="checkDetail" class="grid-checkbox grid-checkbox-body eView" onchange="javascript:checkboxDetail($('#tblScrollPartJundate'),'checkDetail',$('#tScrollHeadPartJundate #dynamic-table').find('#checkall'))" />
                                                </td>
                                                <td>@item.PART_NO</td>
                                                <td>@item.UNIQUE_NO</td>
                                                <td>@item.ZONE_CD</td>
                                                <td>@item.CREATED_BY</td>
                                                <td class="text-center ">@item.CREATED_DT</td>
                                                <td>@item.CHANGED_BY</td>
                                                <td class="text-center ">@item.CHANGED_DT</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr id="noDataRow">
                                            <td colspan="30" class="text-center">@Model.MsgNotFound</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>



                </div>
                <div>
                    <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="col-xs-12 text-right">
                        <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                            <button type="button" id="btncancel" class="btn btn-danger btn-xs eAdd eEdit btn-size1" onclick="javascript:CED010618WdoCancelPartJundate()">Cancel</button>
                            <button type="button" id="btnsave" class="btn btn-primary btn-xs  eAdd eEdit btn-size1" onclick="javascript:CED010618WdoSavePartJundate()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table style="display: none">
        <tbody id="tbTemplateDataRowPartJundate">
            <tr id="templateDataRowPartJundate" class="tr-grid-detail">
                <td class="text-center grid-checkbox-col">
                    <input type="checkbox" id="checkDetail" class="grid-checkbox" checked="checked" disabled="disabled" />
                </td>

                <td class="left">
                    <input id="txtPartNo" class="input-sm form-control left mandatory eAdd" type="text" value="" maxlength="12" />
                </td>

                <td class="left">
                    <input id="txtUniqueNo" class="input-sm form-control left mandatory eAdd eEdit" type="text" value="" maxlength="10" />
                </td>
                <td class="left">
                    <input id="txtZoneCd" class="input-sm form-control left mandatory eAdd eEdit" type="text" value="" maxlength="3" />
                </td>

                <td id="td-createdBy-PartJundate" class="left" style="vertical-align: middle"></td>
                <td id="td-createdDt-PartJundate" class="center" style="vertical-align: middle"></td>
                <td id="td-changedBy-PartJundate" class="left" style="vertical-align: middle"></td>
                <td id="td-changedDt-PartJundate" class="center" style="vertical-align: middle"></td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        $("#tScrollBodyPartJundate").scroll(function () {
            $("#tScrollHeadPartJundate").scrollLeft($("#tScrollBodyPartJundate").scrollLeft());
    });

    @{
    if (Model.DataList != null && Model.DataList.Any())
    {
        Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                        "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                        "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                        "if(btnEdit.length>0)" +
                        "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                        "if(btnDelete.length>0)" +
                        "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                        "if(btnDownload.length>0)" +
                        "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                    );
    }
    else
    {
        Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                        "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                        "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                        "if(btnEdit.length>0)" +
                        "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                        "if(btnDelete.length>0)" +
                        "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                        "if(btnDownload.length>0)" +
                        "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                    );
    }
}
    </script>
