﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<ul class="nav nav-tabs">
    <li class="active" id="liModuleType"><a data-toggle="tab" href="#module-type" id="aModuleType">Module Type</a></li>
    <li id="liPartJundate"><a data-toggle="tab" href="#part-jundate" id="aPartJundate">Part Jundate</a></li>
</ul>

@Html.Hidden("mode")
<div class="tab-content">
    <div id="module-type" class="tab-pane fade in active">
        <div class="hidden-xs">
            @Html.Partial("CED010618WModuleTypeSearchCriteria")

            <div id="tablegrid-ModuleType">
                @Html.Partial("CED010618WModuleTypeGrid")
            </div>
        </div>
    </div>
    <div id="part-jundate" class="tab-pane fade">
        <div class="hidden-xs">
            @Html.Partial("CED010618WPartJundateSearchCriteria")

            <div id="tablegrid-PartJundate">
                @Html.Partial("CED010618WPartJundateGrid")
            </div>
        </div>
    </div>
</div>


<!-- Detail Popup -->

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED010618W";

        $(document).ready(function () {
            CED010618WdoInit("ModuleType");
            CED010618WdoInit("PartJundate");
        });

        CED010618WdoInit = function (dataName) {
            initialMode(dataName);

        }


        CED010618WdoInitModuleType = function () {
            initialMode("ModuleType");
        }


        CED010618WdoInitPartJundate = function () {
            initialMode("PartJundate");
        }

        function initialMode(dataName) {
            $('#grid'+dataName).hide();
            setEnableDisable('.hidden-xs', 'eView');
            //Initial form Upload
            $('.input-ghost').val(null);
            $(".input-file").find('input').val('');
            //Initial datepicker
            $('.input-group.date').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
        }

        CED010618WdoClear = function () {
            CED010618WdoClearModuleType();
            CED010618WdoClearPartJundate();

            $("#txtUploadFileModuleType").val("");
            $("#txtUploadFilePartJundate").val("");
        }

        function clearMode(dataName) {
            $('#searchForm'+dataName)[0].reset();
            $.each($('#tblScroll'+dataName+' tbody').find('[id="DataRow"]'), function () {
                $(this).remove();
            });
            $('.input-ghost').val(null);
            $(".input-file").find('input').val('');
        }

        CED010618WdoSearchClear = function (url, dataName) {
            showLoading();
            $.ajax({
                type: "POST",
                url: url,
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid-'+dataName).html(result);
                    CED010618WdoInit(dataName);
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010618WdoSearchClearModuleType = function () {
            CED010618WdoSearchClear("@Html.Toyota().Page.GetActionUrl("CED010618WSearchModuleTypeNoData")", "ModuleType")
        }

        CED010618WdoSearchClearPartJundate = function () {
            CED010618WdoSearchClear("@Html.Toyota().Page.GetActionUrl("CED010618WSearchPartJundateNoData")", "PartJundate")
        }

        CED010618WdoClearModuleType = function () {
            clearMode("ModuleType");
            CED010618WdoSearchClearModuleType();
        }

        CED010618WdoClearPartJundate = function () {
            clearMode("ModuleType");
            CED010618WdoSearchClearPartJundate();
        }



        CED010618WdoSearch = function (url, dataName, obj, page) {

            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + dataName + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + dataName +"-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            obj['DataPerPage'] = pageSize;
            obj['CurrentPage'] = page;
            showLoading();
            $.ajax({
                type: 'POST',
                url: url,
                data: obj,
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid-' + dataName).html(result);
                    searchMode();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }


        CED010618WModuleTypedoSearch = function (page) {
            var dataName = "ModuleType";
            var data = {}

            data['ModuleType'] =  $("#txt-ModuleType").val();
            data['PartNo'] = $("#txt-PartNo").val();

            CED010618WdoSearch ("@Html.Toyota().Page.GetActionUrl("CED010618WSearchModuleType")", dataName, data, page)


        }

        CED010618WPartJundatedoSearch = function (page) {
            var dataName = "PartJundate";
            var data = {}

            data['ModuleType'] =  $("#txt-ModuleType").val(),
                    data['PartNo'] = $("#txt-PartNo").val(),

            CED010618WdoSearch ("@Html.Toyota().Page.GetActionUrl("CED010618WSearchPartJundate")", dataName, data, page)


        }


        CED010618WdoSave = function (url, dataName, obj) {
            //Pop Up Message
            obj['MODE'] = $('#mode').val(),
            setMessage('MCEDSTD001C', null, function () {
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: obj,
                    success: function (result) {
                        //Pop Up Message
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                            if (result.MSG_TYPE != 'E') {
                                afterSave(dataName);
                                if (dataName == "ModuleType") {
                                    CED010618WModuleTypedoSearch();
                                     $('#liPartJundate').removeClass('disabled');
                                     $('#aPartJundate').attr('data-toggle','tab');

                                } else {
                                    CED010618WPartJundatedoSearch();
                                    $('#liModuleType').removeClass('disabled');
                                    $('#aModuleType').attr('data-toggle','tab');
                                }
                            }
                        });
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });
        }


        CED010618WdoSaveModuleType = function () {
            var dataName = "ModuleType";
            var data = {};
            data['MOD_ID'] =  $('#txtModuleType').val();
            data['MODUL_TYPE_CONV']   =       $('#txtModuleTypeDesc').val();
             data['CHANGED_DT'] = $('#td-changedDt-ModuleType').html()
            CED010618WdoSave ("@Html.Toyota().Page.GetActionUrl("CED010618WSaveModuleType")", dataName, data)

        }

        CED010618WdoSavePartJundate = function () {
            var dataName = "PartJundate";
            var data = {};
            data['PART_NO'] =  $('#txtPartNo').val();
            data['UNIQUE_NO']   =       $('#txtUniqueNo').val();
            data['ZONE_CD']   =       $('#txtZoneCd').val();

            data['CHANGED_DT'] = $('#td-changedDt-PartJundate').html()
            CED010618WdoSave ("@Html.Toyota().Page.GetActionUrl("CED010618WSavePartJundate")", dataName, data)

        }

        CED010618WdoAddModuleType = function () {
            $('#liPartJundate').attr('class', 'disabled');
            $('#aPartJundate').removeAttr('data-toggle');
            addMode("ModuleType",funcID);
        }


        CED010618WdoAddPartJundate = function () {
            $('#liModuleType').attr('class', 'disabled');
            $('#aModuleType').removeAttr('data-toggle');
            addMode("PartJundate",funcID);
        }

        function addMode(dataName, functionID)
        {
            $('#grid'+ dataName).show();
            var rowTemplate = $('#tbTemplateDataRow' + dataName).html();
            $(".grid-checkbox-body").removeAttr("checked");
            $('#tblScroll'+dataName+' tbody tr#noDataRow').remove();
            if ($('#tblScroll'+dataName+' tbody tr:first').length > 0) {
                var newRow = $('#tblScroll'+dataName+' tbody tr:first').before(rowTemplate);
            }
            else {
                var newRow = $('#tblScroll'+dataName+' tbody').append(rowTemplate);
            }
            $('#mode').val(1);
            setEnableDisable('.hidden-xs', 'eAdd');
            $("#formUpload"+dataName).hide();
            disabledPaging(functionID + dataName);
            //Initial datepicker
            $('.input-group.date').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
        }





        function afterSave(dataName) {
            setEnableDisable('.hidden-xs', 'eView');
            $('#tblScroll'+dataName+' tbody tr:first').remove();
            $("#formUpload"+dataName).show();
            $('.input-ghost').val(null);
            $(".input-file").find('input').val('');
        }

        function cancelMode(dataName) {
            $('#tblScroll'+dataName+' tbody tr#templateDataRow').remove();
            $("#formUpload"+dataName).show();
            $('.input-ghost').val(null);
            $(".input-file").find('input').val('');
        }

        CED010618WdoCancel = function (dataName) {
            //Pop Up Message
            setMessage('MCEDSTD002C', null, function () {
                cancelMode(dataName);
                if (dataName == "ModuleType") {
                    if ($('#tblScroll'+dataName+' tbody tr').length > 0) {
                        CED010618WModuleTypedoSearch()
                    } else {
                        CED010600WdoInit();
                    }

                    $('#liPartJundate').removeClass('disabled');
                    $('#aPartJundate').attr('data-toggle','tab');
                 } else {

                    if ($('#tblScroll'+dataName+' tbody tr').length > 0) {
                        CED010618WPartJundatedoSearch();
                    }
                    else {
                        CED010600WdoInit();
                    }
                     $('#liModuleType').removeClass('disabled');
                    $('#aModuleType').attr('data-toggle','tab');

                }

            });
        }

        CED010618WdoCancelModuleType = function () {
            CED010618WdoCancel("ModuleType")
        }


        CED010618WdoCancelPartJundate = function () {
            CED010618WdoCancel("PartJundate")
        }


        CED010618WdoEditModuleType = function (dataName) {

            $('#liPartJundate').attr('class', 'disabled');
            $('#aPartJundate').removeAttr('data-toggle');
            CED010618WdoEdit("ModuleType")
        }

         CED010618WdoEditPartJundate = function (dataName) {

            $('#liModuleType').attr('class', 'disabled');
            $('#aModuleType').removeAttr('data-toggle');
            CED010618WdoEdit("PartJundate")
        }


        CED010618WdoEdit = function (dataName) {
            var count = $('#tScrollBody'+dataName).find('input:checked').length;
            if (count != 1) {
                //Pop Up Message
                setMessage('MCEDSTD002E', null, function () { return });
            }
            else {
                editMode(dataName, funcID);


            }
        }

        function editMode(dataName, functionID) {
            $('#mode').val(2);
            setEnableDisable('.hidden-xs', 'eEdit');
            $("#formUpload"+dataName).hide();
            //removeMandatoryInput(dataName);
            objInput = $('#tbTemplateDataRow'+dataName+' #templateDataRow'+dataName).find('input');
                for (i = 0; i < objInput.length; i++) {
                    id_nm = objInput[i].getAttribute("id");
                    if ($("#" + id_nm).is(":disabled")) {
                        $("#" + id_nm).removeClass("mandatory");
                    }
                }
            disabledPaging(functionID + dataName);

            $.each($('#tScrollBody'+dataName).find('input:checked'),
                function () {
                    var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                    var rowIndex = $('#tScrollBody'+dataName+' tbody tr').index(currRow);
                    var rowTemplate = $('#tbTemplateDataRow'+dataName).html();
                    $(currRow).hide().after(rowTemplate.replace('templateDataRow'+dataName, 'DataRow'+dataName + rowIndex));
                    var newRow = $('#DataRow' + dataName + rowIndex);
                    itemArray = [];
                    objItem = $('#tScrollBody'+dataName+' tbody tr:eq(' + rowIndex + ')').find('td');
                    lenObj = objItem.length;
                    for (i = 1; i < lenObj; i++) {
                        itemArray[i] = objItem[i].innerText;
                    };
                    for (j = 1; j < lenObj; j++) {
                        col_row = newRow.find('td')[j].childNodes;
                        if (col_row.length == 0) {
                            tag_type = "LABEL";
                            id_nm = newRow.find('td')[j].getAttribute('id')
                        } else {
                            tag_type = col_row[1].nodeName;
                            id_nm = col_row[1].getAttribute('id');
                        }

                        if (tag_type == "DIV" && id_nm == null) {
                            col_row_detail = col_row[1].childNodes;
                            tag_type = col_row_detail[3].nodeName;
                            id_nm = col_row_detail[3].getAttribute('id');
                            if (id_nm == null) {
                                tag_type = col_row_detail[1].nodeName;
                                id_nm = col_row_detail[1].getAttribute('id');
                            }
                        }

                        if (tag_type == "LABEL") {
                            $('#' + id_nm).text(itemArray[j]);
                        }
                        else if (tag_type == "SELECT") {
                            $('#' + id_nm).find("option:contains('" + itemArray[j] + "')").each(function () {
                                if ($(this).text() == itemArray[j]) {
                                    $(this).attr("selected", "selected");
                                }
                            });
                        }
                        else {
                            $('#' + id_nm).val(itemArray[j]);
                        }
                    }
                    itemArray = null;
                    $(newRow).show();
                }
            );
            //Initial datepicker
            $('.input-group.date').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
        }


        CED010618WdoDelete = function(url, dataName, obj) {
            setMessage('MCEDSTD003C', null, function () {
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: obj,
                        success: function (result) {
                            //Pop Up Message
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                                if (result.MSG_TYPE != "E") {
                                   afterSave(dataName);
                                    if (dataName == "ModuleType") {
                                        CED010618WModuleTypedoSearch();
                                    } else {
                                        CED010618WPartJundatedoSearch();
                                    }
                                }
                            });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });
        }

        CED010618WdoDeleteModuleType = function () {
            var count = $('#tScrollBodyModuleType').find('input:checked').length;

            if (count == 0) {
                setMessage('MCEDSTD003E', null, function () { return });
            }
            else {
                var modId = $('#tblScrollModuleType input:checked').map(function () { return $(this).closest('tr').find('td:eq(1)').text(); }).get();
                var changedDt = $('#tblScrollModuleType input:checked').map(function () { return $(this).closest('tr').find('td:eq(6)').text(); }).get();

                var listModId = "";
                for (var i = 0; i < modId.length; i++)
                    listModId = listModId + modId[i] + ";";


                var listChangedDt = "";
                for (var i = 0; i < changedDt.length; i++)
                    listChangedDt = listChangedDt + changedDt[i] + ";";


                var data = {};
                data["MOD_ID"] = listModId;
                data["CHANGED_DT"] = listChangedDt;

                CED010618WdoDelete("@Html.Toyota().Page.GetActionUrl("CED010618WDeleteModuleType")",  "ModuleType", data)


            }
        }

     CED010618WdoDeletePartJundate = function () {
            var count = $('#tScrollBodyPartJundate').find('input:checked').length;

            if (count == 0) {
                setMessage('MCEDSTD003E', null, function () { return });
            }
            else {
                var modId = $('#tblScrollPartJundate input:checked').map(function () { return $(this).closest('tr').find('td:eq(1)').text(); }).get();
                var changedDt = $('#tblScrollPartJundate input:checked').map(function () { return $(this).closest('tr').find('td:eq(7)').text(); }).get();

                var listModId = "";
                for (var i = 0; i < modId.length; i++)
                    listModId = listModId + modId[i] + ";";


                var listChangedDt = "";
                for (var i = 0; i < changedDt.length; i++)
                    listChangedDt = listChangedDt + changedDt[i] + ";";


                var data = {};
                data["PART_NO"] = listModId;
                data["CHANGED_DT"] = listChangedDt;

                CED010618WdoDelete("@Html.Toyota().Page.GetActionUrl("CED010618WDeletePartJundate")",  "PartJundate",data)


            }
        }

        CED010618WdoDownloadTemplate = function (templateName) {
            getTemplate('CED010618W_' + templateName);
        }

        CED010618WdoUploadFile = function (dataName) {
            if (checkValidFile(dataName)) {
                setMessage('MCEDSTD007C', null, function () {
                    var dataForm = new FormData($('#formUploadFile' + dataName)[0]);
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: "Common/UploadFile",
                        data: dataForm,
                        processData: false, //Important!
                        contentType: false,
                        cache: false,
                        //beforeSubmit: showLoading(),
                        success: function (result) {
                            if (result.fileName != "" && result.fileName != undefined)
                                CED010618WdoSendBatch(result.fileName, dataName);
                            else
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                            $("#txtUploadFile"+dataName).val("");

                        }
                    });
                })
            }
        }

        CED010618WdoSendBatch = function (fileName, dataName) {
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchUpload")",
                data: {
                    filename: fileName,
                    dataname: dataName,
                },
                success: function (result) {
                    if (result.result.split("-")[0] == "DONE") {
                        setMessage("MCEDSTD002I", "Module Type/Part Jundate Upload;" + result.result.split("-")[1], function () {
                            $('.input-ghost').val(null);
                            $(".input-file").find('input').val('');
                            //CED010618WdoClear();
                        });
                    } else {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    }
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                }
            });
        }


        function browseFileNew(dataName) {
            $(".input-file-" + dataName).before(
                function () {
                    if ($(".input-file-" + dataName).prev().hasClass('input-ghost')) {
                        $(".input-file-" + dataName).prev().remove();
                    }
                    var element = $("<input type='file' accept='.xls,.xlsx' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    element.click();
                    return element;
                }
            );
        }

        function checkValidFile(dataName) {
            var isValid = false;
            var allowedExtension = ['xls', 'xlsx'];
            var fileName = $('#txtUploadFile'+dataName).val()
            var fileExtension = fileName.split('.').pop().toLowerCase();

            // No uploaded file
            if (fileName == '') {
                setMessage('MCEDSTD061E', null, null);
                return isValid;
            }

            // Check file extension
            for (var index in allowedExtension)
                if (fileExtension === allowedExtension[index])
                    isValid = true;

            // File extension not allowed
            if (!isValid)
                setMessage('MCEDSTD062E', 'Upload;.xls or .xlsx', null);

            return isValid;
        }
    </script>
}

