﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchFormModuleType">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Module Type Code</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <input type="text" id="txt-ModuleType" class="form-control eView" placeholder="Module Type Code" maxlength="10" />
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4">
        </div>
    </div>

    <div class="row" style="height: 30px">
        <div class="col-xs-6" style="margin-top: 5px;">
        </div>
        <div class="col-xs-6 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010618WModuleTypedoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED010618WdoClearModuleType()">Clear</button>
            </div>
        </div>
    </div>

</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div class="row" style="height: 45px" id="formUploadModuleType">
    <div class="col-xs-12 col-sm-6 text-left">
        <form id="formUploadFileModuleType" method="POST" action="#" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group input-file-ModuleType" name="upload">
                    <span class="input-group-btn">
                        <button id="btnBrowse" class="btn btn-default btn-xs eView eEdit btn-size1" type="button" onclick="javascript:browseFileNew('ModuleType')">Browse</button>
                    </span>
                    <input type="text" id="txtUploadFileModuleType" class="form-control" placeholder='Choose a file...' style="width: 40%" />
                    <span class="input-group-btn" style="float: left">
                        <button id="btnUpload" class="btn btn-warning btn-xs eView eEdit btn-size1" type="button" onclick="javascript: CED010618WdoUploadFile('ModuleType')">Upload</button>
                    </span>
                    <span style="float: left; padding-left: 90px; padding-top: 5px;">
                        <a href="#" onclick="javascript:CED010618WdoDownloadTemplate('ModuleType')">Download Template</a>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <div class="form-group form-group-xs" style="margin-bottom: 3px;">
            <button id="btnAddModuleType" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010618WdoAddModuleType()">Add</button>
            <button id="btnEditModuleType" type="button" class="btn btn-primary btn-xs btn-size1" onclick="javascript:CED010618WdoEditModuleType()">Edit</button>
            <button id="btnDeleteModuleType" type="button" class="btn btn-danger btn-xs btn-size1" onclick="javascript:CED010618WdoDeleteModuleType()">Delete</button>
        </div>
    </div>
</div>
