﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED010618W
@using IPOS.Models.Common
@model GenericModel<CED010618W>



<div id="gridModuleType" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHeadModuleType" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 2250px !important; table-layout: fixed">
                    <colgroup>
                        <col width="5%" />
                        <col width="15%" />
                        <col width="30%" />
                        <col width="12%" />
                        <col width="13%" />
                        <col width="12%" />
                        <col width="13%" />
                        
                    </colgroup>
                    <thead>
                        <tr>
                            <th rowspan="2" class="grid-checkbox-col">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScrollModuleType'),'checkDetail' )" />
                            </th>
                            <th rowspan="2"> Module Type Code</th>
                            <th rowspan="2">Module Type Desc</th>
                            <th colspan="2">Created</th>
                            <th colspan="2">Changed</th>
                        </tr>
                        <tr>
                            <th>By</th>
                            <th>Date</th>
                            <th>By</th>
                            <th>Date</th>
                        </tr>

                    </thead>
                </table>
            </div>
            <!--if Row Search Criteria More Than 2, Then set Height = 270px Else Height = 300px -->
            <div id="tScrollBodyModuleType" style="overflow-y: scroll; height: 270px;">
                <table id="tblScrollModuleType" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 2250px !important; table-layout: fixed">
                    <colgroup>
                        <col width="5%" />
                        <col width="15%" />
                        <col width="30%" />
                        <col width="12%" />
                        <col width="13%" />
                        <col width="12%" />
                        <col width="13%" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    var seqNo = 0;
                                    foreach (CED010618W item in Model.DataList)
                                    {
                                        seqNo++;
                                                <tr id="DataRowModuleType" class="tr-grid-detail">
                                                    <td class="text-center grid-checkbox-col frozen_row">
                                                        <input type="checkbox" id="checkDetail" class="grid-checkbox grid-checkbox-body eView" onchange="javascript:checkboxDetail($('#tblScrollModuleType'),'checkDetail',$('#tScrollHeadModuleType #dynamic-table').find('#checkall'))" />
                                                    </td>
                                                    <td>@item.MOD_ID</td>
                                                    <td>@item.MODUL_TYPE_CONV</td>
                                                    <td>@item.CREATED_BY</td>
                                                    <td class="text-center ">@item.CREATED_DT</td>
                                                    <td>@item.CHANGED_BY</td>
                                                    <td class="text-center ">@item.CHANGED_DT</td>
                                                </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="30" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

               

            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                        <button type="button" id="btncancel" class="btn btn-danger btn-xs eAdd eEdit btn-size1" onclick="javascript:CED010618WdoCancelModuleType()">Cancel</button>
                        <button type="button" id="btnsave" class="btn btn-primary btn-xs  eAdd eEdit btn-size1" onclick="javascript:CED010618WdoSaveModuleType()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table style="display: none">
    <tbody id="tbTemplateDataRowModuleType">
        <tr id="templateDataRowModuleType" class="tr-grid-detail">
            <td class="text-center grid-checkbox-col">
                <input type="checkbox" id="checkDetail" class="grid-checkbox" checked="checked" disabled="disabled" />
            </td>

            <td class="left">
                <input id="txtModuleType" class="input-sm form-control left mandatory eAdd" type="text" value="" maxlength="9" />
            </td>
            
            <td class="left">
                <input id="txtModuleTypeDesc" class="input-sm form-control left mandatory eAdd eEdit" type="text" value="" maxlength="50"/>
            </td>

            <td id="td-createdBy-ModuleType" class="left" style="vertical-align: middle"></td>
            <td id="td-createdDt-ModuleType" class="center" style="vertical-align: middle"></td>
            <td id="td-changedBy-ModuleType" class="left" style="vertical-align: middle"></td>
            <td id="td-changedDt-ModuleType" class="center" style="vertical-align: middle"></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $("#tScrollBodyModuleType").scroll(function () {
        $("#tScrollHeadModuleType").scrollLeft($("#tScrollBodyModuleType").scrollLeft());
    });

    @{
    if (Model.DataList != null && Model.DataList.Any())
    {
        Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEditModuleType]');" +
                        "var btnDelete = $('.hidden-xs').find('[id=btnDeleteModuleType]');" +
                        "var btnDownload = $('.hidden-xs').find('[id=btnDownloadModuleType]');" +

                        "if(btnEdit.length>0)" +
                        "$('.hidden-xs').find('[id=btnEditModuleType]').addClass('eView').button('enable');" +
                        "if(btnDelete.length>0)" +
                        "$('.hidden-xs').find('[id=btnDeleteModuleType]').addClass('eView').button('enable');" +
                        "if(btnDownload.length>0)" +
                        "$('.hidden-xs').find('[id=btnDownloadModuleType]').addClass('eView').button('enable');"
                    );
    }
    else
    {
        Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEditModuleType]');" +
                        "var btnDelete = $('.hidden-xs').find('[id=btnDeleteModuleType]');" +
                        "var btnDownload = $('.hidden-xs').find('[id=btnDownloadModuleType]');" +

                        "if(btnEdit.length>0)" +
                        "$('.hidden-xs').find('[id=btnEditModuleType]').removeClass('eView');" +
                        "if(btnDelete.length>0)" +
                        "$('.hidden-xs').find('[id=btnDeleteModuleType]').removeClass('eView');" +
                        "if(btnDownload.length>0)" +
                        "$('.hidden-xs').find('[id=btnDownloadModuleType]').removeClass('eView');"
                    );
    }
}
</script>
