﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED021500W
@using IPOS.Models.Common
@using IPOS.Controllers;
@model GenericModel<CED021500W>
<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: calc(100% - 17px); overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: initial 1920px auto; max-width: 2560px !important; table-layout: fixed;">
                    <thead>
                        <tr>
                            <th style="width: 60px" rowspan="2">Supplier<br />Code</th>
                            <th style="width: 50px" rowspan="2">Plant<br />Code</th>
                            <th style="width: 280px" rowspan="2">Supplier Name</th>
                            <th style="width: 90px" rowspan="2">Part No</th>
                            <th style="width: 80px" rowspan="2">Unique No</th>
                            <th style="width: 60px" rowspan="2">Logical<br />Dock</th>
                            <th style="width: 60px" rowspan="2">Packing<br />Line</th>
                            <th style="width: 130px" rowspan="2">Kanban ID<br />(1/2)</th>
                            <th style="width: 60px" rowspan="2">Pcs / Kbn</th>
                            <th style="width: 100px" rowspan="2">Prod Date</th>
                            <th style="width: 60px" rowspan="2">Shift</th>
                            <th style="width: 60px" rowspan="2">Stock</th>
                            <th style="width: 60px" rowspan="2">Min</th>
                            <th style="width: 60px" rowspan="2">Max</th>
                            <th style="width: 60px" rowspan="2">Address</th>
                            <th style="width: 100px" rowspan="2">Prod.<br />Date<br />(Picking)</th>
                            <th style="width: 60px" rowspan="2">Shift</th>
                            <th style="width: 130px" rowspan="2">Kanban ID<br />3</th>
                            <th style="width: 100px" rowspan="2">Time Scan<br />Kanban ID 3</th>
                            <th style="width: 130px" rowspan="2">Kanban ID<br />4</th>
                            <th style="width: 100px" rowspan="2">Time Scan<br />Kanban ID 4</th>
                            <th style="width: 60px" rowspan="2">Cycle<br />Time</th>
                            <th style="width: 60px" rowspan="2">Status</th>
                            <th style="width: 60px" rowspan="2">Shutter No</th>
                            <th style="width: 60px" rowspan="2">Lot<br />No</th>
                            <th style="width: 60px" rowspan="2">Case<br />No</th>
                            <th style="width: 60px" rowspan="2">Problem<br />Found</th>
                    </thead>
                </table>
            </div>
            <div id="tScrollBody" style="overflow: scroll; height: 270px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: initial 1920px auto; max-width: 2560px !important; table-layout: fixed;">
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED021500W item in Model.DataList)
                                    {
                            <tr>
                                <td style="width: 60px" class="text-center">@item.SupplierCd</td>
                                <td style="width: 50px" class="text-center">@item.PlantCd</td>
                                <td style="width: 280px" class="text-left">@item.SupplierName</td>
                                <td style="width: 90px" class="text-center">@item.PartNo</td>
                                <td style="width: 80px" class="text-center">@item.UniqueNo</td>
                                <td style="width: 60px" class="text-center">@item.LogicalDock</td>
                                <td style="width: 60px" class="text-center">@item.PackingLine</td>
                                <td style="width: 130px" class="text-center">@item.KanbanId</td>
                                <td style="width: 60px" class="text-right">@item.PcsKbn</td>
                                <td style="width: 100px" class="text-center">@item.ProdDate</td>
                                <td style="width: 60px" class="text-center">@item.Shift</td>
                                <td style="width: 60px" class="text-right">@item.Kanban_Stock</td>
                                <td style="width: 60px" class="text-right">@item.Kanban_Min</td>
                                <td style="width: 60px" class="text-right">@item.Kanban_Max</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Address</td>
                                <td style="width: 100px" class="text-center">@item.Kanban_ProdDatePicking</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Shift2</td>
                                <td style="width: 130px" class="text-center">@item.Kanban_KanbanId3</td>
                                <td style="width: 100px" class="text-center">@item.Kanban_TimeScanKanbanId3</td>
                                <td style="width: 130px" class="text-center">@item.Kanban_KanbanId4</td>
                                <td style="width: 100px" class="text-center">@item.Kanban_TimeScanKanbanId4</td>
                                <td style="width: 60px" class="text-center">@item.Plan_CycleTime</td>
                                <td style="width: 60px" class="text-center">@item.Actual_STATUS</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_ShutterNo</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_LotNo</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_CaseNo</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_ProblemFound</td>
                            </tr>
                                    }
                                }
                                else
                                {
                            <tr id="noDataRow">
                                <td colspan="12" class="text-center">@Model.MsgNotFound</td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });

    @{
        if (Model.DataList != null && Model.DataList.Any())
        {
            Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                            "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                            "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                            "if(btnEdit.length>0)" +
                            "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                            "if(btnDelete.length>0)" +
                            "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                            "if(btnDownload.length>0)" +
                            "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                        );
        }
        else
        {
            Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                            "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                            "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                            "if(btnEdit.length>0)" +
                            "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                            "if(btnDelete.length>0)" +
                            "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                            "if(btnDownload.length>0)" +
                            "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                        );
        }
}
</script>
