﻿@using IPOS.Controllers;


<!-- Pipeline -->
<div id="div-pipeline" style="" class="form-horizontal _criteria">
    <div style="overflow-x: scroll">
        <table style="width: 1700px; max-width: 1900px !important;">
            <tr>
                <td>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <div>
                                <div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Process</label>
                                    <div class="col-xs-8 col-sm-9 col-md-7">
                                        @Html.DropDownList("cmbs-Process", CommonController.ComboBoxSelectList("2", "PROCESS_PIPELINE", null), new { tabindex = "0", style = "width: 100%;", @class = "eView", onChange = "doChangeProcess();" })
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-3 col-sm-3 col-md-4 control-label text-muted">Date</label>
                                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px">
                                        <div class="input-group date" data-provide="datepicker">

                                            <input class="eView form-control mandatory date2 normal-input text-center" id="txt-DateFrom" type="text" data-date-format="yyyy-mm-dd" placeholder="From" maxlength="10" style="width: 100%" />
                                            @*onchange="nextDate(event);"*@
                                            <span class="input-group-addon" style="cursor: pointer; padding: 0px">
                                                @*<i class="fa fa-calendar small-110"></i>*@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px">
                                        <div class="input-group date" data-provide="datepicker">

                                            <input class="eView form-control mandatory date2 normal-input text-center" id="txt-DateTo" type="text" data-date-format="yyyy-mm-dd" placeholder="To" maxlength="10" style="width: 100%" />
                                            <span class="input-group-addon" style="cursor: pointer; padding: 0px">
                                                @*<i class="fa fa-calendar small-110"></i>*@
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Shift</label>
                                    <div class="col-xs-8 col-sm-9 col-md-4">
                                        @Html.DropDownList("cmbs-Shift", CommonController.ComboBoxSelectList("1", "SHIFT_CD", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                    </div>
                                </div>
                            </div>

                            <div class="pipeline">
                                <div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Div Lane</label>
                                    <div class="col-xs-8 col-sm-9 col-md-4">
                                        @Html.DropDownList("cmbs-DivLane", CommonController.ComboBoxSelectList("1", "DIV_LANE", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Zone</label>
                                    <div class="col-xs-8 col-sm-9 col-md-4">
                                        @Html.DropDownList("cmbs-Zone", CommonController.ComboBoxSelectList("1", "ZONE", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Shutter No</label>
                                    <div class="col-xs-8 col-sm-9 col-md-4">
                                        <input type="text" id="txts-ShutterNo" class="form-control eView Upper" maxlength="5" placeholder="Shutter No" />
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Problem ID</label>
                                    <div class="col-xs-8 col-sm-9 col-md-7">
                                        <input type="text" id="txts-ProblemId" class="form-control eView Upper" maxlength="15" placeholder="Problem ID" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <form role="form" class="" id="searchForm">
                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="pipeline">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            @Html.DropDownList("cmbs-Supplier", CommonController.ComboBoxSelectList("1", "SUPPLIER", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Manifest No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            <input type="text" id="txts-ManifestNo" class="form-control eView Upper" maxlength="16" placeholder="Manifest No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Order No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            <input type="text" id="txts-OrderNo" class="form-control eView Upper" maxlength="12" placeholder="Order No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Shutter Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbs-ShutterStatus", CommonController.ComboBoxSelectList("1", "SHUTTER_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Picking Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbs-PickingStatus", CommonController.ComboBoxSelectList("1", "PICKING_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Packing Line</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txts-PackingLine" class="form-control eView Upper" maxlength="10" placeholder="Packing Line" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Module Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-6">
                                            @Html.DropDownList("cmbs-ModuleStatus", CommonController.ComboBoxSelectList("1", "MODULE_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                </div>
                                <div class="sorting hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px;">Part No/Unique No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-6">
                                            <input type="text" id="txtSor-PartNo" class="form-control eView Upper" maxlength="12" placeholder="Part No/Unique No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Kanban ID</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            <input type="text" id="txtSor-KanbanId" class="form-control eView Upper" maxlength="25" placeholder="Kanban ID" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Order No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-6">
                                            <input type="text" id="txtSor-OrderNo" class="form-control eView Upper" maxlength="12" placeholder="Order No" />
                                        </div>
                                    </div>
                                </div>
                                <div class="boxing hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            @Html.DropDownList("cmbBox-Supplier", CommonController.ComboBoxSelectList("1", "SUPPLIER", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px;">Part No/Unique No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-6">
                                            <input type="text" id="txtBox-PartNo" class="form-control eView Upper" maxlength="12" placeholder="Part No/Unique No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Kanban ID</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            <input type="text" id="txtBox-KanbanId" class="form-control eView Upper" maxlength="25" placeholder="Kanban ID" />
                                        </div>
                                    </div>
                                </div>
                                <div class="flowrack hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            @Html.DropDownList("cmbFlow-Supplier", CommonController.ComboBoxSelectList("1", "SUPPLIER", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px;">Part No/Unique No</label>
                                        @*/ Unique No*@
                                        <div class="col-xs-8 col-sm-9 col-md-6">
                                            <input type="text" id="txtFlow-PartNo" class="form-control eView Upper" maxlength="12" placeholder="Part No/Unique No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Kanban ID</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            <input type="text" id="txtFlow-KanbanId" class="form-control eView Upper" maxlength="25" placeholder="Kanban ID" />
                                        </div>
                                    </div>
                                </div>
                                <div class="picking hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            @Html.DropDownList("cmbPic-Supplier", CommonController.ComboBoxSelectList("1", "SUPPLIER", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px;">Part No/Unique No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-6">
                                            <input type="text" id="txtPic-PartNo" class="form-control eView Upper" maxlength="12" placeholder="Part No/Unique No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Kanban ID</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            <input type="text" id="txtPic-KanbanId" class="form-control eView Upper" maxlength="25" placeholder="Kanban ID" />
                                        </div>
                                    </div>
                                </div>
                                <div class="stacking hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            @Html.DropDownList("cmbStack-Supplier", CommonController.ComboBoxSelectList("1", "SUPPLIER", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px;">Part No/Unique No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-6">
                                            <input type="text" id="txtStack-PartNo" class="form-control eView Upper" maxlength="12" placeholder="Part No/Unique No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Kanban ID</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            <input type="text" id="txtStack-KanbanId" class="form-control eView Upper" maxlength="25" placeholder="Kanban ID" />
                                        </div>
                                    </div>
                                </div>
                                <div class="problem hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-3 col-sm-3 col-md-4 control-label text-muted">Problem Date</label>
                                        <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px">
                                            <div class="input-group date" data-provide="datepicker">

                                                <input class="eView form-control date2 normal-input text-center" id="txtProb-ProblemDateFrom" type="text" data-date-format="yyyy-mm-dd" placeholder="From" maxlength="10" style="width: 100%" />
                                                <span class="input-group-addon" style="cursor: pointer; padding: 0px">
                                                    @*<i class="fa fa-calendar small-110"></i>*@
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px">
                                            <div class="input-group date" data-provide="datepicker">

                                                <input class="eView form-control date2 normal-input text-center" id="txtProb-ProblemDateTo" type="text" data-date-format="yyyy-mm-dd" placeholder="To" maxlength="10" style="width: 100%" />
                                                <span class="input-group-addon" style="cursor: pointer; padding: 0px">
                                                    @*<i class="fa fa-calendar small-110"></i>*@
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Problem Type</label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            @Html.DropDownList("cmbProb-ProblemType", CommonController.ComboBoxSelectList("1", "PROBLEM_TYPE", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Problem ID</label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            <input type="text" id="txtProb-ProblemId" class="form-control eView Upper" maxlength="15" placeholder="Problem ID" />
                                        </div>
                                    </div>
                                </div>
                                <div class="moduletype hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Module Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-6">
                                            @Html.DropDownList("cmbMod-ModuleStatus", CommonController.ComboBoxSelectList("1", "MODULE_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Module Type</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbMod-ModuleType", CommonController.ComboBoxSelectList("1", "MODULE_TYPE", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Renban</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txtMod-Renban" class="form-control eView Upper" maxlength="9" placeholder="Renban" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="pipeline">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Physical Dock</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @*<input type="text" id="txts-PhysicalDock" class="form-control eView Upper" maxlength="3" />*@
                                            @Html.DropDownList("cmbs-PhysicalDock", CommonController.ComboBoxSelectList("1", "PHSYCAL_DOCK", null), new { @class = "eView", style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px;">Part No/Unique No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-6">
                                            <input type="text" id="txts-PartNo" class="form-control eView Upper" maxlength="12" placeholder="Part No/Unique No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Kanban ID</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            <input type="text" id="txts-KanbanId" class="form-control eView Upper" maxlength="25" placeholder="Kanban ID" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Dest. Code</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txts-DescCode" class="form-control eView Upper" maxlength="4" placeholder="Dest. Code" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Lot Number</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txts-LotNumber" class="form-control eView Upper" maxlength="6" placeholder="Lot Number" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Case Number</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txts-CaseNumber" class="form-control eView Upper" maxlength="3" placeholder="Case Number" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Module Type</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbs-ModuleType", CommonController.ComboBoxSelectList("1", "MODULE_TYPE", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                </div>
                                <div class="sorting hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Pass Through</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbtxtSor-PassThrough", CommonController.ComboBoxSelectList("1", "PASS_THROUGH", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Zone</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbtxtSor-Zone", CommonController.ComboBoxSelectList("1", "ZONE", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                </div>
                                <div class="boxing hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Logical Dock</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @*<input type="text" id="txtBox-LogicalDock" class="form-control eView Upper" maxlength="3" />*@
                                            @Html.DropDownList("cmbBox-LogicalDock", CommonController.ComboBoxSelectList("1", "LOGICAL_DOCK", null), new { @class = "eView", style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Div Lane No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbBox-DivLane", CommonController.ComboBoxSelectList("1", "DIV_LANE", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Packing Line</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            <input type="text" id="txtBox-PackingLine" class="form-control eView Upper" maxlength="10" placeholder="Packing Line" />
                                        </div>
                                    </div>
                                </div>
                                <div class="flowrack hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Logical Dock</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @*<input type="text" id="txtFlow-LogicalDock" class="form-control eView Upper" maxlength="3" />*@
                                            @Html.DropDownList("cmbFlow-LogicalDock", CommonController.ComboBoxSelectList("1", "LOGICAL_DOCK", null), new { @class = "eView", style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Packing Line</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txtFlow-PackingLine" class="form-control eView Upper" maxlength="10" placeholder="Packing Line" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Shutter No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtFlow-ShutterNo" class="form-control eView Upper" maxlength="5" placeholder="Shutter No" />
                                        </div>
                                    </div>
                                </div>
                                <div class="picking hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Logical Dock</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @*<input type="text" id="txtPic-LogicalDock" class="form-control eView Upper" maxlength="3" />*@
                                            @Html.DropDownList("cmbPic-LogicalDock", CommonController.ComboBoxSelectList("1", "LOGICAL_DOCK", null), new { @class = "eView", style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Packing Line</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txtPic-PackingLine" class="form-control eView Upper" maxlength="10" placeholder="Packing Line" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Address</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txtPic-AddressNo" class="form-control eView Upper" maxlength="10" placeholder="Address" />
                                        </div>
                                    </div>
                                </div>
                                <div class="stacking hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Logical Dock</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @*<input type="text" id="txtStack-LogicalDock" class="form-control eView Upper" maxlength="3" />*@
                                            @Html.DropDownList("cmbStack-LogicalDock", CommonController.ComboBoxSelectList("1", "LOGICAL_DOCK", null), new { @class = "eView", style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Packing Line</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txtStack-PackingLine" class="form-control eView Upper" maxlength="10" placeholder="Packing Line" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Shutter No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtStack-ShutterNo" class="form-control eView Upper" maxlength="5" placeholder="Shutter No" />
                                        </div>
                                    </div>
                                </div>
                                <div class="problem hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            @Html.DropDownList("cmbProb-Supplier", CommonController.ComboBoxSelectList("1", "SUPPLIER", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Manifest No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            <input type="text" id="txtProb-ManifestNo" class="form-control eView Upper" maxlength="16" placeholder="Manifest No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Order No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            <input type="text" id="txtProb-OrderNo" class="form-control eView Upper" maxlength="12" placeholder="Order No" />
                                        </div>
                                    </div>
                                </div>
                                <div class="moduletype hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Dest. Code</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtMod-DescCode" class="form-control eView Upper" maxlength="4" placeholder="Dest. Code" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Lot No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtMod-LotNumber" class="form-control eView Upper" maxlength="6" placeholder="Lot No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Case No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtMod-CaseNumber" class="form-control eView Upper" maxlength="3" placeholder="Case No" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="pipeline">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Logical Dock</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @*<input type="text" id="txts-LogicalDock" class="form-control eView Upper" maxlength="3" />*@
                                            @Html.DropDownList("cmbs-LogicalDock", CommonController.ComboBoxSelectList("1", "LOGICAL_DOCK", null), new { @class = "eView", style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Truck Station</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbs-TS", CommonController.ComboBoxSelectList("1", "TRUCK_STATION", null), new { @class = "eView", style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Route Name</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txts-RouteName" class="form-control eView Upper" maxlength="4" placeholder="Route Name" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Renban</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txts-Renban" class="form-control eView Upper" maxlength="9" placeholder="Renban" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px">Stacking Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbs-StackingStatus", CommonController.ComboBoxSelectList("1", "STACKING_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Fill In Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            <input type="text" id="txts-FillInStatus" class="form-control eView Upper" maxlength="12" placeholder="Fill In Status" />
                                        </div>
                                    </div>
                                </div>
                                <div class="boxing hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Boxing Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbBox-BoxingStatus", CommonController.ComboBoxSelectList("1", "BOXING_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                </div>
                                <div class="flowrack hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Address No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-5">
                                            <input type="text" id="txtFlow-AddressNo" class="form-control eView Upper" maxlength="10" placeholder="Address No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supply Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbFlow-SupplyStatus", CommonController.ComboBoxSelectList("1", "SUPPLY_STATUS", null), new { @class = "eView", style = "width:100%" })
                                        </div>
                                    </div>
                                </div>
                                <div class="picking hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Shutter No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtPic-ShutterNo" class="form-control eView Upper" maxlength="5" placeholder="Shutter No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Lot No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtPic-LotNumber" class="form-control eView Upper" maxlength="6" placeholder="Lot No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Case No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtPic-CaseNumber" class="form-control eView Upper" maxlength="3" placeholder="Case No" />
                                        </div>
                                    </div>
                                </div>
                                <div class="stacking hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Lot No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtStack-LotNumber" class="form-control eView Upper" maxlength="6" placeholder="Lot No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Case No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtStack-CaseNumber" class="form-control eView Upper" maxlength="3" placeholder="Case No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px">Stacking Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbStack-StackingStatus", CommonController.ComboBoxSelectList("1", "STACKING_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                </div>
                                <div class="problem hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Logical Dock</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @*<input type="text" id="txtProb-LogicalDock" class="form-control eView Upper" maxlength="3" />*@
                                            @Html.DropDownList("cmbProb-LogicalDock", CommonController.ComboBoxSelectList("1", "LOGICAL_DOCK", null), new { @class = "eView", style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px;">Part No/Unique No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-6">
                                            <input type="text" id="txtProb-PartNo" class="form-control eView Upper" maxlength="12" placeholder="Part No/Unique No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Kanban ID</label>
                                        <div class="col-xs-8 col-sm-9 col-md-8">
                                            <input type="text" id="txtProb-KanbanId" class="form-control eView Upper" maxlength="25" placeholder="Kanban ID" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="pipeline">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Route Cycle</label>
                                        <div class="col-xs-8 col-sm-9 col-md-3">
                                            <input type="text" id="txts-RouteCycle" class="form-control eView Upper" maxlength="2" placeholder="Route Cycle" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Pass Through</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbs-PassThrough", CommonController.ComboBoxSelectList("1", "PASS_THROUGH", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Boxing Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbs-BoxingStatus", CommonController.ComboBoxSelectList("1", "BOXING_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px;">Vanning Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbs-VanningStatus", CommonController.ComboBoxSelectList("1", "VANNING_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-3 col-sm-3 col-md-4 control-label text-muted">Problem Date</label>
                                        <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px">
                                            <div class="input-group date" data-provide="datepicker">

                                                <input class="eView form-control date2 normal-input text-center" id="txt-ProblemDateFrom" type="text" data-date-format="yyyy-mm-dd" placeholder="From" maxlength="10" style="width: 100%" />
                                                <span class="input-group-addon" style="cursor: pointer; padding: 0px">
                                                    @*<i class="fa fa-calendar small-110"></i>*@
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px">
                                            <div class="input-group date" data-provide="datepicker">

                                                <input class="eView form-control date2 normal-input text-center" id="txt-ProblemDateTo" type="text" data-date-format="yyyy-mm-dd" placeholder="To" maxlength="10" style="width: 100%" />
                                                <span class="input-group-addon" style="cursor: pointer; padding: 0px">
                                                    @*<i class="fa fa-calendar small-110"></i>*@
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Problem Type</label>
                                        <div class="col-xs-8 col-sm-9 col-md-7">
                                            @Html.DropDownList("cmbs-ProblemType", CommonController.ComboBoxSelectList("1", "PROBLEM_TYPE", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                </div>
                                <div class="picking hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Picking Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbPic-PickingStatus", CommonController.ComboBoxSelectList("1", "PICKING_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                </div>
                                <div class="stacking hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Fill In Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("txtStack-FillInStatus", CommonController.ComboBoxSelectList("1", "FILLIN_STS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                            @*<input type="text" id="txtStack-FillInStatus" class="form-control eView Upper" maxlength="12" placeholder="Fill In Status"/>*@
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted" style="padding-left: 0px; padding-right: 0px;">Vanning Status</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            @Html.DropDownList("cmbStack-VanningStatus", CommonController.ComboBoxSelectList("1", "VANNING_STATUS", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <label class="control-label text-muted">Detail</label>
                                            <input type="radio" name="typeGrid" value="Detail" class="eView" checked />
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <label class="control-label text-muted">Header</label>
                                            <input type="radio" name="typeGrid" value="Header" class="eView" />
                                        </div>
                                    </div>
                                </div>
                                <div class="problem hidden">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Dest. Code</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtProb-DescCode" class="form-control eView Upper" maxlength="4" placeholder="Dest. Code" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Lot No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtProb-LotNumber" class="form-control eView Upper" maxlength="6" placeholder="Lot No" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Case No</label>
                                        <div class="col-xs-8 col-sm-9 col-md-4">
                                            <input type="text" id="txtProb-CaseNumber" class="form-control eView Upper" maxlength="3" placeholder="Case No" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row" style="height: 30px">
    <div class="col-xs-6" style="margin-top: 3px;">
    </div>
    <div class="col-xs-6 text-right" style="margin-top: 3px;">
        <div class="form-group-xs _criteria">
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED021500W", "btnDownload"))
            {
                <button id="btnDownload" type="button" class="btn btn-success btn-xs btn-size1" onclick="javascript: CED021500WDownload()" tabindex="10">Download</button>
            }
            <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED021500WdoSearch()">Search</button>
            <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED021500WdoClear()">Clear</button>
        </div>
    </div>
</div>


<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

