﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED021500W
@using IPOS.Models.Common
@using IPOS.Controllers;
@model GenericModel<CED021500W>
<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: calc(100% - 17px); overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: initial 1920px auto; max-width: 2560px !important; table-layout: fixed;">
                    <thead>
                        <tr>
                            <!-- Pipeline -->
                            <th style="width: 60px" rowspan="2">Supplier<br />Code</th>
                            <th style="width: 50px" rowspan="2">Plant<br />Code</th>
                            <th style="width: 280px" rowspan="2">Supplier Name</th>
                            <th style="width: 80px" rowspan="2">Rec.<br />Comp Code</th>
                            <th style="width: 80px" rowspan="2">Rec.<br />Comp Plant</th>
                            <th style="width: 90px" rowspan="2">Part No</th>
                            <th style="width: 80px" rowspan="2">Unique No</th>
                            <th style="width: 60px" rowspan="2">Logical<br />Dock</th>
                            <th style="width: 60px" rowspan="2">Packing<br />Line</th>
                            <th style="width: 60px" rowspan="2">Pattern<br />Code</th>
                            <th style="width: 60px" rowspan="2">Line Code</th>
                            <th style="width: 130px" rowspan="2">Kanban ID<br />(1/2)</th>
                            <th style="width: 60px" rowspan="2">Pcs / Kbn</th>
                            <th style="width: 100px" rowspan="2">Prod Date</th>
                            <th style="width: 60px" rowspan="2">Shift</th>
                            <th style="width: 100px" rowspan="2">Order No</th>
                            <th style="width: 100px" rowspan="2">Manifest No</th>
                            <th style="width: 60px" rowspan="2">Div No</th>
                            <th style="width: 60px" rowspan="2">Truck<br />Station</th>
                            <th style="width: 60px" rowspan="2">Route<br />Name</th>
                            <th style="width: 60px" rowspan="2">Route<br />Cycle</th>
                            <th style="width: 60px" rowspan="2">Log<br />Partner</th>
                            <th style="width: 130px" rowspan="2">Delivery<br />No</th>
                            <th style="width: 130px" rowspan="2">Delivery<br />Date</th>
                            <th style="width: 60px" rowspan="2">Shift</th>
                            <th style="width: 60px" rowspan="2">Physical<br />Dock</th>
                            <th style="width: 40px" rowspan="2">T/S</th>
                            <!-- Plan -->
                            <th style="width: 270px" colspan="3">Plan</th>
                            <!-- Actual -->
                            <th style="width: 450px" colspan="5">Actual</th>
                            <th style="width: 90px" rowspan="2">Status</th>
                            <th style="width: 90px" rowspan="2">Manifest<br />Total</th>
                            <th style="width: 90px" rowspan="2">Kanban<br />Total</th>
                            <th style="width: 90px" rowspan="2">Skid<br />Total</th>
                            <th style="width: 130px" rowspan="2">Plan<br />Catch Up</th>
                            <th style="width: 60px" rowspan="2">Problem</th>
                            <th style="width: 130px" rowspan="2">Plan Receive<br />Original<br />(Date&Time)</th>
                            <th style="width: 130px" rowspan="2">Plan Receive<br />Upload<br />(Date&Time)</th>
                            <th style="width: 60px" rowspan="2">Shift</th>
                            <th style="width: 130px" rowspan="2">Actual<br />Receive<br />(Date&Time)</th>
                            <th style="width: 60px" rowspan="2">Mod.<br />Type</th>
                            <!-- Kanban -->
                            <th style="width: 180px" colspan="2">Kanban</th>
                            <th style="width: 90px" rowspan="2">Status</th>
                            <th style="width: 70px" rowspan="2">Plan<br />Catch<br />Manifest</th>
                            <th style="width: 60px" rowspan="2">Problem</th>
                            <th style="width: 60px" rowspan="2">Time<br />Scan</th>
                            <th style="width: 60px" rowspan="2">Passthru<br />Status</th>
                            <th style="width: 60px" rowspan="2">Time<br />Scan</th>
                            <th style="width: 60px" rowspan="2">Qty<br />Box</th>
                            <th style="width: 130px" rowspan="2">Kanban ID<br />3</th>
                            <th style="width: 70px" rowspan="2">Plan Cycle<br />Time/Box</th>
                            <th style="width: 70px" rowspan="2">Actual Cycle<br />Time/Box</th>
                            <th style="width: 60px" rowspan="2">Bal</th>
                            <th style="width: 60px" rowspan="2">Status</th>
                            <th style="width: 60px" rowspan="2">Problem<br />Found</th>
                            <th style="width: 60px" rowspan="2">Time<br />Scan</th>
                            <th style="width: 60px" rowspan="2">Zone</th>
                            <th style="width: 60px" rowspan="2">Plan<br />Readiness Part</th>
                            <th style="width: 60px" rowspan="2">Time<br />Scan<br />Shutter</th>
                            <th style="width: 60px" rowspan="2">Shutter No</th>
                            <th style="width: 60px" rowspan="2">Time<br />Scan Flow<br />Rack</th>
                            <th style="width: 60px" rowspan="2">Address</th>
                            <th style="width: 60px" rowspan="2">Status</th>
                            <th style="width: 60px" rowspan="2">Problem<br />Found</th>
                            <th style="width: 60px" rowspan="2">Stock</th>
                            <th style="width: 60px" rowspan="2">Min</th>
                            <th style="width: 60px" rowspan="2">Max</th>
                            <th style="width: 100px" rowspan="2">Prod.<br />Date<br />(Picking)</th>
                            <th style="width: 60px" rowspan="2">Shift</th>
                            <th style="width: 130px" rowspan="2">Kanban ID<br />4</th>
                            <th style="width: 60px" rowspan="2">Time Scan<br />Kanban ID 4</th>
                            <th style="width: 60px" rowspan="2">Time Scan<br />Kanban ID 3</th>
                            <th style="width: 60px" rowspan="2">Actual<br />Cycle<br />Time</th>
                            <th style="width: 60px" rowspan="2">Status</th>
                            <th style="width: 60px" rowspan="2">Problem<br />Found</th>
                            <th style="width: 130px" rowspan="2">Prod.<br />Date<br />(Stacking)</th>
                            <th style="width: 60px" rowspan="2">Shift</th>
                            <th style="width: 60px" rowspan="2">Dest.<br />Code</th>
                            <th style="width: 60px" rowspan="2">Renban</th>
                            <th style="width: 60px" rowspan="2">Lot<br />No</th>
                            <th style="width: 60px" rowspan="2">Case<br />No</th>
                            <th style="width: 60px" rowspan="2">Stacking<br />Readiness</th>
                            <th style="width: 60px" rowspan="2">Time<br />Scan</th>
                            <th style="width: 270px" colspan="3">Plan</th>
                            <th style="width: 270px" colspan="3">Actual</th>
                            <th style="width: 60px" rowspan="2">Status</th>
                            <th style="width: 60px" rowspan="2">Problem</th>
                            <th style="width: 60px" rowspan="2">Action</th>
                            <th style="width: 60px" rowspan="2">Status<br />Cripple</th>
                            <th style="width: 60px" rowspan="2">Line<br />Stop</th>
                            <th style="width: 60px" rowspan="2">Problem</th>
                            <th style="width: 60px" rowspan="2">Sub<br />Problem</th>
                            <th style="width: 270px" colspan="3">Waiting Pulling</th>
                            <th style="width: 60px" rowspan="2">Fill In<br />Status</th>
                            <th style="width: 60px" rowspan="2">Vanning<br />Status</th>
                            <th style="width: 60px" rowspan="2">Problem ID</th>
                            <th style="width: 60px" rowspan="2">Check Date</th>
                            <th style="width: 840px" colspan="12">Problem Part</th>
                            <th style="width: 420px" colspan="6">Material</th>
                            <th style="width: 420px" colspan="6">Kanban</th>
                            <th style="width: 210px" colspan="3">Plan</th>
                            <th style="width: 210px" colspan="3">Actual</th>
                            <th style="width: 60px" rowspan="2">Balance</th>
                            <th style="width: 60px" rowspan="2">Mod<br />Type</th>
                            <th style="width: 60px" rowspan="2">Status</th>
                        </tr>
                        <tr>
                            <!-- Plan -->
                            <th style="width: 270px">Arrival<br />Dock</th>
                            <th style="width: 270px">Departure</th>
                            <th style="width: 270px">Cycle<br />Time</th>
                            <!-- Actual -->
                            <th style="width: 450px">Arrival<br />Yard</th>
                            <th style="width: 450px">Arrival<br />Dock</th>
                            <th style="width: 450px">Departure</th>
                            <th style="width: 450px">Cycle<br />Time</th>
                            <th style="width: 450px">Balance</th>
                            <!-- Kanban -->
                            <th style="width: 180px">Plan</th>
                            <th style="width: 180px">Actual</th>

                            <th style="width: 270px">Start</th>
                            <th style="width: 270px">Finish</th>
                            <th style="width: 270px">Cycle Time</th>
                            <th style="width: 270px">Start</th>
                            <th style="width: 270px">Finish</th>
                            <th style="width: 270px">Cycle Time</th>
                            <th style="width: 270px">Stacking</th>
                            <th style="width: 270px">Prepare<br />Module</th>
                            <th style="width: 270px">Supply<br />Module</th>
                            <th style="width: 840px">Found<br />Date</th>
                            <th style="width: 840px">Found<br />By</th>
                            <th style="width: 840px">Initial<br />Problem</th>
                            <th style="width: 840px">Judgement<br />(Investment)</th>
                            <th style="width: 840px">Hold</th>
                            <th style="width: 840px">Real<br />Problem</th>
                            <th style="width: 840px">Last<br />Position</th>
                            <th style="width: 840px">Next<br />Position</th>
                            <th style="width: 840px">LSR<br />Status</th>
                            <th style="width: 840px">LSR<br />Finish Date</th>
                            <th style="width: 840px">Status</th>
                            <th style="width: 840px">Close<br />Date</th>
                            <th style="width: 420px">Found<br />Date</th>
                            <th style="width: 420px">Found<br />By</th>
                            <th style="width: 420px">Judgement</th>
                            <th style="width: 420px">Problem<br />Detail</th>
                            <th style="width: 420px">Status</th>
                            <th style="width: 420px">Close<br />Date</th>

                            <th style="width: 420px">Found<br />Date</th>
                            <th style="width: 420px">Found<br />By</th>
                            <th style="width: 420px">Judgement</th>
                            <th style="width: 420px">Problem<br />Detail</th>
                            <th style="width: 420px">Status</th>
                            <th style="width: 420px">Close<br />Date</th>

                            <th style="width: 210px">Start</th>
                            <th style="width: 210px">Finish</th>
                            <th style="width: 210px">Cycle<br />Time</th>
                            <th style="width: 210px">Start</th>
                            <th style="width: 210px">Finish</th>
                            <th style="width: 210px">Cycle<br />Time</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBody" style="overflow: scroll; height: 270px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: initial 1920px auto; max-width: 2560px !important; table-layout: fixed;">
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED021500W item in Model.DataList)
                                    {
                            <tr>
                                <!-- Pipeline -->
                                <td style="width: 60px" class="text-center">@item.SupplierCd</td>
                                <td style="width: 50px" class="text-center">@item.PlantCd</td>
                                <td style="width: 280px" class="text-left">@item.SupplierName</td>
                                <td style="width: 80px" class="text-center">@item.RecCompCd</td>
                                <td style="width: 80px" class="text-center">@item.RecCompPlant</td>
                                <td style="width: 90px" class="text-center">@item.PartNo</td>
                                <td style="width: 80px" class="text-center">@item.UniqueNo</td>
                                <td style="width: 60px" class="text-center">@item.LogicalDock</td>
                                <td style="width: 60px" class="text-center">@item.PackingLine</td>
                                <td style="width: 60px" class="text-center">@item.PatternCd</td>
                                <td style="width: 60px" class="text-center">@item.LineCd</td>
                                <td style="width: 130px" class="text-center">@item.KanbanId</td>
                                <td style="width: 60px" class="text-right">@item.PcsKbn</td>
                                <td style="width: 100px" class="text-center">@item.ProdDate</td>
                                <td style="width: 60px" class="text-center">@item.Shift</td>
                                <td style="width: 100px" class="text-center">@item.OrderNo</td>
                                <td style="width: 100px" class="text-center">@item.ManifestNo</td>
                                <td style="width: 60px" class="text-center">@item.DivNo</td>
                                <td style="width: 60px" class="text-center">@item.TruckStation</td>
                                <td style="width: 60px" class="text-left">@item.RouteName</td>
                                <td style="width: 60px" class="text-center">@item.RouteCycle</td>
                                <td style="width: 60px" class="text-center">@item.LogPartner</td>
                                <td style="width: 130px" class="text-center">@item.DeliveryNo</td>
                                <td style="width: 130px" class="text-center">@item.DeliveryDate</td>
                                <td style="width: 60px" class="text-center">@item.Shift1</td>
                                <td style="width: 60px" class="text-center">@item.PhysicalDock</td>
                                <td style="width: 40px" class="text-center">@item.TS</td>
                                <!-- Plan -->
                                <td style="width: 90px" class="text-center">@item.Plan_ArrivalDock</td>
                                <td style="width: 90px" class="text-center">@item.Plan_Departure</td>
                                <td style="width: 90px" class="text-center">@item.Plan_CycleTime</td>
                                <!-- Actual -->
                                <td style="width: 90px" class="text-center">@item.Actual_ArrivalYard</td>
                                <td style="width: 90px" class="text-center">@item.Actual_ArrivalDock</td>
                                <td style="width: 90px" class="text-center">@item.Actual_Departure</td>
                                <td style="width: 90px" class="text-center">@item.Actual_CycleTime</td>
                                <td style="width: 90px" class="text-center">@item.Actual_Balance</td>
                                <td style="width: 90px" class="text-center">@item.Actual_STATUS</td>
                                <td style="width: 90px" class="text-right">@item.Actual_ManifestTotal</td>
                                <td style="width: 90px" class="text-right">@item.Actual_KanbanTotal</td>
                                <td style="width: 90px" class="text-right">@item.Actual_SkidTotal</td>
                                <td style="width: 130px" class="text-center">@item.Actual_PlanCatchUp</td>
                                <td style="width: 60px" class="text-center">@item.Actual_Problem</td>
                                <td style="width: 130px" class="text-center">@item.Actual_PlanRcvOri</td>
                                <td style="width: 130px" class="text-center">@item.Actual_PlanRcvUpload</td>
                                <td style="width: 60px" class="text-center">@item.Actual_ShiftAct</td>
                                <td style="width: 130px" class="text-center">@item.Actual_ActualRcvDtTm</td>
                                <td style="width: 60px" class="text-center">@item.Actual_ModType</td>
                                <!-- Kanban -->
                                <td style="width: 90px" class="text-center">@item.Kanban_Plan</td>
                                <td style="width: 90px" class="text-center">@item.Kanban_Actual</td>
                                <td style="width: 90px" class="text-center">@item.Kanban_Status2</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_PlanCatchUpManifest</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Problem2</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_TimeScan</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_PassthruSts</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_TimeScan2</td>
                                <td style="width: 60px" class="text-right">@item.Kanban_QtyBox</td>
                                <td style="width: 130px" class="text-center">@item.Kanban_KanbanId3</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_PlanCycleTimeBox</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_ActualCycleTimeBox</td>
                                <td style="width: 60px" class="text-right">@item.Kanban_Bal</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Status3</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_ProblemFound</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_TimeScan3</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Zone</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_PlanReadinessPart</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_TimeScanShuter</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_ShutterNo</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_TimeScanFlowRack</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Address</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Status4</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_ProblemFound2</td>
                                <td style="width: 60px" class="text-right">@item.Kanban_Stock</td>
                                <td style="width: 60px" class="text-right">@item.Kanban_Min</td>
                                <td style="width: 60px" class="text-right">@item.Kanban_Max</td>
                                <td style="width: 100px" class="text-center">@item.Kanban_ProdDatePicking</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Shift2</td>
                                <td style="width: 130px" class="text-center">@item.Kanban_KanbanId4</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_TimeScanKanbanId4</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_TimeScanKanbanId3</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_ActualCycleTime</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Status5</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_ProblemFound3</td>
                                <td style="width: 130px" class="text-center">@item.Kanban_ProdDateStacking</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Shift3</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_DescCd</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Renban</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_LotNo</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_CaseNo</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_StackingReadiness</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_TimeScan4</td>
                                <!-- Plan -->
                                <td style="width: 90px" class="text-center">@item.Kanban_Plan_Start</td>
                                <td style="width: 90px" class="text-center">@item.Kanban_Plan_Finish</td>
                                <td style="width: 90px" class="text-center">@item.Kanban_Plan_CycleTime</td>
                                 <!-- Actual -->
                                <td style="width: 90px" class="text-center">@item.Kanban_Acual_Start</td>
                                <td style="width: 90px" class="text-center">@item.Kanban_Acual_Finish</td>
                                <td style="width: 90px" class="text-center">@item.Kanban_Acual_CycleTime</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Acual_Status</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Acual_Problem</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Acual_Action</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Acual_StatusCripple</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Acual_LineStop</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Acual_Problem2</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Acual_SubProblem</td>
                                <!-- Waiting Pulling -->
                                <td style="width: 90px" class="text-center">@item.WP_Stacking</td>
                                <td style="width: 90px" class="text-center">@item.WP_PrepareModule</td>
                                <td style="width: 90px" class="text-center">@item.WP_SupplyModule</td>
                                <td style="width: 60px" class="text-center">@item.WP_FillInSts</td>
                                <td style="width: 60px" class="text-center">@item.WP_VanningSts</td>
                                <td style="width: 60px" class="text-center">@item.WP_ProblemId</td>
                                <td style="width: 60px" class="text-center">@item.WP_CheckDate</td>
                                <!-- Problem Part -->
                                <td style="width: 70px" class="text-center">@item.PP_FoundDate</td>
                                <td style="width: 70px" class="text-left">@item.PP_FoundBy</td>
                                <td style="width: 70px" class="text-center">@item.PP_InitialProblem</td>
                                <td style="width: 70px" class="text-center">@item.PP_Judgement</td>
                                <td style="width: 70px" class="text-center">@item.PP_Hold</td>
                                <td style="width: 70px" class="text-center">@item.PP_RealProblem</td>
                                <td style="width: 70px" class="text-center">@item.PP_LastPosition</td>
                                <td style="width: 70px" class="text-center">@item.PP_NextPosition</td>
                                <td style="width: 70px" class="text-center">@item.PP_LSRSts</td>
                                <td style="width: 70px" class="text-center">@item.PP_LSRFinish</td>
                                <td style="width: 70px" class="text-center">@item.PP_Status</td>
                                <td style="width: 70px" class="text-center">@item.PP_CloseDate</td>
                                <!-- Material -->
                                <td style="width: 70px" class="text-center">@item.M_FoundDate</td>
                                <td style="width: 70px" class="text-left">@item.M_FoundBy</td>
                                <td style="width: 70px" class="text-center">@item.M_Judgement</td>
                                <td style="width: 70px" class="text-center">@item.M_ProblemDetail</td>
                                <td style="width: 70px" class="text-center">@item.M_Status</td>
                                <td style="width: 70px" class="text-center">@item.M_CloseDate</td>
                                <!-- Kanban -->
                                <td style="width: 70px" class="text-center">@item.Kanban_2_FoundDate</td>
                                <td style="width: 70px" class="text-left">@item.Kanban_2_FoundBy</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_2_Judgement</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_2_ProblemDetail</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_2_Status</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_2_CloseDate</td>
                                <!-- Plan -->
                                <td style="width: 70px" class="text-center">@item.Kanban_Plan_2_Start</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_Plan_2_Finish</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_Plan_2_CycleTime</td>
                                <!-- Actual -->
                                <td style="width: 70px" class="text-center">@item.Kanban_Actual_2_Start</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_Actual_2_Finish</td>
                                <td style="width: 70px" class="text-center">@item.Kanban_Actual_2_CycleTime</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Actual_2_Balance</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Actual_2_ModType</td>
                                <td style="width: 60px" class="text-center">@item.Kanban_Actual_2_Status1</td>
                            </tr>
                                    }
                                }
                                else
                                {
                            <tr id="noDataRow">
                                <td colspan="12" class="text-center">@Model.MsgNotFound</td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });

    @{
        if (Model.DataList != null && Model.DataList.Any())
        {
            Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                            "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                            "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                            "if(btnEdit.length>0)" +
                            "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                            "if(btnDelete.length>0)" +
                            "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                            "if(btnDownload.length>0)" +
                            "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                        );
        }
        else
        {
            Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                            "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                            "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                            "if(btnEdit.length>0)" +
                            "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                            "if(btnDelete.length>0)" +
                            "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                            "if(btnDownload.length>0)" +
                            "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                        );
        }
}
</script>
