﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED030700W
@using IPOS.Models.Common
@model GenericModel<CED030700W>
<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: calc(100% - 17px); overflow: hidden;">
                @*<table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">*@
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: initial 1920px auto; max-width: 2560px !important; table-layout: fixed;">
                    <colgroup>
                        <col style="width: 25px" />
                        <col style="width: 100px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 200px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 75px" />
                        <col style="width: 150px" class="actRecord" />
                        <col style="width: 110px" class="actRecord" />
                        <col style="width: 150px" />
                        <col style="width: 150px" />
                        <col style="width: 150px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 200px" />
                        <col style="width: 180px" />
                        <col style="width: 200px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th rowspan="2" class="grid-checkbox-col">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )" />
                            </th>
                            <th rowspan="2">Delivery Date</th>
                            <th rowspan="2">Shift</th>
                            <th rowspan="2">Physical Dock</th>
                            <th rowspan="2">Logical Dock</th>
                            <th rowspan="2">T/S</th>
                            <th rowspan="2">Route</th>
                            <th rowspan="2">Cycle</th>
                            <th rowspan="2">L/P</th>
                            <th rowspan="2">Supp Code - Supp Plant Code</th>
                            <th rowspan="2">Supp Name</th>
                            <th rowspan="2">Order No</th>
                            <th rowspan="2">Manifest No</th>
                            <th rowspan="2">P Lane No</th>
                            <th rowspan="2" class="actRecord">Kanban ID</th>
                            <th rowspan="2" class="actRecord">Part No</th>
                            <th colspan="1">Plan Receive Original</th>
                            <th colspan="1">Plan Receive Upload</th>
                            <th colspan="1">Actual Receive</th>
                            <th rowspan="2">Mod. Type</th>
                            <th rowspan="2">Dest</th>
                            <th rowspan="2">Lot</th>
                            <th rowspan="2">Case</th>
                            <th colspan="2"><span id="txt-name"></span></th>
                            <th rowspan="2">Status</th>
                            <th rowspan="2">Plan Catch Up Manifest</th>
                            <th rowspan="2">Problem</th>
                        </tr>
                        <tr>
                            <th>Date & Time</th>
                            <th>Date & Time</th>
                            <th>Date & Time</th>
                            <th>Plan</th>
                            <th>Act</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--if Row Search Criteria More Than 2, Then set Height = 270px Else Height = 300px -->
            <div id="tScrollBody" style="overflow-y: scroll; height: 200px;">
                @*<table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">*@
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: initial 1920px auto; max-width: 2560px !important; table-layout: fixed;">
                    <colgroup>
                        <col style="width: 25px" />
                        <col style="width: 100px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 200px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 75px" />
                        <col style="width: 150px" class="actRecord" />
                        <col style="width: 110px" class="actRecord" />
                        <col style="width: 150px" />
                        <col style="width: 150px" />
                        <col style="width: 150px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 75px" />
                        <col style="width: 200px" />
                        <col style="width: 180px" />
                        <col style="width: 200px" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED030700W item in Model.DataList)
                                    {
                            <tr id="DataRow" class="tr-grid-detail">
                                <td class="text-center grid-checkbox-col">
                                    <input type="checkbox" id="checkDetail" class="grid-checkbox grid-checkbox-body eView" onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))" value="@item.ChangedDtParam#@item.ItemParam" />
                                </td>
                                <td class="text-center">@item.DeliveryDate</td>
                                <td class="text-center">@item.Shift</td>
                                <td class="text-center">@item.PhysicalDock</td>
                                <td class="text-center">@item.LogicalDock</td>
                                <td class="text-center">@item.TS</td>
                                <td class="text-center">@item.Route</td>
                                <td class="text-center">@item.Cycle</td>
                                <td class="text-center">@item.LP</td>
                                <td class="text-center">@item.SuppCode</td>
                                <td class="text-left">@item.SuppName</td>
                                <td class="text-center">@item.OrderNo</td>
                                <td class="text-center">@item.ManifestNo</td>
                                <td class="text-center">@item.PLaneNo</td>
                                <td class="text-center actRecord">@item.KanbanId</td>
                                <td class="text-center actRecord">@item.PartNo</td>
                                <td class="text-center">@item.PlanReceiveOriginal</td>
                                <td class="text-center">@item.PlanReceiveUpload</td>
                                <td class="text-center">@item.ActualReceive</td>
                                <td class="text-center">@item.ModType</td>
                                <td class="text-center">@item.Dest</td>
                                <td class="text-center">@item.Lot</td>
                                <td class="text-center">@item.Case</td>
                                <td class="text-right">@item.KanbanPlan</td>
                                <td class="text-right">@item.KanbanAct</td>
                                <td class="text-left">@item.Status</td>
                                <td class="text-center">@item.PlanCatchUp</td>
                                <td class="text-left">@item.Problem</td>
                            </tr>
                                    }
                                }
                                else
                                {
                            <tr id="noDataRow">
                                <td colspan="27" class="text-center">@Model.MsgNotFound</td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="27">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                        <button type="button" id="btncancel" class="btn btn-danger btn-xs eAdd eEdit btn-size1" onclick="javascript:CED030700WdoCancel()">Cancel</button>
                        <button type="button" id="btnsave" class="btn btn-primary btn-xs  eAdd eEdit btn-size1" onclick="javascript:CED030700WdoSave()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table style="display: none">
    <tbody id="tbTemplateDataRow">
        <tr id="templateDataRow" class="tr-grid-detail">
            <td class="text-center grid-checkbox-col">
                @Html.Hidden("mode")
                <input type="checkbox" id="checkDetail" class="grid-checkbox" checked="checked" disabled="disabled" />
            </td>
            <td class="center">
                <input id="txt-DeliveryDate" class="input-sm form-control normal-input text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-Shift" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-PhysicalDock" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-LogicalDock" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-TS" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-Route" class="input-sm form-control text-center" type="text" value="" />
            </td>

            <td class="left">
                <input id="txt-Cycle" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-LP" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-SuppCode" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-SuppName" class="input-sm form-control text-left" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-OrderNo" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left ">
                <input id="txt-ManifestNo" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left ">
                <input id="txt-PLaneNo" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left actRecord">
                <input id="txt-KanbanId" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left actRecord">
                <input id="txt-PartNo" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-PlanReceiveOriginal" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-PlanReceiveUpload" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-ActualReceive" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-ModType" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-Dest" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-Lot" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-Case" class="input-sm form-control text-center" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-KanbanPlan" class="input-sm form-control text-right" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-KanbanAct" class="input-sm form-control text-right" type="text" value="" />
            </td>
            <td class="left">
                <input id="txt-Status" class="input-sm form-control text-left" type="text" value="" />
            </td>
            <td class="center">
                <div class="input-group datetime2">
                    <input class="eAdd eEdit form-control datetime2 normal-input text-center" id="txt-PlanCatchUp" type="text" /> 
                    <span class="input-group-addon" style="cursor: pointer;">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </td>
            <td class="left">
                <input id="txt-Problem" class="input-sm form-control eAdd eEdit normal-input text-left" type="text" value="" />
            </td>

        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });

    @{
        if (Model.DataList != null && Model.DataList.Any())
        {
            Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                            "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                            "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                            "if(btnEdit.length>0)" +
                            "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
                            "if(btnDelete.length>0)" +
                            "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
                            "if(btnDownload.length>0)" +
                            "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
                        );
        }
        else
        {
            Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
                            "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
                            "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

                            "if(btnEdit.length>0)" +
                            "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
                            "if(btnDelete.length>0)" +
                            "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
                            "if(btnDownload.length>0)" +
                            "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
                        );
        }
}
</script>
