﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div>
        @*style="overflow-x: scroll"*@
        @*<table style="width: 1700px; max-width: 1900px !important;">
            <tr>
                <td>*@
        <div class="row">
            <div class="col-md-12" style="padding-left:32px;padding-bottom:10px;">
                <div class="form-group form-group-xs _criteria">
                    <input type="radio" name="typeGrid" value="Summary" class="eView" checked />
                    <label class="control-label text-muted">Summary</label>
                    <input type="radio" name="typeGrid" value="Detail" class="eView" />
                    <label class="control-label text-muted">Detail</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-right: 0px; padding-right: 0px;">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-3 col-sm-3 col-md-3 control-label text-muted">Delivery Date</label>
                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px;">
                        <div class="input-group date" data-provide="datepicker">
                            <input class="eView form-control mandatory date2 normal-input" id="txts-DeliveryDateFrom" type="text" data-date-format="yyyy-mm-dd" placeholder="From" maxlength="11" style="width: 100%" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                            <span class="input-group-addon" style="cursor: pointer; padding-top: 1px; padding-bottom: 1px; padding-right: 6px; padding-left: 6px;">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px;">
                        <div class="input-group date" data-provide="datepicker">

                            <input class="eView form-control mandatory date2 normal-input" id="txts-DeliveryDateTo" type="text" data-date-format="yyyy-mm-dd" placeholder="To" maxlength="11" style="width: 100%" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                            <span class="input-group-addon" style="cursor: pointer; padding-top: 1px; padding-bottom: 1px; padding-right: 6px; padding-left: 6px;">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-3 col-sm-3 col-md-3 control-label text-muted">Actual Receive</label>
                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px; display:none">
                        <div class="input-group date" data-provide="datepicker">
                            <input class="eView form-control date2 normal-input" id="txts-ActualReceive" type="text" data-date-format="yyyy-mm-dd" placeholder="ActualReceive" maxlength="11" style="width: 100%" />
                            <span class="input-group-addon" style="cursor: pointer; padding-top: 1px; padding-bottom: 1px; padding-right: 6px; padding-left: 6px;">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px;">
                        <div class="input-group date" data-provide="datepicker">
                            <input class="eView form-control date2 normal-input" id="txts-ActualReceiveFrom" type="text" data-date-format="yyyy-mm-dd" placeholder="From" maxlength="11" style="width: 100%" />
                            <span class="input-group-addon" style="cursor: pointer; padding-top: 1px; padding-bottom: 1px; padding-right: 6px; padding-left: 6px;">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right: 0px;">
                        <div class="input-group date" data-provide="datepicker">
                            <input class="eView form-control date2 normal-input" id="txts-ActualReceiveTo" type="text" data-date-format="yyyy-mm-dd" placeholder="To" maxlength="11" style="width: 100%" />
                            <span class="input-group-addon" style="cursor: pointer; padding-top: 1px; padding-bottom: 1px; padding-right: 6px; padding-left: 6px;">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-3 col-sm-3 col-md-3 control-label text-muted">Shift</label>
                    <div class="col-xs-8 col-sm-9 col-md-4">
                        @Html.DropDownList("cmbs-Shift", CommonController.ComboBoxSelectList("1", "ARR_DPT_INQ_SHIFT", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-3 col-sm-3 col-md-3 control-label text-muted">Physical Dock</label>
                    <div class="col-xs-8 col-sm-9 col-md-4">
                        @*@Html.DropDownList("cmbs-PhysicalDock", CommonController.ComboBoxSelectList("1", "PHSYCAL_DOCK", null), new { @class = "eView", style = "width:100%" })*@
                        @Html.DropDownList("cmbs-PhysicalDock", CommonController.ComboBoxSelectList("1", "PHSYCAL_DOCK", null), new { onChange = "doRefreshChildComboBox030700('cmbs-PhysicalDock','cmbs-LogicalDock','1','LOGICAL_DOCK_WF');doChangeChild();", tabindex = "1", @class = "eView", style = "width:100%" })
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-3 col-sm-3 col-md-3 control-label text-muted">Logical Dock</label>
                    <div class="col-xs-8 col-sm-9 col-md-4">
                        @*@Html.DropDownList("cmbs-LogicalDock", CommonController.ComboBoxSelectList("1", "LOGICAL_DOCK", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })*@
                        @Html.DropDownList("cmbs-LogicalDock", CommonController.ComboBoxSelectList("1", "LOGICAL_DOCK_WF", null), new { tabindex = "1", style = "width: 100%;", @class = "eView" })
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-3 col-sm-3 col-md-3 control-label text-muted">T/S</label>
                    <div class="col-xs-8 col-sm-9 col-md-4">
                        @Html.DropDownList("cmbs-TS", CommonController.ComboBoxSelectList("1", "TRUCK_STATION", null), new { @class = "eView", style = "width:100%" })
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="margin-left: 0px; padding-left: 0px;">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Route Name</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-RouteName" class="form-control eView" placeholder="Route Name" maxlength="200" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Route Cycle</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-RouteCycle" class="form-control eView" placeholder="Route Cycle" maxlength="200" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        @Html.DropDownList("cmbs-Supplier", CommonController.ComboBoxSelectList("1", "SUPPLIER", null), new { @class = "eView", style = "width:100%" })
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Manifest No</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-ManifestNo" class="form-control eView" placeholder="Manifest" maxlength="12" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Order No</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-OrderNo" class="form-control eView" placeholder="Order No" maxlength="16" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group form-group-xs _criteria colSummary">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Dest</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-Dest" class="form-control eView" placeholder="Dest" maxlength="10" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria colSummary">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Lot</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-Lot" class="form-control eView" placeholder="Lot" maxlength="6" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria colSummary">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Case</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-Case" class="form-control eView" placeholder="Case" maxlength="3" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria colSummary">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Status</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        @Html.DropDownList("cmbsSum-Status", CommonController.ComboBoxSelectList("1", "STATUS_CED030700_S", null), new { @class = "eView", style = "width:100%" })
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria colDetail">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Part No</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-PartNo" class="form-control eView" placeholder="Part No" maxlength="15" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria colDetail">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Kanban ID</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-KanbanId" class="form-control eView" placeholder="Kanban ID" maxlength="25" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria colDetail">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Status</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        @Html.DropDownList("cmbsDet-Status", CommonController.ComboBoxSelectList("1", "STATUS_CED030700_D", null), new { @class = "eView", style = "width:100%" })
                    </div>
                </div>
            </div>
        </div>
        @*</td>
            </tr>
        </table>*@
    </div>

    <div class="row" style="height: 30px">
        <div class="col-xs-6" style="margin-top: 5px;">
        </div>
        <div class="col-xs-6 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED030700WdoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED030700WdoClear()">Clear</button>
                <input type="hidden" id="txts-Type" value="Summary" />
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div class="row" style="height: 45px">
    <div class="col-xs-12 col-sm-6 text-left">
        <form id="formUpload" method="POST" action="#" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group input-file" name="upload">
                    @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED030700W", "btnUpload"))
                    {
                        <span class="input-group-btn">
                            <button id="btnBrowse" class="btn btn-default btn-xs eView btn-size1" type="button" onclick="javascript:browseFile()">Browse</button>
                        </span>
                        <input type="text" id="txtUploadFile" class="form-control" placeholder='Choose a file...' style="width: 40%" />
                        <span class="input-group-btn" style="float: left">
                            <button id="btnUpload" class="btn btn-warning btn-xs eView btn-size1" type="button" onclick="javascript:CED030700WdoUploadFile()">Upload</button>
                        </span>
                        <span style="float: left; padding-left: 90px; padding-top: 5px;">
                            <a href="#" onclick="javascript:CED030700WdoDownloadTemplate()">Download Template</a>
                        </span>
                    }
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-6 text-right" style="height: 45px;">
        <div class="form-group form-group-xs" style="margin-bottom: 3px;">
            @*<button id="btnAdd" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED030700WdoAdd()">Add</button>*@
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED030700W", "btnEdit"))
            {
                <button id="btnEdit" type="button" class="btn btn-primary btn-xs btn-size1" onclick="javascript:CED030700WdoEdit()">Edit</button>
            }
@*<button id="btnDelete" type="button" class="btn btn-danger btn-xs btn-size1" onclick="javascript:CED030700WdoDelete()">Delete</button>*@
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED030700W", "btnDownload"))
            {
                <button id="btnDownload" type="button" class="btn btn-success btn-xs btn-size1" onclick="javascript:CED030700WdoDownload()">Download</button>
            }
        </div>
    </div>
</div>
