﻿<style>
    .fontbigstyle {
        text-align: center; 
        vertical-align: middle; 
        font-size: 4em; 
        font-weight: bold;
    }

    table thead tr th {
        padding: 1px;
        font-size: 12px;
    }

    table tbody tr td {
        padding: 1px;
        font-size: 12px;
    }

    div.panel2 {
        padding: 5px;
        margin-top: 0;
        font-size: 14px;
    }
</style>

<div class="row">
    <div class="twelve columns">&nbsp;</div>
</div>

<div class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="four columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th>BARCODE</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <input type="text" id="txt-KUP" class="form-control eView bgblack" placeholder="BARCODE" onkeypress="return searchKeyPress(event)" style="text-align: center" />
                            <input type="hidden" id="txt-KUPHidden" />
                        </td>
                    </tr>
                </table>
            </div>
           @* <div class="one columns" style="display: none">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th id="tdlabelsuppcode">SUPP CODE</th>
                        </tr>
                    </thead>
                    <tr>
                        <td id="tdselectsuppcode">
                            <select id="cmb-SuppCode" class="eView" onchange="comboProcess(this)" style="width: 100%"></select>
                        </td>
                    </tr>
                </table>
            </div>*@
            <div class="four columns"  style="margin-top: 15px;text-align: center">
                <span id="lblBoxPost" style="font-size: 2em"></span>
            </div>
            <div class="four columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <tr>
                        <td width="125px">
                            <div id="JudgeDiv" style="display: none"><button id="btnJudge" type="button" class="button secondary expand" onclick="problemProcess('judge')">JUDGE</button></div>
                            <div id="ProblemDiv" style="display: none"><button id="btnProblem" type="button" class="button secondary expand" onclick="problemProcess('problem')">PROBLEM</button></div>
                        </td>
                        <td width="125px">
                            <button id="btnClose" type="button" class="button secondary expand" onclick="closeProcess()">CLOSE</button>
                            <input type="hidden" id="hidKanbanType" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align: left">PROBLEM ID : <span id="lbl-Problem"></span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th>UNIQUE</th>
                            <th colspan="3" width="60%">PART NO</th>
                            <th>SUPPLIER</th>
                        </tr>
                    </thead>
                    <tr>
                        <td height="75px" width="150px" style="text-align: center; vertical-align: middle;" class="fontbigstyle"><span id="lbl-Unique"></span></td>
                        <td width="200px" style="text-align: center; vertical-align: middle" class="fontbigstyle"><span id="lbl-PartNo1"></span></td>
                        <td width="200px" style="text-align: center; vertical-align: middle" class="fontbigstyle"><span id="lbl-PartNo2"></span></td>
                        <td width="100px" style="text-align: center; vertical-align: middle" class="fontbigstyle"><span id="lbl-PartNo3"></span></td>
                        <td style="text-align: center; vertical-align: middle"><span id="lbl-SuppCode" class="fontbigstyle"></span></td>
                    </tr>
                    <tr>
                        <td colspan="4" align="left" style="height: 32px; font-size: 1.5em; vertical-align: middle"><b><span id="lbl-PartName"></span></b></td>
                        <td class="text-center" style="height: 32px; font-size: 1.5em; vertical-align: middle"><b><span id="lbl-Supplier"></span></b></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="six columns" style="padding-right: 1px">
                <div class="panel2">FOTO KEYPOINT</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <tr>
                        <td style="height: 548px"><img id="lbl-ImgKeypoint" style="width: 100%; height: 100%" onerror="this.src ='@Url.Content("~/Content/Images/Image Not Found.png")'"/></td>
                    </tr>
                </table>
            </div>

            <div class="six columns" style="padding-left: 1px">
                <div class="panel2">APPEARANCE CEK</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%" id="tblGrid1">
                    <thead>
                        <tr>
                            <th>ITEM CEK</th>
                            <th>KRITERIA CEK</th>
                            <th>CARA CEK</th>
                        </tr>
                    </thead>
                    <tbody id="gridAppCheck">
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        @{
                            for (var i = 0; i < 5; i++)
                            {
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th>REV NO</th>
                            <th>REV ITEM</th>
                            <th>ADMIN</th>
                            <th>VALID FROM</th>
                            <th>VALID TO</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="font-size: 1em;text-align:right"><span id="lbl-Rev"></span></td>
                        <td style="font-size: 1em;"><span id="lbl-RevItem"></span></td>
                        <td style="font-size: 1em;"><span id="lbl-Admin"></span></td>
                        <td style="font-size: 1em;"><span id="lbl-ValidFrom"></span></td>
                        <td style="font-size: 1em;"><span id="lbl-ValidTo"></span></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>