﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayoutNoMenuTheme1024;
}

@section HeadScript{
}

<div>
    <input type="hidden" id="txtHiddenProblem"/>
    <input type="hidden" id="txtHiddenKanbanProblem"/>
</div>

<div id="tablegrid">
    @Html.Partial("CED040600WGrid")
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED040600W";

        $(document).ready(function () {
            if ($.cookie("nameInput") == undefined) {
                location.href = "Boxing_Login";
            }
            CED040600WdoInit();

            if ($.cookie("barcodeProblem") != undefined) {
                $("#txt-KUP").val($.cookie("barcodeProblem"));
                //$("#txt-KUPHidden").val($("#txt-KUP").val());
                //nextDataProcess($.cookie("barcodeProblem"));

                CheckValidateData();
            }
        });

        $(document).click(function () {
            $("#txt-KUP").focus();
        });

        CED040600WdoInit = function () {
            initialMode();
            $("#lblBoxPost").text($.cookie("postnameInput"));
            //console.log($.cookie("postnameInput"));
            CED040600WdoSearch();
        }

        CED040600WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            $.ajax({
                type: 'POST',
                url: "@Url.Action("CED040600WSearchData", "CED040600W")",
                data: null,
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    $("#lblBoxPost").text($.cookie("postnameInput"));
                    $("#txt-KUP").focus();
                },
                error: function (result) {
                    getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    //hideLoading();
                }

            });
        }

    function searchKeyPress(e) {
        e = e || window.event;
        if (e.keyCode == 13) {
            CheckValidateData();
            return false;
        }
        return true;
    }

    function CheckValidateData() {
        var kup = $("#txt-KUP").val().replace(/-/g, "");
        //if (kup.length > 12) {
        //    kup = kup.substring(0, 12);
        //}
        nextDataProcess(kup);
    }

    function nextDataProcess(kup) {
        //showLoading();
        $.ajax({
            type: 'POST',
            url: 'CED040600W/getDataKanban',
            data: { kup: kup },
            success: function (result) {
                if (result.length > 0) {
                    showRecord(result, "");
                    if ($.cookie("barcodeProblem") != undefined) {
                        $("#txt-KUPHidden").val($.cookie("barcodeProblem"));

                        delete_cookie("barcodeProblem");
                    } else {
                        $("#txt-KUPHidden").val($("#txt-KUP").val());
                    }
                    
                    $("#txt-KUP").val("");
                    $("#txt-KUP").focus();
                } else {
                    getMessageNoMenu("E", "Data Not Found", function () { return });
                    setTimeout(function () {
                        $(".btnEPopup").click();
                        clearRecord();
                    }, 2000);
                }
                //var lenkup = kup.length;
                //if (result.length > 0) {
                //    if (result.length == 1) {
                //        showRecord(result, "");
                //        if ($("#lbl-Info").text() != "") {
                //            $("#lbl-Info").text("");
                //        }
                //    } else if (result.length > 1) {
                //        clearRecord();
                //        if (lenkup == 4) {
                //            $("#lbl-Info").text("Unique " + kup + " ada lebih dari 1 supplier. Pilih Supp Code pada kotak Supp Code.");
                //        } else if (lenkup == 12) {
                //            $("#lbl-Info").text("Part No " + kup + " ada lebih dari 1 supplier. Pilih Supp Code pada kotak Supp Code.");
                //        }
                //        fillComboSuppCode(result);
                //        $("#tdlabelsuppcode").show();
                //        $("#tdselectsuppcode").show();
                //    }
                //} else {
                //    if (lenkup == 4) {
                //        $("#lbl-Info").text("Unique " + kup + " tidak ada di sistem");
                //    } else if (lenkup == 12) {
                //        $("#lbl-Info").text("Part No " + kup + " tidak ada di sistem");
                //    }
                //}
            },
            error: function (result) {
                getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                //hideLoading();
            }
        });
    }

    function fillComboSuppCode(data) {
        $("#cmb-SuppCode").empty();
        $("#cmb-SuppCode").append("<option value=''></option>");
        for (var i = 0; i < data.length; i++) {
            $("#cmb-SuppCode").append("<option value=" + data[i].strSuppAbr + ">" + data[i].strSuppAbr + "</option>");
        }
    }

    function showRecord(data, supp) {
        var pathImg = "@ViewBag.PathQKP";
        var defined = "@Url.Content("~/Content/Images/Image Not Defined.png")";
        var QKPImage = "";

        $("#txtHiddenProblem").val(data[0].lngItmNo.split('|')[2]);

        $("#txtHiddenKanbanProblem").val("0");

        if (data[0].KanbanType == "Kanban 1-2") {
            if (data[0].lngItmNo.split('|')[3] != "0") {
                if (data[0].lngItmNo.split('|')[4] == "2") {
                    $("#txtHiddenKanbanProblem").val("1");
                }
            }
        }

        if (data[0].KanbanType != "Kanban 3") {
            if (data[0].lngItmNo.split('|')[1] == "0") {
                if (data[0].KanbanType == "Kanban 1-2") {
                    getMessageNoMenu("E", "Kanban id = " + data[0].KanbanId + " not receive yet", function () { return });
                    setTimeout(function () {
                        $(".btnEPopup").click();
                        clearRecord();
                    }, 2000);
                } else {
                    getMessageNoMenu("E", "Kanban id = " + data[0].KanbanId + " not picking yet", function () { return });
                    setTimeout(function () {
                        $(".btnEPopup").click();
                        clearRecord();
                    }, 2000);
                }
                return;
            }
        }

        if (data.length > 1) {
            getMessageNoMenu("E", "Kanban id = " + data[0].KanbanId + " more than one record", function () { return });
            setTimeout(function () {
                $(".btnEPopup").click();
                clearRecord();
            }, 2000);

            /*for (var i = 0; i < data.length; i++) {
                if (supp == data[i].strSuppAbr) {
                    if (data[i].strQKPImage == "" || data[i].strQKPImage == null) {
                        QKPImage = defined;
                    } else {
                        QKPImage = pathImg + data[i].strQKPImage;
                    }

                    $("#lbl-Unique").text(data[i].strUnique);
                    $("#lbl-PartNo1").text(data[i].strPartNo.substring(0, 5));
                    $("#lbl-PartNo2").text(data[i].strPartNo.substring(5, 10));
                    $("#lbl-PartNo3").text(data[i].strPartNo.substring(10, 12));
                    $("#lbl-Supplier").text(data[i].strSuppAbr);
                    $("#lbl-PartName").text(data[i].strPartNm);
                    $("#lbl-Rev").text(data[i].lngRevNo);
                    $("#lbl-RevItem").text(data[i].strRevItem);
                    $("#lbl-Admin").text(data[i].strAdmin);
                    $("#lbl-ValidFrom").text(data[i].dtmTCFrom);
                    $("#lbl-ValidTo").text(data[i].dtmTCTo);
                    $("#lbl-ImgKeypoint").attr("src", QKPImage);
                    $("#hidKanbanType").val(data[i].KanbanType);

                    $.ajax({
                        type: 'POST',
                        url: 'CED040600W/getDataGrid1',
                        data: { DiNo: data[i].lngDIno },
                        success: function (result) {
                            $("#tblGrid1 tbody").empty();
                            for (var i = 0; i < result.length; i++) {
                                $("#tblGrid1 > tbody:last").append("<tr><td>" + result[i].strItemCek + "</td><td>" + result[i].strStdValue + "</td><td>" + result[i].strMethode + "</td></tr>");
                            }
                        },
                        error: function (result) {
                            getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            //hideLoading();
                        }
                    });
                }
            }*/
        } else {
            if (data[0].strQKPImage == "" || data[0].strQKPImage == null) {
                QKPImage = defined;
            } else {
                QKPImage = pathImg + data[0].strQKPImage;
            }

            $("#lbl-Unique").text(data[0].strUnique);
            $("#lbl-PartNo1").text(data[0].strPartNo.substring(0, 5));
            $("#lbl-PartNo2").text(data[0].strPartNo.substring(5, 10));
            $("#lbl-PartNo3").text(data[0].strPartNo.substring(10, 12));
            $("#lbl-SuppCode").text(data[0].strSuppCd);
            $("#lbl-Supplier").text(data[0].strSuppAbr)
            $("#lbl-PartName").text(data[0].strPartNm);
            $("#lbl-Rev").text(data[0].lngRevNo);
            $("#lbl-RevItem").text(data[0].strRevItem);
            $("#lbl-Admin").text(data[0].strAdmin);
            $("#lbl-ValidFrom").text(data[0].dtmTCFrom);
            $("#lbl-ValidTo").text(data[0].dtmTCTo);
            $("#lbl-ImgKeypoint").attr("src", QKPImage);
            $("#hidKanbanType").val(data[0].KanbanType);

            if (data[0].ProblemId == null) {
                $("#JudgeDiv").hide();
                $("#ProblemDiv").show();
                $("#lbl-Problem").text("");
            } else {
                $("#JudgeDiv").show();
                $("#ProblemDiv").hide();
                $("#lbl-Problem").text(data[0].ProblemId);
            }

            $.ajax({
                type: 'POST',
                url: 'CED040600W/getDataGrid1',
                data: { DiNo: data[0].lngDIno },
                success: function (result) {
                    $("#tblGrid1 tbody").empty();
                    for (var i = 0; i < result.length; i++) {
                        $("#tblGrid1 > tbody:last").append("<tr><td>" + result[i].strItemCek + "</td><td>" + result[i].strStdValue + "</td><td>" + result[i].strMethode + "</td></tr>");
                    }
                },
                error: function (result) {
                    getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    //hideLoading();
                }
            });
        }
    }

    function clearRecord() {
        CED040600WdoSearch();
        //$("#lbl-Unique").text("");
        //$("#lbl-PartNo1").text("");
        //$("#lbl-PartNo2").text("");
        //$("#lbl-PartNo3").text("");
        //$("#lbl-Supplier").text("");
        //$("#lbl-PartName").text("");
        //$("#lbl-Rev").text("");
        //$("#lbl-RevItem").text("");
        //$("#lbl-Admin").text("");
        //$("#lbl-ValidFrom").text("");
        //$("#lbl-ValidTo").text("");
        //$("#lbl-ImgKeypoint").text("");
        //$("#tdlabelsuppcode").hide();
        //$("#tdselectsuppcode").hide();
        //$("#tblGrid1 tbody").empty();
        //$("#JudgeDiv").hide();
        //$("#ProblemDiv").hide();
        //$("#lbl-Problem").text("");
        //$("#hidKanbanType").val("");
    }

    function comboProcess(obj) {
        //showLoading();
        $.ajax({
            type: 'POST',
            url: 'CED040600W/getData',
            data: { kup: $("#txt-KUPHidden").val() },
            success: function (result) {
                showRecord(result, $(obj).val());
            },
            error: function (result) {
                getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                //hideLoading();
            }
        });
    }

    function finishProcess() {
        var Finish;
        var Finish = confirm("Apakah anda yakin produksi telah usai?");
        if (Finish == true) {
            clearRecord();
            $("#txt-KUPHidden").val("")
            $("#txt-KUP").val("");
            $("#txt-KUP").focus();
        }
    }

    function problemProcess(act) {
        if ($("#txtHiddenKanbanProblem").val() == "1") {
            getMessageNoMenu("E", "Kanban id = " + $("#txt-KUPHidden").val() + " already Boxing, please scan Kanban 3", function () { return });
            setTimeout(function () {
                $(".btnEPopup").click();
                clearRecord();
            }, 2000);
        } else {
            location.href = "CED040800W?kanban=" + $("#txt-KUPHidden").val() + "&type=" + act + "&kanbanType=" + $("#hidKanbanType").val() + "&pos=" + $.cookie("posInput") + "&problemstatus=" + $("#txtHiddenProblem").val();
        }
    }

    function closeProcess() {
        $.ajax({
            type: 'POST',
            url: 'CED040600W/FinishProcess',
            data: { KanbanId: "", StartTime: "", POS: $.cookie("posInput") },
            success: function (result) {
                //for (var it in $.cookie()) $.removeCookie(it);
                delete_cookie("posInput");
                delete_cookie("nameInput");
                delete_cookie("noregInput");
                delete_cookie("postnameInput");
                window.location = "@Html.Toyota().Page.HomeUrl".replace("Home", "Boxing_Login");
                }
            });
        }

        function delete_cookie(name) {
            document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
    </script>
}