﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Prod Date</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txts-ProdDate" class="form-control eView" placeholder="Prod Date" />
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Shutter No</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txts-ShutterNo" class="form-control eView" placeholder="Shutter No" />
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Pos Line</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    @Html.DropDownList("cmbs-PosLine", CommonController.ComboBoxSelectList("0", "POS_LINE", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Part No</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txts-PartNo" class="form-control eView" placeholder="Part No" />
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Unique</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txts-Unique" class="form-control eView" placeholder="Unique" />
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Box No</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txts-BoxNo" class="form-control eView" placeholder="Box No" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Production Type</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    @Html.DropDownList("cmbs-ProdType", CommonController.ComboBoxSelectList("0", "PROD_TYPE", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">P_Lane No / Address</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txts-PLaneAddress" class="form-control eView" placeholder="P_Lane No / Address" />
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    @Html.DropDownList("cmbs-Supplier", CommonController.ComboBoxSelectList("0", "SUPPLIER", null), new { @class = "eView", style = "width:100%" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Case</label>
                <div class="col-xs-8 col-sm-9 col-md-6">
                    <input type="text" id="txts-Case" class="form-control eView" placeholder="Case" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 30px">
        <div class="col-xs-6" style="margin-top: 5px;">
            
        </div>
        <div class="col-xs-6 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010505WdoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED010505WdoClear()">Clear</button>
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div class="row" style="height: 45px">
    <div class="col-xs-12 col-sm-6 text-left">
        
    </div>
    <div class="col-xs-12 col-sm-6 text-right" style="height: 45px;">
        <div class="form-group form-group-xs" style="margin-bottom: 3px;">
            <button id="btnDownload" type="button" class="btn btn-success btn-xs btn-size1" onclick="javascript:CED010505WdoDownload()">Download</button>
        </div>
    </div>
</div>
