﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED010505WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED010505WGrid")
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED010505W";

        $(document).ready(function () {
            CED010505WdoInit();
        });

        CED010505WdoInit = function () {
            initialMode();
            $("#txts-PartNo").focus();
        }

        CED010505WdoClear = function () {
            clearMode();
            CED010505WdoSearchClear();
        }

        CED010505WdoSearchClear = function () {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED010505WSearchNoData")",
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED010505WdoInit();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010505WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010505WSearchData")",
                data: {
                    ProdDate: $("#txts-ProdDate").val(),
                    ShutterNo: $("#txts-ShutterNo").val(),
                    PosLine: $("#cmbs-PosLine").val(),
                    PartNo: $("#txts-PartNo").val(),
                    Unique: $("#txts-Unique").val(),
                    BoxNo: $("#txts-BoxNo").val(),
                    ProdType: $("#cmbs-ProdType").val(),
                    PLaneAddress: $("#txts-PLaneAddress").val(),
                    Supplier: $("#cmbs-Supplier").val(),
                    Case: $("#txts-Case").val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                    $("#txts-PartNo").focus();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010505WdoDownload = function () {
            setMessage('MCEDSTD004C', null, function () {
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("SendParamBatchDownload")",
                    data: {
                        ProdDate: $("#txts-ProdDate").val(),
                        ShutterNo: $("#txts-ShutterNo").val(),
                        PosLine: $("#cmbs-PosLine").val(),
                        PartNo: $("#txts-PartNo").val(),
                        Unique: $("#txts-Unique").val(),
                        BoxNo: $("#txts-BoxNo").val(),
                        ProdType: $("#cmbs-ProdType").val(),
                        PLaneAddress: $("#txts-PLaneAddress").val(),
                        Supplier: $("#cmbs-Supplier").val(),
                        Case: $("#txts-Case").val()
                    },
                    success: function (result) {
                        if (result.result.split("-")[0] == "DONE") {
                            getMessage("I", result.result, function () { return });
                        } else {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        }
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            }
            )
        };
    </script>
}