﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED031501W
@using IPOS.Models.Common
@model GenericModel<CED031501W>
<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: calc(100% - 17px); overflow: hidden;">
                @*<table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">*@
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: initial 1920px auto; max-width: 2560px !important; table-layout: fixed;">
                    <colgroup>
                        <col style="width: 40px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 300px" />
                        <col style="width: 60px" />
                        <col style="width: 100px" />
                        <col style="width: 120px" />
                        <col style="width: 120px" />
                        <col style="width: 80px" />
                        <col style="width: 140px" />
                    </colgroup>
                    <thead>
                        <tr style="height: 35px">
                            <th class="grid-checkbox-col">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )" />
                            </th>
                            <th>Manifest No</th>
                            <th>Order No</th>
                            <th>Supp Plan Code</th>
                            <th>Supp Name</th>
                            <th>Dock</th>
                            <th>Route</th>
                            <th>Route Date</th>
                            <th>Arrival Time</th>
                            <th>Order Qty</th>
                            <th>Completeness Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--if Row Search Criteria More Than 2, Then set Height = 270px Else Height = 300px -->
            <div id="tScrollBody" style="overflow-y: scroll; height: 241px;">
                @*<table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 2050px; max-width: 2250px !important;">*@
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: initial 1920px auto; max-width: 2560px !important; table-layout: fixed;">
                    <colgroup>
                        <col style="width: 40px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 300px" />
                        <col style="width: 60px" />
                        <col style="width: 100px" />
                        <col style="width: 120px" />
                        <col style="width: 120px" />
                        <col style="width: 80px" />
                        <col style="width: 140px" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED031501W item in Model.DataList)
                                    {
                                                <tr id="DataRow" class="tr-grid-detail">
                                                    <td class="text-center grid-checkbox-col">
                                                        <input type="checkbox" id="checkDetail" class="grid-checkbox grid-checkbox-body eView" onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))" value="@item.ManifestNo" />
                                                    </td>
                                                    <td class="text-center"><a href="#" onClick="CED031501WgotoDetail('@System.Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(item.ManifestNo))');return;">@item.ManifestNo</a></td>
                                                    <td class="text-center">@item.OrderNo</td>
                                                    <td class="text-center">@item.SuppCode</td>
                                                    <td class="text-left">@item.SuppName</td>
                                                    <td class="text-center">@item.DockCode</td>
                                                    <td class="text-center">@item.Route</td>
                                                    <td class="text-center">@item.RouteDate</td>
                                                    <td class="text-center">@item.ArrivalTime</td>
                                                    <td class="text-right">@item.OrderQty</td>
                                                    <td class="text-left">@item.CompletenessStatusText</td>
                                                </tr>
                                    }
                                }
                                else
                                {
                            <tr id="noDataRow">
                                <td colspan="27" class="text-center">@Model.MsgNotFound</td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="27">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
                        <button type="button" id="btnsave" class="btn btn-primary btn-xs  eAdd eEdit btn-size1" onclick="javascript:CED031501WdoSave()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });

    @{
//if (Model.DataList != null && Model.DataList.Any())
//{
//    Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
//                    "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
//                    "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

//                    "if(btnEdit.length>0)" +
//                    "$('.hidden-xs').find('[id=btnEdit]').addClass('eView').button('enable');" +
//                    "if(btnDelete.length>0)" +
//                    "$('.hidden-xs').find('[id=btnDelete]').addClass('eView').button('enable');" +
//                    "if(btnDownload.length>0)" +
//                    "$('.hidden-xs').find('[id=btnDownload]').addClass('eView').button('enable');"
//                );
//}
//else
//{
//    Output.Write("var btnEdit = $('.hidden-xs').find('[id=btnEdit]');" +
//                    "var btnDelete = $('.hidden-xs').find('[id=btnDelete]');" +
//                    "var btnDownload = $('.hidden-xs').find('[id=btnDownload]');" +

//                    "if(btnEdit.length>0)" +
//                    "$('.hidden-xs').find('[id=btnEdit]').removeClass('eView');" +
//                    "if(btnDelete.length>0)" +
//                    "$('.hidden-xs').find('[id=btnDelete]').removeClass('eView');" +
//                    "if(btnDownload.length>0)" +
//                    "$('.hidden-xs').find('[id=btnDownload]').removeClass('eView');"
//                );
//}
}
</script>
