﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div>
        <div class="row">
            <div class="col-md-4" style="">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Supplier</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        @Html.DropDownList("cmbs-Supplier", CommonController.ComboBoxSelectList("0", "SUPPLIERWPLANT", null), new { @class = "eView select2multi", style = "width:100%" })
                    </div>
                </div>

                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Arrival Date</label>
                    <div class="col-xs-4 col-sm-4 col-md-4" style="">
                        <div class="input-group date" data-provide="datepicker">
                            <input class="eView form-control mandatory date2 normal-input" id="txts-ArrivalDateFrom" type="text" data-date-format="yyyy-mm-dd" placeholder="From" maxlength="11" style="width: 100%" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                            <span class="input-group-addon" style="cursor: pointer; padding-top: 1px; padding-bottom: 1px; padding-right: 6px; padding-left: 6px;">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" style="">
                        <div class="input-group date" data-provide="datepicker">

                            <input class="eView form-control mandatory date2 normal-input" id="txts-ArrivalDateTo" type="text" data-date-format="yyyy-mm-dd" placeholder="To" maxlength="11" style="width: 100%" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                            <span class="input-group-addon" style="cursor: pointer; padding-top: 1px; padding-bottom: 1px; padding-right: 6px; padding-left: 6px;">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria" style="margin-top: 10px;">
                    <div class="col-xs-8 col-sm-9 col-md-8" style="text-align:right;">
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-4" style="text-align:right;">
                        <button id="btnReceive" type="button" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED031501Wreceive()">Receive</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Dock</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        @Html.DropDownList("cmbs-PhysicalDock", CED031501WController.UserDockMapping("0"), new { @class = "eView select2multi", style = "width:100%" }) @* update (23/01/2024) : dock mapping berdasarkan user login *@
                        @*@Html.DropDownList("cmbs-PhysicalDock", CommonController.ComboBoxSelectList("0", "PHSYCAL_DOCK", null), new { @class = "eView select2multi", style = "width:100%" })*@
                        @*@Html.ListBoxFor("cmbs-PhysicalDock", CommonController.ComboBoxSelectList("1", "PHSYCAL_DOCK", null), new { @class = "eView", style = "width:100%" })*@
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Route Name</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-RouteName" class="form-control eView" placeholder="Route Name" maxlength="200" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Route Cycle</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-RouteCycle" class="form-control eView" placeholder="Route Cycle" maxlength="200" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Delivery No</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-DeliveryNo" class="form-control eView" placeholder="Delivery" maxlength="13" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">    
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Manifest No</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-ManifestNo" class="form-control eView" placeholder="Manifest" maxlength="12" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Part No</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <input type="text" id="txts-PartNo" class="form-control eView" placeholder="Part No" maxlength="15" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Completeness Status</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        @Html.DropDownList("cmbs-CompletenessStatus", CommonController.ComboBoxSelectList("1", "COMPLETENESS_STATUS", null), new { @class = "eView", style = "width:100%" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 30px">
        <div class="col-xs-6" style="margin-top: 5px;">
        </div>
        <div class="col-xs-6 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED031501WdoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED031501WdoClear()">Clear</button>
                <input type="hidden" id="txts-Type" value="Summary" />
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

