﻿@using IPOS.Controllers;

<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-5 col-sm-6 col-md-6 control-label text-muted">*Year</label>
                <select id="selectYear" tabindex="1" class="col-xs-6 col-sm-5 col-md-5 eView">
                    <option selected value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-5 col-sm-5 col-md-5 control-label text-muted">Packing Month</label>
                @Html.DropDownList("selectMonth", CommonController.ComboBoxSelectList("1", "MONTH", null), new { tabindex = "2", style = "color: lightgray", disabled = "true", @class = "col-xs-6 col-sm-6 col-md-6 eView" })
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-5 col-sm-5 col-md-5 control-label text-muted">Packing Plant</label>
                @Html.DropDownList("selectPackingPlant", CommonController.ComboBoxSelectList("1", "PACKING_PLANT", null), new { tabindex = "3", style = "color: lightgray", disabled = "true", @class = "col-xs-6 col-sm-6 col-md-6 eView" })
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <div class="form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010500WdoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript:CED010500WdoClear()">Clear</button>
                <button id="btnUpdate" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010500WdoUpdate()">Update</button>
                <button id="btnCreate" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript:CED010500WdoCreate()">Create</button>
            </div>
        </div>
    </div>
</form>

<div class="col-xs-12 col-sm-6 text-left" style="margin-left: 25px">
    <form id="formUploadFileCalendar" method="POST" action="#" enctype="multipart/form-data">
        <div class="form-group">
            <div class="input-group input-file-Calendar" name="upload">
                <span class="input-group-btn">
                    <button id="btnBrowse" class="btn btn-default btn-xs eView eEdit btn-size1" type="button" onclick="javascript:browseFileNew('Calendar')">Browse</button>
                </span>
                <input type="text" id="txtUploadFileCalendar" class="form-control" placeholder='Choose a file...' style="width: 40%" />
                <span class="input-group-btn" style="float: left">
                    <button id="btnUpload" class="btn btn-warning btn-xs eView eEdit btn-size1" type="button" onclick="javascript: CED010500WdoUploadFile('Calendar')">Upload</button>
                </span>
                <span style="float: left; padding-left: 90px; padding-top: 5px;">
                    <a href="#" onclick="javascript:CED010500WdoDownloadTemplate()">Download Template</a>
                </span>
            </div>
        </div>
    </form>
</div>