﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED010500W
@using IPOS.Models.Common
@model GenericModel<CED010500W>

<div id="grid" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 1295px; width: 100% !important; ">
                    <colgroup>
                        <col width="3%" />
                        <col width="15%" />
                        <col width="10%" />
                        @for (int i = 1; i <= 31; i++)
                        {
                            <col width="2%" />
                        }
                        <col width="10%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th rowspan="2" class="grid-checkbox-col">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript:checkboxAll(this,$('#tblScroll'),'checkDetail' )" />
                            </th>
                            <th rowspan="2">Packing Plant</th>
                            <th rowspan="2">Packing Month</th>
                            <th colspan="31">Date</th>
                            <th rowspan="2">Total Working Day</th>
                        </tr>
                        <tr>
                            @for (int i = 1; i <= 31; i++)
                            {
                                <th>@i</th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBody" style="overflow-y: scroll; height: 270px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 1295px; width: 100% !important; ">
                    <colgroup>
                        <col width="3%" />
                        <col width="15%" />
                        <col width="10%" />
                        @for (int i = 1; i <= 31; i++)
                        {
                            <col width="2%" />
                        }
                        <col width="10%" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED010500W item in Model.DataList)
                                    {
                                        <tr id="DataRow" class="tr-grid-detail">
                                            <td class="text-center grid-checkbox-col">
                                                <input type="checkbox" id="checkDetail" class="grid-checkbox grid-checkbox-body eView" onchange="javascript:checkboxDetail($('#tblScroll'),'checkDetail',$('#tScrollHead #dynamic-table').find('#checkall'))" />
                                            </td>
                                            <td class="text-center">@item.PACKING_PLANT</td>
                                            <td class="text-center">@item.PCK_MTH</td>
                                            <td class="text-center" style="background-color: @((item.WD_1 == "0") ? "grey" : "none")">@item.D_1</td>
                                            <td class="text-center" style="background-color: @((item.WD_2 == "0") ? "grey" : "none")">@item.D_2</td>
                                            <td class="text-center" style="background-color: @((item.WD_3 == "0") ? "grey" : "none")">@item.D_3</td>
                                            <td class="text-center" style="background-color: @((item.WD_4 == "0") ? "grey" : "none")">@item.D_4</td>
                                            <td class="text-center" style="background-color: @((item.WD_5 == "0") ? "grey" : "none")">@item.D_5</td>
                                            <td class="text-center" style="background-color: @((item.WD_6 == "0") ? "grey" : "none")">@item.D_6</td>
                                            <td class="text-center" style="background-color: @((item.WD_7 == "0") ? "grey" : "none")">@item.D_7</td>
                                            <td class="text-center" style="background-color: @((item.WD_8 == "0") ? "grey" : "none")">@item.D_8</td>
                                            <td class="text-center" style="background-color: @((item.WD_9 == "0") ? "grey" : "none")">@item.D_9</td>
                                            <td class="text-center" style="background-color: @((item.WD_10 == "0") ? "grey" : "none")">@item.D_10</td>
                                            <td class="text-center" style="background-color: @((item.WD_11 == "0") ? "grey" : "none")">@item.D_11</td>
                                            <td class="text-center" style="background-color: @((item.WD_12 == "0") ? "grey" : "none")">@item.D_12</td>
                                            <td class="text-center" style="background-color: @((item.WD_13 == "0") ? "grey" : "none")">@item.D_13</td>
                                            <td class="text-center" style="background-color: @((item.WD_14 == "0") ? "grey" : "none")">@item.D_14</td>
                                            <td class="text-center" style="background-color: @((item.WD_15 == "0") ? "grey" : "none")">@item.D_15</td>
                                            <td class="text-center" style="background-color: @((item.WD_16 == "0") ? "grey" : "none")">@item.D_16</td>
                                            <td class="text-center" style="background-color: @((item.WD_17 == "0") ? "grey" : "none")">@item.D_17</td>
                                            <td class="text-center" style="background-color: @((item.WD_18 == "0") ? "grey" : "none")">@item.D_18</td>
                                            <td class="text-center" style="background-color: @((item.WD_19 == "0") ? "grey" : "none")">@item.D_19</td>
                                            <td class="text-center" style="background-color: @((item.WD_20 == "0") ? "grey" : "none")">@item.D_20</td>
                                            <td class="text-center" style="background-color: @((item.WD_21 == "0") ? "grey" : "none")">@item.D_21</td>
                                            <td class="text-center" style="background-color: @((item.WD_22 == "0") ? "grey" : "none")">@item.D_22</td>
                                            <td class="text-center" style="background-color: @((item.WD_23 == "0") ? "grey" : "none")">@item.D_23</td>
                                            <td class="text-center" style="background-color: @((item.WD_24 == "0") ? "grey" : "none")">@item.D_24</td>
                                            <td class="text-center" style="background-color: @((item.WD_25 == "0") ? "grey" : "none")">@item.D_25</td>
                                            <td class="text-center" style="background-color: @((item.WD_26 == "0") ? "grey" : "none")">@item.D_26</td>
                                            <td class="text-center" style="background-color: @((item.WD_27 == "0") ? "grey" : "none")">@item.D_27</td>
                                            <td class="text-center" style="background-color: @((item.WD_28 == "0") ? "grey" : "none")">@item.D_28</td>

                                            @if (!String.IsNullOrEmpty(item.D_29))
                                            {
                                                <td class="text-center" style="background-color: @((item.WD_29 == "0") ? "grey" : "none")">@item.D_29</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">-</td>
                                            }

                                            @if (!String.IsNullOrEmpty(item.D_30))
                                            {
                                                <td class="text-center" style="background-color: @((item.WD_30 == "0") ? "grey" : "none")">@item.D_30</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">-</td>
                                            }

                                            @if (!String.IsNullOrEmpty(item.D_31))
                                            {
                                                <td class="text-center" style="background-color: @((item.WD_31 == "0") ? "grey" : "none")">@item.D_31</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">-</td>
                                            }

                                            <td class="text-center">@item.TOTAL_WORKING_DAY</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="noDataRow">
                                        <td colspan="35" class="text-center">@Model.MsgNotFound</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="col-xs-12" style="height: 30px;">
                                    @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });
</script>