﻿@using IPOS.Controllers.Constants
@using IPOS.Controllers;
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED010500WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED010500WGrid")
    </div>
</div>

<!-- Detail Popup -->
<div class="modal fade" id="update-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="width: 30%; margin-top: 10%;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="hidden-xs">
                    <div class="container-fluid">
                        <form role="form" class="form-horizontal _criteria">
                            <div>
                                <div class="form-group form-group-xs _criteria">
                                    <div class="col-md-1"></div>
                                    <label class="col-xs-12 col-sm-12 col-md-3 text-left text-muted">*Date</label>
                                    <div class="input-group date col-xs-12 col-sm-12 col-md-7" data-provide="datepicker">
                                        <input class="form-control date-picker normal-input col-12 eView" id="inputDate" type="text" data-date-format="yyyy-mm-dd" />
                                        <span class="input-group-addon" style="cursor: pointer;">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    <div class="col-md-1"></div>
                                    <label class="col-xs-12 col-sm-12 col-md-3 text-left text-muted">*Shift</label>
                                    <select id="inputShift" class="col-xs-12 col-sm-12 col-md-7 eView">
                                        <option selected value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    <div class="col-md-1"></div>
                                    <label class="col-xs-12 col-sm-12 col-md-3 text-left text-muted">*Plant</label>
                                    @Html.DropDownList("inputPlant", CommonController.ComboBoxSelectList("1", "PACKING_PLANT", null), new { tabindex = "3", style = "color: lightgray", disabled = "true", @class = "col-xs-12 col-sm-12 col-md-7 eView" })
                                </div>
                                <div class="form-group form-group-xs _criteria">
                                    <div class="col-md-1"></div>
                                    <label class="col-xs-12 col-sm-12 col-md-3 text-left text-muted align-top">*Status</label>
                                    <div class="form-check col-xs-5 col-sm-5 col-md-3 align-bottom">
                                        <input class="form-check-input eView" type="radio" name="statusOption" id="inputHoliday">
                                        <label class="form-check-label" for="inputHoliday">Holiday</label>
                                    </div>
                                    <div class="form-check col-xs-7 col-sm-7 col-md-4 align-bottom">
                                        <input class="form-check-input eView" type="radio" name="statusOption" id="inputWorkingDay" checked="checked">
                                        <label class="form-check-label" for="inputWorkingDay">Working Day</label>
                                    </div>
                                </div>
                            </div>

                            <!-- button -->
                            <div class="row" style="text-align: center;">
                                <button id="btnAddZone" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED010500WdoSave()">Save</button>
                                <button id="btnackZone" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: $('#update-popup-modal').modal('hide');">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED010500W";

        $(document).ready(function () {
            CED010500WdoInit();
        });

        CED010500WdoInit = function () {
            initialMode();
        }

        CED010500WdoClear = function () {
            clearMode();
            CED010500WdoSearchClear();
        }

        CED010500WdoSearchClear = function () {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED010500WSearchNoData")",
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED010500WdoInit();
                    console.log('halo')
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010500WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010500WSearchData")",
                data: {
                    Year: $("#selectYear").val(),
                    Month: $("#selectMonth").val(),
                    PackingPlant: $('#selectPackingPlant').val(),
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    //Pop Up Message for success or error validation
                    $('#tablegrid').html(result);
                    searchMode();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010500WdoUpdate = function () {
            $('#update-popup-modal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        CED010500WdoSave = function () {
            //Pop Up Message
            setMessage('MCEDSTD001C', null, function () {
                var mode = $('#mode').val();
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("CED010500WSaveData")",
                    data: {
                        PACKING_PLANT: $('#inputPlant').val(),
                        DATE: $('#inputDate').val(),
                        WORKING_DAY: $('#inputWorkingDay').prop("checked") ? '1' : '0',
                        SHIFT: $('#inputShift').val()
                    },
                    //beforeSubmit: showLoading(),
                    success: function (result) {
                        //Pop Up Message
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                            if (result.MSG_TYPE != 'E') {
                                afterSave();
                                CED010500WdoSearch();
                                $('#update-popup-modal').modal('hide')
                            }
                        });
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });
        }

        CED010500WdoCreate = function () {
            setMessage('MCEDSTD007C', null, function () {
                var mode = $('#mode').val();
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("CED010500WCreateCalendar")",
                    data: null,
                    success: function (result) {
                        //Pop Up Message
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { });
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });
        }

        CED010500WdoDownloadTemplate = function () {
            getTemplate('CED010500W');
        }

        function browseFileNew(templateName) {
            $(".input-file-" + templateName).before(
                function () {
                    if ($(".input-file-" + templateName).prev().hasClass('input-ghost')) {
                        $(".input-file-" + templateName).prev().remove();
                    }
                    var element = $("<input type='file' accept='.xls,.xlsx' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    element.click();
                    return element;
                }
            );
        }

        function checkValidFile() {
            var isValid = false;
            var allowedExtension = ['xls', 'xlsx'];
            var fileName = $('#txtUploadFileCalendar').val();
            var fileExtension = fileName.split('.').pop().toLowerCase();

            // No uploaded file
            if (fileName == '') {
                setMessage('MCEDSTD061E', null, null);
                return isValid;
            }

            // Check file extension
            for (var index in allowedExtension)
                if (fileExtension === allowedExtension[index])
                    isValid = true;

            // File extension not allowed
            if (!isValid)
                setMessage('MCEDSTD062E', 'Upload;.xls or .xlsx', null);

            return isValid;
        }

        CED010500WdoUploadFile = function (templateName) {
            if (checkValidFile()) {
                setMessage('MCEDSTD007C', null, function () {
                    var dataForm = new FormData($('#formUploadFile' + templateName)[0]);
                    showLoading();
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: "@Html.Toyota().Page.GetActionUrl("UploadFile")",
                        data: dataForm,
                        processData: false, //Important!
                        contentType: false,
                        cache: false,
                        //beforeSubmit: showLoading(),
                        success: function (result) {
                            if (result.fileName != "" && result.fileName != undefined)
                                CED010500WdoProcessUpload(result.fileName);
                            else
                                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            //hideLoading();
                            $("#txtUploadFileCalendar").val("");
                        }
                    });
                })
            }
        }

        CED010500WdoProcessUpload = function (fileName) {
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010500WUpload")",
                data: {
                    filename: fileName
                },
                success: function (result) {
                    hideLoading();
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { });
                    $('.input-ghost').val(null);
                    $(".input-file").find('input').val('');
                    CED010500WdoClear();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                }
            });
        }
    </script>