﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED040800W
@using IPOS.Models.Common
@{
    List<CED040800W> retrieveData = (List<CED040800W>)ViewData["RetriveData"];
    var ProblemId = "";
    var MainDefect = "";
    var SubDefect = "";
    var UniqueNo = "";
    var PartNo = "";
    var PartName = "";
    var Supplier = "";
    var SupplierAbbr = "";
    var TotalKanban = "";
    var TotalPcs = "";
    var ImgProblem1 = "";
    var ImgProblem2 = "";
    var LastChangeDate = "";
    if (retrieveData != null)
    {
        foreach (CED040800W item in retrieveData)
        {
            ProblemId = item.ProblemId;
            MainDefect = item.MainDefect;
            SubDefect = item.SubDefect;
            UniqueNo = item.UniqueNo;
            PartNo = item.PartNo;
            PartName = item.PartName;
            Supplier = item.Supplier.Split('|')[0];
            SupplierAbbr = item.Supplier.Split('|')[1];
            TotalKanban = item.TotalKanban;
            TotalPcs = item.TotalPcs;
            ImgProblem1 = item.ImgProblem1;
            ImgProblem2 = item.ImgProblem2;
            LastChangeDate = item.LastChangeDate;
        }
    }
    //var PathImgServer1 = ViewBag.PathImageServer + ImgProblem1;
    //var PathImgServer2 = ViewBag.PathImageServer + ImgProblem2;
    var PathImgServer1 = ImgProblem1;
    var PathImgServer2 = ImgProblem2;
    var PartNo1 = "";
    var PartNo2 = "";
    var PartNo3 = "";
    if (PartNo.Length >= 12)
    {
        PartNo1 = PartNo.Substring(0, 5);
        PartNo2 = PartNo.Substring(5, 5);
        PartNo3 = PartNo.Substring(10, 2);
    }
}

<script src="@Url.Content("~/Content/blueTheme/javascripts/jquery.ui.widget.js")"></script>
<script src="@Url.Content("~/Content/blueTheme/javascripts/jquery.fileupload.js")"></script>

<style>
    .fontbigstyle {
        text-align: center; 
        vertical-align: middle; 
        font-size: 4em; 
        font-weight: bold;
    }

    table thead tr th {
        padding: 1px;
        font-size: 12px;
    }

    table tbody tr td {
        padding: 1px;
        font-size: 12px;
    }

    div.panel2 {
        padding: 5px;
        margin-top: 0;
        font-size: 12px;
    }

    /*table {
        margin-bottom: 2px;
    }*/
</style>

<div class="row">
    <div class="twelve columns"></div>
</div>

<div class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="twelve columns" style="text-align: right">
                <button id="btnAddKanban" type="button" class="button alert" disabled onclick="addKanbanDetail()">ADD KANBAN</button>
                <button id="btnIssue" type="button" class="button alert" disabled onclick="issueProcess()">ISSUE</button>
                <button id="btnClose" type="button" class="button secondary" onclick="closeBtn()">BACK</button>
                <input type="hidden" id="hidLastChangeDate" value="@LastChangeDate" />
                <input type="hidden" id="hidLastUserName" value="" />
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th width="20%">PROBLEM ID</th>
                            <th width="30%">MAIN-DEFECT</th>
                            <th width="30%">SUB-DEFECT</th>
                            <th>JUDGE PROBLEM</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="text-align: center; vertical-align: middle; font-weight: bold; font-size: large"><span id="lbl-ProblemId">@ProblemId</span></td>
                        <td>
                            <select id="cb-MainDefect" onchange='BindSubDefect(1)' style="height: 30px"></select>
                            <input type="hidden" id="hid-MainDefect" value="@MainDefect" />
                        </td>
                        <td>
                            <select id="cb-SubDefect" style="height: 30px"></select>
                            <input type="hidden" id="hid-SubDefect" value="@SubDefect" />
                        </td>
                        <td class="judgeDiv">
                            <table border="0" cellpadding="5" cellspacing="1" width="100%">
                                <tr>
                                    <td id="tdgreen">
                                        <input type="radio" name="optradio" value="1" onclick="checkValidate(this)" /> ACCEPT
                                    </td>
                                    <td id="tdred">
                                        <input type="radio" name="optradio" value="0" onclick="checkValidate(this)" /> REJECT
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th>UNIQUE</th>
                            <th colspan="3" width="45%">PART NO</th>
                            <th>SUPPLIER</th>
                            <th colspan="2">TOTAL</th>
                        </tr>
                    </thead>
                    <tr>
                        <td height="75px" width="150px" style="text-align: center; vertical-align: middle" class="fontbigstyle"><span id="lbl-Unique">@UniqueNo</span></td>
                        <td width="200px" style="text-align: center; vertical-align: middle" class="fontbigstyle"><span id="lbl-PartNo1">@PartNo1</span></td>
                        <td width="200px" style="text-align: center; vertical-align: middle"class="fontbigstyle"><span id="lbl-PartNo2">@PartNo2</span></td>
                        <td width="100px" style="text-align: center; vertical-align: middle" class="fontbigstyle"><span id="lbl-PartNo3">@PartNo3</span></td>
                        <td width="250px" style="text-align: center; vertical-align: middle"class="fontbigstyle"><span id="lbl-Supplier">@Supplier</span></td>
                        <td style="text-align: center; vertical-align: middle" class="fontbigstyle"><span id="lbl-Total1">@TotalKanban</span></td>
                        <td style="text-align: center; vertical-align: middle" class="fontbigstyle"><span id="lbl-Satuan1">Kbn</span></td>
                    </tr>
                    <tr>
                        <td colspan="4" align="left" style="height: 32px; vertical-align: middle; font-size: 1.5em;"><b><span id="lbl-PartName">@PartName</span></b></td>
                        <td style="text-align: center; vertical-align: middle"><span id="lbl-suppliercd" style="font-size: 1.5em; font-weight: bold">@SupplierAbbr</span></td>
                        <td style="text-align: center; vertical-align: middle"><span id="lbl-Total2" style="font-size: 1.5em; font-weight: bold">@TotalPcs</span></td>
                        <td style="text-align: center; vertical-align: middle"><span id="lbl-Satuan2" style="font-size: 1.5em; font-weight: bold">Pcs</span></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="four columns" style="padding-right: 1px">
                <div class="panel2">PROBLEM IMAGE 1</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <tr>
                        <td style="height: 240px">
                            @if (ImgProblem1 != "" && ImgProblem1 != null)
                            {
                                <img id="img-Problem1" style="width: 100%; height: 100%" src="@PathImgServer1" data-imagezoom="true" />
                            } 
                            else 
                            {
                                <img id="img-Problem1" style="width: 100%; height: 100%" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" id="fileUploadProblem1" accept="image/*" />
                            <div class="file_nameProblem1" style="display: none"></div>
                        </td>
                    </tr>
                </table>

                <div class="panel2">PROBLEM IMAGE 2</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <tr>
                        <td style="height: 240px">
                            @if (ImgProblem2 != "" && ImgProblem2 != null)
                            {
                                <img id="img-Problem2" style="width: 100%; height: 100%" src="@PathImgServer2" data-imagezoom="true"/>
                            }
                            else
                            {
                                <img id="img-Problem2" style="width: 100%; height: 100%" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" id="fileUploadProblem2" accept="image/*" />
                            <div class="file_nameProblem2" style="display: none"></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="eight columns" style="padding-left: 1px">
                <div class="panel2">DETAIL KANBAN PROBLEM</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Kanban Id</th>
                            <th>Qty</th>
                            <th>Last Position</th>
                            <th>Line</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="gridDetail">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detail-popup-modal-kanban" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 30%; margin-top: 1%" role="document">
        <div class="modal-content" style="background-color: #1e4271">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="modal-title" style="color: yellow">DETAIL KANBAN PROBLEM</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="height: 500px; overflow-x: hidden; overflow-y: scroll">
                <div class="row" style="min-width: 10%; max-width: 100%">
                    <div class="twelve columns">
                        <input type="text" id="txt-KUP" class="form-control eView bgblack" placeholder="BARCODE" onkeypress="return searchKeyPress(event)" style="text-align: center;display: inline;"  autofocus/>
                        <br />
                        <table border="0" cellpadding="5" cellspacing="1" width="100%" id="listKanbanPopup">

                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnBack" type="reset" class="button secondary" data-dismiss="modal">Back</button>
                <button id="btnSubmit" type="reset" class="button primary" onclick="submitKanban()">Submit</button>
            </div>
        </div>
    </div>
</div>