﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayoutNoMenuTheme1024;
}

@section HeadScript{
}

<div id="tablegrid">
    @Html.Partial("CED040800WGrid")
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED040800W";

        $(document).ready(function () {
            CED040800WdoInit();

            $('#fileUploadProblem1').fileupload({
                dataType: 'json',
                url: 'CED040800W/UploadImageProblem',
                autoUpload: true,
                done: function (e, data) {
                    $('.file_nameProblem1').html(data.result);
                    $("#img-Problem1").attr("src", "/UploadTemp/ImgProblem/" + data.result);
                }
            }).on('fileuploadprogressall', function (e, data) { });

            $('#fileUploadProblem2').fileupload({
                dataType: 'json',
                url: 'CED040800W/UploadImageProblem',
                autoUpload: true,
                done: function (e, data) {
                    $('.file_nameProblem2').html(data.result);
                    $("#img-Problem2").attr("src", "/UploadTemp/ImgProblem/" + data.result);
                }
            }).on('fileuploadprogressall', function (e, data) { });
        });

        CED040800WdoInit = function () {
            initialMode();
            CED040800WdoSearch();
        }

        $(document).click(function () {
            if ($('#detail-popup-modal-kanban').is(':visible')) {
                $("#txt-KUP").focus();
            }
        });

        CED040800WdoSearch = function () {
            $.ajax({
                type: 'POST',
                url: 'CED040800W/getDataGrid',
                data: { kanbanId: getParameterByName('kanban') },
                success: function (result) {
                    $("#gridDetail").empty();
                    var html = "";

                    if (result.length > 0) {
                        $("#hidLastUserName").val(result[0].UserName);
                        $("#lbl-Total1").text(result.length);
                        for (var i = 0; i < result.length; i++) {
                            if (i > 0) {
                                html += '<tr>'
                                + '<td style="text-align: center"><span class="cNo">' + result[i].No + '</span></td>'
                                + '<td style="text-align: center"><span class="cKanban">' + result[i].KanbanId + '</span></td>'
                                + '<td style="text-align: center" id="qty' + result[i].No + '" align="center"><span class="cQty" id="lbl-qty' + result[i].No + '">' + result[i].Qty.split('|')[0] + '</span></td>'
                                + '<td style="text-align: center"><span class="cLastPosition">' + result[i].LastPosition + '</span></td>'
                                + '<td style="text-align: center"><span class="cLine">' + result[i].Line + '</span></td>'
                                + '<td class="hiddenEdit" style="text-align: center">'
                                    + '<img src="@Url.Content("~/Content/blueTheme/images/ok.png")" id="saveDetail' + result[i].No + '" onclick="saveDetailKanban(' + result[i].No + ')" style="display: none; cursor: pointer" width="30px">'
                                + '<img src="@Url.Content("~/Content/blueTheme/images/edit.png")" id="editDetail' + result[i].No + '" onclick="editDetailKanban(' + result[i].No + ')" width="30px" style="cursor: pointer">'
                                + '<img src="@Url.Content("~/Content/blueTheme/images/remove.png")" id="removeDetail' + result[i].No + '" width="30px" onClick="$(this).closest(\'tr\').remove(); reCalculateQty();" style="cursor: pointer">'
                            + '</td>'
                            + '<td style="text-align: right;display:none;" id="maxqty' + result[i].No + '" align="center"><span class="cMaxQty" id="lbl-maxqty' + result[i].No + '">' + result[i].Qty.split('|')[1] + '</span></td>'
                            //+ '<td style="text-align: center" class="hidden"><span class="cUserName">' + result[i].UserName + '</span></td>'
                        + '</tr>';
                            } else {
                                html += '<tr>'
                                + '<td style="text-align: center"><span class="cNo">' + result[i].No + '</span></td>'
                                + '<td style="text-align: center"><span class="cKanban">' + result[i].KanbanId + '</span></td>'
                                + '<td style="text-align: center" id="qty' + result[i].No + '" align="center"><span class="cQty" id="lbl-qty' + result[i].No + '">' + result[i].Qty.split('|')[0] + '</span></td>'
                                + '<td style="text-align: center"><span class="cLastPosition">' + result[i].LastPosition + '</span></td>'
                                + '<td style="text-align: center"><span class="cLine">' + result[i].Line + '</span></td>'
                                + '<td class="hiddenEdit" style="text-align: center">'
                                    + '<img src="@Url.Content("~/Content/blueTheme/images/ok.png")" id="saveDetail' + result[i].No + '" onclick="saveDetailKanban(' + result[i].No + ')" style="display: none; cursor: pointer" width="30px">'
                                    + '<img src="@Url.Content("~/Content/blueTheme/images/edit.png")" id="editDetail' + result[i].No + '" onclick="editDetailKanban(' + result[i].No + ')" width="30px" style="cursor: pointer">'
                                    + '<img src="@Url.Content("~/Content/blueTheme/images/remove.png")" id="removeDetail' + result[i].No + '" style="display: none" width="30px" onClick="$(this).closest(\'tr\').remove(); reCalculateQty();" style="cursor: pointer">'
                                + '</td>'
                                + '<td style="text-align: right;display:none;" id="maxqty' + result[i].No + '" align="center"><span class="cMaxQty" id="lbl-maxqty' + result[i].No + '">' + result[i].Qty.split('|')[1] + '</span></td>'
                                //+ '<td style="text-align: center" class="hidden"><span class="cUserName">' + result[i].UserName + '</span></td>'
                            + '</tr>';
                            }
                            //$("#lbl-Total2").text(parseInt($("#lbl-Total2").text()) + parseInt(result[i].Qty.split('|')[0]));
                        }
                    } else {
                        $("#lbl-Total1").text("1");
                        $("#hidLastUserName").val("Tvest.Admin");
                        html += '<tr>'
                            + '<td style="text-align: center"><span class="cNo">1</span></td>'
                            + '<td style="text-align: center"><span class="cKanban">' + getParameterByName('kanban') + '</span></td>'
                            + '<td style="text-align: center" id="qty1" align="center"><span class="cQty" id="lbl-qty1">1</span></td>'
                            + '<td style="text-align: center"><span class="cLastPosition">-</span></td>'
                            + '<td style="text-align: center"><span class="cLine">-</span></td>'
                            + '<td class="hiddenEdit" style="text-align: center">'
                                + '<img src="@Url.Content("~/Content/blueTheme/images/ok.png")" id="saveDetail1" onclick="saveDetailKanban(1)" style="display: none; cursor: pointer" width="30px">'
                                + '<img src="@Url.Content("~/Content/blueTheme/images/edit.png")" id="editDetail1" onclick="editDetailKanban(1)" width="30px" style="cursor: pointer">'
                            + '</td>'
                            //+ '<td style="text-align: center" class="hidden"><span class="cUserName">TvestAdmin</span></td>'
                        + '</tr>';
                        $("#lbl-Total2").text("1");
                    }

                    $("#gridDetail").append(html);

                    reCalculateQty();

                    BindDefect();

                    //var paramQuery = ['TB_R_PROBLEM_H', 'INITIAL_PART_BARCODE = \'' + getParameterByName('kanban') + '\' AND PROBLEM_ID = \'' + $('#lbl-ProblemId').text() + '\' AND PROBLEM_STS = 3 '];
                    //var exist = checkExistCED071300W(paramQuery);
                    //if (exist) {
                    if (getParameterByName('problemstatus') == "3") {
                        BindSubDefect(0);
                        document.getElementsByName("optradio")[0].disabled = true;
                        document.getElementsByName("optradio")[1].disabled = true;
                        $("#btnAddKanban").prop("disabled", true);
                        $("#btnIssue").prop("disabled", true);
                        $('.hiddenEdit').attr("style", "display:none");
                    }
                    else if (getParameterByName('problemstatus') == "2") {
                        BindSubDefect(0);
                        document.getElementsByName("optradio")[0].disabled = true;
                        document.getElementsByName("optradio")[1].disabled = true;
                        $("#btnAddKanban").prop("disabled", false);
                        $("#btnIssue").prop("disabled", false);
                        $("#cb-MainDefect").prop("disabled", false);
                        $("#cb-SubDefect").prop("disabled", false);
                    } else {
                        var type = getParameterByName('type');
                        if (type == "judge") {
                            $(".judgeDiv").show();
                            BindSubDefect(0);
                        } else {
                            $("#lbl-ProblemId").text("");
                            $("#cb-MainDefect").val("");
                            $("#hid-MainDefect").val("");
                            $("#hid-SubDefect").val("");
                            document.getElementsByName("optradio")[0].disabled = true;
                            document.getElementsByName("optradio")[1].disabled = true;
                            //$(".judgeDiv").hide();
                        }
                    }
                },
                error: function (result) {
                    getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    ////hideLoading();
                }
            });
        }

        $('input[name="optradio"]').change(function () {
            if (this.value == "1") {
                $("#tdgreen").attr("style", "background-color: green;color: white");
                $("#tdred").attr("style", "");
            } else {
                $("#tdgreen").attr("style", "");
                $("#tdred").attr("style", "background-color: red;color: white");
            }

        });

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function checkValidate(obj) {
        if (getParameterByName('problemstatus') != '2') {
            if ($(obj).attr("value") == "1") {
                $("#btnIssue").prop("disabled", false);
                $("#btnAddKanban").prop("disabled", false);
                $("#cb-MainDefect").prop("disabled", false);
                $("#cb-SubDefect").prop("disabled", false);
            } else {
                $("#btnIssue").prop("disabled", true);
                $("#btnAddKanban").prop("disabled", true);
                $("#cb-MainDefect").prop("disabled", true);
                $("#cb-SubDefect").prop("disabled", true);
                getMessageNoMenu("C", "Are you sure you want to reject Problem ID " + $("#lbl-ProblemId").text() + " ?", function () {
                    $.ajax({
                        type: 'POST',
                        url: 'CED040800W/ProcessReject',
                        data: { problemId: $("#lbl-ProblemId").text() },
                        success: function (result) {
                            getMessageNoMenu("I", "Reject process for Problem Id " + $("#lbl-ProblemId").text() + "  is finished successfully", function () { closeBtn(); }); //location.href = "CED040600W"
                        },
                        error: function (result) {
                            getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            ////hideLoading();
                        }
                    });
                });
            }
        }
    }

    function BindDefect() {
        $.ajax({
            type: 'POST',
            url: 'CED040800W/getDataDefect',
            data: null,
            success: function (result) {
                $("#cb-MainDefect").empty();
                var html = "";
                html += "<option value=''></option>";
                for (var i = 0; i < result.length; i++) {
                    if ($("#hid-MainDefect").val() == result[i].DEFECT_CD) {
                        html += "<option selected value='" + result[i].DEFECT_CD + "'>" + result[i].DEFECT_CD + " - " + result[i].DEFECT_NM + "</option>";
                    } else {
                        html += "<option value='" + result[i].DEFECT_CD + "'>" + result[i].DEFECT_CD + " - " + result[i].DEFECT_NM + "</option>";
                    }
                }
                $("#cb-MainDefect").append(html);
                var type = getParameterByName('type');
                if (type == "judge" && getParameterByName('problemstatus') != "2") {
                    $("#cb-MainDefect").prop('disabled', true);
                    $("#cb-SubDefect").prop('disabled', true);
                }
            },
            error: function (result) {
                getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                ////hideLoading();
            }
        });
    }

    function issueProcess() {
        var msgConfirm = "";
        if ($("#lbl-ProblemId").text() == "") {
            msgConfirm = "Are you sure you want to Issue ?";
        } else {
            msgConfirm = "Are you sure you want to Issue Problem ID " + $("#lbl-ProblemId").text() + " ?";
        }
        getMessageNoMenu("C", msgConfirm, function () {
            $.ajax({
                type: 'POST',
                url: 'CED040800W/ProcessIssue',
                data: {
                    problemId: $("#lbl-ProblemId").text(),
                    mainDefect: $("#cb-MainDefect").val(),
                    subDefect: $("#cb-SubDefect").val(),
                    kanbanId: getParameterByName('kanban'),
                    problemImg1: $(".file_nameProblem1").html(),
                    problemImg2: $(".file_nameProblem2").html(),
                    type: getParameterByName('type'),
                    kanbanType: getParameterByName('kanbanType'),
                    lastChangeDate: $("#hidLastChangeDate").val(),
                    pos: getParameterByName('pos')
                },
                success: function (result) {
                    if (result.MSG_TXT.split("|")[0] == "Concurrency") {
                        getMessageNoMenu("E", "Error in Edit because of concurrency check.", function () { return });
                        return;
                    }
                    var problem = result.MSG_TXT.split("|")[1];
                    var listDetail = [];
                    $('#gridDetail tr').each(function () {
                        listDetail.push({
                            ProblemId: problem,
                            KanbanId: $(".cKanban", $(this)).text(),
                            Qty: $(".cQty", $(this)).text(),
                            LastPosition: $(".cLastPosition", $(this)).text(),
                            Line: $(".cLine", $(this)).text(),
                            UserName: getParameterByName('pos') + '|' + $.cookie("noregInput"), //$("#hidLastUserName").val(),
                        });
                    });
                    var dataDetail = JSON.stringify({ 'list': listDetail });
                    $.ajax({
                        contentType: 'application/JSON; charset=utf-8',
                        type: 'POST',
                        url: 'CED040800W/ProcessIssueDetail',
                        data: dataDetail,
                        success: function (result) {
                            if (result.MSG_TXT != "Not Found") {
                                getMessageNoMenu("I", "Issue process for Problem Id " + ($("#lbl-ProblemId").text() == "" ? problem : $("#lbl-ProblemId").text()) + " is finished successfully", function () { closeBtn(); }); //location.href = "CED040600W"
                            }
                        },
                        error: function (result) {
                            getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            //hideLoading();
                        }
                    });
                },
                error: function (result) {
                    getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    ////hideLoading();
                }
            });
        });
    }

    function BindSubDefect(cat) {
        if (getParameterByName("type") == "problem") {
            $("#btnAddKanban").prop("disabled", false);
            $("#btnIssue").prop("disabled", false);
        }

        if (cat == 0) {
            defectcd = $("#hid-MainDefect").val();
        } else {
            defectcd = $("#cb-MainDefect").val();
            $("#hid-SubDefect").val("");
        }

        $.ajax({
            type: 'POST',
            url: 'CED040800W/getDataSubDefect',
            data: { defectcd: defectcd },
            success: function (result) {
                $("#cb-SubDefect").empty();
                var html = "";
                for (var i = 0; i < result.length; i++) {
                    if ($("#hid-SubDefect").val() == result[i].SUB_DEFECT_CD) {
                        html += "<option selected value='" + result[i].SUB_DEFECT_CD + "'>" + result[i].DEFECT_CD + "-" + result[i].SUB_DEFECT_CD + " - " + result[i].SUB_DEFECT_NM + "</option>";
                    } else {
                        html += "<option value='" + result[i].SUB_DEFECT_CD + "'>" + result[i].DEFECT_CD + "-" + result[i].SUB_DEFECT_CD + " - " + result[i].SUB_DEFECT_NM + "</option>";
                    }
                }
                $("#cb-SubDefect").append(html);
            },
            error: function (result) {
                getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                ////hideLoading();
            }
        });
    }

    function editDetailKanban(id) {
        val = $("#lbl-qty" + id).text();
        $("#qty" + id).html("<input type='text' id='txt-qty" + id + "' class='form-control right' style='width: 75px;text-align:center' value='" + val + "' onkeypress='return isNumberKey(event)'>");
        $("#saveDetail" + id).show();
        $("#editDetail" + id).hide();
    }

    function saveDetailKanban(id) {
        val = $("#txt-qty" + id).val()

        if (parseInt(val) == 0) {
            getMessageNoMenu("E", "Qty should not be 0", function () { return });
            setTimeout(function () {
                $(".btnEPopup").click();
                clearRecord();
            }, 2000);
            return;
        }

        if (parseInt(val) > parseInt(parseInt($("#lbl-maxqty" + id).text()))) {
            getMessageNoMenu("E", "Qty should not be greater than Pcs Per Kanban", function () { return });
            setTimeout(function () {
                $(".btnEPopup").click();
                clearRecord();
            }, 2000);
            return;
        }

        $("#qty" + id).html("<span class='cQty' id='lbl-qty" + id + "'>" + val + "</span>");
        $("#saveDetail" + id).hide();
        $("#editDetail" + id).show();
        reCalculateQty();
    }

    $("#detail-popup-modal-kanban").on('show.bs.modal', function () {
        setTimeout(function () {
            $('#txt-KUP').focus();
        }, 500);
    });

    function addKanbanDetail() {
        var partNo = $("#lbl-PartNo1").text() + $("#lbl-PartNo2").text() + $("#lbl-PartNo3").text();
        $('#detail-popup-modal-kanban').modal({
            backdrop: 'static',
            keyboard: false
        });

        //$.ajax({
        //    type: 'POST',
        //    url: 'CED040800W/getListKanban',
        //    data: { partNo: partNo },
        //    success: function (result) {
        //        $("#listKanbanPopup").empty();
        //        var html = "";
        //        for (var i = 0; i < result.length; i++) {
        //            html += '<tr><td class="borderpopup" style="cursor: pointer; font-size: 12px" onclick="addKanban(this)" value="' + result[i].KanbanId + '">' + result[i].KanbanId + '</td></tr>';
        //        }
        //        $("#listKanbanPopup").append(html);
        //        $('#detail-popup-modal-kanban').modal({
        //            backdrop: 'static',
        //            keyboard: false
        //        });
        //        $('#txt-KUP').focus();
        //    },
        //    error: function (result) {
        //        getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
        //    },
        //    complete: function (result) {
        //        ////hideLoading();
        //    }
        //});
    }
    var countKanban = 0;
    function searchKeyPress(e) {
        e = e || window.event;
        if (e.keyCode == 13) {
            CheckValidateData();
            return false;
        }
        return true;
    }

    function CheckValidateData() {
        var kup = $("#txt-KUP").val().replace(/-/g, "");
        //if (kup.length > 12) {
        //    kup = kup.substring(0, 12);
        //}
        nextDataProcess(kup);
    }

    function nextDataProcess(kup) {
        var typeData = getParameterByName('kanbanType');
        var partNo = $("#lbl-PartNo1").text() + $("#lbl-PartNo2").text() + $("#lbl-PartNo3").text();

        var cekKanban = "";
        var kanban = kup; //$(obj).attr("value");

        $('#gridDetail tr').each(function () {
            //seqGridDetail++
            if (kanban == $(".cKanban", $(this)).text()) {
                cekKanban = "Already|" + kanban;
            }
        });

        $('#listKanbanPopup tr').each(function () {
            //seqGridDetail++
            if (kanban == $(".borderpopup", $(this)).text()) {
                cekKanban = "Already|" + kanban;
            }
        });

        if (cekKanban.split("|")[0] == "Already") {
            getMessageNoMenu("I", "Kanban " + cekKanban.split("|")[1] + " already add", function () { return });
            setTimeout(function () {
                $(".btnIPopup").click();
                $("#txt-KUP").val("");
                $("#txt-KUP").focus();
            }, 1000);

            return;
        }

        if (typeData == "Kanban 1-2") {
            var paramQuery = ['TB_R_DAILY_ORDER_PART', 'PART_BARCODE = \'' + $("#txt-KUP").val() + '\' AND KANBAN_STS > 0 '];
            var exist = checkExistCED071300W(paramQuery);
            if (!exist) {
                getMessageNoMenu("E", "Kanban id = " + $("#txt-KUP").val() + " not receive yet", function () { return });
                setTimeout(function () {
                    $(".btnEPopup").click();
                    $("#txt-KUP").val("");
                    $("#txt-KUP").focus();
                }, 2000);

                return;
            }
        } else if (typeData == "Kanban 4") {
            var paramQuery2 = ['TB_R_PACKING_PROCESS', 'REF4_PART_BARCODE = \'' + $("#txt-KUP").val() + '\' AND PART_NO = \'' + partNo + '\''];
            var exist2 = checkExistCED071300W(paramQuery2);
            if (!exist2) {
                getMessageNoMenu("E", "Kanban id = " + $("#txt-KUP").val() + " not receive yet", function () { return });
                setTimeout(function () {
                    $(".btnEPopup").click();
                    $("#txt-KUP").val("");
                    $("#txt-KUP").focus();
                }, 2000);

                return;
            }
        }

        countKanban = countKanban + 1;
        if (parseInt(countKanban) > 5) {
            getMessageNoMenu("E", "Scan kanban cannot more than 5 times", function () { return });
            setTimeout(function () {
                $(".btnEPopup").click();
                $("#txt-KUP").val("");
                $("#txt-KUP").focus();
            }, 2000);

            return;
        }

        $.ajax({
            type: 'POST',
            url: 'CED040800W/getListKanban',
            data: { partNo: partNo,  KanbanId: $("#txt-KUP").val() },
            success: function (result) {
                if (result.length > 0) {
                    //$("#listkanbanpopup").empty();
                    var html = "";
                    for (var i = 0; i < result.length; i++) {
                        html += '<tr><td class="borderpopup" style="cursor: pointer; font-size: 12px" value="' + result[i].KanbanId + '">' + result[i].KanbanId + '</td></tr>';
                    }

                    $("#listKanbanPopup").append(html);

                    $("#txt-KUP").val("");
                    $("#txt-KUP").focus();
                } else {
                    getMessageNoMenu("E", "Data Not Found", function () { return });
                    setTimeout(function () {
                        $(".btnEPopup").click();
                        $("#txt-KUP").val("");
                        $("#txt-KUP").focus();
                    }, 2000);

                }
            },
            error: function (result) {
                getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                //hideLoading();
            }
        });
    }

    function submitKanban() {
        var parKanbanId = "";
        var seqGridDetail = 0;
        $("#listKanbanPopup tbody tr").each(function () {
            parKanbanId = parKanbanId + $(this).find("td:nth-child(1)").html() + "#";
        });
        $("#listKanbanPopup").empty();
        $("#detail-popup-modal-kanban").modal("hide");

        var sum = $('.cNo');
        var arr = sum.map(function (_, x) { return +$(x).text() }).get();
        var max = Math.max.apply(Math, arr);
        seqGridDetail = max + 1;

        console.log(seqGridDetail);

        //for (var i = 0; i < (parKanbanId.split('#')).length; i++) {
        //    if (parKanbanId.split('#')[i] != "") {
        //        addKanban(parKanbanId.split('#')[i], seqGridDetail);
        //        seqGridDetail++;
        //    }
        //}

        addKanban(parKanbanId, seqGridDetail);

        countKanban = 0;
        seqGridDetail = 0;
    }

    function addKanban(obj, seqGridDetail) {
        //var cekKanban = "";
        var kanban = obj; //$(obj).attr("value");

        //$('#gridDetail tr').each(function () {
        //    //seqGridDetail++
        //    if (kanban == $(".cKanban", $(this)).text()) {
        //        cekKanban = "Already|" + kanban;
        //    }
        //});

        //if (cekKanban.split("|")[0] == "Already") {
        //    getMessageNoMenu("I", "Kanban " + cekKanban.split("|")[1] + " already add", function () { return });
        //    return;
        //} else {

        for (var i = 0; i < (kanban.split('#')).length; i++) {
            if (kanban.split('#')[i] != "") {
                $.ajax({
                    type: 'POST',
                    url: 'CED040800W/getDataAddKanban',
                    data: { kanbanId: kanban.split('#')[i] },
                    success: function (result) {
                        //seqGridDetail = (seqGridDetail + 1);
                        var html = "";
                        for (var i = 0; i < result.length; i++) {
                            @*if (getParameterByName('kanban') == result[i].KanbanId) {
                        html += '<tr>'
                            + '<td style="text-align: center"><span class="cNo">' + seqGridDetail + '</span></td>'
                            + '<td style="text-align: center"><span class="cKanban">' + result[i].KanbanId + '</span></td>'
                            + '<td style="text-align: center" id="qty' + seqGridDetail + '" align="center"><span class="cQty" id="lbl-qty' + seqGridDetail + '">' + result[i].Qty.split('|')[0] + '</span></td>'
                            + '<td style="text-align: center"><span class="cLastPosition">' + result[i].LastPosition + '</span></td>'
                            + '<td style="text-align: center"><span class="cLine">' + result[i].Line + '</span></td>'
                            + '<td class="hiddenEdit" style="text-align: center">'
                                + '<img src="@Url.Content("~/Content/blueTheme/images/ok.png")" id="saveDetail' + seqGridDetail + '" onclick="saveDetailKanban(' + seqGridDetail + ')" style="display: none; cursor: pointer" width="30px">'
                                + '<img src="@Url.Content("~/Content/blueTheme/images/edit.png")" id="editDetail' + seqGridDetail + '" onclick="editDetailKanban(' + seqGridDetail + ')" width="30px" style="cursor: pointer">'
                                + '</td>'
                            + '<td style="text-align: right;display:none;" id="maxqty' + result[i].No + '" align="center"><span class="cMaxQty" id="lbl-maxqty' + seqGridDetail + '">' + result[i].Qty.split('|')[1] + '</span></td>'
                            + '</tr>';
                    } else {*@
                            html += '<tr>'
                                + '<td style="text-align: center"><span class="cNo">' + seqGridDetail + '</span></td>'
                                + '<td style="text-align: center"><span class="cKanban">' + result[i].KanbanId + '</span></td>'
                                + '<td style="text-align: center" id="qty' + seqGridDetail + '" align="center"><span class="cQty" id="lbl-qty' + seqGridDetail + '">' + result[i].Qty.split('|')[0] + '</span></td>'
                                + '<td style="text-align: center"><span class="cLastPosition">' + result[i].LastPosition + '</span></td>'
                                + '<td style="text-align: center"><span class="cLine">' + result[i].Line + '</span></td>'
                                + '<td class="hiddenEdit" style="text-align: center">'
                                    + '<img src="@Url.Content("~/Content/blueTheme/images/ok.png")" id="saveDetail' + seqGridDetail + '" onclick="saveDetailKanban(' + seqGridDetail + ')" style="display: none; cursor: pointer" width="30px">'
                                        + '<img src="@Url.Content("~/Content/blueTheme/images/edit.png")" id="editDetail' + seqGridDetail + '" onclick="editDetailKanban(' + seqGridDetail + ')" width="30px" style="cursor: pointer">'
                                        + '<img src="@Url.Content("~/Content/blueTheme/images/remove.png")" id="removeDetail' + seqGridDetail + '" width="30px" onClick="$(this).closest(\'tr\').remove(); reCalculateQty();" style="cursor: pointer">'
                                    + '</td>'
                                    + '<td style="text-align: right;display:none;" id="maxqty' + result[i].No + '" align="center"><span class="cMaxQty" id="lbl-maxqty' + seqGridDetail + '">' + result[i].Qty.split('|')[1] + '</span></td>'
                                + '</tr>';
                            //}
                            var latestQty = parseInt($("#lbl-Total2").text());
                            $("#lbl-Total1").text(parseInt($("#lbl-Total1").text()) + 1);
                            $("#lbl-Total2").text(latestQty + 1);
                        }
                        $("#gridDetail").append(html);
                        $("#btnBack").click();
                        seqGridDetail++;
                    },
                    error: function (result) {
                        getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        ////hideLoading();
                    }
                });
            }
        }

        
        //}
    }

    function closeBtn() {
        $.cookie("barcodeProblem", getParameterByName('kanban'));
        location.href = "CED040600W";
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function reCalculateQty() {
        var tKanban = 0;
        var tPcs = 0;
        $('#gridDetail tr').each(function () {
            tKanban++;
            tPcs = parseInt(tPcs) + parseInt($(".cQty", $(this)).text());
        });

        $("#lbl-Total1").text(tKanban);
        $("#lbl-Total2").text(tPcs);
    }


    function checkExistCED071300W(param) {
        var value = false;
        var url = 'CED071300W/CheckExist';
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            url: url,
            async: false,
            data: JSON.stringify({
                param: param
            }),
            success: function (result) {
                if (result > 0) {
                    value = true;
                }
            }
        });
        return value;
    }

    </script>
}