﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayoutNoMenuTheme;
}

@section HeadScript{
}

<input type="hidden" id="txtAll" class="hidden" value="@ViewData["AllData"]" />

<div id="tablegrid">
    @Html.Partial("CED040500WGrid")
</div>

<script src="@System.Configuration.ConfigurationManager.AppSettings["servernode"].ToString()/socket.io/socket.io.js"></script>

@section BodyScript{
    <script type="text/javascript">
        var txtAll = $('#txtAll').val();
        var funcID = "CED040500W";
        var Uploadcheck;
        var DibpNo = 0, intQtyKbn = 0, tickCount = 0, cT = 0, intCount = 0, mLblCt = 0, Ctime = 0;
        var IsPrt = false;
        var trigger = 1;

        var servernode = "@System.Configuration.ConfigurationManager.AppSettings["servernode"].ToString()";
        var node = servernode.replace("http://", "")
        var io = io(node);

        io.on('broadcast-region', function (data) {
            var $parentid = document.getElementById("parWidth").offsetWidth;

            if (data.url.indexOf("CED040500W") >= 0) {
                if (data.valPOS == "BX01") {
                    $("#lbl-RunningCT1").text(data.valData);
                    $("#td-RunningCT1").removeClass();
                    $("#td-RunningCT1").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "BX02") {
                    $("#lbl-RunningCT2").text(data.valData);
                    $("#td-RunningCT2").removeClass();
                    $("#td-RunningCT2").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "BX03") {
                    $("#lbl-RunningCT3").text(data.valData);
                    $("#td-RunningCT3").removeClass();
                    $("#td-RunningCT3").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "BX04") {
                    $("#lbl-RunningCT4").text(data.valData);
                    $("#td-RunningCT4").removeClass();
                    $("#td-RunningCT4").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "BX05") {
                    $("#lbl-RunningCT5").text(data.valData);
                    $("#td-RunningCT5").removeClass();
                    $("#td-RunningCT5").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "BX06") {
                    $("#lbl-RunningCT6").text(data.valData);
                    $("#td-RunningCT6").removeClass();
                    $("#td-RunningCT6").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "BX07") {
                    $("#lbl-RunningCT7").text(data.valData);
                    $("#td-RunningCT7").removeClass();
                    $("#td-RunningCT7").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "BX08") {
                    $("#lbl-RunningCT8").text(data.valData);
                    $("#td-RunningCT8").removeClass();
                    $("#td-RunningCT8").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "BX09") {
                    $("#lbl-RunningCT9").text(data.valData);
                    $("#td-RunningCT9").removeClass();
                    $("#td-RunningCT9").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "BX10") {
                    $("#lbl-RunningCT10").text(data.valData);
                    $("#td-RunningCT10").removeClass();
                    $("#td-RunningCT10").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "WR01") {
                    $("#lbl-RunningCTWR1").text(data.valData);
                    $("#td-RunningCTWR1").removeClass();
                    $("#td-RunningCTWR1").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "WR02") {
                    $("#lbl-RunningCTWR2").text(data.valData);
                    $("#td-RunningCTWR2").removeClass();
                    $("#td-RunningCTWR2").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "WR03") {
                    $("#lbl-RunningCTWR3").text(data.valData);
                    $("#td-RunningCTWR3").removeClass();
                    $("#td-RunningCTWR3").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "WR04") {
                    $("#lbl-RunningCTWR4").text(data.valData);
                    $("#td-RunningCTWR4").removeClass();
                    $("#td-RunningCTWR4").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "WR05") {
                    $("#lbl-RunningCTWR5").text(data.valData);
                    $("#td-RunningCTWR5").removeClass();
                    $("#td-RunningCTWR5").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "WR06") {
                    $("#lbl-RunningCTWR6").text(data.valData);
                    $("#td-RunningCTWR6").removeClass();
                    $("#td-RunningCTWR6").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "WR07") {
                    $("#lbl-RunningCTWR7").text(data.valData);
                    $("#td-RunningCTWR7").removeClass();
                    $("#td-RunningCTWR7").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "WR08") {
                    $("#lbl-RunningCTWR8").text(data.valData);
                    $("#td-RunningCTWR8").removeClass();
                    $("#td-RunningCTWR8").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "WR09") {
                    $("#lbl-RunningCTWR9").text(data.valData);
                    $("#td-RunningCTWR9").removeClass();
                    $("#td-RunningCTWR9").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                } else if (data.valPOS == "WR10") {
                    $("#lbl-RunningCTWR10").text(data.valData);
                    $("#td-RunningCTWR10").removeClass();
                    $("#td-RunningCTWR10").addClass("fontlargetimer").addClass(data.valcssTimer).css("width", $parentid);
                }
            }
            return false;
        });

        $(document).ready(function () {
            CED040500WdoInit();
        });

        CED040500WdoInit = function () {
            initialMode();
            var html = "<button id='btnAssy' type='button' class='button primary' onclick='CED040500WdoSearch(1)'>Assy</button> <button id='btnWelding' type='button' class='button primary' onclick='CED040500WdoSearch(2)'>Welding</button>";
            $("#btnVisualisasiBoxing").append(html);

            trigger = 1;

            ButtonClass();

            //CED040500WdoSearch(1);
        }

        CED040500WdoSearch = function (type) {
            //legend
            // 1 assy
            // 2 welding

            if (type == 1) {
                trigger = 1;
            } else {
                trigger = 2;
            }

            ButtonClass();

            //page = typeof page !== 'undefined' ? page : 1;
            //pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            $.ajax({
                type: 'POST',
                @*url: "@Html.Toyota().Page.GetActionUrl("CED040500WSearchData")",*@
                url: "@Url.Action("CED040500WSearchData", "CED040500W")",
                //data: null,
                data: { "Type": type },
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                },
                error: function (result) {
                    getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    //hideLoading();
                }

            });
        }

        function ButtonClass() {
            if (parseInt(trigger) == 1) {
                $('#btnAssy').removeClass("primary");
                $('#btnAssy').addClass("alert");
                $('#btnWelding').removeClass("alert");
                $('#btnWelding').addClass("primary");
            } else {
                $('#btnAssy').removeClass("alert");
                $('#btnAssy').addClass("primary");
                $('#btnWelding').removeClass("primary");
                $('#btnWelding').addClass("alert");
            }
        }

        setInterval(function () {
            CED040500WdoSearch(trigger);
            //window.location.reload(1);
        }, txtAll * 1000);

</script>
}