﻿@using IPOS.Models.CED040500W
@{
    List<CED040500W> retrieveData1 = (List<CED040500W>)ViewData["RetriveData1"];
    List<CED040500W> retrieveData2 = (List<CED040500W>)ViewData["RetriveData2"];

    List<CED040500W> dataSTD = retrieveData2.Where(y => y.Key == "STD").Select(y => new CED040500W
    {
        Data = y.Data
    }).ToList();

    List<CED040500W> dataCT = retrieveData2.Where(y => y.Key == "C/T").Select(y => new CED040500W
    {
        Data = y.Data
    }).ToList();

    List<CED040500W> dataACT = retrieveData2.Where(y => y.Key == "ACT").Select(y => new CED040500W
    {
        Data = y.Data
    }).ToList();

    List<CED040500W> dataBalance = retrieveData2.Where(y => y.Key == "BALANCE").Select(y => new CED040500W
    {
        Data = y.Data
    }).ToList();

    List<CED040500W> dataEFF = retrieveData2.Where(y => y.Key == "EFF").Select(y => new CED040500W
    {
        Data = y.Data
    }).ToList();

    List<CED040500W> dataAVG = retrieveData2.Where(y => y.Key == "AVG").Select(y => new CED040500W
    {
        Data = y.Data
    }).ToList();

    List<CED040500W> dataKBNPLAN = retrieveData2.Where(y => y.Key == "KBNPLAN").Select(y => new CED040500W
    {
        Data = y.Data
    }).ToList();

    List<CED040500W> dataKBNACT = retrieveData2.Where(y => y.Key == "KBNACT").Select(y => new CED040500W
    {
        Data = y.Data
    }).ToList();

    string[] par;
    string dataA = string.Empty;
    string dataB = string.Empty;
    string BGColor = string.Empty;

    string dataCTa = string.Empty;
    string dataCTb = string.Empty;
    string BGColorCT = string.Empty;
    
    int Idx = 1;

    string type = (string)ViewData["TriggerType"];

    string idRunCT = string.Empty;
    string idRunCTtd = string.Empty;

    
}

<style>
    .fontlargeHeader {
        font-size: large;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        color: #FED325;
        background-color: #535459;
    }
    .fontlarge {
        font-size: large;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }
    .fontlargetimer {
        font-size: large;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
    }
    .fontstylebgred {
        /*background-color: red;*/
        background-color:#FF5A41; color:#FFFFFF
    }
    .fontstylebggreen {
        background-color: green;
    }
    .fontstylebgorange {
        background-color: orange
    }

</style>

<div class="row">
    <div class="twelve columns">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <table border="0" cellpadding="5" cellspacing="1" width="100%">
            <thead>
                <tr style="height: 70px">
                    <th class="fontlargeHeader" colspan="2" style="width:180px;">POST</th>
                    @foreach (CED040500W item in retrieveData1)
                    {
                        <th class="fontlargeHeader">@item.Key</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr style="height: 70px">
                    <td class="fontlargeHeader" colspan="2" style="width:180px;">RUNNING<br />C/T</td>
                    @foreach (CED040500W item in dataCT)
                    {
                        if (type == "1")
                        {
                            idRunCT = "lbl-RunningCT";
                            idRunCTtd = "td-RunningCT";
                        }
                        else
                        {
                            idRunCT = "lbl-RunningCTWR";
                            idRunCTtd = "td-RunningCTWR";
                        }
                        
                        if (item.Data != "OFF")
                        {
                            par = item.Data.Split('|');
                            dataCTa = par[0];
                            dataCTb = par[1];

                            if (dataCTb == "RED")
                            {
                                BGColorCT = "shortage";
                            }
                            else
                            {
                                BGColorCT = "";
                            }

                        }
                        else
                        {
                            dataCTa = item.Data;
                            BGColorCT = "";
                        }

                        idRunCT = idRunCT + Idx;
                        idRunCTtd = idRunCTtd + Idx;
                        <td id="@idRunCTtd"class="fontlarge @BGColorCT"><span id="@idRunCT">@dataCTa</span></td>
                        
                        Idx++;
                    }
                </tr>
                <tr style="height: 70px">
                    <td class="fontlargeHeader" rowspan="2"style="width:80px;">WORK</td>
                    <td class="fontlargeHeader"style="width:90px;">STD</td>
                    @foreach (CED040500W item in dataSTD)
                    {
                        <td class="fontlarge" id="parWidth"><span id="lbl-WorkSTD"@Idx>@item.Data</span></td>
                        
                        Idx++;
                    }
                </tr>
                <tr style="height: 70px">
                    <td class="fontlargeHeader"style="width:90px;">ACT</td>
                    @foreach (CED040500W item in dataACT)
                    {
                        <td class="fontlarge"><span id="lbl-WorkACT"@Idx>@item.Data</span></td>
                        
                        Idx++;
                    }
                </tr>
                <tr style="height: 70px">
                    <td class="fontlargeHeader" colspan="2"style="width:180px;">BALANCE</td>
                    @foreach (CED040500W item in dataBalance)
                    {
                        <td class="fontlarge"><span id="lbl-Balance"@Idx>@item.Data</span></td>
                        
                        Idx++;
                    }
                    
                </tr>
                <tr style="height: 70px">
                    <td class="fontlargeHeader" colspan="2"style="width:180px;">EFF (%)</td>
                    @foreach (CED040500W item in dataEFF)
                    {
                        if (item.Data != "OFF")
                        {
                            par = item.Data.Split('|');
                            dataA = par[0] + "%";
                            dataB = par[1];

                            if (dataB == "GREEN")
                            {
                                BGColor = "complete";
                            }
                            else if (dataB == "YELLOW")
                            {
                                BGColor = "normal";
                            }
                            else if (dataB == "RED")
                            {
                                BGColor = "shortage";
                            }

                        }
                        else
                        {
                            dataA = item.Data;
                            BGColor = "";
                        }
                        
                        <td class="fontlarge @BGColor" style=""><span id="lbl-EFF"@Idx>@dataA</span></td>
                        
                        Idx++;
                    }
                </tr>
                <tr style="height: 70px">
                    <td class="fontlargeHeader" colspan="2"style="width:180px;">AVE PLAN<br />LOADING</td>
                    @foreach (CED040500W item in dataAVG)
                    {
                        <td class="fontlarge"><span id="lbl-AVE"@Idx>@item.Data</span></td>
                        
                        Idx++;
                    }

                    @*@{ 
                        List<CED040500W> data1 = dataKBNACT.Where(y => y.Data != "OFF").Select(y => new CED040500W
                        {
                            Data = y.Data
                        }).ToList();

                        for (int i = 0; i < data1.Count; i++)
                        {
                            <td class="fontlarge"><span id="lbl-AVE"@Idx>@dataAVG.FirstOrDefault().Data</span></td>
                        
                            Idx++;
                        }

                        for (int i = 0; i < (dataKBNACT.Count - data1.Count); i++)
                        {
                            <td class="fontlarge"><span id="lbl-AVE">OFF</span></td>
                        }
                    }*@
                </tr>
                <tr style="height: 70px">
                    <td class="fontlargeHeader" rowspan="2"style="width:90px;">KANBAN</td>
                    <td class="fontlargeHeader"style="width:90px;">PLAN</td>
                    @foreach (CED040500W item in dataKBNPLAN)
                    {
                        <td class="fontlarge"><span id="lbl-KanbanPlan"@Idx>@item.Data</span></td>
                        
                        Idx++;
                    }
                    @*@{ 
                        List<CED040500W> data2 = dataKBNACT.Where(y => y.Data != "OFF").Select(y => new CED040500W
                        {
                            Data = y.Data
                        }).ToList();

                        for (int i = 0; i < data2.Count; i++)
                        {
                            <td class="fontlarge"><span id="lbl-KanbanPlan"@Idx>@dataKBNPLAN.FirstOrDefault().Data</span></td>
                        
                            Idx++;
                        }

                        for (int i = 0; i < (dataKBNACT.Count - data2.Count); i++)
                        {
                            <td class="fontlarge"><span id="lbl-KanbanPlan">OFF</span></td>
                        }
                    }*@
                </tr>
                <tr style="height: 70px">
                    <td class="fontlargeHeader"style="width:90px;">ACT</td>
                    @foreach (CED040500W item in dataKBNACT)
                    {
                        <td class="fontlarge"><span id="lbl-KanbanAct"@Idx>@item.Data</span></td>
                        
                        Idx++;
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>