﻿<style>
    .fontbigstyle {
        text-align: center;
        vertical-align: middle;
        font-size: 4.5em;
        font-weight: bold;
    }

    .fontstylebgred {
        background-color: red;
    }

    .fontstylebggreen {
        background-color: green;
    }

    .fontstylebgorange {
        background-color: orange;
    }

    table thead tr th {
        padding: 1px;
        font-size: 12px;
    }

    table tbody tr td {
        padding: 1px;
        font-size: 9px;
    }

    div.panel2 {
        padding: 5px;
        margin-top: 0;
        font-size: 14px;
    }
</style>

<div class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="twelve columns">&nbsp;</div>
        </div>

        <div class="row">
            <div class="four columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th>BARCODE</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <input type="text" id="txt-BarcodeKey" class="form-control eView" placeholder="Barcode" onkeypress="return searchKeyPress(event)" style="text-align: center" autofocus />
                            <input type="hidden" id="txt-POS" />
                            <input type="hidden" id="txt-Barcode" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="four columns" style="margin-top: 15px; text-align: right">
                <span id="lblBoxPost" style="font-size: 2em"></span>
            </div>
            <div class="four columns" style="text-align: right">
                <button id="btnPause" type="button" class="button secondary" style="height: 45px; display: none" onclick="pauseTimer()">PAUSE</button>
                <button id="btnRun" type="button" class="button secondary" style="height: 45px; display: none" onclick="startTimer()">RUN</button>
                <input type="hidden" id="hidStartTime" />
                <button id="btnCancel" type="button" class="button alert" style="height: 45px; display: none;" onclick="cancelProcess()">CANCEL</button>
                <button id="btnProblem" type="button" class="button primary" style="height: 45px" onclick="problemProcess()" disabled>PROBLEM</button>
                <button id="btnFinish" type="button" class="button primary" style="height: 45px" onclick="finishProcess()">FINISH</button>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <div class="panel2" style="text-align: left">
                    Info : <span id="lbl-Info" style="color: white; background-color: red"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th width="100px">LINE</th>
                            <th width="100px">PATTERN</th>
                            <th width="150px">UNIQUE</th>
                            <th width="150px">QTY PER BOX</th>
                            <th colspan="3">ADDRESS</th>
                            <th width="150px">CYCLE TIME</th>
                            <th>TIMER</th>
                        </tr>
                    </thead>
                    <tr>
                        <td rowspan="2" height="75px" class="fontbigstyle" id="stLine"><span id="lbl-Line"></span></td>
                        <td rowspan="2" class="fontbigstyle" id="stPattern"><span id="lbl-Pattern"></span></td>
                        <td class="fontbigstyle" style="font-size: 3em"><span id="lbl-Unique1"></span></td>
                        <td rowspan="2" class="fontbigstyle"><span id="lbl-QtyBox"></span></td>
                        <td rowspan="2" width="125px" class="fontbigstyle"><span id="lbl-Address1"></span></td>
                        <td rowspan="2" width="125px" class="fontbigstyle"><span id="lbl-Address2"></span></td>
                        <td rowspan="2" width="125px" class="fontbigstyle"><span id="lbl-Address3"></span></td>
                        <td rowspan="2" class="fontbigstyle"><span id="lbl-CycleTime"></span></td>
                        <td rowspan="2" width="140px" id="setBgTimer" style="text-align: center; vertical-align: middle;"><span id="lbl-Timer" style="font-size: 3.5em; font-weight: bold;">00:00:00</span></td>
                    </tr>
                    <tr>
                        <td height="20px" style="text-align: center; vertical-align: middle; font-size: 0.8em"><b><span id="lbl-Unique2"></span></b></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="three columns" style="padding-right: 1px">
                <div class="panel2">PACKING MATERIAL</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%" id="tblGrid1">
                    <thead>
                        <tr>
                            <th>MATERIAL</th>
                            <th>TYPE</th>
                            <th>QTY</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="well">&nbsp;</td>
                        <td class="well">&nbsp;</td>
                        <td class="well">&nbsp;</td>
                    </tr>
                    @{
                        for (var x = 0; x < 5; x++)
                        {
                        <tr>
                            <td class="well">&nbsp;</td>
                            <td class="well">&nbsp;</td>
                            <td class="well">&nbsp;</td>
                        </tr>
                        }
                    }
                </table>
            </div>

            <div class="three columns" style="padding-right: 1px; padding-left: 1px">
                <div class="panel2">PACKING SPEK 1</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%" style="margin-bottom: 0">
                    <tr>
                        <td height="255px">
                            <img id="img-ImgPack1" style="width: 100%; height: 100%"  onerror="this.src ='@Url.Content("~/Content/Images/Image Not Found.png")'"/></td>
                    </tr>
                </table>

                <div class="panel2">PACKING SPEK 2</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <tr>
                        <td height="255px">
                            <img id="img-ImgPack2" style="width: 100%; height: 100%" onerror="this.src ='@Url.Content("~/Content/Images/Image Not Found.png")'" /></td>
                    </tr>
                </table>
            </div>

            <div class="six columns" style="padding-left: 1px">
                <div class="panel2">FOTO KEYPOINT</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <tr>
                        <td height="548px">
                            <img id="img-ImgKeyPoint" style="width: 100%; height: 100%" onerror="this.src ='@Url.Content("~/Content/Images/Image Not Found.png")'"/></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th>REV.</th>
                            <th>REV. ITEM</th>
                            <th>ADMIN</th>
                            <th>VALID FROM</th>
                            <th>VALID TO</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="font-size: 1em; text-align: right"><span id="lbl-Rev"></span></td>
                        <td style="font-size: 1em;"><span id="lbl-RevItem"></span></td>
                        <td style="font-size: 1em;"><span id="lbl-Admin"></span></td>
                        <td style="font-size: 1em;"><span id="lbl-ValidFrom"></span></td>
                        <td style="font-size: 1em;"><span id="lbl-ValidTo"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detail-popup-modal-kanban" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 60%; margin-top: 1%" role="document">
        <div class="modal-content" style="background-color: #1e4271">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="modal-title" style="color: yellow">DETAIL CANCEL KANBAN</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="height: 500px; overflow-x: hidden; overflow-y: scroll">
                <div class="row" style="min-width: 50%; max-width: 100%">
                    <div class="twelve columns">
                        <h6 style="color: white">Kanban ID : </h6>
                        <input type="text" id="txt-KUP" class="form-control eView bgblack" placeholder="BARCODE" onkeypress="return searchKeyPressCancel(event)" style="text-align: center; display: inline;" maxlength="25" autofocus />
                        <input type="hidden" id="txt-KUP-hide" />
                        <br />
                        <br />
                        <table border="0" cellpadding="5" cellspacing="1" width="100%">
                            <thead>
                                <tr>
                                    <th style="font-size: 15px; text-align: center">Kanban Supplier</th>
                                    <th style="font-size: 15px; text-align: center">Kanban Internal</th>
                                    <th style="font-size: 15px; text-align: center">Supply Flowrack Flag</th>
                                    <th style="font-size: 15px; text-align: center">Picking Flag</th>
                                </tr>
                            </thead>
                            <tbody id="listKanbanPopup">
                                @*@{ for (int i = 0; i < 30; i++)
                                   {
                                    <tr>
                                        <td class="borderpopup" style="cursor: pointer; font-size: 15px">20190573490000001</td>
                                        <td class="borderpopup" style="cursor: pointer; font-size: 15px">20190573490000001</td>
                                        <td class="borderpopup" style="cursor: pointer; font-size: 15px;text-align:center">Y</td>
                                    </tr>
                                    }
                                 }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnBack" type="reset" class="button secondary" data-dismiss="modal">Back</button>
                <button id="btnSubmit" type="reset" class="button primary" onclick="submitKanban()">Submit</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#btnBack').on('click', function (e) {
        e.preventDefault();
        $("#listKanbanPopup").empty();
        setTimeout(function () {
            $("#txt-BarcodeKey").focus();
        }, 500);
    });

    $('.btnYPopup').click(function () {
        $("#txt-BarcodeKey").focus();
    });

    $('.btn.button.alert').click(function () {
        $("#txt-BarcodeKey").focus();
    });

</script>
