﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayoutNoMenuTheme1024;
}

@section HeadScript{
}

<div id="tablegrid">
    @Html.Partial("CED040300WGrid")
</div>

@*<div class="modal fade" id="detail-popup-modal-pos" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 25%; margin-top: 1%" role="document">
        <div class="modal-content" style="background-color: #1e4271">
            <div class="modal-header" style="display: none">
                <h4 class="modal-title">POS</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="min-width: 10%; max-width: 100%">
                    <div class="twelve columns">
                        <div class="panel2">POST</div>
                        <table border="0" cellpadding="5" cellspacing="1" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="text" id="txt-POS" class="form-control eView" onkeypress="return searchKeyPressPOS(event)" />
                                    </th>
                                    <th>
                                        <button id="btnProcess" type="button" class="button primary" onclick="nextScreen()">Next</button>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display: none">
                <button id="btnBack" type="reset" class="button secondary" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>*@

<div class="modal fade" id="detail-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 90%; margin-top: 3%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Input Kode Line dan Pattern</h4>
            </div>
            <div class="modal-body">
                <div id="tablegriddet010403">

                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<div id="mydivPrint" style="display: none">
    <table border="1">
        <tr>
            <td colspan="2" align="center">Boxing/Wiring</td>
        </tr>
        <tr>
            <td>Address</td>
            <td rowspan="2" valign="middle"><span id="print-Address"></span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Unique</td>
            <td rowspan="2" valign="middle"><span id="print-Unique1"></span> - <span id="print-QtyBox"></span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><span id="print-Unique2"></span></td>
        </tr>
    </table>
</div>

<script src="@System.Configuration.ConfigurationManager.AppSettings["servernode"].ToString()/socket.io/socket.io.js"></script>

@section BodyScript{
    <script type="text/javascript">
    var funcID = "CED040300W";
    var Uploadcheck;
    var DibpNo = 0, intQtyKbn = 0, tickCount = 0, cT = 0, intCount = 0, mLblCt = 0, Ctime = 0;
    var IsPrt = false;
    var kabanType = "";
    var paramProblem = {};

    var servernode = "@System.Configuration.ConfigurationManager.AppSettings["servernode"].ToString()";
    var node = servernode.replace("http://", "")
    var io = io(node);

    function sendRealtimeData() {
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"].ToString()";
        var urlDestination = server + "/CED040500W";
        io.emit('send-region', { url: urlDestination, valData: $("#lbl-Timer").text(), valPOS: $.cookie("pos"), valKanban: $("#txt-Barcode").val(), valcssTimer: document.getElementById("setBgTimer").className.replace("well ", "") });
    }

    $(document).ready(function () {
        if ($.cookie("name") == undefined) {
            location.href = "Boxing_Login";
        }
        CED040300WdoInit();
    });
        
    $(document).click(function () {
        $('#txt-BarcodeKey').focus();
    });

    CED040300WdoInit = function () {
        initialMode();
        $("#lblUserLogin").text($.cookie("name"));
        $("#txt-POS").val($.cookie("pos"));
        //$("#lblBoxPost").text("POST : " + $.cookie("pos"));
        $("#lblBoxPost").text($.cookie("postname"));

        //$('#detail-popup-modal-pos').modal({
        //    backdrop: 'static',
        //    keyboard: false
        //});
        //setTimeout(function () {
        //    $("#txt-POS").focus();
        //}, 500);
    }

    function nextScreen() {
        if ($("#txt-POS").val() == "") {
            getMessageNoMenu("I", "POS tidak boleh kosong", function () { return });
        } else {
            CED040300WdoSearch();
            $("#btnBack").click();
        }
    }

    function searchKeyPressPOS(e) {
        e = e || window.event;
        if (e.keyCode == 13) {
            nextScreen();
            return false;
        }
        return true;
    }

    CED040300WdoSearch = function (page) {
        page = typeof page !== 'undefined' ? page : 1;
        pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
        $.ajax({
            type: 'POST',
            url: "@Url.Action("CED040300WSearchData", "CED040300W")",
            data: null,
            //beforeSubmit: showLoading(),
            success: function (result) {
                $('#tablegrid').html(result);
                searchMode();
                //$("#btnRun").hide();
                $("#lblUserLogin").text($.cookie("name"));
                $("#txt-POS").val($.cookie("pos"));
                //$("#lblBoxPost").text("POST : " + $.cookie("pos"));
                $("#lblBoxPost").text($.cookie("postname"));
                $("#txt-BarcodeKey").focus();
            },
            error: function (result) {
                getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                //hideLoading();
            }

        });
    }

    function getDetail010403W() {
        $(".btn-Dialog-OK").click();
        $('#detail-popup-modal').modal({
            backdrop: 'static',
            keyboard: false
        });
        getShowDetail010403W();
    }

    function getShowDetail010403W() {
        //showLoading();
        $.ajax({
            type: 'POST',
            url: 'CED040300W/CED040300WPopup',
            data: null,
            success: function (result) {
                $('#tablegriddet010403').html(result);
                setTimeout(function () {
                    $("#txt-KodeLP").focus();
                }, 500);
            },
            error: function (result) {
                getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                //hideLoading();
            }
        });
    }

    function searchKeyPress(e) {
        e = e || window.event;
        if (e.keyCode == 13) {
            CheckValidateData();
            return false;
        }
        return true;
    }

    function CheckValidateData() {
        kabanType = "";
        paramProblem = {};
        //Info: Cannot scan same part barcode.
        if ($("#txt-Barcode").val() == $("#txt-BarcodeKey").val().replace(/-/g, "")) {
            setMessageNoMenu('MCEDSTD000I', 'Kanban ID : ' + $("#txt-BarcodeKey").val() + ' already scan!', function () { return });
            setTimeout(function () {
                $(".btnIPopup").click();
                $("#txt-BarcodeKey").val("");
                $("#txt-BarcodeKey").focus();
            }, 3000);
        } 
        else {
            //Info: if temp not null then update partbarcode before.
            if ($("#txt-Barcode").val() != "") {
                $.ajax({
                    type: 'POST',
                    url: 'CED040300W/UpdateFlagBoxing',
                    data: { KanbanId: $("#txt-Barcode").val(), StartTime: $("#hidStartTime").val(), kanbanProcess: kanbanProcess },
                    success: function (result) {
                        $("#lbl-Info").text("");
                        $("#txt-Barcode").val("");
                        var barcode = $("#txt-BarcodeKey").val().replace(/-/g, "");
                        pauseTimer();
                        stopTimer();
                        clearRecord();
                        nextDataProcess(barcode);
                    },
                    error: function (result) {
                        //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                    },
                    complete: function (result) {
                        //hideLoading();
                    }
                });
            } else {
                $("#lbl-Info").text("");
                $("#txt-Barcode").val("");
                var barcode = $("#txt-BarcodeKey").val().replace(/-/g, "");
                pauseTimer();
                stopTimer();
                clearRecord();
                nextDataProcess(barcode);
            }
        }
    }
    //Function Logic PIC Ms.Access
    //function CheckValidateData() {
    //    var barcode = $("#txt-Barcode").val().replace(/-/g, "");
    //    if (barcode != "") {
    //        var lenbarcode = barcode.length;
    //        if (lenbarcode == 14 || lenbarcode == 16 || lenbarcode == 18) {
    //            nextDataProcess(barcode);
    //        } else if (lenbarcode == 12) {
    //            var sPatt = "";
    //            if ($("#lbl-Line").text() == "W") {
    //                if ($("#lbl-Pattern").text() == "P") {
    //                    sPatt = "21";
    //                } else if ($("#lbl-Pattern").text() == "S") {
    //                    sPatt = "22";
    //                }
    //            } else {
    //                getDetail010403W();
    //                return;
    //            }
    //            barcode = barcode + sPatt;
    //            nextDataProcess(barcode);
    //        } else if (lenbarcode == 6) {
    //            nextDataProcess(barcode);
    //        } else if (lenbarcode == 4) {
    //            var sPatt = "";
    //            if ($("#lbl-Line").text() == "W") {
    //                if ($("#lbl-Pattern").text() == "P") {
    //                    sPatt = "21";
    //                } else if ($("#lbl-Pattern").text() == "S") {
    //                    sPatt = "22";
    //                }
    //            } else {
    //                getDetail010403W();
    //                return;
    //            }
    //            barcode = barcode + sPatt;
    //            nextDataProcess(barcode);
    //        } else if (lenbarcode == 3) {
    //            if (DibpNo > 0) {
    //                RecTrx(1, mLblCt);
    //                DibpNo = 0;
    //            }
    //            clearRecord();
    //            if (barcode == "L21" || barcode == "L22") {
    //                var valRight = barcode.substring(lenbarcode - 2, lenbarcode);
    //                if (valRight == "21") {
    //                    $("#lbl-Line").text("W");
    //                    $("#lbl-Pattern").text("P");
    //                } else if (valRight == "22") {
    //                    $("#lbl-Line").text("W");
    //                    $("#lbl-Pattern").text("S");
    //                }
    //            } else {
    //                $("#lbl-Info").text("Input " + barcode + " Not Valid.");
    //                getMessageNoMenu("I", "Input " + barcode + " Not Valid.", function () { return });
    //            }
    //        } else {
    //            if (DibpNo > 0) {
    //                RecTrx(1, mLblCt);
    //                clearRecord();
    //                DibpNo = 0;
    //            }
    //            $("#lbl-Info").text("Input " + barcode + " Not Valid.");
    //            getMessageNoMenu("I", "Input " + barcode + " Not Valid.", function () { return });
    //        }
    //    }
    //}

    function popupKeyPress(e) {
        e = e || window.event;
        if (e.keyCode == 13) {
            $("#btnOK").click();
            return false;
        }
        return true;
    }

    function processPopup() {
        nextDataProcess($("#txt-Barcode").val() + $("#txt-KodeLP").val());
    }
    var partnoPar = "";
    var dateTimeMultiple = "";
    var ct2 = 0;
    function nextDataProcess(barcode) {
        $("#txt-BarcodeKey").val("");
        $.ajax({
            type: 'POST',
            url: 'CED040300W/CheckKanban',
            data: { barcode: barcode },
            success: function (resultKanban) {
                if (resultKanban != "") {
                    if (resultKanban == "Kanban Problem") {
                        $("#lbl-Info").text("Kanban " + barcode + " is Problem, can't boxing");
                        return;
                    }
                    //fid.ridwan : 2019-09-07
                    if (resultKanban == "Kanban Passthru") {
                        $("#lbl-Info").text("Kanban " + barcode + " is Passthru, can't boxing");
                        return;
                    }
                    if (resultKanban == "Kanban Hold") {
                        $("#lbl-Info").text("Kanban " + barcode + " is Hold, can't boxing");
                        return;
                    }

                    if (resultKanban == "Kanban 3") {
                        getMessageNoMenu("C", "Kanban already Boxing, reprint Kanban 3 ?", function () {
                            runExePrint("Reprint", barcode);
                        });
                        //setTimeout(function () {
                        //    $("#txt-BarcodeKey").focus();
                        //}, 500);
                        $("#txt-BarcodeKey").focus();
                        return;
                    }

                    //showLoading();
                    $.ajax({
                        type: 'POST',
                        url: 'CED040300W/getDataKanban',
                        data: { barcode: barcode },
                        success: function (result) {
                            var lenbarcode = barcode.length;
                            if (result.length > 0) {
                                if (result.length == 1) {
                                    if (lenbarcode >= 16) {
                                        $("#txt-Barcode").val(barcode);
                                        //FID.Ridwan : 2019-09-07
                                        var bx = 'BX';
                                        var param1 = ['TB_M_ZONE_GROUPING_D', 'ZONE_GROUPING_CD = \'' + bx + '\' AND ZONE_CD = \'' + $.cookie("pos") + '\' AND LINE_CD = (SELECT LINE_CD FROM TB_M_LINE WHERE LINE_NM = \'' + result[0].strLineCd + '\')'];
                                        var ProblemExist = checkExistCED071300W(param1);
                                        if (!ProblemExist) {
                                            var NamePOs = "";
                                            if ($.cookie("pos").substring(0, 2) == "BX")
                                            {
                                                NamePOs = "Assy";
                                            }else {
                                                NamePOs = "Welding";
                                            }
                                            setMessageWithLabel('MCEDSTD050E', "This part is not " + NamePOs + " part", "lbl-Info");
                                            return;
                                        }

                                        if (result[0].MANIFEST_RECEIVING_FLAG.split("|")[0] == "0") {
                                            setMessageWithLabel('MCEDSTD050E', "Manifest not receive yet", "lbl-Info");
                                            $("#txt-Barcode").val("");
                                            return;
                                        }
                                        if (result[0].BOXING_FLAG_TYPE == "0") {
                                            setMessageWithLabel('MCEDSTD050E', "This Part not for Boxing", "lbl-Info");
                                            return;
                                        }

                                        if (resultKanban == "Kanban 1") {
                                            if (result[0].BOXING_FLAG_ORDER.split("|")[0] == "1") {
                                                setMessageWithLabel('MCEDSTD050E', "Kanban already Boxing", "lbl-Info");
                                                return;
                                            }
                                            kanbanProcess = 1;
                                            showRecord(result);
                                            //startTimer();
                                        } else if (resultKanban == "Kanban 2") {
                                            if (result[0].MANIFEST_RECEIVING_FLAG.split("|")[1] != "1") {
                                                setMessageWithLabel('MCEDSTD050E', "This Kanban 2 doesnt have Kanban 3", "lbl-Info");
                                                return;
                                            }

                                            if (result[0].BOXING_FLAG_ORDER.split("|")[0] == "1") {
                                                getMessageNoMenu("C", "Kanban already Boxing, reprint Kanban 3 ?", function () {
                                                    if (result[0].BOXING_FLAG_ORDER.split("|")[1] == "Y") {
                                                        runExePrint("Reprint", barcode);
                                                    } else {
                                                        $("#lbl-Info").text("Can't reprint, because part no " + result[0].lngDIBLno + " still in process.");
                                                    }
                                                    //setTimeout(function () {
                                                    //    $("#txt-BarcodeKey").focus();
                                                    //}, 500);
                                                    $("#txt-BarcodeKey").focus();
                                                });
                                                return;
                                            }

                                            $.ajax({
                                                type: 'POST',
                                                url: 'CED040300W/ValidateBoxing',
                                                data: {
                                                    pos: $("#txt-POS").val(),
                                                    part_no: result[0].lngDIBLno,
                                                    part_barcode: result[0].PART_BARCODE,
                                                    qty_kanban: result[0].lngQtyperKbn,
                                                    qty_box: result[0].lngQtyperBox,
                                                    //FID.Ridwan : 2019-09-17
                                                    pattern_cd: result[0].lngPattId
                                                },
                                                success: function (resultCheckDB) {
                                                    var resultCheck = resultCheckDB.split("|")[0];
                                                    var resultRemaining = resultCheckDB.split("|")[1];
                                                    //FID.Ridwan : 2019-09-18
                                                    if (parseInt(resultRemaining) < 0) {
                                                        $("#lbl-Info").text(resultRemaining + " pcs");
                                                    } else if (parseInt(resultRemaining) > 0) {
                                                        $("#lbl-Info").text("-" + (parseInt(result[0].lngQtyperBox) - parseInt(resultRemaining)) + " pcs");
                                                    }
													
                                                    if (resultCheck == "Multiple") {
                                                        kabanType = "Multiple";

                                                        paramProblem.PART_BARCODE = result[0].PART_BARCODE;
                                                        paramProblem.PART_NO = result[0].lngDIBLno;
                                                        paramProblem.PATTERN_CD = result[0].lngPattId;
                                                        paramProblem.QTY_KANBAN = result[0].lngQtyperKbn;
                                                        paramProblem.QTY_BOX = result[0].lngQtyperBox;

                                                        //FID.Ridwan : 2019-09-17
                                                        if (partnoPar != "") {
                                                            var checkStaging = ['TB_S_POS_BOXING', 'PART_NO = \'' + result[0].lngDIBLno + '\' AND PATTERN_CD = \'' + result[0].lngPattId + '\''];
                                                            var StagingExist = checkExistCED071300W(checkStaging);
                                                            if (!StagingExist) {
                                                                partnoPar = "";
                                                            }else {
                                                                partnoPar = result[0].lngDIBLno;
                                                            }
                                                        }

                                                        //Check if different part no then error
                                                        if ((partnoPar != "") && (partnoPar != result[0].lngDIBLno)) {
                                                            setMessageNoMenu('MCEDSTD000I', 'This kanban is a different part no from the current process', function () { return });
                                                            setTimeout(function () {
                                                                $(".btnIPopup").click();
                                                                $("#txt-BarcodeKey").val("");
                                                                $("#txt-BarcodeKey").focus();
                                                            }, 3000);
                                                        } else {
                                                            //var checkStaging = ['TB_S_POS_BOXING', 'PART_NO = \'' + result[0].lngDIBLno + '\''];
                                                            //var StagingExist = checkExistCED071300W(checkStaging);
                                                            //if (!StagingExist) {
                                                            if (partnoPar == "") {
                                                                bootbox.dialog({
                                                                    title: '<div class="close" style="opacity: 1 !important; margin-top: -7px;"><span aria-hidden="true"><img src="Content/Bootstrap/img/question.png" class="modal-icon" /></span></div><h4 class="modal-title" id="popup-title">Confirmation</h4>',
                                                                    message: "Will Process this Multiple Kanban ?",
                                                                    closeButton: false,
                                                                    buttons: {
                                                                        success: {
                                                                            label: "Yes",
                                                                            className: "button success",
                                                                            callback: function () {
                                                                                kanbanProcess = 1;
                                                                                if (resultCheckDB.split("|")[2] != "0") {
                                                                                    runExePrint("Print", "");
                                                                                }
                                                                                var newCt = result[0].lngCtm * Math.ceil(result[0].lngQtyperBox / result[0].lngQtyperKbn);
                                                                                //console.log(newCt);
                                                                                result[0].lngCtm = newCt;
                                                                                
                                                                                var todayx = new Date();
                                                                                var datex = todayx.getFullYear()+'/'+(todayx.getMonth()+1)+'/'+todayx.getDate();
                                                                                var timex = todayx.getHours() + ":" + todayx.getMinutes() + ":" + todayx.getSeconds();
                                                                                dateTimeMultiple = datex+' '+timex;

                                                                                showRecord(result);
                                                                                //startTimer();
                                                                                //setTimeout(function () {
                                                                                //    $("#txt-BarcodeKey").focus();
                                                                                //}, 500);
                                                                                $("#txt-BarcodeKey").focus();
                                                                                partnoPar = result[0].lngDIBLno;
                                                                            }
                                                                        },
                                                                        danger: {
                                                                            label: "No",
                                                                            className: "button alert",
                                                                            callback: function () {
                                                                                kanbanProcess = 0;
                                                                                $.ajax({
                                                                                    type: 'POST',
                                                                                    url: 'CED040300W/UpdateFlagBoxing',
                                                                                    data: { KanbanId: $("#txt-Barcode").val(), StartTime: $("#hidStartTime").val(), kanbanProcess: kanbanProcess },
                                                                                    success: function (result) {
                                                                                        $("#lbl-Info").text("");
                                                                                        $("#txt-Barcode").val("");
                                                                                        partnoPar = "";
                                                                                        $("#txt-BarcodeKey").focus();
                                                                                    }
                                                                                });
                                                                            }
                                                                        }
                                                                    }
                                                                });
                                                                //getMessageNoMenu("C", "Will Process this Multiple Kanban ?", function () {
                                                                //    kanbanProcess = 1;
                                                                //    if (resultRemaining == "0") {
                                                                //        //$.ajax({
                                                                //        //    type: 'POST',
                                                                //        //    url: 'CED040300W/PrintReport',
                                                                //        //    data: { pos: $("#txt-POS").val(), kanban2: $("#txt-Barcode").val() },
                                                                //        //    success: function (resultPrint) {
                                                                //        //        if (resultPrint == "Print Success") {
                                                                //        //            showRecord(result);
                                                                //        //            startTimer();
                                                                //        //        } else {
                                                                //        //            $("#lbl-Info").text(resultPrint);
                                                                //        //        }
                                                                //        //    },
                                                                //        //    error: function (resultPrint) {
                                                                //        //        $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                                                                //        //    }
                                                                //        //});
                                                                //        runExePrint();
                                                                //    }
                                                                //    showRecord(result);
                                                                //    startTimer();
                                                                //});
                                                            } else {
                                                                kanbanProcess = 1;
                                                                if (resultCheckDB.split("|")[2] != "0") {
                                                                    runExePrint("Print", "");
                                                                }
                                                                
                                                                var todayy = new Date();
                                                                var datey = todayy.getFullYear()+'/'+(todayy.getMonth()+1)+'/'+todayy.getDate();
                                                                var timey = todayy.getHours() + ":" + todayy.getMinutes() + ":" + todayy.getSeconds();
                                                                var dateTimeMultipley = datey+' '+timey;

                                                                var newCtx = Math.abs(new Date(dateTimeMultipley) - new Date(dateTimeMultiple));
                                                                var newCtxy = Math.floor(newCtx/1000);

                                                                var newCtxyz = result[0].lngCtm * Math.ceil(result[0].lngQtyperBox / result[0].lngQtyperKbn);
                                                                
                                                                var query1 = ['TOP 1 REMAINING', 'TB_S_POS_BOXING', 'PART_NO = \'' + result[0].lngDIBLno + '\' AND PATTERN_CD = \'' + result[0].lngPattId + '\' AND PART_BARCODE = \'' + $("#txt-Barcode").val() + '\' AND REMAINING IS NOT NULL '];
                                                                var result1 = getDataNonTDK(query1);
                                                                //console.log('ini ' + result1);
                                                                if (result1 > 0) {
                                                                    newCtxyz = result[0].lngCtm * Math.ceil((result[0].lngQtyperBox - parseInt(result1)) / result[0].lngQtyperKbn);
                                                                    result[0].lngCtm = newCtxyz;
                                                                    ct2 = newCtxyz;
                                                                } else {
                                                                    if (ct2 > 0) {
                                                                        result[0].lngCtm = ct2 - newCtxy;
                                                                    } else {
                                                                        result[0].lngCtm = newCtxyz - newCtxy;
                                                                    }
                                                                }
                                                                //console.log(result[0].lngCtm);
                                                                //2011/10/09 10:00:00
                                                                showRecord(result);
                                                                //startTimer();
                                                                //setTimeout(function () {
                                                                //    $("#txt-BarcodeKey").focus();
                                                                //}, 500);
                                                                $("#txt-BarcodeKey").focus();
                                                            }
                                                        }
                                                    } else {
                                                        if (resultCheck != "Spliting") {
                                                            //getMessageNoMenu("I", resultCheck, function () { return });
                                                            $("#lbl-Info").text(resultCheck);
                                                        } else {
                                                            //$.ajax({
                                                            //    type: 'POST',
                                                            //    url: 'CED040300W/PrintReport',
                                                            //    data: { pos: $("#txt-POS").val(), kanban2: $("#txt-Barcode").val() },
                                                            //    success: function (resultPrint) {
                                                            //        if (resultPrint == "Print Success") {
                                                            //            showRecord(result);
                                                            //            startTimer();
                                                            //        } else {
                                                            //            $("#lbl-Info").text(resultPrint);
                                                            //        }
                                                            //    },
                                                            //    error: function (resultPrint) {
                                                            //        $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                                                            //    }
                                                            //});
                                                            kanbanProcess = 1;
                                                            runExePrint("Print", "");
                                                            showRecord(result);
                                                            //startTimer();
                                                        }
                                                    }
                                                },
                                                error: function (resultCheck) {
                                                    //getMessageNoMenu("E", resultCheck, function () { return });
                                                    $("#lbl-Info").text(resultCheck);
                                                },
                                                complete: function (resultCheck) {
                                                    //hideLoading();
                                                }
                                            });
                                        }
                                    } else {
                                        showRecord(result);
                                    }
                                } else {
                                    //getMessageNoMenu("I", "Data lebih dari satu", function () { return });
                                    $("#lbl-Info").text("Part Barcode " + $("#txt-Barcode").val() + " more than one record");
                                }
                            } else {
                                //setMessageWithLabel('MCEDSTD008E', barcode + ";Daily Order Part", function () { return });
                                //getMessageNoMenu("I", "Data tidak ada di Order Part", function () { return });
                                $("#lbl-Info").text("Part Barcode " + $("#txt-Barcode").val() + " didn't exists in Daily Order");
                            }
                        },
                        error: function (result) {
                            //getMessageNoMenu("I", result, function () { return });
                            $("#lbl-Info").text(result);
                        },
                        complete: function (result) {
                            //hideLoading();
                        }
                    });
                } else {
                    //getMessageNoMenu("I", "Data tidak ada di Packing Detail / Origin", function () { return });
                    $("#lbl-Info").text("Part Barcode " + $("#txt-Barcode").val() + " didn't exists in Daily Order");
                }
            },
            error: function (resultKanban) {
                //getMessageNoMenu(resultKanban.MSG_TYPE, resultKanban.MSG_TXT, function () { return });
                $("#lbl-Info").text(resultKanban.MSG_TYPE + " : " + resultKanban.MSG_TXT);
            },
            complete: function (resultKanban) {
                //hideLoading();
            }
        });
    }
    //Function Logic PIC Ms.Access
    //function nextDataProcess(barcode) {
    //    var xLbl = 0;
    //    showLoading();
    //    $.ajax({
    //        type: 'POST',
    //        url: 'CED040300W/getData',
    //        data: { barcode: barcode },
    //        success: function (result) {
    //            var lenbarcode = barcode.length;
    //            if (result.length > 0) {
    //                if (result.length == 1) {
    //                    if (DibpNo == result[0].lngDIBLno) {
    //                        intQtyKbn = intQtyKbn + parseFloat(result[0].lngQtyperKbn);
    //                        if (intQtyKbn > parseFloat(result[0].lngQtyperBox)) {
    //                            if (IsPrt == false) {
    //                                IsPrt = true;
    //                                RecTrx(0, 0);
    //                                xLbl = parseFloat(intQtyKbn) / parseFloat(result[0].lngQtyperBox);
    //                                mLblCt = xLbl;
    //                            } else {
    //                                RecTrx(1, mLblCt);
    //                                xLbl = parseFloat(intQtyKbn) / parseFloat(result[0].lngQtyperBox);
    //                                mLblCt = xLbl;
    //                                startTimer(xLbl);
    //                            }
    //                        } else if (intQtyKbn < parseFloat(result[0].lngQtyperBox)) {
    //                            if (IsPrt == true) {
    //                                IsPrt = false;
    //                                RecTrx(1, mLblCt);
    //                                xLbl = 1;
    //                                mLblCt = xLbl;
    //                                startTimer(xLbl);
    //                            } else {
    //                                RecTrx(0, 0);
    //                            }
    //                        } else if (intQtyKbn == parseFloat(result[0].lngQtyperBox)) {
    //                            if (IsPrt == false) {
    //                                IsPrt = true;
    //                                RecTrx(0, 0);
    //                            } else {
    //                                RecTrx(1, mLblCt);
    //                            }
    //                            xLbl = parseFloat(intQtyKbn) / parseFloat(result[0].lngQtyperBox);
    //                            mLblCt = xLbl;
    //                            startTimer(xLbl);
    //                        }
    //                        sPrtLabel(result[0].lngPrtFlg, intQtyKbn, result[0].lngQtyperBox);
    //                    } else {
    //                        if (DibpNo == 0) {
    //                            IsPrt = false;
    //                            DibpNo = result[0].lngDIBLno;
    //                            intQtyKbn = result[0].lngQtyperKbn;
    //                            xLbl = parseFloat(intQtyKbn) / parseFloat(result[0].lngQtyperBox);
    //                            mLblCt = xLbl;
    //                            showRecord(result);
    //                            if (intQtyKbn >= result[0].lngQtyperBox) {
    //                                startTimer(xLbl);
    //                                IsPrt = true;
    //                            } else {
    //                                xLbl = 1;
    //                                startTimer(xLbl);
    //                            }
    //                            sPrtLabel(result[0].lngPrtFlg, intQtyKbn, result[0].lngQtyperBox);
    //                        } else {
    //                            RecTrx(1, mLblCt);
    //                            DibpNo = result[0].lngDIBLno;
    //                            intQtyKbn = result[0].lngQtyperKbn;
    //                            xLbl = parseFloat(intQtyKbn) / parseFloat(result[0].lngQtyperBox);
    //                            mLblCt = xLbl;
    //                            showRecord(result);
    //                            if (intQtyKbn >= result[0].lngQtyperBox) {
    //                                startTimer(xLbl);
    //                                IsPrt = true;
    //                            } else {
    //                                xLbl = 1;
    //                                startTimer(xLbl);
    //                                IsPrt = false;
    //                            }
    //                            sPrtLabel(result[0].lngPrtFlg, intQtyKbn, result[0].lngQtyperBox);
    //                        }
    //                    }
    //                } else {
    //                    if (DibpNo > 0) {
    //                        RecTrx(1, mLblCt);
    //                        clearRecord();
    //                        DibpNo = 0;
    //                    }
    //                    if (lenbarcode == 6) {
    //                        $("#lbl-Info").text("Unique : " + barcode.substring(0, 4) + " Line : " + $("#lbl-Line").text() + $("#lbl-Pattern").text() + " Ada " + result.length + " redundant data.");
    //                        getMessageNoMenu("I", "Unique : " + barcode.substring(0, 4) + " Line : " + $("#lbl-Line").text() + $("#lbl-Pattern").text() + " Ada " + result.length + " redundant data.", function () { return });
    //                    } else if (lenbarcode == 14) {
    //                        $("#lbl-Info").text("Part No : " + barcode.substring(0, 12) + " Line : " + $("#lbl-Line").text() + $("#lbl-Pattern").text() + " Ada " + result.length + " redundant data.");
    //                        getMessageNoMenu("I", "Part No : " + barcode.substring(0, 12) + " Line : " + $("#lbl-Line").text() + $("#lbl-Pattern").text() + " Ada " + result.length + " redundant data.", function () { return });
    //                    }
    //                }
    //            } else {
    //                if (DibpNo > 0) {
    //                    RecTrx(1, mLblCt);
    //                    clearRecord();
    //                    DibpNo = 0;
    //                }
    //                if (lenbarcode == 6) {
    //                    $("#lbl-Info").text("Unique : " + barcode.substring(0, 4) + " Line Code : " + barcode.substring(lenbarcode - 2, lenbarcode) + " Tidak ada di sistem.");
    //                    getMessageNoMenu("I", "Unique : " + barcode.substring(0, 4) + " Line Code : " + barcode.substring(lenbarcode - 2, lenbarcode) + " Tidak ada di sistem.", function () { return });
    //                } else if (lenbarcode == 14) {
    //                    $("#lbl-Info").text("Part No : " + barcode.substring(0, 12) + " Line Code : " + barcode.substring(lenbarcode - 2, lenbarcode) + " Tidak ada di sistem.");
    //                    getMessageNoMenu("I", "Part No : " + barcode.substring(0, 12) + " Line Code : " + barcode.substring(lenbarcode - 2, lenbarcode) + " Tidak ada di sistem.", function () { return });
    //                }
    //            }
    //        },
    //        error: function (result) {
    //            getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
    //        },
    //        complete: function (result) {
    //            hideLoading();
    //        }
    //    });
    //}

    function showRecord(data) {
        var pathImgBKP = "@ViewBag.PathBKP";
        var pathImgPS1 = "@ViewBag.PathPS1";
        var pathImgPS2 = "@ViewBag.PathPS2";

        var defined = "@Url.Content("~/Content/Images/Image Not Defined.png")";
        var found = "@Url.Content("~/Content/Images/Image Not Found.png")";
        var PS1Image = ""
        var PS2Image = ""
        var BKPImage = ""

        if (data[0].strPS1Image == "" || data[0].strPS1Image == null) {
            PS1Image = defined;
        } else {
            PS1Image = pathImgPS1 + data[0].strPS1Image;
        }
        
        if (data[0].strPS2Image == "" || data[0].strPS2Image == null) {
            PS2Image = defined;
        } else {
            PS2Image = pathImgPS1 + data[0].strPS2Image;
        }
        
        if (data[0].strBKPImage == "" || data[0].strBKPImage == null) {
            BKPImage = defined;
        } else {
            BKPImage = pathImgBKP + data[0].strBKPImage;
        }

        $("#btnProblem").prop("disabled", false);
        //$("#btnFinish").prop("disabled", false);

        $("#lbl-Line").text(data[0].lngLnId);
        $("#lbl-Pattern").text(data[0].lngPattId);
        $("#lbl-Unique1").text(data[0].strUnique);
        var lenpartno = data[0].strPartNo.length;
        $("#lbl-Unique2").text(data[0].strPartNo.substring(0, 5) + "-" + data[0].strPartNo.substring(5, 10) + "-" + data[0].strPartNo.substring(lenpartno - 2, lenpartno));
        $("#lbl-QtyBox").text(data[0].lngQtyperBox);
        $("#lbl-Address1").text(data[0].strZone);
        $("#lbl-Address2").text(data[0].strRack);
        $("#lbl-Address3").text(data[0].strAlley);
        $("#img-ImgKeyPoint").attr("src", BKPImage);
        $("#img-ImgPack1").attr("src", PS1Image);
        $("#img-ImgPack2").attr("src", PS2Image);
        $("#lbl-Rev").text(data[0].lngRevNo);
        $("#lbl-RevItem").text(data[0].strRevItem);
        $("#lbl-Admin").text(data[0].strAdmin);
        $("#lbl-ValidFrom").text(data[0].dtmTCFrom);
        $("#lbl-ValidTo").text(data[0].dtmTCTo);

        var printCount = parseInt(data[0].lngQtyperKbn) / parseInt(data[0].lngQtyperBox);
        var cycTime = parseInt(data[0].lngCtm) * parseInt(printCount.toString().split(".")[0]);
        if (parseInt(data[0].lngQtyperKbn) < parseInt(data[0].lngQtyperBox)) {
            cycTime = data[0].lngCtm;
        }

        $("#lbl-CycleTime").text(cycTime);
        
        Ctime = cycTime;

        $("#stLine").attr("style", "background-color: yellow; color: blue");
        if (data[0].lngPattId == "P") {
            $("#stPattern").attr("style", "background-color: #00FFFF; color: red");
        } else {
            $("#stPattern").attr("style", "background-color: yellow; color: blue");
        }

        var d = new Date();
        var nday = d.getDay(), nmonth = d.getMonth() + 1, ndate = d.getDate(), nyear = d.getFullYear(), nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds();
        if (nhour < 10)
            nhour = "0" + nhour;
        if (nmin < 10)
            nmin = "0" + nmin;
        if (nsec < 10)
            nsec = "0" + nsec;
        var nclock = nmonth + "/" + ndate + "/" + nyear + " " + nhour + ":" + nmin + ":" + nsec;
        $("#hidStartTime").val(nclock);

        $.ajax({
            type: 'POST',
            url: 'CED040300W/getDataGrid1',
            data: {
                lngDIBLno: data[0].lngDIBLno,
                LINE_CD: data[0].LINE_CD,
                PATTERN_CD: data[0].PATTERN_CD
            },
            success: function (result) {
                $("#tblGrid1 tbody").empty();
                for (var i = 0; i < result.length; i++) {
                    $("#tblGrid1 > tbody:last").append("<tr><td class='well' style='font-size: 1em;'>" + result[i].strPMName + "</td><td class='well' style='font-size: 1em;'>" + result[i].strPMType + "</td><td class='well' style='font-size: 1em;'>" + result[i].lngPMQty + "</td></tr>");
                }
            },
            error: function (result) {
                //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
            },
            complete: function (result) {
                //hideLoading();
            }
        });

        startTimer();
    }

    function clearRecord() {
        kanbanProcess = 0;
        CED040300WdoSearch();
        //$("#lbl-Line").text("");
        //$("#lbl-Pattern").text("");
        //$("#lbl-Unique1").text("");
        //$("#lbl-Unique2").text("");
        //$("#lbl-QtyBox").text("");
        //$("#lbl-Address1").text("");
        //$("#lbl-Address2").text("");
        //$("#lbl-Address3").text("");
        //$("#lbl-CycleTime").text("");
        //$("#lbl-ImgKeyPoint").text("");
        //$("#lbl-ImgPack1").text("");
        //$("#lbl-ImgPack2").text("");
        //$("#lbl-Rev").text("");
        //$("#lbl-RevItem").text("");
        //$("#lbl-Admin").text("");
        //$("#lbl-ValidFrom").text("");
        //$("#lbl-ValidTo").text("");
        //$("#lbl-Timer").text("00:00:00");
        //$("#tblGrid1 tbody").empty();
        //intQtyKbn = 0;
        //Ctime = 0;
        //mLblCt = 0;
        ////$("#btnPause").show();
        ////$("#btnRun").hide();
    }

    function sPrtLabel(PrtFlg, qKbn, qLbl) {
        if (PrtFlg == 1) {
            if (qKbn > qLbl) {
                var xtemp = qKbn;
                for (var x = 0; x < xtemp; x++) {
                    if (qKbn < qLbl) {
                        x = xtemp;
                    } else {
                        // print dok
                        $("#print-Address").text($("#lbl-Address1").text() + " " + $("#lbl-Address2").text() + " " + $("#lbl-Address2").text());
                        $("#print-Unique1").text($("#lbl-Unique1").text());
                        $("#print-QtyBox").text("Qty per Box");
                        $("#print-Unique2").text($("#lbl-Unique2").text().replace(/-/g, ""));
                        printElem('#mydivPrint');

                        qKbn = qKbn - qLbl;
                        if (qKbn < qLbl && qKbn > 0) {
                            intQtyKbn = qKbn;
                            $("#lbl-Info").text("Remaining : " + intQtyKbn + " pc(s).");
                            //getMessageNoMenu("I", "Remaining : " + intQtyKbn + " pc(s).", function () { return });
                        } else if (qKbn == 0) {
                            intQtyKbn = 0;
                            $("#lbl-Info").text("");
                        }
                    }
                }
            } else if (qKbn > qLbl) {
                $("#lbl-Info").text("Current Kanban Qty : " + intQtyKbn + " pc(s).");
                //getMessageNoMenu("I", "Current Kanban Qty : " + intQtyKbn + " pc(s).", function () { return });
            } else if (qKbn == qLbl) {
                // print dok
                $("#print-Address").text($("#lbl-Address1").text() + " " + $("#lbl-Address2").text() + " " + $("#lbl-Address2").text());
                $("#print-Unique1").text($("#lbl-Unique1").text());
                $("#print-QtyBox").text("Qty per Box");
                $("#print-Unique2").text($("#lbl-Unique2").text().replace(/-/g, ""));
                printElem('#mydivPrint');

                intQtyKbn = 0;
                $("#lbl-Info").text("");
            }
        } else {
            intQtyKbn = 0;
            $("#lbl-Info").text("");
        }
    }

    var seconds = 0, minutes = 0, hours = 0, t;
    function timeAdd() {
        seconds++;
        if (seconds >= 60) {
            seconds = 0;
            minutes++;
            if (minutes >= 60) {
                minutes = 0;
                hours++;
            }
        }

        $("#lbl-Timer").text((hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds));
        $("#setBgTimer").removeClass();
        $("#setBgTimer").addClass("well").addClass("fontstylebgred");

        sendRealtimeData();

        timerAdd();
    }
    function timeDown() {
        seconds--;
        if (seconds < 0) {
            seconds = 60;
            minutes--;
            if (minutes < 0) {
                minutes = 60;
                hours--;
            }
        }

        $("#lbl-Timer").text("- " + (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds));
        $("#setBgTimer").removeClass();
        $("#setBgTimer").addClass("well").addClass("fontstylebggreen");
        
        sendRealtimeData();
        var totaltimesec = (parseFloat($("#lbl-Timer").text().replace("- ", "").split(":")[0]) * 3600) + (parseFloat($("#lbl-Timer").text().replace("- ", "").split(":")[1]) * 60) + parseFloat($("#lbl-Timer").text().replace("- ", "").split(":")[2]);
        if (totaltimesec < parseInt(tickCount / 2)) {
            $("#setBgTimer").removeClass();
            $("#setBgTimer").addClass("well").addClass("fontstylebgorange");

            sendRealtimeData();
        }
        if (totaltimesec == 0) {
            timerAdd();
            return;
        }

        timerDown();
    }

    function timerAdd() {
        t = setTimeout(timeAdd, 1000);
    }
    function timerDown() {
        t = setTimeout(timeDown, 1000);
    }

    function startTimer() {
        tickCount = $("#lbl-CycleTime").text();
        if (tickCount > 0) {
            hours = Math.floor(tickCount / 3600);
            tickCount %= 3600;
            minutes = Math.floor(tickCount / 60);
            seconds = tickCount % 60;
            timerDown();
        } else {
            $("#lbl-CycleTime").text("");
            timerAdd();
        }
    }
    //Function Logic PIC Ms.Access
    //function startTimer(MtPly) {
    //    var barcode = $("#txt-Barcode").val().replace(/-/g, "");
    //    var lenbarcode = barcode.length;
    //    if (lenbarcode == "18" || lenbarcode == "16") {
    //        intCount = 0;
    //        tickCount = Ctime * MtPly;
    //        cT = tickCount;
    //        if (tickCount > 0) {
    //            $("#lbl-CycleTime").text(tickCount);
    //            hours = Math.floor(tickCount / 3600);
    //            tickCount %= 3600;
    //            minutes = Math.floor(tickCount / 60);
    //            seconds = tickCount % 60;
    //            timerDown();
    //        } else {
    //            $("#lbl-CycleTime").text("");
    //            timerAdd();
    //        }

    //        //$("#btnPause").show();
    //        //$("#btnRun").hide();
    //    }
    //}

    function pauseTimer() {
        clearTimeout(t);
        //$("#btnPause").hide();
        //$("#btnRun").show();
    }

    function stopTimer() {
        $("#lbl-Timer").text("00:00:00");
        seconds = 0; minutes = 0; hours = 0;
    }
    
    var kanbanProcess = 0;
    function finishProcess() {
        if (kanbanProcess == 1) {
            $.ajax({
                type: 'POST',
                url: 'CED040300W/UpdateFlagBoxing',
                data: { KanbanId: $("#txt-Barcode").val(), StartTime: $("#hidStartTime").val(), kanbanProcess: kanbanProcess },
                success: function (result) {
                    $.ajax({
                        type: 'POST',
                        url: 'CED040300W/FinishProcess',
                        data: { KanbanId: $("#txt-Barcode").val(), StartTime: $("#hidStartTime").val(), POS: $.cookie("pos") },
                        success: function (result) {
                            pauseTimer();
                            stopTimer();
                            clearRecord();
                            //for (var it in $.cookie()) $.removeCookie(it);
                            delete_cookie("pos");
                            delete_cookie("name");
                            delete_cookie("noreg");
                            delete_cookie("postname");
                            window.location = "@Html.Toyota().Page.HomeUrl".replace("Home", "Boxing_Login");
                        }
                    });
                },
                error: function (result) {
                    //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                },
                complete: function (result) {
                    //hideLoading();
                }
            });
        } else {
            $.ajax({
                type: 'POST',
                url: 'CED040300W/FinishProcess',
                data: { KanbanId: "", StartTime: "", POS: $.cookie("pos") },
                success: function (result) {
                    //for (var it in $.cookie()) $.removeCookie(it);
                    delete_cookie("pos");
                    delete_cookie("name");
                    delete_cookie("noreg");
                    delete_cookie("postname");
                    window.location = "@Html.Toyota().Page.HomeUrl".replace("Home", "Boxing_Login");
                        }
            });
        }

        @*setMessageNoMenu('MCEDSTD048C', null, function () {
            $.ajax({
                type: 'POST',
                url: 'CED040300W/FinishProcess',
                data: { KanbanId: $("#txt-Barcode").val(), StartTime: $("#hidStartTime").val() },
                success: function (result) {
                    pauseTimer();
                    stopTimer();
                    clearRecord();
                    window.location = "@Html.Toyota().Page.HomeUrl".replace("Home", "Boxing_Login");
                },
                error: function (result) {
                    //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                },
                complete: function (result) {
                    //hideLoading();
                }
            });
        });*@
    }
    //Function Logic PIC Ms.Access
    //function finishProcess() {
    //    if ($("#txt-Barcode").val() == "") {
    //        getMessageNoMenu("I", "Barcode tidak boleh kosong", function () { return });
    //    } else {
    //        getMessageNoMenu("C", "Apakah anda yakin produksi telah usai?", function () {
    //            pauseTimer();
    //            if (DibpNo > 0) {
    //                if (intQtyKbn > 0) {
    //                    RecTrx(0, mLblCt);
    //                } else {
    //                    RecTrx(1, mLblCt);
    //                }
    //            }
    //            CED040300WdoInit();
    //        });
    //    }
    //}

    function problemProcess() {
        if (kanbanProcess == 1) {
            if ($("#txt-Barcode").val() == "") {
                getMessageNoMenu("I", "Kanban can't be empty", function () { return });
            } else {
                getMessageNoMenu("C", "Are you sure Box Kanban ID : " + $("#txt-Barcode").val() + ", indicate a problem ?", function () {
                    $.ajax({
                        type: 'POST',
                        url: 'CED040300W/ProblemProcess',
                        data: { 
                            KanbanId: $("#txt-Barcode").val(), 
                            StartTime: $("#hidStartTime").val(), 
                            PartNo: paramProblem.PART_NO, 
                            PatternCd: paramProblem.PATTERN_CD, 
                            kabanType: kabanType,
                            QtyKanban: paramProblem.QTY_KANBAN,
                            QtyBox: paramProblem.QTY_BOX
                        },
                        success: function (result) {
                            if (kabanType == "Multiple") {
                                if (parseInt(result.split('|')[1]) < 0) {
                                    $("#lbl-Info").text(result.split('|')[1] + " pcs");
                                    $("#txt-Barcode").val(result.split('|')[2]);
                                } else if (parseInt(result.split('|')[1]) > 0) {
                                    $("#lbl-Info").text("-" + (parseInt(paramProblem.QTY_BOX) - parseInt(result.split('|')[1])) + " pcs");
                                    $("#txt-Barcode").val(result.split('|')[2]);
                                } else {
                                    pauseTimer();
                                    stopTimer();
                                    clearRecord();
                                }			
                            } else {
                                pauseTimer();
                                stopTimer();
                                clearRecord();
                            }
                        },
                        error: function (result) {
                            //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                            $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                        },
                        complete: function (result) {
                            //hideLoading();
                        }
                    });
                });
            }
        }
    }

    function RecTrx(intCt, IntBx) {
        var actct = 0;
        if (intCt == 1) {
            var totaltimesec = (parseFloat($("#lbl-Timer").text().split(":")[0]) * 3600) + (parseFloat($("#lbl-Timer").text().split(":")[1]) * 60) + parseFloat($("#lbl-Timer").text().split(":")[2]);
            actct = cT + totaltimesec;
        } else {
            actct = 0;
        }
        //showLoading();
        $.ajax({
            type: 'POST',
            url: "@Url.Action("CED040300WSaveData", "CED040300W")",
            data: {
                lngDIBP: DibpNo,
                strLine: $("#lbl-Line").text(),
                strPatt: $("#lbl-Pattern").text(),
                strUnique: $("#lbl-Unique1").text(),
                strPartNo: $("#lbl-Unique2").text(),
                lngQtyBox: IntBx,
                lngCT: cT,
                lngActCT: actct
            },
            success: function (result) {
                //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () {
                //    if (result.MSG_TYPE != 'E') {
                //        afterSave();
                //        clearRecord();
                //    }
                //});
                $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                if (result.MSG_TYPE != 'E') {
                    afterSave();
                    clearRecord();
                }
            },
            error: function (result) {
                //getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                $("#lbl-Info").text(result.MSG_TYPE + " : " + result.MSG_TXT);
                afterSave();
            },
            complete: function (result) {
                //hideLoading();
            }
        });
    }

    function printElem(elem) {
        popupPrint($(elem).html());
    }

    function popupPrint(data) {
        let mywindow = window.open('', '_blank', 'top=0,left=0,height=auto,width=auto');
        mywindow.document.write('<html><head><title>Print</title>');
        mywindow.document.write('</head><body>');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');
        mywindow.print();
        mywindow.close();
        return true;
    }

    function runExePrint(cat, kanban) {
        if (cat == "Reprint") {
            //remark by FID.Ridwan - 2019-08-19
            var oShell = new ActiveXObject("WScript.Shell");
            var parameter = $("#txt-POS").val() + ";" + kanban + ";" + $.cookie("name"); //$("#txt-Barcode").val()
            var prog = "D:\\PrintDirect\\PrintDirect.exe CED040300W " + parameter;
            oShell.Run("" + prog + "", 1);
            
           @* var parameter = "CED040300W " + $("#txt-POS").val() + ";" + $("#txt-Barcode").val() + ";" + $.cookie("name");

            $.ajax({
                type: 'POST',
                url: "@Url.Action("DirectPrint", "CED040300W")",
                data: { parameter : parameter },
                success: function (result) {
                    //alert("sukses");
                }
            });*@
        } else {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("CheckStockKanban3", "CED040300W")",
                data: { barcode: $("#txt-Barcode").val() },
                success: function (result) {
                    if (result == "Found") {
                        //remark by FID.Ridwan - 2019-08-19
                        var oShell = new ActiveXObject("WScript.Shell");
                        var parameter = $("#txt-POS").val() + ";" + $("#txt-Barcode").val() + ";" + $.cookie("name");
                        var prog = "D:\\PrintDirect\\PrintDirect.exe CED040300W " + parameter;
                        oShell.Run("" + prog + "", 1);

                        @*var parameter = "CED040300W " + $("#txt-POS").val() + ";" + $("#txt-Barcode").val() + ";" + $.cookie("name");

                        $.ajax({
                            type: 'POST',
                            url: "@Url.Action("DirectPrint", "CED040300W")",
                            data: { parameter : parameter },
                            success: function (result) {
                                //alert("sukses");
                            }
                        });*@
                    } else {
                        $("#lbl-Info").text("Kanban 3 not available from ROEM");
                        kanbanProcess = 0;
                    }
                }
            });
        }
    }
        
    function checkExistCED071300W(param) {
        var value = false;
        var url = 'CED071300W/CheckExist';
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            url: url,
            async: false,
            data: JSON.stringify({
                param: param
            }),
            success: function (result) {
                if (result > 0) {
                    value = true;
                }
            }
        });
        return value;
    }
        
    function delete_cookie(name) {
        document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
</script>
}