﻿@using IPOS.Models.CED030500W
@{
    List<CED030500W> retrieveData1 = (List<CED030500W>)ViewData["RetriveData1"];
    List<CED030500W> retrieveData2 = (List<CED030500W>)ViewData["RetriveData2"];
}

<style>
    .focusBorderTop {
        border-top: 5px solid blue;
    }
    .focusBorderBottom {
        border-bottom: 5px solid blue;
    }
	.focusBorderLeft {
        border-left: 5px solid blue;
    }
	.focusBorderRight {
        border-right: 5px solid blue;
    }
    .table-font-size th{
        font-size:15px
    }
    .intime {
        color: #48d867
    }

    .delay {
        color: #f00
    }
    
</style>

<div class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="twelve columns" >
                <div class="panel2" cellpadding="5">Achievement Arrival Truck Station : <span class="lblShift"></span></div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <div class="twelve columns" style="margin-top:10px;">
                                    <div class="two columns">
                                        <table border="0" cellpadding="5" cellspacing="1" width="100%" class="table-font-size">
                                            <thead>
                                                <tr>
                                                    <th>TRUCK STATION NO</th>
                                                </tr>
                                                <tr>
                                                    <th>PLANNING TRUCK</th>
                                                </tr>
                                                <tr>
                                                    <th>ACTUAL TRUCK</th>
                                                </tr>
                                                <tr>
                                                    <th>DELAY</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="two columns">
                                        <table border="0" cellpadding="5" cellspacing="1" width="100%" class="table-font-size">
                                            <thead>
                                                @if (retrieveData1 != null)
                                                {
                                                    var PlanPercent = (Convert.ToDouble(retrieveData1[0].PlanTruck1) / Convert.ToDouble(retrieveData1[0].PlanTruck2)) * 100;
                                                    var ActPercent = (Convert.ToDouble(retrieveData1[0].ActTruck1) / Convert.ToDouble(retrieveData1[0].ActTruck2)) * 100;
                                                    var DelayPercent = (Convert.ToDouble(retrieveData1[0].DelayTruck1) / Convert.ToDouble(retrieveData1[0].DelayTruck2)) * 100;
                                                    if (retrieveData1[0].ActTruck2 == "0")
                                                    {
                                                        ActPercent = 0;
                                                    }
                                                    if (retrieveData1[0].DelayTruck2 == "0")
                                                    {
                                                        DelayPercent = 0;
                                                    }
                                                    <tr>
                                                        <th>TOTAL</th>
                                                    </tr>
                                                    <tr>
                                                        <th>@retrieveData1[0].PlanTruck1 of @retrieveData1[0].PlanTruck2 <span class="intime"> [ @Math.Round(PlanPercent, 0)% ] </span> </th>
                                                    </tr>
                                                    <tr>
                                                        <th>@retrieveData1[0].ActTruck1 of @retrieveData1[0].ActTruck2  
                                                            @if (@Math.Round(DelayPercent, 0) > 0)
                                                            {
                                                                <span class="delay">[@Math.Round(ActPercent, 0)%]</span>;
                                                            }
                                                            else
                                                            {
                                                                <span class="intime">[@Math.Round(ActPercent, 0)%]</span>;
                                                            }
                                                            
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th>@retrieveData1[0].DelayTruck1 
                                                            @if (@Math.Round(DelayPercent, 0) > 0)
                                                            {
                                                                <span class="delay">[@Math.Round(DelayPercent, 0)%]</span>;
                                                            }
                                                            else
                                                            {
                                                                <span class="intime">[@Math.Round(DelayPercent, 0)%]</span>;
                                                            }
                                                           </th>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                }
                                            </thead>
                                        </table>
                                    </div>
                                    
                                    <div id="listStation">

                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="twelve columns">
                <div class="panel2">Detail Arrival Truck</div>
                <table border="0" cellpadding="5" cellspacing="1" width="100%" id="gridDetail">
                    <thead>
                        <tr>
                            <th rowspan="2">NO</th>
                            <th rowspan="2">TRUCK<br />STATION</th>
                            <th rowspan="2">ROUTE</th>
                            <th rowspan="2">L/P</th>
                            <th rowspan="2">STATUS</th>
                            <th colspan="2">PLANNING</th>
                            <th colspan="3">ACTUAL</th>
                            <th rowspan="2">CT<br />COUNTDOWN</th>
                            <th rowspan="2">PLAN<br />CATCHUP</th>
                            <th rowspan="2">REMARK</th>
                            <th rowspan="2" style="display: none">&nbsp;</th>
                            <th rowspan="2" style="display: none">&nbsp;</th>
                        </tr>
                        <tr>
                            <th>ARRIVAL (DOCK)</th>
                            <th>DEPARTURE</th>
                            <th>ARRIVAL (YARD)</th>
                            <th>ARRIVAL (DOCK)</th>
                            <th>DEPARTURE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (retrieveData2 != null)
                        {
                            var no = 0;
                            foreach (CED030500W item in retrieveData2)
                            {
                                var classbg = "";
                                if (item.Status == "Complete")
                                {
                                    classbg = "background-color:green; color:#FFFFFF";
                                }
                                else if (item.Status == "Delay")
                                {
                                    classbg = "background-color:red; color:#FFFFFF";
                                }
                                else if (item.Status == "Load/Unload")
                                {
                                    classbg = "background-color:blue; color:#FFFFFF";
                                }
                                no++;
                                <tr>
                                    <td style="text-align: center">@no</td>
                                    <td style="text-align: center">@item.TruckStation</td>
                                    <td style="text-align: center">@item.Route</td>
                                    <td style="text-align: center">@item.LP</td>
                                    <td style="text-align: center; @classbg">@item.Status</td>
                                    <td style="text-align: center">@item.PlanArrival</td>
                                    <td style="text-align: center">@item.PlanDeparture</td>
                                    <td style="text-align: center">@item.ActArrivalYard</td>
                                    <td style="text-align: center">@item.ActArrival</td>
                                    <td style="text-align: center">@item.ActDeparture</td>
                                    <td style="text-align: center"></td> @*@item.DepartureCountdown*@
                                    <td style="text-align: center">@item.PlanCatchUp</td>
                                    <td style="text-align: left">@item.Problem</td>
                                    <td style="display: none">@item.TimeCountdown</td>
                                    <td style="display: none">@item.DepartureCountdown</td>
                                </tr>
                            }
                            for (var i = retrieveData2.Count - 1; i < 30; i++)
                            {
                                <tr>
                                    <td style="text-align: center">@(Convert.ToInt32(i) + 2)</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td style="display: none">&nbsp;</td>
                                    <td style="display: none">&nbsp;</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>