﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED030500W
@{
    Layout = CommonPage.MainLayoutNoMenuTheme;
    List<CED030500WBindStation> TS = (List<CED030500WBindStation>)ViewData["BindTS"];
}

@section HeadScript{
}

<script src="@Url.Content("~/Content/blueTheme/multiselect/libs/jquery.multiple.select.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/blueTheme/multiselect/libs/multiple-select.css")" />

<div class="row">
    <div class="twelve columns" id="divHeaderStation" style="margin-top:5px;height:50px;">
        <table border="0" cellpadding="5" cellspacing="1" width="100%">
            <thead>
                <tr>
                    <th width="150px">Display Truck Station</th>
                    <th width="250px">
                        <select id="cbStation" name="cbStation[]" multiple="multiple" style="width: 500px">
                            @foreach (CED030500WBindStation item in TS)
                            {
                                <option value="@item.STATION">@item.STATION</option>
                            }
                        </select>
                    </th>
                    <th style="text-align: left">
                        <button id="btnSearch" type="button" class="button primary" onclick="processDataRetrieve()">SEARCH</button>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="twelve columns">
        <input type="checkbox" id="checkHide" onchange="setActCheckbox(this)" /> <span id="lblCheckHide">Hide</span>
    </div>
</div>

<hr style="padding: 0; margin: 0" />

<div id="tablegrid">
    @Html.Partial("CED030500WGrid")
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID              = "CED030500W";
        var focusArea           = "@ViewBag.TopRows";
        var refreshData         = "@ViewBag.Refresh";
        var intervalLoadData    = null; 


        $(document).ready(function () {
            CED030500WdoInit();
        });

        CED030500WdoInit = function () {
            initialMode();
            $('#cbStation').multipleSelect();
        }

        function setActCheckbox(obj) {
            if ($(obj).is(':checked')) {
                $("#divHeaderStation").hide();
                $("#lblCheckHide").text("Unhide");
            } else {
                $("#divHeaderStation").show();
                $("#lblCheckHide").text("Hide");
            }
        }

        function processDataRetrieve() {
            var TS = $("#cbStation").val();
            if (TS == "" || TS == null) {
                getMessageNoMenu("I", "Truck Station should not be empty.", function () { return });
            } else {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("CED030500WSearchData", "CED030500W")",
                    data: { "TS": $("#cbStation").val().toString() },
                    //beforeSubmit: showLoading(),
                    success: function (result) {
                        $('#tablegrid').html(result);
                        searchMode();
                        CheckCountdown();
                        CheckCountUp();
                        CheckFocusOver();
                        //CheckHideComplete();

                        setTimeout(function () {
                            processDataRetrieve();
                        }, (parseInt(refreshData)) * 1000); //* 60
                    },
                    error: function (result) {
                        getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        //hideLoading();
                        getStation();
                    }
                });
            }
        }

        function getStation() {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("getDataStation", "CED030500W")",
                data: { "ts": $("#cbStation").val().toString() },
                //beforeSubmit: showLoading(),
                success: function (result) {
                    $("#listStation").empty();
                    var html1 = "";
                    var html2 = "";
                    for (var i = 0; i < result.length; i++) {
                        var planPercent = (parseFloat(result[i].PlanTruck1) / parseFloat(result[i].PlanTruck2)) * 100;
                        var actPercent = (parseFloat(result[i].ActTruck1) / parseFloat(result[i].ActTruck2)) * 100;
                        var delayPercent = (parseFloat(result[i].DelayTruck1) / parseFloat(result[i].DelayTruck2)) * 100;
                        if (result[i].PlanTruck2 == "0") {
                            planPercent = 0;
                        }
                        if (result[i].ActTruck2 == "0") {
                            actPercent = 0;
                        }
                        if (result[i].DelayTruck2 == "0") {
                            delayPercent = 0;
                        }
                        if (i < 4) {
                            html1 += "<div class='two columns'>"
                                    + "<table border='0' cellpadding='5' cellspacing='1' width='100%' class='table-font-size'>"
                                        + "<thead>"
                                        + "<tr>"
                                            + "<th>" + result[i].Station + "</th>"
                                        + "</tr>"
                                        + "<tr>"
                                            + "<th>" + result[i].PlanTruck1 + " of " + result[i].PlanTruck2 + "<span class='intime'>" + " [ " + planPercent.toFixed(0) + "% ]" + "</span>" + "</th>"
                                        + "</tr>"
                                        + "<tr>"
                                            + "<th>" + result[i].ActTruck1 + " of " + result[i].ActTruck2;
                            if (result[i].DelayTruck1 > 0)
                                html1 += " <span class='delay'> [ " + actPercent.toFixed(0) + "% ] </span>"
                            else
                                html1 += " <span class='intime'> [ " + actPercent.toFixed(0) + "% ] </span>"

                            html1 += "</th>"
                                        + "</tr>"
                                        + "<tr>"
                                            + "<th>" + result[i].DelayTruck1;

                            if (result[i].DelayTruck1 > 0)
                                html1 += " <span class='delay'> [ " + delayPercent.toFixed(0) + "% ] </span>"
                            else
                                html1 += " <span class='intime'> [ " + delayPercent.toFixed(0) + "% ] </span>"

                            html1 += "</th>"
                                        + "</tr>"
                                        + "</thead>"
                                    + "</table>"
                                + "</div>";
                        }
                        else if (i >= 4) {
                            html2 += "<div class='two columns' >"
                                    + "<table border='0' cellpadding='5' cellspacing='1' width='100%' class='table-font-size'>"
                                        + "<thead>"
                                        + "<tr>"
                                            + "<th>" + result[i].Station + "</th>"
                                        + "</tr>"
                                        + "<tr>"
                                            + "<th>" + result[i].PlanTruck1 + " of " + result[i].PlanTruck2 + "<span class='intime'>" + " [ " + planPercent.toFixed(0) + "% ]" + "</span>" + "</th>"
                                        + "</tr>"
                                        + "<tr>"
                                            + "<th>" + result[i].ActTruck1 + " of " + result[i].ActTruck2;
                            if (result[i].DelayTruck1 > 0)
                                html2 += " <span class='delay'> [ " + actPercent.toFixed(0) + "% ] </span>"
                            else
                                html2 += " <span class='intime'> [ " + actPercent.toFixed(0) + "% ] </span>"

                            html2 += "</th>"
                                        + "</tr>"
                                        + "<tr>"
                                            + "<th>" + result[i].DelayTruck1;

                            if (result[i].DelayTruck1 > 0)
                                html2 += " <span class='delay'> [ " + delayPercent.toFixed(0) + "% ] </span>"
                            else
                                html2 += " <span class='intime'> [ " + delayPercent.toFixed(0) + "% ] </span>"

                            html2 += "</th>"
                                        + "</tr>"
                                        + "</thead>"
                                    + "</table>"
                                + "</div>";
                        }
                    }
                    var html = "";
                    if (html1 != "") {
                        if (4 - result.length > 0) {
                            for (var x = 1; x <= (4 - result.length); x++) {
                                html1 += "<div class='two columns'>&nbsp;</div>";
                            }
                        }
                        html += "<div>" + html1 + "</div>";
                    }
                    if (html2 != "") {
                        if (8 - result.length > 0) {
                            for (var x = 1; x <= (8 - result.length) ; x++) {
                                html2 += "<div class='two columns'>&nbsp;</div>";
                            }
                        }
                        html += "<div>" + html2 + "</div>";
                    }
                    $("#listStation").append(html);

                    if (result.length > 4) {
                        $("#listStation > div:gt(0)").hide();
                        //clearInterval(intervalLoadData);
                        if (intervalLoadData != null) {
                            clearInterval(intervalLoadData);
                        }
                        intervalLoadData = setInterval(function () {
                            $('#listStation > div:first')
                                .fadeOut(0)
                                .next()
                                .fadeIn(0)
                                .end()
                                .appendTo('#listStation');
                        }, 5000);
                    }
                },
                error: function (result) {
                    getMessageNoMenu(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    //hideLoading();
                }
            });
        }

        function loadGrid(){
            $('#listStation > div:first')
                .fadeOut(0)
                .next()
                .fadeIn(0)
                .end()
                .appendTo('#listStation');
        }



        function CheckHideComplete() {
            setTimeout(function () {
                var noSeq = 1;
                $("#gridDetail tbody tr").each(function () {
                    $(this).find("td").eq(0).html(noSeq);
                    var valStatus = $(this).find("td").eq(4).html();
                    if (valStatus == "Complete") {
                        $(this).closest('tr').remove();
                    } else {
                        noSeq++;
                    }
                });
                CheckCountdown();
                CheckFocusOver();
            }, 10000);
        }

        function CheckFocusOver() {
            var d = new Date();
            var nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds();
            //var nhour = 04, nmin = 56, nsec = 30;

            if (nhour >= 00 && nhour <= 06) {
                nhour = parseInt(nhour) + 24;
            }

            var NowTimeSec = (parseFloat(nhour) * 3600) + (parseFloat(nmin) * 60);
            var RowsFocus = parseInt(focusArea) - 1;
            var RowsStart = 0;
            var RowsNo = 1;
            var rowAllData = 0;
            var lastBorder = "N";
            $("#gridDetail tbody tr").each(function () {
                if ($(this).find("td").eq(1).html() != "&nbsp;") {
                    rowAllData++;
                }
            });

            $("#gridDetail tbody tr").each(function () {
                for (var x = 0; x <= 12; x++) {
                    $(this).find("td").eq(x).removeClass("focusBorderTop");
                    $(this).find("td").eq(x).removeClass("focusBorderBottom");
					$(this).find("td").eq(x).removeClass("focusBorderLeft");
					$(this).find("td").eq(x).removeClass("focusBorderRight");
                }

                var ArrTime = $(this).find("td").eq(5).html();

                if (ArrTime.split(':')[0] >= 00 && ArrTime.split(':')[0] <= 06) {
                    ArrTime = (24 + parseInt(ArrTime.split(':')[0])) + ':' + ArrTime.split(':')[1];
                }

                if (ArrTime.split(':')[0] == 07) {
                    ArrTime = (01 + parseInt(ArrTime.split(':')[0])) + ':' + ArrTime.split(':')[1];
                }

                var ArrTimeSec = (parseFloat(ArrTime.split(":")[0]) * 3600) + (parseFloat(ArrTime.split(":")[1]) * 60);
                
                if (ArrTimeSec >= NowTimeSec) {
                    if (RowsStart == 0) {
                        RowsStart = RowsNo;
                    }
                    
                    if (RowsStart != 0) {
                        if (RowsNo == RowsStart) {
                            lastBorder = "Y";
                            for (var x = 0; x <= 12; x++) {
                                $(this).find("td").eq(x).addClass("focusBorderTop");
                            }
							$(this).find("td").eq(0).addClass("focusBorderLeft");
							$(this).find("td").eq(12).addClass("focusBorderRight");
                        }
                    }
                }
				
				if (RowsStart != 0 && RowsNo > RowsStart && RowsNo < parseInt(RowsFocus) + RowsStart) {
					$(this).find("td").eq(0).addClass("focusBorderLeft");
					$(this).find("td").eq(12).addClass("focusBorderRight");
				}
				
                if (lastBorder == "Y") {
                    if (RowsNo == parseInt(RowsFocus) + RowsStart) {
                        for (var x = 0; x <= 12; x++) {
                            $(this).find("td").eq(x).addClass("focusBorderBottom");
                        }
						$(this).find("td").eq(0).addClass("focusBorderLeft");
						$(this).find("td").eq(12).addClass("focusBorderRight");
                    }
                }

                RowsNo++;
            });
        }

        function CheckCountdown() {
            $("#gridDetail tbody tr").each(function () {
                var valTimeCountdown = $(this).find("td").eq(13).html();
                if (valTimeCountdown != "&nbsp;" && valTimeCountdown != "0") {
                    countdown(this, valTimeCountdown, 1);
                }
            });
        }

        function CheckCountUp() {
            $("#gridDetail tbody tr").each(function () {
                var valTimeCountdown = $(this).find("td").eq(14).html();
                if (valTimeCountdown != "&nbsp;" && valTimeCountdown != "0") {
                    countdown(this, valTimeCountdown, 2);
                }
            });
        }

        function countdown(element, seconds, type) {
            if (type == 1) {
                var interval = setInterval(function () {
                    if (seconds < 0) {
                        $(element).find("td").eq(10).html(seconds2time(seconds)); //html("00:00");
                        $(element).find("td").eq(10).attr("style", "background-color:red; color:#FFFFFF; text-align: center");
                        //$(element).find("td").eq(4).html("Delay " + seconds2time(seconds));
                        //$(element).find("td").eq(4).attr("style", "background-color:red; color:#FFFFFF");
                    } else {
                        if (seconds == 0) {
                            $(element).find("td").eq(10).html(seconds2time(seconds)); //html("00:00");
                            $(element).find("td").eq(10).attr("style", "background-color:red; color:#FFFFFF; text-align: center");
                        } else {
                            $(element).find("td").eq(10).html(seconds2time(seconds));
                        }
                    }
                    seconds--;
                }, 1000);
            } else {
                var interval = setInterval(function () {
                    if (seconds < 0) {
                        $(element).find("td").eq(4).html("Delay " + seconds2time(seconds));
                        $(element).find("td").eq(4).attr("style", "background-color:red; color:#FFFFFF");
                    } 
                    seconds--;
                }, 1000);
            }
        }

        function seconds2time(seconds) {
            if (seconds < 0) {
                seconds = parseInt(seconds) - (parseInt(seconds) * 2);
            }
            var hours = Math.floor(seconds / 3600);
            var minutes = Math.floor((seconds - (hours * 3600)) / 60);
            var seconds = seconds - (hours * 3600) - (minutes * 60);
            var time = "";

            if (hours != 0) {
                time = hours + ":";
            }
            if (minutes != 0 || time !== "") {
                minutes = (minutes < 10 && time !== "") ? "0" + minutes : String(minutes);
                time += minutes + ":";
            }
            if (time === "") {
                time = seconds + "s";
            }
            else {
                time += (seconds < 10) ? "0" + seconds : String(seconds);
            }
            return time;
        }
    </script>
}