﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED030500W
@using IPOS.Models.Common
@using IPOS.Controllers;

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table style="width:100%;text-align: center">
                <tr>
                    <td align="left" valign="middle"><img src="@Url.Content("~/Content/Images/logo-toyota.png")" /></td>
                    <td style="color: #f0ad4e"><h1><b>ARRIVAL DEPARTURE TIME TRUCK</b></h1></td>
                    <td align="left" valign="middle" style="color: white; font-weight: bold">
                        <table style="width:100%;">
                            <tr>
                                <td style="text-align:center">
                                    <input id="Hiddendefaulttime" />
                                    <span id="lbl-Time" style="font-size:24px"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center">
                                    <span id="lbl-Date" class="label label-warning" style="font-size:16px"></span>&nbsp;&nbsp;&nbsp;
                                    <span id="lbl-Day" class="label label-warning" style="font-size:16px"></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table style="width:100%;text-align: center">
                <tr>
                    <td style="border: 1px #f0ad4e solid; background-color: #31708f; color: #f0ad4e; font-weight: bold; font-size: medium">Achiement Arrival Truck Station : Day Shift</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-4" style="text-align:left;padding-left:0; padding-right:0;">
            <table class="tbldetailarrivalleft">
                <tr>
                    <td class="detailmenu1">
                        <table id="tbldetail">
                            <tr><td>TRUCK STATION NO</td></tr>
                            <tr><td>PLANNING TRUCK</td></tr>
                            <tr><td>ACTUAL TRUCK</td></tr>
                            <tr><td>DELAY</td></tr>
                        </table>
                    </td>
                    <td class="detailmenu2">
                        <table id="tbldetail">
                            <tr><td>TOTAL </td></tr>
                            <tr><td><span>19 of 98</span> <font color="green"><span>[ 19% ]</span></font></td></tr>
                            <tr><td>14 of 98 <font color="red"><span>[ 14% ]</span></font></td></tr>
                            <tr><td>5 <font color="red"><span>[ 5% ]</span></font></td></tr>
                        </table>
                    </td>

                </tr>
            </table>
        </div>
        <div class="col-xs-8" style="text-align:right;padding-left:0; padding-right:0;">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <table class="tbldetailarrivalright">
                        <tr>
                            <td>
                                <table id="tbldetail">
                                    <tr><td>1</td></tr>
                                    <tr><td><span>4 of 98 </span><font color="green"><span>[ 16% ]</span></font></td></tr>
                                    <tr><td>3 of 98 <font color="red"><span>[ 12% ]</span></font></td></tr>
                                    <tr><td>1 <font color="red"><span>[ 4% ]</span></font></td></tr>
                                </table>
                            </td>
                            <td>
                                <table id="tbldetail">
                                    <tr><td>2</td></tr>
                                    <tr><td><span>6 of 28 </span><font color="green"><span>[ 21% ]</span></font></td></tr>
                                    <tr><td>4 of 28 <font color="red"><span>[ 14% ]</span></font></td></tr>
                                    <tr><td>2 <font color="red"><span>[ 7% ]</span></font></td></tr>
                                </table>
                            </td>
                            <td>
                                <table id="tbldetail">
                                    <tr><td>3</td></tr>
                                    <tr><td><span>4 of 24 [ 13% ]</span><font color="green"><span>[ 13% ]</span></font></td></tr>
                                    <tr><td>2 of 24 <font color="red"><span>[ 4% ]</span></font></td></tr>
                                    <tr><td>2 <font color="red"><span>[ 8% ]</span></font></td></tr>
                                </table>
                            </td>
                            <td>
                                <table id="tbldetail">
                                    <tr><td>4</td></tr>
                                    <tr><td><span>5 of 24 </span><font color="green"><span>[ 20% ]</span></font></td></tr>
                                    <tr><td>5 of 24 <font color="red"><span>[ 20% ]</span></font></td></tr>
                                    <tr><td>0 <font color="green"><span>[ 0% ]</span></font></td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="mySlides fade">
                    <table class="tbldetailarrivalright">
                        <tr>
                            <td>
                                <table id="tbldetail">
                                    <tr><td>5</td></tr>
                                    <tr><td>5 of 24 <font color="green"><span>[ 20% ]</span></font></td></tr>
                                    <tr><td>5 of 24 <font color="red"><span>[ 20% ]</span></font></td></tr>
                                    <tr><td>0 <font color="green"><span>[ 0% ]</span></font></td></tr>
                                </table>
                            </td>
                            <td>
                                <table id="tbldetail">
                                    <tr><td>6</td></tr>
                                    <tr><td><span>5 of 24 </span><font color="green"><span>[ 20% ]</span></font></td></tr>
                                    <tr><td>5 of 24 <font color="red"><span>[ 20% ]</span></font></td></tr>
                                    <tr><td>0 <font color="green"><span>[ 0% ]</span></font></td></tr>
                                </table>
                            </td>
                            <td>
                                <table id="tbldetail">
                                    <tr><td>7</td></tr>
                                    <tr><td><span>5 of 24 <font color="green"><span>[ 20% ]</span></font></span></td></tr>
                                    <tr><td>5 of 24 <font color="red"><span>[ 20% ]</span></font></td></tr>
                                    <tr><td>0 <font color="red"><span>[ 6% ]</span></font></td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table style="width:100%;text-align: center">
                <tr>
                    <td style="border: 1px #f0ad4e solid; background-color: #31708f; color: #f0ad4e; font-weight: bold; font-size: medium">DETAIL Arrival Truck</td>
                </tr>
            </table>
        </div>
    </div>
</div>



 