﻿@*@{ 
    string path = "/Content/Images/login";
    DirectoryInfo dir;
    FileInfo[] files;

    dir = new DirectoryInfo(Server.MapPath("~"+path));
    files = dir.GetFiles();
    int i = 0;
    }


<div id="carousel-login" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @if (files != null)
        {
            foreach (FileInfo f in files)
            {
                if (i == 0)
                {
                    <li data-target="#carousel-login" data-slide-to="@i" class="active"></li>
                }
                else
                {
                    <li data-target="#carousel-login" data-slide-to="@i"></li> 
                }
                i = i + 1;
            }
        }  
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @if (files != null)
        {
            i=0;
            foreach (FileInfo f in files)
            {
                if (i == 0)
                {
                    <div class="item active">
                        <img src="@path/@f.Name.ToString()" alt="@f.Name.ToString()">
                        <div class="carousel-caption">@f.Name.ToString()</div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <img src="@path/@f.Name.ToString()" alt="@f.Name.ToString()">
                        <div class="carousel-caption">@f.Name.ToString()</div>
                    </div>
                     
                }
                i = i + 1;
            }
        }  
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-login" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-login" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>*@

<div id="carousel-login" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="@Url.Content("~/Content/Images/Login/TMMIN Sunter 1.jpg")" alt="Vios" />
            <div class="carousel-caption">
                
            </div>
        </div>
    </div>

    <!-- Controls -->
    @*<a class="left carousel-control" href="#carousel-login" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-login" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>*@
</div>