﻿@using IPOS.Controllers.Constants
@{
    Layout = CommonPage.MainLayout;
}

@section HeadScript{
}

<div class="hidden-xs">
    @Html.Partial("CED010200WSearchCriteria")

    <div id="tablegrid">
        @Html.Partial("CED010200WGrid")
    </div>
</div>

<!-- Detail Popup -->
<div class="modal fade" id="detail-popup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 80%; margin-top: 3%;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="hidden-xs">
                    <div class="container-fluid">
                        <form role="form" class="form-horizontal _criteria">
                            <div class="row" style="font-size: 14px; font-weight: bold;">
                                1.2.0 - Zone Grouping Detail
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-6">
                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-3 col-sm-2 col-md-3 control-label text-muted">Grouping Code</label>
                                        <div class="col-xs-9 col-sm-10 col-md-9">
                                            <input type="text" id="lbl-GroupingCode" class="form-control" placeholder="" name="lbl-GroupingCode" disabled />
                                        </div>
                                    </div>

                                    <div class="form-group form-group-xs _criteria">
                                        <label class="col-xs-3 col-sm-2 col-md-3 control-label text-muted">Grouping Name</label>
                                        <div class="col-xs-9 col-sm-10 col-md-9">
                                            <input type="text" id="lbl-GroupingName" class="form-control" placeholder="" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="text-align: right;">
                                    <button id="btnAddZone" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED010200WdoAddZone()">Add</button>
                                    @if (ViewBag.CountZone != "0")
                                    {
                                        if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010200W", "btnEdit"))
                                        {
                                            <button id="btnEditZone" type="reset" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED010200WdoEditZone()">Edit</button>
                                        }
                                        if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010200W", "btnDelete"))
                                        {
                                            <button id="btnDeleteZone" type="button" class="btn btn-danger btn-xs eView btn-size1" onclick="javascript: CED010200WdoDeleteZone()">Delete</button>
                                        }
                                    }
                                    else
                                    {
                                        if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010200W", "btnEdit"))
                                        {
                                            <button id="btnEditZone" type="reset" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED010200WdoEditZone()" style="display: none">Edit</button>
                                        }
                                        if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010200W", "btnDelete"))
                                        {
                                            <button id="btnDeleteZone" type="button" class="btn btn-danger btn-xs eView btn-size1" onclick="javascript: CED010200WdoDeleteZone()" style="display: none">Delete</button>
                                        }
                                    }
                                    <button id="btnackZone" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: $('#detail-popup-modal').modal('hide');">Back</button>
                                </div>
                            </div>
                        </form>

                        <div id="tablegridCED010200Zone">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section BodyScript{
    <script type="text/javascript">
        var funcID = "CED010200W";
        var isvalid = false;
        var count = 0;

        $(document).ready(function () {
            CED010200WdoInit();
        });

        CED010200WdoInit = function () {
            initialMode();
            //$("#btnAdd").hide();
            $("#btnEdit").hide();
            $("#btnDelete").hide();
            //$("#txt-ManifestNoKanbanNo").focus();
            $("#txt-GroupingCode").focus();
        }

        CED010200WdoClear = function () {
            clearMode();
            CED010200WdoSearchClear();
        }


        CED010200WdoSearchClear = function () {
            showLoading();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("CED010200WSearchNoData")",
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    $('#tablegrid').html(result);
                    CED010200WdoInit();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });
        }

        CED010200WdoSearch = function (page) {
            page = typeof page !== 'undefined' ? page : 1;
            pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
            showLoading();
            var grouping_cd = $('#txt-GroupingCode').val();
            var grouping_nm = $('#txt-GroupingName').val();
            var zone_nm = $('#txt-ZoneName').val();
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010200WSearchData")",
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                    GROUPING_CODE: grouping_cd,
                    GROUPING_NAME: grouping_nm,
                    ZONE_NAME: zone_nm,
                    CurrentPage: page,
                    DataPerPage: pageSize
                },
                success: function (result) {
                    $('#tablegrid').html(result);
                    searchMode();
                },
                error: function (result) {
                    getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                },
                complete: function (result) {
                    hideLoading();
                }
            });

        };

        CED010200WdoAdd = function () {
            addMode(funcID);
            $("#txtGroupingCode").focus();
            $('#txtCount').prop('disabled', true);
        }

        CED010200WdoEdit = function () {
            var count = $('#tScrollBody').find('input:checked').length;
            if (count != 1) {
                //Pop Up Message
                setMessage('MCEDSTD002E', null, function () { return });
            }
            else {
                editMode(funcID);
                $('#txtGroupingCode').prop('disabled', true);
                $('#txtGroupingName').prop('disabled', false);
            }
        }

        CED010200WdoSave = function () {
            //Pop Up Message
            setMessage('MCEDSTD001C', null, function () {
                var mode = $('#mode').val();
                showLoading();
                $.ajax({
                    type: 'POST',
                    url: "@Html.Toyota().Page.GetActionUrl("CED010200WSaveData")",
                    data: {
                        MODE: mode,
                        GROUPING_CODE: $('#txtGroupingCode').val(),
                        GROUPING_NAME: $('#txtGroupingName').val(),
                        CHANGED_BY: $("#td-updateBy").text(),
                        CHANGED_ON: $("#td-updateDt").text()
                    },
                    success: function (result) {
                        //Pop Up Message
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                            if (result.MSG_TYPE != "E") {
                                afterSave();
                                CED010200WdoSearch();
                            }
                        });
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });
            });

        }

        CED010200WdoCancel = function () {
            //Pop Up Message
            setMessage('MCEDSTD002C', null, function () {
                cancelMode();
                if ($('#tblScroll tbody tr').length > 0) {
                    CED010200WdoSearch();
                }
                else {
                    CED010200WdoInit();
                }
            });
        }

        CED010200WdoDelete = function () {
            var count = $('#tScrollBody').find('input:checked').length;
            if (count != 1 && count != 0) {
                //edit by riani (10 03 2019) --> multiple delete
                //Pop Up Message
                //setMessage('MGMSSTD007E', null, function () { return });
                var groupcode;
                groupcode = $('#tblScroll input:checked').map(function () { return $(this).closest('tr').find('td:eq(1)').text(); }).get();
                var changedt;
                changedt = $('#tblScroll input:checked').map(function () { return $(this).closest('tr').find('td:eq(6)').text(); }).get();
                var listgroupcode = "";
                for (var i = 0; i < groupcode.length; i++) {
                    if (i != groupcode.length - 1) {
                        listgroupcode = listgroupcode + groupcode[i] + ";";
                    }
                    else {
                        listgroupcode = listgroupcode + groupcode[i];
                    }
                }
                var listchangedt = "";
                for (var i = 0; i < changedt.length; i++) {
                    if (i != changedt.length - 1) {
                        listchangedt = listchangedt + changedt[i] + ";";
                    }
                    else {
                        listchangedt = listchangedt + changedt[i];
                    }
                }

                //Pop Up Message
                setMessage('MCEDSTD003C', null, function () {
                    //showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("CED010200WDeleteData")",
                        data: {
                            GROUPING_CODE: listgroupcode,
                            CHANGED_ON: listchangedt
                        },
                        success: function (result) {
                            //Pop Up Message
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                                if (result.MSG_TYPE != "E") {
                                    afterSave();
                                    CED010200WdoSearch();
                                }
                            });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });

            }
            else if (count == 0) {
                //Pop Up Message
                setMessage('MCEDSTD002E', null, function () { return });
            }
            else {
                var groupcode;
                groupcode = $('#tblScroll input:checked').map(function () { return $(this).closest('tr').find('td:eq(1)').text(); }).get();
                var changedt;
                changedt = $('#tblScroll input:checked').map(function () { return $(this).closest('tr').find('td:eq(6)').text(); }).get();

                //Pop Up Message
                setMessage('MCEDSTD003C', null, function () {
                    //showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("CED010200WDeleteData")",
                        data: {
                            GROUPING_CODE: groupcode[0],
                            CHANGED_ON: changedt[0]
                        },
                        success: function (result) {
                            //Pop Up Message
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                                if (result.MSG_TYPE != "E") {
                                    afterSave();
                                    CED010200WdoSearch();
                                }
                            });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });
            }
        }


    function getDetail010200W(param) {
        var arr = param.split(";");
        $('#detail-popup-modal').modal({
            backdrop: 'static',
            keyboard: false
        });
        $("#HiddenGroupingCode").val(arr[0]);
        $("#HiddenGroupingName").val(arr[1]);
        ZoneCED010200WdoSearch();

    }


    function ZoneCED010200WdoSearch(page) {
        var funcID = "ZoneCED010200W";
        var page = page != undefined ? (page != '' || page != null ? page : 1) : 1;
        var pageSize = typeof $("#cmd-page-" + funcID + "-size").val() !== 'undefined' ? $("#cmd-page-" + funcID + "-size").val() : '@IPOS.Models.Common.Paging.DefaultDataPerPage';
        var zone_group_cd = $('#HiddenGroupingCode').val();
        //showLoading();
        $.ajax({
            type: 'POST',
            url: "@Html.Toyota().Page.GetActionUrl("CED010200WSearchDataZone")",
            data: {
                GROUPING_CODE: zone_group_cd,
                GROUPING_CODE: $('#HiddenGroupingCode').val(),
                CurrentPage: page,
                DataPerPage: pageSize
            },
            success: function (result) {

                $('#tablegridCED010200Zone').html(result);
                $("#cmd-page-ZoneCED010200W-size").val("10");
                var a = document.getElementById("lbl-GroupingCode").value = $('#HiddenGroupingCode').val();
                var a = document.getElementById("lbl-GroupingName").value = $('#HiddenGroupingName').val();
            },
            error: function (result) {
                getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
            },
            complete: function (result) {
                hideLoading();
            }
        });
    }

    CED010200WdoAddZone = function () {
        var funcID = "ZoneCED010200W";
        addModeZone(funcID);
    }

    CED010200WdoEditZone = function () {
        var count = $('#tScrollBodyZone').find('input:checked').length;
        if (count != 1) {
            //Pop Up Message
            setMessage('MCEDSTD002E', null, function () {
                $("#lbl-GroupingCode").val($('#HiddenGroupingCode').val());
                $("#lbl-GroupingName").val($('#HiddenGroupingName').val());
            });
        }
        else {
            var funcID = "ZoneCED010200W";
            editModeZone(funcID);
            $("#lbl-GroupingCode").val($('#HiddenGroupingCode').val());
            $("#lbl-GroupingName").val($('#HiddenGroupingName').val());
            $("#lbl-GroupingCode").innerHtml("emails don't match, sucka");
            $("#lbl-GroupingName").innerHtml("emails don't match, sucka");
            $('#txtZoneCode').prop('disabled', false);
            $('#txtZoneName').prop('disabled', false);
        }
    }

    CED010200WdoCancelZone = function () {
        //Pop Up Message
        setMessage('MCEDSTD002C', null, function () {
            //cancelMode();
            if ($('#tblScrollZone tbody tr').length > 0) {
                ZoneCED010200WdoSearch();
            }
            else {
                $('#detail-popup-modal').modal('hide');
            }
        });
    }

    CED010200WdoSaveZone = function () {
        //Pop Up Message
        setMessage('MCEDSTD001C', null, function () {
            var mode = $('#modeZone').val();
            //for add mode
            zone_status = $("#txtZoneStatus").is(":checked");
            if (zone_status == true)
            { zone_status = 1 }
            else { zone_status = 0 }
            $.ajax({
                type: 'POST',
                url: "@Html.Toyota().Page.GetActionUrl("CED010200WSaveDataZone")",
                    data: {
                        MODE: mode,
                        GROUPING_CODE: $('#HiddenGroupingCode').val(),
                        ZONE_CODE: $('#txtZoneCode').val(),
                        ZONE_NAME: $('#txtZoneName').val(),
                        ZONE_STATUS: zone_status,
                        ZONE_NAME_LINK: $('#txtZoneNameLink').val(),
                        GROUP_ZONE: $('#ZONE_GROUP').val(),
                        LINE_CODE: $('#LINE_CD').val(),
                        CHANGED_DT: $("#td-updateDtZone").text()
                    },
                    success: function (result) {
                        //Pop Up Message
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                            if (result.MSG_TYPE != "E") {
                                setEnableDisable('.hidden-xs', 'eView');
                                $('#tblScrollDetail tbody tr:first').remove();
                                ZoneCED010200WdoSearch();
                            }
                        });
                    },
                    error: function (result) {
                        getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                    },
                    complete: function (result) {
                        hideLoading();
                    }
                });

                //showLoading();

            });
        }

        CED010200WdoDeleteZone = function () {
            var count = $('#tScrollBodyZone').find('input:checked').length;
            if (count < 1) {
                //Pop Up Message
                setMessage('MCEDSTD002E', null, function () { return; });
            } else {
                var zonecode_checked = $('#tblScrollZone input:checked').map(function () { return $(this).closest('tr').find('td:eq(1)').text(); }).get();
                var stringzonecode = "";
                for (var i = 0; i < zonecode_checked.length; i++) {
                    if (i != zonecode_checked.length - 1)
                        stringzonecode = stringzonecode + zonecode_checked[i] + ";";
                    else stringzonecode = stringzonecode + zonecode_checked[i];
                }
                var changedt_checked = $('#tblScrollZone input:checked').map(function () { return $(this).closest('tr').find('td:eq(10)').text(); }).get();
                var stringchangedt = "";
                for (var i = 0; i < changedt_checked.length; i++) {
                    if (i != changedt_checked.length - 1)
                        stringchangedt = stringchangedt + changedt_checked[i] + ";";
                    else stringchangedt = stringchangedt + changedt_checked[i];
                }
                setMessage('MCEDSTD003C', null, function () {
                    //showLoading();
                    $.ajax({
                        type: 'POST',
                        url: "@Html.Toyota().Page.GetActionUrl("CED010200WDeleteDataZone")",
                        data: {
                            GROUPING_CODE: $('#lbl-GroupingCode').val(),
                            ZONE_CODE: stringzonecode,
                            CHANGED_DT: stringchangedt
                        },
                        success: function (result) {
                            //Pop Up Message
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () {
                                ZoneCED010200WdoSearch();
                            });
                        },
                        error: function (result) {
                            getMessage(result.MSG_TYPE, result.MSG_TXT, function () { return });
                        },
                        complete: function (result) {
                            hideLoading();
                        }
                    });
                });
            }
        }
    </script>
}