﻿@using IPOS.Controllers;


<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-3 col-sm-2 col-md-3 control-label text-muted">Grouping Code</label>
                <div class="col-xs-9 col-sm-10 col-md-4">
                    <input type="text" id="txt-GroupingCode" class="form-control eView" tabindex="3" maxlength="10" placeholder="Grouping Code" />
                    <input id="HiddenGroupingCode" style="display: none;" />
                    <input id="HiddenGroupingName" style="display: none;" />
                </div>
            </div>

            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-3 col-sm-2 col-md-3 control-label text-muted">Grouping Name</label>
                <div class="col-xs-9 col-sm-10 col-md-6">
                    <input type="text" id="txt-GroupingName" class="form-control eView" tabindex="4" maxlength="30" placeholder="Grouping Name" />
                </div>
            </div>

            <div class="form-group form-group-xs _criteria" hidden="hidden">
                <label class="col-xs-3 col-sm-2 col-md-3 control-label text-muted" hidden="hidden">Zone Name</label>
                <div class="col-xs-9 col-sm-10 col-md-9" hidden="hidden">
                    <input type="text" id="txt-ZoneName" class="form-control eView" tabindex="4" hidden="hidden" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4"></div>

    </div>

    <div class="row" style="height: 30px">
        <div class="col-xs-12 text-right">
            <div class="form-group-xs _criteria">
                <button id="btnSearch" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED010200WdoSearch()">Search</button>
                <button id="btnClear" type="reset" class="btn btn-default btn-xs eView btn-size1" onclick="javascript: CED010200WdoClear()">Clear</button>
            </div>
        </div>
    </div>
</form>

<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>
<div class="row" style="height: 45px">
    <div class="col-xs-12 text-right">
        <div class="form-group-xs _criteria">
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010200W", "btnAdd"))
            {
                <button id="btnAdd" type="reset" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED010200WdoAdd()">Add</button>
            }
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010200W", "btnEdit"))
            {
                <button id="btnEdit" type="button" class="btn btn-primary btn-xs eView btn-size1" onclick="javascript: CED010200WdoEdit()">Edit</button>
            }
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("CED010200W", "btnDelete"))
            {
                <button id="btnDelete" type="button" class="btn btn-danger btn-xs eView btn-size1" onclick="javascript: CED010200WdoDelete()">Delete</button>
            }
        </div>
    </div>
</div>

