﻿@using IPOS.Controllers.Constants
@using IPOS.Models.CED010200W
@using IPOS.Models.Common
@model GenericModel<CED010200WZone>
@using IPOS.Controllers;


<div class="text-center" style="margin-bottom: 3px;">
    <hr id="hrsrc" style="margin: 0; padding: 0;" />
</div>

<div id="gridZone" class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHeadZone" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1800px; max-width: 2000px !important;">
                    <colgroup>
                        <col width="25px" />
                        <col width="150px" />
                        <col width="350px" />
                        <col width="350px" />
                        <col width="110px" />
                        <col width="110px" />
                        <col width="50px" />
                        <col width="150px" />
                        <col width="150px" />
                        <col width="150px" />
                        <col width="150px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="grid-checkbox-col">
                                <input class="grid-checkbox eView" type="checkbox" style="height: 12px;" id="checkall" onchange="javascript: checkboxAll(this, $('#tblScrollZone'), 'checkDetailZone')" />
                            </th>
                            <th>Zone Code</th>
                            <th>Zone Name</th>
                            <th>Zone Name Link</th>
                            <th>Line Code</th>
                            <th>Group</th>
                            <th>Zone Status</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                            <th>Changed By</th>
                            <th>Changed Date</th>

                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBodyZone" style="overflow: scroll; height: 250px;">
                <table id="tblScrollZone" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1800px; max-width: 2000px !important;">
                    <colgroup>
                        <col width="25px" />
                        <col width="150px" />
                        <col width="350px" />
                        <col width="350px" />
                        <col width="110px" />
                        <col width="110px" />
                        <col width="50px" />
                        <col width="150px" />
                        <col width="150px" />
                        <col width="150px" />
                        <col width="150px" />
                    </colgroup>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                if (Model.DataList.Any())
                                {
                                    foreach (CED010200WZone item in Model.DataList)
                                    {
                            <tr id="DataDetail" class="tr-grid-detail">
                                <td class="text-center grid-checkbox-col">
                                    <input type="checkbox" id="checkDetailZone" class="grid-checkbox grid-checkbox-body eView" value=@item.ZONE_CODE onchange="javascript: checkboxDetail($('#tblScrollZone'), 'checkDetailZone', $('#tScrollHeadZone #dynamic-table').find('#checkall'))" />
                                </td>
                                <td class="text-center">@item.ZONE_CODE</td>
                                <td class="text-center">@item.ZONE_NAME</td>
                                <td class="text-center">@item.ZONE_NAME_LINK</td>
                                <td class="text-center">@item.LINE_CD</td>
                                <td class="text-center">@item.GROUP</td>
                                <td class="text-center">@item.ZONE_STATUS</td>
                                <td class="text-left">@item.CREATED_BY</td>
                                @{
                                        var createddt = item.CREATED_ON;
                                        if (Convert.ToDateTime(createddt).ToString("dd-MMM-yyyy HH:mm:ss") == "01-Jan-0001 00:00:00")
                                        {
                                            createddt = "";
                                        }
                                        else
                                        {
                                            createddt = Convert.ToDateTime(createddt).ToString("dd-MMM-yyyy HH:mm:ss");
                                        }

                                        var changedt = item.CHANGED_ON;
                                        if (Convert.ToDateTime(changedt).ToString("dd-MMM-yyyy HH:mm:ss") == "01-Jan-0001 00:00:00")
                                        {
                                            changedt = "";
                                        }
                                        else
                                        {
                                            changedt = Convert.ToDateTime(changedt).ToString("dd-MMM-yyyy HH:mm:ss");
                                        }
                                }
                                <td class="text-center">@createddt</td>
                                <td class="text-left">@item.CHANGED_BY</td>
                                <td class="text-center">@changedt</td>
                            </tr>
                                    }
                                }
                                else
                                {
                            <tr id="noDataRow">
                                <td colspan="11" class="text-center">@Model.MsgNotFound</td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="11">
                                @Html.Partial(CommonPage.GridPaging, Model.GridPaging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs _criteria" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px; display: none" id="btnProcessDetail">
                        <button id="btnCancelZone" type="button" class="btn btn-danger btn-xs btn-size1" onclick="CED010200WdoCancelZone()">Cancel</button>
                        <button id="btnSaveZone" type="button" class="btn btn-primary btn-xs btn-size1" onclick="CED010200WdoSaveZone()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table style="display: none">
    <tbody id="tbTemplateDataRowZone">
        <tr id="templateDataRowZone" class="tr-grid-detail">
            <td class="text-center grid-checkbox-col">
                @Html.Hidden("modeZone")
                <input type="checkbox" id="checkDetail" class="grid-checkbox" checked="checked" disabled="disabled" />
            </td>
            <td class="center">
                <input id="txtZoneCode" class="input-sm form-control mandatory eAdd" type="text" value="" maxlength="10" disabled placeholder="Zone Code" />
            </td>
            <td class="center">
                <input id="txtZoneName" class="input-sm form-control mandatory eAdd eEdit" type="text" value="" maxlength="30" placeholder="Zone Name" />
            </td>
            <td class="center">
                <input id="txtZoneNameLink" class="input-sm form-control mandatory eAdd eEdit" type="text" value="" maxlength="30" placeholder="Zone Name Link" />
            </td>
            <td class="center">
                <div id="ddl_LINE_CD" class="ddl">
                    @Html.DropDownList("LINE_CD", CommonController.ComboBoxSelectList("2", "PROD_LINE", null), new { tabindex = "1", style = "width: 100px", @class = "mandatory eAdd eEdit" })
                </div>
            </td>
            <td class="center">
                <div id="ddl_GROUP" class="ddl">
                    @Html.DropDownList("ZONE_GROUP", CommonController.ComboBoxSelectList("2", "ZONE_GROUP", null), new { tabindex = "1", style = "width: 100px", @class = "eAdd eEdit" })
                </div>
            </td>
            <td class="center">
                <input type="checkbox" id="txtZoneStatus" class="input-sm form-control mandatory eAdd  eEdit" checked="checked" />
            </td>
            <td id="td-createByZone" class="left" style="vertical-align: middle"></td>
            <td id="td-createDtZone" class="center" style="vertical-align: middle"></td>
            <td id="td-updateByZone" class="left" style="vertical-align: middle"></td>
            <td id="td-updateDtZone" class="center" style="vertical-align: middle"></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $("#tScrollBodyZone").scroll(function () {
        $("#tScrollHeadZone").scrollLeft($("#tScrollBodyZone").scrollLeft());
    });

    function addModeZone(functionID) {
        $('#gridZone').show();
        var rowTemplate = $('#tbTemplateDataRowZone').html();

        $(".grid-checkbox-body").removeAttr("checked");
        $('#tblScrollZone tbody tr#noDataRow').remove();
        if ($('#tblScrollZone tbody tr:first').length > 0) {
            var newRow = $('#tblScrollZone tbody tr:first').before(rowTemplate);
        }
        else {
            var newRow = $('#tblScrollZone tbody').append(rowTemplate);
        }
        $('#modeZone').val(1);
        //setEnableDisable('.hidden-xs', 'eAdd');
        $("#btnProcessDetail").show();
        disabledPaging(functionID);
        $("#txtZoneCode").prop('disabled', false);
        $("#txtZoneCode").focus();
    }

    function editModeZone(functionID) {
        $('#modeZone').val(2);
        //setEnableDisable('.hidden-xs', 'eEdit');
        $("#btnProcessDetail").show();
        disabledPaging(functionID);

        $.each($('#tScrollBodyZone').find('input:checked'),
            function () {
                var currRow = $(this).closest('tr[class~="tr-grid-detail"]');
                var rowIndex = $('#tScrollBodyZone tbody tr').index(currRow);
                var rowTemplate = $('#tbTemplateDataRowZone').html();
                $(currRow).hide().after(rowTemplate.replace('templateDataRowZone', 'DataRow' + rowIndex));
                var newRow = $('#DataRow' + rowIndex);
                itemArray = [];
                objItem = $('#tScrollBodyZone tbody tr:eq(' + rowIndex + ')').find('td');
                lenObj = objItem.length;
                for (i = 1; i < lenObj; i++) {
                    itemArray[i] = objItem[i].innerText;
                };
                for (j = 1; j < lenObj; j++) {
                    col_row = newRow.find('td')[j].childNodes;
                    if (col_row.length == 0) {
                        tag_type = "LABEL";
                        id_nm = newRow.find('td')[j].getAttribute('id')
                    } else {
                        tag_type = col_row[1].nodeName;
                        id_nm = col_row[1].getAttribute('id');
                    }

                    if (tag_type == "DIV" && id_nm == null) {
                        col_row_detail = col_row[1].childNodes;
                        tag_type = col_row_detail[3].nodeName;
                        id_nm = col_row_detail[3].getAttribute('id');
                        if (id_nm == null) {
                            tag_type = col_row_detail[1].nodeName;
                            id_nm = col_row_detail[1].getAttribute('id');
                        }
                    }

                    if (tag_type == "LABEL") {
                        $('#' + id_nm).text(itemArray[j]);
                    }
                    else if (tag_type == "SELECT") {
                        $('#' + id_nm).find("option:contains('" + itemArray[j] + "')").each(function () {
                            if ($(this).text() == itemArray[j]) {
                                $(this).attr("selected", "selected");
                            }
                        });
                    }
                    else {
                        $('#' + id_nm).val(itemArray[j]);
                        //add by riani (9 Maret 2019)
                        if (col_row[1].getAttribute('type') == "checkbox" && itemArray[j] == "True") {
                            $('#' + id_nm).attr("checked");
                        }
                        else if (col_row[1].getAttribute('type') == "checkbox" && itemArray[j] == "False") {
                            $('#' + id_nm).removeAttr("checked");
                        }
                        if (col_row[1].getAttribute('class') == "ddl") {
                            $('#' + id_nm.replace('ddl_', '')).val(itemArray[j]);
                        }
                    }
                }
                itemArray = null;
                $(newRow).show();
            }
        );
    }
</script>

